footer#footer
  .container
    .footer-menu.font-12
      .row
        .col-lg-12.col-md-12.col-sm-12.col-xs-12.customer-service
          ul.list-unstyled.footer-list-child.font-bold
            li
              a(href='/site-terms-and-use') TERMS OF USE
            li
              a(href='') PRIVACY
    .footer-bottom.font-11
      .copyright-text
        div
          | Copyright &copy; 1998-2017 VIPdesk.com, Inc. (d.b.a. Aspire Lifestyles). All Rights Reserved.
        div
          | Use of this Web site constitutes acceptance of the Aspire Lifestyles Terms of Use and Privacy Policy
.module-help
  .title
    i.sprites.icon-cuisine-small
    span.title-after
      | Contact Your Concierge
      i.sprites.icon-plus
  .content
    h4.h4 We are ready to serve you
    p
      | It doesn&rsquo;t matter what time it is, or where you are in the world. We&apos;re here to serve you.
    ul.box-label
      li
        span.ico.ico-call_concierge
        span Call us 800-762-1000
      li
        span.ico.ico-email_concierge
        span Send request
.page-overlay
.lt-overlay