$colWhite: #fff;
$colBlack: #000;

$colDarkOil: #17130d;
$colDarkCoffee: #321b10;
$colDarkEbony: #3a2206;
$colDarkDerby: #54301a;
$colDarkClay: #865a31;
$colDarkSand: #7b6c5f;

$colGrayCloudy: #cab6a8;
$colGrayCloudy2: #aca6a2;
$colGrayNatural: #918981;
$colGrayPampas: #ece9e4;
$colGrayTimberwolf: #d7d2cb;
$colGraySilver: #c3c3c3;

$colBlueSteel: #4e8abe;
$colBlueChathams: #115880;
$colBlueSanmarino: #3f779e;
