$thisFontDisplay: false;
@mixin font-face($name, $file-name, $weight, $style) {
  $fonts-directory: '../fonts/';
  $src: $fonts-directory + $file-name;
  
  @font-face {
    @if $thisFontDisplay {
      font-display: $thisFontDisplay;    
      $thisFontDisplay: false;
    }
    font-family: quote($name);
    font-style: unquote($style);
    font-weight: unquote($weight);      
    src: url($src +'.eot');
    src: url($src +'.eot?#iefix')  format('embedded-opentype'),
         url($src +'.woff2')       format('woff2'),
         url($src +'.woff')        format('woff'),
         url($src +'.ttf')         format('truetype'),
         url($src +'.otf')         format('opentype');
  }
}

@include font-face('AmplitudeTF', 'AmplitudeTF-Bold', '700', 'normal');
@include font-face('AmplitudeTF', 'AmplitudeTF-BoldItalic', '700', 'italic');
@include font-face('AmplitudeTF', 'AmplitudeTF-Italic', '400', 'italic');
@include font-face('AmplitudeTF', 'AmplitudeTF-Regular', '400', 'normal');

@include font-face('Jpmicons', 'Jpmicons', '400', 'normal');

// @font-face {
//   font-family: 'Jpmicons';
//   font-style: normal;
//   font-weight: 400;      
//   src: url('../fonts/Jpmicons.ttf') format('truetype');
// }

$font_stacks: (
  amplitude: ('AmplitudeTF', Helvetica, Arial, sans-serif),
  icons: ('Jpmicons'),
) !default;

@mixin Amplitude {
  font-family: map-get($font_stacks, amplitude);
  font-style: normal;
  font-weight: 400;
}

@mixin AmplitudeItalic {
  font-family: map-get($font_stacks, amplitude);
  font-style: italic;
  font-weight: 400;
}

@mixin AmplitudeBold {
  font-family: map-get($font_stacks, amplitude);
  font-style: normal;
  font-weight: 700;
}

@mixin AmplitudeBoldItalic {
  font-family: map-get($font_stacks, amplitude);
  font-style: italic;
  font-weight: 700;
}

@mixin Icons {
  font-family: map-get($font_stacks, icons);
  font-style: normal;
  font-weight: 400;
}
