@mixin addFontBefore($class, $code) {
  &._#{$class}::before {
    content: $code;
  }
}

.jpmicon {
  @include Icons;
  
  @include addFontBefore("splarr_down", "\e000");
  @include addFontBefore("splarr_up", "\e001");
  @include addFontBefore("splarr_right", "\e002");
  @include addFontBefore("splarr_left", "\e003");
  @include addFontBefore("account", "\e004");
  @include addFontBefore("plcreq", "\e005");
  @include addFontBefore("phone", "\e006");
  @include addFontBefore("email", "\e007");
  @include addFontBefore("search", "\e008");
  @include addFontBefore("close", "\e009");
  @include addFontBefore("check", "\e00a");
  @include addFontBefore("arr_right", "\e00b");
  @include addFontBefore("arr_left", "\e00c");
  @include addFontBefore("calendar", "\e00d");
  @include addFontBefore("clock", "\e00e");
  @include addFontBefore("guests", "\e00f");
}
