@mixin m_mob {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin m_dkt {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin m_lrg {
  @media screen and (min-width: 1134px) {
    @content;
  }
}

@mixin m_dkt_lrg {
  @media screen and (min-width: 768px) and (max-width: 1133px) {
    @content;
  }
}

@mixin container {
  margin: 0 auto;
  max-width: rem($wrapWidth) + rem(48 * 2);
  padding: 0 rem(48);
}

@mixin clearfix {
  &::before,
  &::after {
    display: table;
    content: "";
    clear: both;
  }
}

@mixin ie_styles {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }
}

@mixin text_ellipses {  
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin anti_text_ellipses {
  overflow: visible;
  text-overflow: initial;
  white-space: initial;
}

@mixin section {
  margin: rem(30) 0;
  padding: 0 rem(20);

  @include m_dkt {
    @include container;

    margin: rem(86) auto rem(90);
  }

  h2,
  p {
    + p {
      margin: rem(20) 0 0;

      @include m_dkt {
        margin: rem(34) 0 0;
      }
    }
  }
}
