h2 {
  @include Amplitude;

  color: $colDarkOil;
  font-size: rem(32);
  line-height: rem(40);
  margin: 0;

  @include m_dkt {
    font-size: rem(48);
    line-height: rem(60);
  }
}

h3 {
  @include Amplitude;

  color: $colDarkOil;
  font-size: rem(18);
  line-height: rem(24);
  margin: 0;

  @include m_dkt {
    font-size: rem(28);
    line-height: rem(34);
  }
}

p {
  @include Amplitude;

  color: $colDarkOil;
  font-size: rem(14);
  line-height: rem(18);
  margin: 0;

  @include m_dkt {
    font-size: rem(16);
    line-height: rem(32);
  }
}
