$remValue: 16px;
// $remValue: (100vw / 1440) * 16;
$wrapWidth: 1024px;

$pathImg: '../images/';

@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);
  
  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
  }
  
  @return $string;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@function rem($size) {
  @if strip-unit($size) == 1 {
    @return 1px;
  } @else {
    @return (strip-unit($size) / 16) * 1rem;
  }
}