.btn {
	border: none;
	outline: none;
	text-transform: uppercase;
	display: inline-block;
	cursor: pointer;
	font-size: 1.4rem;
	padding: 1.1rem 3.1rem;
	position: relative;
	z-index: zIndex(ground);
    border-radius: $border-radius;
    white-space: nowrap;
}