* {
	outline: none !important;
	letter-spacing: $letter-spacing-base;
}
[class^="icon-"], [class*=" icon-"] {
    &:before {
        color: inherit;
    }
}
a {
	text-decoration: none;
	position: relative;
}

img {
	max-width: 100%;
	width: auto;
	height: auto;
}

p {
	line-height: 1.2;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.primary-title {
    h2 {
        
    }
}