// Mobile first approach
@mixin min-sm {
	@media (min-width: #{map-get($grid-breakpoints, sm)}) {
		@content;
	}
}

@mixin min-md {
	@media (min-width: #{map-get($grid-breakpoints, md)}) {
		@content;
	}
}

@mixin min-lg {
	@media (min-width: #{map-get($grid-breakpoints, lg)}) {
		@content;
	}
}

@mixin min-xl {
	@media (min-width: #{map-get($grid-breakpoints, xl)}) {
		@content;
	}
}

@mixin min-xxl {
	@media (min-width: #{$xxl-breakpoint}) {
		@content;
	}
}

// End Mobile first approach
// Desktop first approach
@mixin max-sm {
	@media (max-width: #{map-get($grid-breakpoints, sm)}) {
		@content;
	}
}

@mixin max-md {
	@media (max-width: #{map-get($grid-breakpoints, md) - 1}) {
		@content;
	}
}

@mixin max-lg {
	@media (max-width: #{map-get($grid-breakpoints, lg) - 1}) {
		@content;
	}
}

@mixin max-xl {
	@media (max-width: #{map-get($grid-breakpoints, xl) - 1}) {
		@content;
	}
}

// End Desktop first approach
@mixin translateX($left) {
	-webkit-transform: translateX($left);
	-moz-transform: translateX($left);
	-ms-transform: translateX($left);
	-o-transform: translateX($left);
	transform: translateX($left);
}

@mixin translateY($top) {
	-webkit-transform: translateY($top);
	-moz-transform: translateY($top);
	-ms-transform: translateY($top);
	-o-transform: translateY($top);
	transform: translateY($top);
}

@mixin translate2D($x, $y) {
	-webkit-transform: translate($x, $y);
	-moz-transform: translate($x, $y);
	-ms-transform: translate($x, $y);
	-o-transform: translate($x, $y);
	transform: translate($x, $y);
}

@mixin rotate($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
}

@mixin typography($ff, $fw, $fz, $lh) {
    font-family: $ff;
    font-weight: $fw;
    font-size: $fz;
    line-height: $lh;
}

@mixin placeholder() {
    &.placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &::-webkit-input-placeholder {
        @content;
    }
}