$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1025px,
  lg: 1366px
) !default;
$container-max-width: (
  sm: 730px,
  md: 980px,
  lg: 1140px
) !default;
$grid-gutter-width: 20px !default;
$grid-big-gutter-width: 30px !default;
$font-main: "Roboto", sans-serif;
$font-secondary: "Fira Sans Condensed", sans-serif;
$fz-root: 62.5%; // root font-size, DO NOT CHANGE
// Colors
$c-white: #fff;
$c-white-blur: #BDBDBD;

$c-main: #434455;
$c-blue: #304FFE;
$c-blue-lighter-1: #009ADE;
$c-blue-lighter-2: #1ACAFF;
$c-header-text-color: $c-white;
$c-header-bg-color: $c-blue;
$c-btn-bg-general: #FF9000;
$c-bg-general-blue: $c-blue;
$c-bg-general-lighter-1: $c-blue-lighter-1;
$c-bg-general-lighter-2: $c-blue-lighter-2;
$c-bg-general-orange: #FF9000;
$c-bg-general-orange-lighter: #D6B9A4;

$c-body-background: $c-white;
$c-box-shadow: 0 .7rem 6.4rem rgba(0, 0, 0, 0.07);
$c-main-border: .1rem solid #DDDDDD;

$font-weight: (
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
);

$fontweight-light: 300;
$fontweight-regular: 400;
$fontweight-medium: 500;
$fontweight-bold: 700;
$fontweight-heavy: 900;

// z-index
$index: (
  ground: 0,
  underGround: -1,
  iframeThumbnail: 10,
  dropdown: 80,
  menu: 100,
  lightBox: 200,
  lightBoxContent: 201
);
// trantions
$transition-slow: all 0.8s ease-in-out;
$transition: all 0.4s ease-in-out;
$transition-fast: all 0.25s ease-in-out;
$border-radius: 0.3rem;
$box-shadow: 0px 3px 8px -3px #a8a8a8;
$sidebar-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
$small-box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15);

$letter-spacing-base: 0.025rem;