@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?822clm');
  src:  url('fonts/icomoon.eot?822clm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?822clm') format('truetype'),
    url('fonts/icomoon.woff?822clm') format('woff'),
    url('fonts/icomoon.svg?822clm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico-email_concierge:before {
  content: "\e95f";
}
.icon-ico-arrow-down:before {
  content: "\e94e";
}
.icon-ico-arrow-left:before {
  content: "\e94f";
}
.icon-ico-arrow-right:before {
  content: "\e950";
}
.icon-ico-arrow-up:before {
  content: "\e951";
}
.icon-ico-book:before {
  content: "\e952";
}
.icon-ico-btn_close_1:before {
  content: "\e953";
}
.icon-ico-btn_close_2:before {
  content: "\e954";
}
.icon-ico-call_concierge:before {
  content: "\e955";
}
.icon-ico-check:before {
  content: "\e956";
}
.icon-ico-error2:before {
  content: "\e957";
}
.icon-ico-featured:before {
  content: "\e958";
}
.icon-ico-like:before {
  content: "\e959";
}
.icon-ico-liked:before {
  content: "\e95a";
}
.icon-ico-live_chat:before {
  content: "\e95b";
}
.icon-ico-location_pin:before {
  content: "\e95c";
}
.icon-ico-michelin_star:before {
  content: "\e95d";
}
.icon-ico-private:before {
  content: "\e95e";
}
.icon-ico-category:before {
  content: "\e900";
}
.icon-ico-color:before {
  content: "\e901";
}
.icon-ico-cuisine:before {
  content: "\e902";
}
.icon-ico-currency:before {
  content: "\e903";
}
.icon-ico-event_category:before {
  content: "\e904";
}
.icon-ico-filters:before {
  content: "\e905";
}
.icon-ico-gender:before {
  content: "\e906";
}
.icon-ico-golf_access:before {
  content: "\e907";
}
.icon-ico-grass_type:before {
  content: "\e908";
}
.icon-ico-hidden_gem:before {
  content: "\e909";
}
.icon-ico-hot:before {
  content: "\e90a";
}
.icon-ico-hotel_type:before {
  content: "\e90b";
}
.icon-ico-iconic:before {
  content: "\e90c";
}
.icon-ico-language:before {
  content: "\e90d";
}
.icon-ico-merchant:before {
  content: "\e90e";
}
.icon-ico-michelin:before {
  content: "\e90f";
}
.icon-ico-nightlife_type:before {
  content: "\e910";
}
.icon-ico-occasion:before {
  content: "\e911";
}
.icon-ico-price:before {
  content: "\e912";
}
.icon-ico-rating_star:before {
  content: "\e913";
}
.icon-ico-ratings:before {
  content: "\e914";
}
.icon-ico-seasons:before {
  content: "\e915";
}
.icon-ico-sort_by:before {
  content: "\e916";
}
.icon-ico-still_hot:before {
  content: "\e917";
}
.icon-ico-time:before {
  content: "\e918";
}
.icon-ico-travel_activities:before {
  content: "\e919";
}
.icon-ico-travel_category:before {
  content: "\e91a";
}
.icon-ico-travel_party:before {
  content: "\e91b";
}
.icon-ico-vip:before {
  content: "\e91c";
}
.icon-ico-wellness_type:before {
  content: "\e91d";
}
.icon-ico-airline:before {
  content: "\e91e";
}
.icon-ico-airline_class:before {
  content: "\e91f";
}
.icon-ico-bands:before {
  content: "\e920";
}
.icon-ico-bed:before {
  content: "\e921";
}
.icon-ico-brands:before {
  content: "\e922";
}
.icon-ico-calendar:before {
  content: "\e923";
}
.icon-ico-checkbox_bg:before {
  content: "\e924";
}
.icon-ico-checkbox_checked:before {
  content: "\e925";
}
.icon-ico-city:before {
  content: "\e926";
}
.icon-ico-contact:before {
  content: "\e927";
}
.icon-ico-credit_card:before {
  content: "\e928";
}
.icon-ico-dining:before {
  content: "\e929";
}
.icon-ico-email:before {
  content: "\e92a";
}
.icon-ico-error:before {
  content: "\e92b";
}
.icon-ico-event_name:before {
  content: "\e92c";
}
.icon-ico-globe:before {
  content: "\e92d";
}
.icon-ico-golf_course:before {
  content: "\e92e";
}
.icon-ico-membership:before {
  content: "\e92f";
}
.icon-ico-name:before {
  content: "\e930";
}
.icon-ico-password:before {
  content: "\e931";
}
.icon-ico-plays:before {
  content: "\e932";
}
.icon-ico-rental_co:before {
  content: "\e933";
}
.icon-ico-room_type:before {
  content: "\e934";
}
.icon-ico-salutation:before {
  content: "\e935";
}
.icon-ico-selection_summary:before {
  content: "\e936";
}
.icon-ico-spa:before {
  content: "\e937";
}
.icon-ico-state:before {
  content: "\e938";
}
.icon-ico-transport_type:before {
  content: "\e939";
}
.icon-ico-upload_photo:before {
  content: "\e93a";
}
.icon-ico-vehicle_type:before {
  content: "\e93b";
}
.icon-ico-menu:before {
  content: "\e93c";
}
.icon-ico-search:before {
  content: "\e93d";
}
.icon-nav-concierge:before {
  content: "\e93e";
}
.icon-nav-experiences:before {
  content: "\e93f";
}
.icon-nav-gourmet:before {
  content: "\e940";
}
.icon-nav-lifestyle:before {
  content: "\e941";
}
.icon-nav-location:before {
  content: "\e942";
}
.icon-nav-travel:before {
  content: "\e943";
}
.icon-ico-email2 .path1:before {
  content: "\e944";
  color: rgb(203, 79, 83);
}
.icon-ico-email2 .path2:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ico-facebook:before {
  content: "\e946";
}
.icon-ico-sms .path1:before {
  content: "\e947";
  color: rgb(61, 182, 0);
}
.icon-ico-sms .path2:before {
  content: "\e948";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ico-sms .path3:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ico-sms .path4:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-ico-twitter:before {
  content: "\e94b";
}
.icon-ico-whatsapp .path1:before {
  content: "\e94c";
  color: rgb(37, 211, 102);
}
.icon-ico-whatsapp .path2:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}

