.loading {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

.loading-image {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 100;
  background: url('../images/loading.gif') no-repeat;
  width: 35px;
  height: 35px;
}
