section.benefits
  .benefits-col._left
    h2
      span ENJOY THE BEST THINGS
      br
      span LIFE CAN OFFER
      span(data-benefits-city)
    p 
      |Experience the city’s vibrancy and vivacity in one of many premier nightlife
      br
      |destinations. Enjoy the best music, exquisite design, and a legacy of unparalleled
      br
      |customer service.

    - var benefits_tile_pos = "left";
    include /components/_benefits_tile.pug
    - var benefits_tile_pos = "center";
    include /components/_benefits_tile.pug

  .benefits-col._right
    - var benefits_tile_pos = "right";
    include /components/_benefits_tile.pug