section.contact_concierge
  h3 Contact your concierge
  .__body
    .__img
    p
      |We are ready to serve you. It doesn't matter what time it is, or where you are in the world.
      br
      |We'll bring you the finest that life has to offer.
    a.__phone(href="tel:888-289-8690") 888-289-8690
    a.__email(href="mailto:mail@test.test") Email concierge