section.filter
  .filter-head
    h3 Filters
    p 
      span 5 filters applied.
      a(href='#') Reset all filters
    a.filter-btn(href='#', data-dd-toggle='filters')
      span.__default_text show filters
      span.__active_text hide filters
  .filter-body(data-dd='filters')
    .__input
      input(type='text', placeholder='Keyword Search')
      i.__i-search
      a.__i-del(href='#')
    .filter-cols
      .__col
        .__col-title Cuisine
        label.filter-cb
          input(type='checkbox')
          .__span Italian
        label.filter-cb
          input(type='checkbox')
          .__span Japanese
        label.filter-cb
          input(type='checkbox')
          .__span American
        a.__col-more(href='#', data-modal-open='filters') More cuisine
      .__col
        .__col-title Price
        label.filter-cb
          input(type='checkbox')
          .__span $
        label.filter-cb
          input(type='checkbox')
          .__span $$
        label.filter-cb
          input(type='checkbox')
          .__span $$$
        label.filter-cb
          input(type='checkbox')
          .__span $$$$
      .__col
        .__col-title Neighborhoods
        label.filter-cb
          input(type='checkbox')
          .__span Bucktown
        label.filter-cb
          input(type='checkbox')
          .__span Magnificent Mile
        label.filter-cb
          input(type='checkbox')
          .__span Lincoln Park
        a.__col-more(href='#', data-modal-open='filters') More neighborhoods
