footer.footer
  .footer-upmenu
    a.__link(href="/") Client Service
    a.__link(href="/") The Ritz-Carlton Privileges
    a.__link(href="/") Travel Benefits
    a.__link(href="/") Travel & Purchase Protection
    a.__link(href="/") Concierge
    a.__link(href="/") Exclusive Events
  .footer-downmenu
    .footer-downmenu-left
      a.__link(href="/") Credit Card Home
      a.__link(href="/") Contact Us
      a.__link(href="/") Concierge Request
      a.__link(href="/") Privacy
      a.__link(href="/") Security
      a.__link(href="/") Terms of Use
      a.__link(href="/") Terms and Conditions
      .__cr
        |Copyright © 1998-2019 Aspire Lifestyles. All Rights Reserved
        br
        |Use of this Website constitutes acceptance of the Aspire Lifestyles Terms of Use
    .footer-sign
