header.header
  .header-top
    a.header-top-logo(href='/')
    .__sign_tools
      a._gray(href="/") Log in
      a(href="/") Sign up
  .header-menu
    include /components/_header_destination.pug
    .header-menu-hamburger
      div
    include /components/_header_right_menu.pug
