section.hero
  .hero-body(style="background-image: url('images/img_hero.jpg');")
    h2
      |CONCIERGE RECOMMENDATIONS,
      br
      |ASSISTANCE, ACCESS
    h3 AT YOUR FINGERTIPS
    .hero-body-choose
      .__default_text
        h3 Choose your destination
        p &#32;it will help us to provide you with relevant content
      .__active_text
        h3
          |Your destination &#8210;&#32;
          span(data-hero-city)
        p &#32;We'll find the best facilities for you to enjoy your trip.
      a.hero-choose-button(data-dd-toggle="hero-choose-city", href="#")
        span.__default_text CHOOSE NOW
        span.__active_text CHOOSE LATER
  .hero-choose-dd(data-dd="hero-choose-city")
    .__world
      include /components/_world_cols.pug
    .__foot
      p
        |Can't find your destination point?
        br
        |Please, input it so, together with Yelp, we can find the best offers for you.
      .__foot-search
        input.__foot-search-input(type="text", placeholder="Please provide a city")
        a.__foot-search-btn(href="#", data-hero-search-submit) SUBMIT