section.reservation
  include /components/_reservation_date.pug
  include /components/_reservation_time.pug
  include /components/_reservation_guests.pug
  a.reservation-submit(href='#') Check Availability
    
