script(type='text/javascript' src='js/libs/jquery-1.12.1.min.js')
script(type='text/javascript' src='js/libs/jquery-ui.min.js')
script(type='text/javascript' src='js/libs/bootstrap.min.js')
script(type='text/javascript' src='js/libs/slick.min.js')
script(type='text/javascript' src='js/libs/jquery.validate.min.js')
script(type='text/javascript' src='js/libs/jquery.scrollbar.js')
script(type='text/javascript' src='js/libs/bootstrap-multiselect.js')
script(type='text/javascript' src='js/libs/jquery.dotdotdot.min.js')
script(type='text/javascript' src='js/libs/select2.full.min.js')
script(type='text/javascript' src='js/app.js')
script(type='text/javascript' src='scripts/hardcode/ui.js')
script(type='text/javascript' src='js/validation.js')
script(type='text/javascript' src='scripts/hardcode/booking.js')
script(type='text/javascript' src='scripts/hardcode/dataCountryCode.js')
script(type='text/javascript' src='app-scripts/global.js')
script(type='text/javascript' src='app-scripts/execution.js')