head
    title Welcome to Aspire Lifestyle Concierge
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    link(rel='icon' href='favicon.png' type='image/png')
    // Meta
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    meta(name='description' content='')
    meta(name='author' content='')
    base(href="/")
    // CSS Global Compulsory
    link(rel='stylesheet', type="text/css", href='css/jquery-ui.css')
    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='styles/style.css')
    // endbuild