if benefits_tile_pos == undefined
  - var benefits_tile_pos = '';
else 
  - benefits_tile_pos = ' _' + benefits_tile_pos;

a(href="/", class='benefits-tiles-item' + benefits_tile_pos)
  .__image
  .__title Concierge is always available
  .__link
  p
    |24/7 access
    br
    |Every day, any day

- benefits_tile_pos = undefined;