.categories-item
  .__image
  h2 Live Like Royalty
  p Enjoy a luxury hotel with a five-star difference. Bask in a stunning setting with beautiful views and experience the ultimate service, comfort and style. Where do you want to&nbsp;go?
  a.__link(href="/")
    |VIEW ALL DINING
    span(data-categorybtn-city)