mixin header_menu(title, items, hasBorder, icon)
  li(class = hasBorder ? 'header-menu-item _border' : 'header-menu-item')
    a.__title(href="/")
      if icon
        i(class = 'jpmicon ' + icon)
      span=title
    if items
      ul.__dd
        each item in items
          li
            a.__dd-item(href="/")=item

ul.header-menu-right
  +header_menu('Dining', ['Make a Dining Reservation', 'View Dining Offers'])
  +header_menu('Travel', ['Make a Travel Booking', 'Sightseeing and Tours'])
  +header_menu('Lifestyles', ['Spas', 'Attractions', 'Nightlife'])
  +header_menu('Place a request', ['Dining', 'Hotels', 'Flowers', 'Limo Service', 'Sightseeing and Tours', 'Other Request'], true, '_plcreq')
  +header_menu('Account', ['Preferences', 'Benefits'], true, '_account')