.header-menu-dest
  a.__toggler(data-dd-toggle="header-choose-city", href="#")
    .__label Destination:
    .__selected_city(data-head-dest) Choose your destination
  .header-menu-dd(data-dd="header-choose-city")
    .__dest-world
      include /components/_world_cols.pug
    .__dest-footer
      .__dest-footer-label
        |Can't find your destination point?
        br
        |Input it so we can find the best offers.
      .__dest-footer-search
        input.__foot-search-input(type="text", placeholder="Please provide a city")
        a.__foot-search-btn(href="#", data-hero-search-submit) SUBMIT

