.reservation-dd._time
  .reservation-ddhead
    i.jpmicon._clock
    span 7:30 pm
  ul.reservation-ddbody
    each val in ['4:30 pm', '5:00 pm', '5:30 pm', '6:00 pm', '6:30 pm', '7:00 pm', '7:30 pm', '8:00 pm', '8:30 pm', '9:00 pm', '9:30 pm', '10:00 pm', '10:30 pm']
      if val == '7:30 pm'
        li.__item._active= val
      else
        li.__item= val