.reservation-dd._guests
  .reservation-ddhead
    i.jpmicon._guests
    span 2 people
  ul.reservation-ddbody
    each val in ['1 person', '2 people', '3 people', '4 people', '5 people', '6 people', '7 people', '8 people', '9 people', '10 people', '11 people', '12 people', '13 people']
      if val == '2 people'
        li.__item._active= val
      else
        li.__item= val