.__world-col._ap
  .__world-col-title Asia Pacific
  ul
    li
      a.__world-col-city(href="#", data-dest-city="ap-hk") Hong Kong
    li
      a.__world-col-city(href="#", data-dest-city="ap-sg") Singapore
    li
      a.__world-col-city(href="#", data-dest-city="ap-tk") Tokyo
.__world-col._eu
  .__world-col-title Europe
  ul
    li
      a.__world-col-city(href="#", data-dest-city="eu-bc") Barcelona
    li
      a.__world-col-city(href="#", data-dest-city="eu-ld") London
    li
      a.__world-col-city(href="#", data-dest-city="eu-ms") Moscow
    li
      a.__world-col-city(href="#", data-dest-city="eu-ps") Paris
    li
      a.__world-col-city(href="#", data-dest-city="eu-rm") Rome
    li
      a.__world-col-city(href="#", data-dest-city="eu-sp") Saint Petersburg
.__world-col._na
  .__world-col-title North America
  ul
    li
      a.__world-col-city(href="#", data-dest-city="na-bt") Boston
    li
      a.__world-col-city(href="#", data-dest-city="na-cg") Chicago
    li
      a.__world-col-city(href="#", data-dest-city="na-hi") Hawaii
    li
      a.__world-col-city(href="#", data-dest-city="na-lv") Las Vegas
    li
      a.__world-col-city(href="#", data-dest-city="na-la") Los Angeles
    li
      a.__world-col-city(href="#", data-dest-city="na-mc") Mexico City
    li
      a.__world-col-city(href="#", data-dest-city="na-mi") Miami
    li
      a.__world-col-city(href="#", data-dest-city="na-ns") Napa/Sonoma
    li
      a.__world-col-city(href="#", data-dest-city="na-ny") New York
    li
      a.__world-col-city(href="#", data-dest-city="na-sf") San Francisco
    li
      a.__world-col-city(href="#", data-dest-city="na-dc") Washington DC
