extends /partials/_layout.pug

block content
  include /sections/_header.pug
  include /sections/_hero.pug
  section.section
    h2 Pamper your taste buds
    p 
      |A specail place to dine. Why not enjoy excellent service and toothsome food if there is any? We are here
      br
      |to provide a relevant list of top-rated restaurants — you only need to choose.
  include /sections/_contact_concierge.pug
  include /sections/_reservation.pug
  include /sections/_filter.pug
  include /modals/_filters.pug