extends /partials/_layout.pug

block content
  include /sections/_header.pug
  include /sections/_hero.pug
  include /sections/_benefits.pug
  include /sections/_signup.pug
  include /sections/_categories.pug
  include /sections/_destination.pug
  include /sections/_footer.pug