.header
  .top-nav
    .container
      a.logo-aspire(href='http://ubs.com')
        .logo-header(style="background-image: url('images/aspire.png');")
      .menu-profile
        ul.sub-list
          li
            a(href='my-profile.html')
              span.text My Account
      .info-location
        a.btn-close-window(href='/ssologout') Sign Out
        span.wrap-breaking-news
          span Tuesday, September 12, 2017
  .wrap-btn-nav
    a.btn-nav(href='javscript:void(0)')
      span toggle menu
  .aspire-nav
    .container
      ul.menu-aspire.left
        li
          a(href='#')
            span.menu-text Destination
            i.sprites.icon-arrow-black
          ul.sub-list
            li
              a(href='#') Africa/Middle east
            li
              a(href='#') Asia Pacific
            li
              a(href='#')
                | Canada 
                i.sprites.icon-arrow-black
              ul.sub-list
                li
                  a(href='') Montreal
                li
                  a(href='') Toronto
                li
                  a(href='') Vancouver
            li
              a(href='#') Caribbean
            li
              a(href='#')
                | Europe 
                i.sprites.icon-arrow-black
              ul.sub-list
                li
                  a(href='') London
                li
                  a(href='') Paris
                li
                  a(href='') Rome
            li
              a(href='#')
                | Latin America 
                i.sprites.icon-arrow-black
              ul.sub-list
                li
                  a(href='') Cancun
            li
              a(href='#')
                | United States 
                i.sprites.icon-arrow-black
              ul.sub-list
                li
                  a(href='') Atlanta
                li
                  a(href='') Boston
                li
                  a(href='') Chicago
                li
                  a(href='') Cleveland
                li
                  a(href='') Dallas
                li
                  a(href='') Hawaii
                li
                  a(href='') Las vegas
                li
                  a(href='') Los angeles
                li
                  a(href='') Miami
                li
                  a(href='') Milwaukee
                li
                  a(href='') Napa/Sonoma
                li
                  a(href='') New Orleans
                li
                  a(href='') New York
                li
                  a(href='') Orlando
                li
                  a(href='') Philadelphia
                li
                  a(href='') San Francisco
                li
                  a(href='') Seattle
                li
                  a(href='') Washington, D.C.
        li
          a(href='')
            span.menu-text My Benefits 
            i.sprites.icon-arrow-black
          ul.sub-list
            li
              a(href='') Privileges
            li
              a(href='') Seasonal Offers &amp; Promotions
      ul.menu-aspire.right
        li
          a(href='#')
            span.menu-text Dining
            i.sprites.icon-arrow-black
          ul.sub-list.right
            li
              a(href='#') Place a dining request
        li
          a(href='#')
            span.menu-text Travel
            i.sprites.icon-arrow-black
          ul.sub-list.right
            li
              a(href='#')
                | Reservation 
                i.sprites.icon-arrow-black
              ul.sub-list
                li
                  a(href='') Flights
                li
                  a(href='') Hotels
                li
                  a(href='') Car rental
            li
              a(href='#') My trips
            li
              a(href='#') Hotels
            li
              a(href='#') Cruises
            li
              a(href='#') Vacation packages
            li
              a(href='#') Sightseeing &amp; Tours
            li
              a(href='#') Ground transportation
            li
              a(href='#') Place a travel request
        li
          a(href='#')
            span.menu-text Lifestyles
            i.sprites.icon-arrow-black
          ul.sub-list.right
            li
              a(href='#') Entertainment
            li
              a(href='#') Golf
            li
              a(href='#')
                | Place a request 
                i.sprites.icon-arrow-black
              ul.sub-list
                li
                  a(href='') Events
                li
                  a(href='') Golf
        li
          a(href='#')
            span.menu-text Place a request
            i.sprites.icon-arrow-black
          ul.sub-list.right