.modal(data-modal='filters')
  a.modal-close(href='#', data-close-modal)
  .modal-wrap
    .modal-head
      .modal-title
        span Cuisine
        a.__tool(href='#') Clear all
    .modal-subhead
      .filter-tag
        span Asian
        a.__del(href='#')
      .filter-tag
        span Greek
        a.__del(href='#')
      .filter-tag
        span American
        a.__del(href='#')
      .filter-tag
        span Sushi
        a.__del(href='#')
      .filter-tag
        span Thai
        a.__del(href='#')
    .modal-body
      .filter-mcols
        .__col
          each val in ['Afghanistan', 'African', 'American', 'Argentinian', 'Asian', 'Australia', 'Belgian', 'Bistro', 'Brazilia', 'Cajun/Creole']
            label.filter-cb
              input(type='checkbox')
              .__span= val
        .__col
          each val in ['East', 'European', 'English', 'European', 'French ', 'German', 'Greek', 'Indian', 'Indonesian', 'Irish']
            label.filter-cb
              input(type='checkbox')
              .__span= val
        .__col
          each val in ['Korean', 'Latin', 'American', 'Malaysian', 'Mediterranean', 'Mexican', 'Middle', 'Eastern', 'Moroccan', 'Lorem']
            label.filter-cb
              input(type='checkbox')
              .__span= val
        .__col
          each val in ['Philippine', 'Portuguese', 'Russian', 'Scandinavian', 'Spanish', 'Sushi', 'Tapas', 'Thai', 'Tibetan', 'Turkish']
            label.filter-cb
              input(type='checkbox')
              .__span= val
    .modal-foot
      a.__rbtn(href='#') search
