doctype html
html.no-js(lang='')
  include ../partials/head 
  body
    <!--[if lt IE 10]>
      p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->
    include ../mixins/index
    include ../partials/header/header
    .wrapper
      .main-content
        block content
    include ../partials/footer/footer
    include ../partials/bottom