@import "variables";

@font-face {
  font-family: 'newIcomoon';
  src:  url('@{icomoon-font-path}/newIcomoon.eot?vrr028');
  src:  url('@{icomoon-font-path}/newIcomoon.eot?vrr028#iefix') format('embedded-opentype'),
    url('@{icomoon-font-path}/newIcomoon.ttf?vrr028') format('truetype'),
    url('@{icomoon-font-path}/newIcomoon.woff?vrr028') format('woff'),
    url('@{icomoon-font-path}/newIcomoon.svg?vrr028#newIcomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="ico-"], [class*=" ico-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'newIcomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-new-air-conditioning {
  &:before {
    content: @ico-new-air-conditioning;
  }
}
.ico-new-airport-shuttle-hotel-transport {
  &:before {
    content: @ico-new-airport-shuttle-hotel-transport;
  }
}
.ico-new-amenities-1 {
  &:before {
    content: @ico-new-amenities-1;
  }
}
.ico-new-amenities-2 {
  &:before {
    content: @ico-new-amenities-2;
  }
}
.ico-new-amenities-3 {
  &:before {
    content: @ico-new-amenities-3;
  }
}
.ico-new-amenities-4 {
  &:before {
    content: @ico-new-amenities-4;
  }
}
.ico-new-amenities-5 {
  &:before {
    content: @ico-new-amenities-5;
  }
}
.ico-new-amenities-6 {
  &:before {
    content: @ico-new-amenities-6;
  }
}
.ico-new-amenities-7 {
  &:before {
    content: @ico-new-amenities-7;
  }
}
.ico-new-amenities-8 {
  &:before {
    content: @ico-new-amenities-8;
  }
}
.ico-new-amenities-9 {
  &:before {
    content: @ico-new-amenities-9;
  }
}
.ico-new-amenities-10 {
  &:before {
    content: @ico-new-amenities-10;
  }
}
.ico-new-bar {
  &:before {
    content: @ico-new-bar;
  }
}
.ico-new-basketball {
  &:before {
    content: @ico-new-basketball;
  }
}
.ico-new-beach {
  &:before {
    content: @ico-new-beach;
  }
}
.ico-new-bed-and-breakfast {
  &:before {
    content: @ico-new-bed-and-breakfast;
  }
}
.ico-new-bike-rental {
  &:before {
    content: @ico-new-bike-rental;
  }
}
.ico-new-boutique-hotel {
  &:before {
    content: @ico-new-boutique-hotel;
  }
}
.ico-new-building {
  &:before {
    content: @ico-new-building;
  }
}
.ico-new-business-center {
  &:before {
    content: @ico-new-business-center;
  }
}
.ico-new-castle {
  &:before {
    content: @ico-new-castle;
  }
}
.ico-new-chalet {
  &:before {
    content: @ico-new-chalet;
  }
}
.ico-new-chateau {
  &:before {
    content: @ico-new-chateau;
  }
}
.ico-new-childcare {
  &:before {
    content: @ico-new-childcare;
  }
}
.ico-new-confetti {
  &:before {
    content: @ico-new-confetti;
  }
}
.ico-new-cooking-classes {
  &:before {
    content: @ico-new-cooking-classes;
  }
}
.ico-new-dinner {
  &:before {
    content: @ico-new-dinner;
  }
}
.ico-new-dry-cleaning-laundry {
  &:before {
    content: @ico-new-dry-cleaning-laundry;
  }
}
.ico-new-fishing {
  &:before {
    content: @ico-new-fishing;
  }
}
.ico-new-fitness {
  &:before {
    content: @ico-new-fitness;
  }
}
.ico-new-game-room {
  &:before {
    content: @ico-new-game-room;
  }
}
.ico-new-golf {
  &:before {
    content: @ico-new-golf;
  }
}
.ico-new-guest-house {
  &:before {
    content: @ico-new-guest-house;
  }
}
.ico-new-half-rating-star {
  &:before {
    content: @ico-new-half-rating-star;
  }
}
.ico-new-hidden-gem {
  &:before {
    content: @ico-new-hidden-gem;
  }
}
.ico-new-hiking {
  &:before {
    content: @ico-new-hiking;
  }
}
.ico-new-home-location {
  &:before {
    content: @ico-new-home-location;
  }
}
.ico-new-hostel {
  &:before {
    content: @ico-new-hostel;
  }
}
.ico-new-hot-deal {
  &:before {
    content: @ico-new-hot-deal;
  }
}
.ico-new-inn {
  &:before {
    content: @ico-new-inn;
  }
}
.ico-new-internet {
  &:before {
    content: @ico-new-internet;
  }
}
.ico-new-jacuzzi {
  &:before {
    content: @ico-new-jacuzzi;
  }
}
.ico-new-kids-club {
  &:before {
    content: @ico-new-kids-club;
  }
}
.ico-new-lodge {
  &:before {
    content: @ico-new-lodge;
  }
}
.ico-new-meeting-conference-event-space {
  &:before {
    content: @ico-new-meeting-conference-event-space;
  }
}
.ico-new-noodles {
  &:before {
    content: @ico-new-noodles;
  }
}
.ico-new-palace {
  &:before {
    content: @ico-new-palace;
  }
}
.ico-new-parking {
  &:before {
    content: @ico-new-parking;
  }
}
.ico-new-pets-allowed {
  &:before {
    content: @ico-new-pets-allowed;
  }
}
.ico-new-price-tag {
  &:before {
    content: @ico-new-price-tag;
  }
}
.ico-new-price-tag-1 {
  &:before {
    content: @ico-new-price-tag-1;
  }
}
.ico-new-price-tag-2 {
  &:before {
    content: @ico-new-price-tag-2;
  }
}
.ico-new-private-home {
  &:before {
    content: @ico-new-private-home;
  }
}
.ico-new-private-island {
  &:before {
    content: @ico-new-private-island;
  }
}
.ico-new-ranch {
  &:before {
    content: @ico-new-ranch;
  }
}
.ico-new-rating-star {
  &:before {
    content: @ico-new-rating-star;
  }
}
.ico-new-rental-car-agency {
  &:before {
    content: @ico-new-rental-car-agency;
  }
}
.ico-new-resort {
  &:before {
    content: @ico-new-resort;
  }
}
.ico-new-restaurant {
  &:before {
    content: @ico-new-restaurant;
  }
}
.ico-new-room-service {
  &:before {
    content: @ico-new-room-service;
  }
}
.ico-new-scuba-dive-snorkel {
  &:before {
    content: @ico-new-scuba-dive-snorkel;
  }
}
.ico-new-service-apartment {
  &:before {
    content: @ico-new-service-apartment;
  }
}
.ico-new-shopping-bag {
  &:before {
    content: @ico-new-shopping-bag;
  }
}
.ico-new-skiing {
  &:before {
    content: @ico-new-skiing;
  }
}
.ico-new-smoke-free-facility {
  &:before {
    content: @ico-new-smoke-free-facility;
  }
}
.ico-new-spa {
  &:before {
    content: @ico-new-spa;
  }
}
.ico-new-still-hot {
  &:before {
    content: @ico-new-still-hot;
  }
}
.ico-new-surfing {
  &:before {
    content: @ico-new-surfing;
  }
}
.ico-new-swimming-pool {
  &:before {
    content: @ico-new-swimming-pool;
  }
}
.ico-new-tennis {
  &:before {
    content: @ico-new-tennis;
  }
}
.ico-new-tented {
  &:before {
    content: @ico-new-tented;
  }
}
.ico-new-tie {
  &:before {
    content: @ico-new-tie;
  }
}
.ico-new-tie-1 {
  &:before {
    content: @ico-new-tie-1;
  }
}
.ico-new-tower {
  &:before {
    content: @ico-new-tower;
  }
}
.ico-new-trails {
  &:before {
    content: @ico-new-trails;
  }
}
.ico-new-villa {
  &:before {
    content: @ico-new-villa;
  }
}
.ico-new-water-game-sports {
  &:before {
    content: @ico-new-water-game-sports;
  }
}
.ico-new-water-sports {
  &:before {
    content: @ico-new-water-sports;
  }
}
.ico-new-wellness-center {
  &:before {
    content: @ico-new-wellness-center;
  }
}
.ico-new-yoga-meditation {
  &:before {
    content: @ico-new-yoga-meditation;
  }
}

