@icomoon-font-path: "fonts";

@ico-new-air-conditioning: "\e900";
@ico-new-airport-shuttle-hotel-transport: "\e901";
@ico-new-amenities-1: "\e902";
@ico-new-amenities-2: "\e903";
@ico-new-amenities-3: "\e904";
@ico-new-amenities-4: "\e905";
@ico-new-amenities-5: "\e906";
@ico-new-amenities-6: "\e907";
@ico-new-amenities-7: "\e908";
@ico-new-amenities-8: "\e909";
@ico-new-amenities-9: "\e90a";
@ico-new-amenities-10: "\e90b";
@ico-new-bar: "\e90c";
@ico-new-basketball: "\e90d";
@ico-new-beach: "\e90e";
@ico-new-bed-and-breakfast: "\e90f";
@ico-new-bike-rental: "\e910";
@ico-new-boutique-hotel: "\e911";
@ico-new-building: "\e912";
@ico-new-business-center: "\e913";
@ico-new-castle: "\e914";
@ico-new-chalet: "\e91d";
@ico-new-chateau: "\e91e";
@ico-new-childcare: "\e91f";
@ico-new-confetti: "\e920";
@ico-new-cooking-classes: "\e921";
@ico-new-dinner: "\e922";
@ico-new-dry-cleaning-laundry: "\e923";
@ico-new-fishing: "\e924";
@ico-new-fitness: "\e925";
@ico-new-game-room: "\e926";
@ico-new-golf: "\e927";
@ico-new-guest-house: "\e928";
@ico-new-half-rating-star: "\e929";
@ico-new-hidden-gem: "\e92a";
@ico-new-hiking: "\e92b";
@ico-new-home-location: "\e92c";
@ico-new-hostel: "\e92d";
@ico-new-hot-deal: "\e92e";
@ico-new-inn: "\e92f";
@ico-new-internet: "\e930";
@ico-new-jacuzzi: "\e931";
@ico-new-kids-club: "\e932";
@ico-new-lodge: "\e933";
@ico-new-meeting-conference-event-space: "\e934";
@ico-new-noodles: "\e935";
@ico-new-palace: "\e936";
@ico-new-parking: "\e937";
@ico-new-pets-allowed: "\e938";
@ico-new-price-tag: "\e939";
@ico-new-price-tag-1: "\e93a";
@ico-new-price-tag-2: "\e93b";
@ico-new-private-home: "\e93c";
@ico-new-private-island: "\e93d";
@ico-new-ranch: "\e93e";
@ico-new-rating-star: "\e93f";
@ico-new-rental-car-agency: "\e940";
@ico-new-resort: "\e941";
@ico-new-restaurant: "\e942";
@ico-new-room-service: "\e943";
@ico-new-scuba-dive-snorkel: "\e944";
@ico-new-service-apartment: "\e945";
@ico-new-shopping-bag: "\e946";
@ico-new-skiing: "\e947";
@ico-new-smoke-free-facility: "\e948";
@ico-new-spa: "\e949";
@ico-new-still-hot: "\e94a";
@ico-new-surfing: "\e94b";
@ico-new-swimming-pool: "\e94c";
@ico-new-tennis: "\e94d";
@ico-new-tented: "\e94e";
@ico-new-tie: "\e94f";
@ico-new-tie-1: "\e950";
@ico-new-tower: "\e951";
@ico-new-trails: "\e952";
@ico-new-villa: "\e953";
@ico-new-water-game-sports: "\e954";
@ico-new-water-sports: "\e955";
@ico-new-wellness-center: "\e956";
@ico-new-yoga-meditation: "\e957";

