.footer {
  //NOTE: Temporary solution while no need in footer at all
  @include m_mob {
    display: none;
  }
}

.footer-upmenu {
  background-color: $colDarkEbony;
  font-size: 0;
  height: rem(90);
  padding: 0 rem(24);

  .__link {
    @include Amplitude;

    color: $colWhite;
    display: inline-block;
    font-size: rem(16);
    height: rem(90);
    line-height: rem(90);
    padding: 0 rem(24);
    text-decoration: none;
  }
}

.footer-downmenu {
  background-color: $colGrayCloudy2;
  display: flex;
  min-height: rem(300);
}

.footer-downmenu-left {
  flex: 1 1 rem(613);
  font-size: 0;
  padding: rem(43) rem(24) rem(87);
  position: relative;

  .__link {
    @include Amplitude;

    color: $colWhite;
    cursor: pointer;
    display: inline-block;
    font-size: rem(16);
    line-height: rem(32);
    margin: 0 rem(24) rem(20);
    text-decoration: none;
  }

  .__cr {
    @include Amplitude;

    bottom: rem(31);
    color: $colGrayPampas;
    font-size: rem(12);
    left: rem(48);
    line-height: rem(18);
    position: absolute;
  }
}

.footer-sign {
  background-image: url($pathImg + 'signature.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 100% auto;
  flex: 1 1 rem(844);
}
