.header {
  @include m_mob {
    max-width: 100vw;
  }
}

.header-top {
  background-color: $colWhite;
  font-size: 0;
  height: rem(60);
  padding: 0 0 0 rem(184);
  position: relative;
  text-align: right;

  @include m_dkt {
    height: rem(90);
    padding: 0 rem(48) 0 rem(276);
  }

  .__sign_tools {
    align-items: center;
    display: inline-flex;
    flex-wrap: wrap;
    height: rem(60);
    justify-content: flex-end;

    @include m_dkt {
      height: rem(90);
    }

    a {
      @include Amplitude;

      color: $colDarkOil;
      font-size: rem(16);
      line-height: rem(32);
      margin: 0 rem(20) 0 0;
      text-decoration: none;
      white-space: nowrap;

      @include m_dkt {
        margin: 0;

        + a {
          margin: 0 0 0 rem(48);
        }
      }

      &:hover {
        text-decoration: underline;
      }

      &._gray {
        color: $colGrayCloudy2;
      }
    }
  }
}

.header-top-logo {
  background-image: url($pathImg + 'logo.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  height: rem(40);
  left: rem(12);
  position: absolute;
  top: rem(13);
  width: rem(160);

  @include m_dkt {
    height: rem(90);
    left: rem(48);
    top: 0;
    width: rem(180);
  }
}

.header-menu {
  background-color: $colDarkEbony;
  display: flex;
  height: rem(60);

  @include m_dkt {
    height: rem(90);
    justify-content: space-between;
  }
}

.header-menu-dest {
  flex: 1 1 auto;
  height: rem(60);
  max-width: calc(100% - #{rem(61)});
  position: relative;

  @include m_dkt {
    flex: 0 0 auto;
    height: rem(90);
    max-width: none;
    min-width: rem(380);
  }

  .__toggler {
    display: flex;
    font-size: 0;
    height: rem(60);
    padding: rem(16) rem(20) 0;
    text-decoration: none;

    @include m_dkt {
      display: block;
      height: rem(90);
      padding: rem(27) rem(48) 0;
    }

    &::after {
      content: '';
      display: none;
      height: 100vh;
      left: 0;
      position: fixed;
      top: 0;
      width: 100vw;
      z-index: 1;
    }

    &._active {
      background-color: $colDarkDerby;

      &::after,
      ~ .header-menu-dd {
        display: block;
      }
    }
  }

  .__label {
    @include Amplitude;

    color: $colGrayCloudy2;
    flex: 0 0 auto;
    font-size: rem(14);
    line-height: rem(28);
    margin: 0 rem(6) 0 0;

    @include m_dkt {
      display: inline-block;
      font-size: rem(16);
      line-height: rem(32);
      margin: 0 rem(11) 0 0;
    }
  }

  .__selected_city {
    @include AmplitudeBold;
    @include text_ellipses;

    color: $colWhite;
    flex: 1 1 0;
    font-size: rem(14);
    line-height: rem(28);
    min-width: rem(10);

    @include m_dkt {
      @include anti_text_ellipses;

      display: inline-block;
      font-size: rem(16);
      line-height: rem(32);
    }

    &::after {
      @include Icons;

      color: $colGrayCloudy2;
      content: '\e000';
      margin: 0 0 0 rem(10);
    }
  }

  .header-menu-dd {
    padding: 0;
  }
}

.header-menu-dd {
  background-color: $colDarkDerby;
  display: none;
  left: 0;
  min-width: 100vw;
  padding: rem(10) 0 rem(20);
  position: absolute;
  top: rem(60);
  z-index: 1;

  @include m_dkt {
    min-width: rem(600);
    padding: rem(10) 0 rem(20);
    top: rem(90);
  }

  .__dest-world {
    + .__dest-footer {
      border-top: rem(1) solid rgba($colGrayPampas, .22);
    }
  }

  .__world-col {
    padding: rem(20) 0;

    @include m_dkt {
      display: table-cell;
      min-width: rem(200);
      padding: rem(22) 0;
      width: rem(200);
    }

    + .__world-col {
      border-top: rem(1) solid rgba($colGrayPampas, .22);

      @include m_dkt {
        border-left: rem(1) solid rgba($colGrayPampas, .22);
        border-top: 0;
      }
    }
  }

  .__world-col-title {
    @include Amplitude;

    color: $colGrayCloudy2;
    font-size: rem(16);
    line-height: rem(32);
    padding: 0 rem(30) 0 rem(48);

    + .__world-col-city {
      margin: rem(8) 0 0;
    }
  }

  .__world-col-city {
    @include Amplitude;

    color: $colWhite;
    display: block;
    font-size: rem(16);
    line-height: rem(40);
    padding: 0 rem(30) 0 rem(48);
    text-decoration: none;

    + .__world-col-title {
      margin: rem(40) 0 0;
    }

    &:hover,
    &._selected {
      background-color: $colDarkClay;
    }
  }

  .__dest-footer {
    padding: rem(27) rem(20) rem(20);

    @include m_dkt {
      align-items: center;
      display: flex;
      height: rem(90);
      padding: rem(20);
      width: 100%;
    }
  }

  .__dest-footer-label {
    @include Amplitude;

    color: $colGrayPampas;
    font-size: rem(12);
    line-height: rem(18);

    @include m_mob {
      + .__dest-footer-search {
        margin: rem(15) 0 0;
      }
    }

    @include m_dkt {
      flex: 0 0 auto;
      padding: 0 0 0 rem(28);
    }
  }

  .__dest-footer-search {
    display: flex;

    @include m_dkt {
      flex: 1 1 auto;
      padding: 0 0 0 rem(20);
    }
  }

  .__foot-search-input {
    @include Amplitude;

    background-color: $colWhite;
    border: 0;
    color: $colDarkOil;
    flex: 1 1 auto;
    font-size: rem(16);
    height: rem(50);
    line-height: rem(24);
    padding: rem(13) rem(20);
    width: 0;

    &::placeholder {
      color: $colGrayCloudy2;
    }
  }

  .__foot-search-btn {
    @include AmplitudeBold;

    background-color: $colBlueSteel;
    color: $colWhite;
    cursor: pointer;
    flex: 0 0 rem(100);
    font-size: rem(16);
    height: rem(50);
    line-height: rem(50);
    margin: 0 0 0 rem(10);
    text-align: center;
    text-decoration: none;
    width: rem(100);

    @include m_dkt {
      &:hover {
        background-color: $colBlueSanmarino;
      }
    }
  }
}

.header-menu-hamburger {
  border-left: rem(1) solid $colGrayNatural;
  flex: 0 0 rem(61);
  height: rem(60);
  padding: rem(29) rem(20);
  position: relative;
  width: rem(61);

  > div,
  &::before,
  &::after {
    background-color: $colGrayCloudy2;
    height: rem(2);
    width: rem(20);
  }

  &::before,
  &::after {
    content: '';
    display: block;
    left: rem(20);
    position: absolute;
  }

  &::before {
    top: rem(22);
  }

  &::after {
    top: rem(36);
  }

  @include m_dkt {
    display: none;
  }
}

.header-menu-right {
  display: none;

  @include m_dkt {
    display: flex;
    flex: 1 1 0;
    height: rem(90);
    justify-content: flex-end;
    max-width: rem(920);

    @include ie_styles {
      max-width: none;
    }
  }
}

.header-menu-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: 1 1 auto;
  height: rem(90);
  min-width: rem(10);
  position: relative;

  &:hover {
    background-color: $colDarkDerby;

    .__dd {
      display: block;
    }
  }

  &::before,
  &::after {
    content: '';
    display: block;
    flex: 1 1 rem(48);
    height: rem(90);
    min-width: rem(8);
  }

  &:last-child {
    &::after {
      flex: 1 0 rem(48);
    }
    
    .__dd {
      left: auto;
      right: 0;
    }
  }

  &._border {
    border-left: rem(1) solid rgba($colGrayNatural, .5);
  }

  .__title {
    @include Amplitude;

    align-items: center;
    color: $colWhite;
    display: flex;
    flex: 1 1 auto;
    font-size: rem(16);
    line-height: rem(18);
    text-decoration: none;

    .jpmicon {
      color: $colGrayCloudy2;
      flex: 0 0 auto;
      font-size: rem(18);
      margin: 0 rem(10) 0 0;
    }

    span {
      flex: 1 1 auto;
    }
  }

  .__dd {
    background-color: $colDarkDerby;
    display: none;
    min-width: 100%;
    left: 0;
    padding: rem(10) 0 rem(20);
    position: absolute;
    top: rem(90);
    z-index: 1;
  }

  .__dd-item {
    @include Amplitude;

    color: $colWhite;
    display: block;
    font-size: rem(16);
    line-height: rem(40);
    padding: 0 rem(48);
    text-decoration: none;
    white-space: nowrap;

    &:hover {
      background-color: $colDarkClay;
    }
  }
}
