html,
body {
  font-size: $remValue;
  margin: 0;
  padding: 0;
}

body {
  &._mdopen {
    overflow: hidden;
  }
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

._hidden {
  display: none!important;
}

.section {
  @include section;
}
