.modal {
  display: none;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 100;

  @include m_dkt {
    height: 600px;
    margin-top: -300px;
    top: 50%;
    width: 100%;
  }

  @media screen and (min-width: 1024px) {
    left: 50%;
    margin-left: -512px;
    width: 1024px;
  }
  
  @media screen and (max-height: 600px) {
    height: 100vh;
    top: 0;
    margin-top: 0;
  }

  &._open {
    display: block;
  }
}

.modal-wrap {
  background-color: $colWhite;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 rem(20);
  position: relative;
  width: 100vw;
  z-index: 2;

  @include m_dkt {
    height: 100%;
    padding: 0;
    width: 100%;
  }
}

.modal-head {
  flex: 0 0 auto;
  min-height: rem(52);
  padding: rem(16) rem(39) rem(8) 0;
  position: relative;
  z-index: 1;

  @include m_dkt {
    min-height: rem(80);
    padding: rem(28) rem(90) rem(18) rem(30);
  }
}

.modal-title {
  @include AmplitudeBold;

  color: $colBlack;
  font-size: rem(16);
  line-height: rem(28);

  @include m_dkt {
    @include Amplitude;

    font-size: rem(28);
    line-height: rem(34);
  }

  .__tool {
    @include Amplitude;

    color: $colBlueSteel;
    font-size: rem(14);
    line-height: rem(24);
    margin: rem(4) 0 0 rem(8);
    text-decoration: none;

    @include m_dkt {
      font-size: rem(16);
      line-height: rem(32);
      margin: rem(2) 0 0 rem(14);

      &:hover {
        color: $colBlueSanmarino;
        text-decoration: underline;
      }
    }
  }
}

.modal-close {
  color: $colBlueSteel;
  cursor: pointer;
  display: block;
  font-size: rem(21);
  height: rem(30);
  line-height: rem(30);
  position: absolute;
  right: rem(27);
  text-align: center;
  text-decoration: none;
  top: rem(12);
  width: rem(30);

  &::before {
    @include Icons;

    content: '\e009';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
  }

  &::after {
    background-color: $colWhite;
    content: '';
    display: block;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
  }

  @include m_dkt {
    font-size: rem(38);
    height: rem(40);
    line-height: rem(40);
    right: rem(25);
    top: rem(25);
    width: rem(40);

    &::after {
      background-color: rgba($colBlack, .8);
    }

    &:hover {
      color: $colBlueSanmarino;
    }
  }
}

.modal-subhead {
  flex: 0 0 auto;
  font-size: 0;
  padding: 0 0 rem(8);

  @include m_dkt {
    padding: 0 rem(34) rem(11);
  }
}

.modal-body {
  flex: 1 1 0;
  min-height: rem(10);
  overflow: auto;

  @include m_dkt {
    border-bottom: rem(1) solid $colGrayPampas;
    border-top: rem(1) solid $colGrayPampas;
  }
}

.modal-foot {
  flex: 0 0 auto;
  padding: rem(20) 0;

  @include m_dkt {
    padding: rem(20) rem(30);
    text-align: right;
  }

  .__rbtn {
    @include AmplitudeBold;

    background-color: $colBlueSteel;
    color: $colWhite;
    cursor: pointer;
    display: block;
    font-size: rem(16);
    height: rem(50);
    line-height: rem(50);
    padding: 0 rem(20);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: rem(200);

    @include m_dkt {
      display: inline-block;

      &:hover {
        background-color: $colBlueSanmarino;
      }
    }
  }
}
