.contact_concierge {
  margin: rem(30) 0;
  padding: 0 rem(20);

  @include m_dkt {
    @include container;

    margin: rem(100) auto rem(90);
  }

  .__body {
    position: relative;

    @include m_dkt {
      font-size: 0;
      margin: rem(30) 0 0;
      padding: 0 0 0 rem(270);
    }
  }

  .__img {
    background-color: $colGrayCloudy2;
    background-image: url($pathImg + 'contact_concierge.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(325);
    margin: rem(20) 0 0;

    @include m_dkt {
      height: 100%;
      left: 0;
      margin: 0;
      position: absolute;
      top: 0;
      width: rem(270);
    }
  }

  p {
    margin: rem(8) 0 rem(20);

    @include m_dkt {
      border-top: rem(1) solid rgba($colGrayNatural, .5);
      margin: 0;
      padding: rem(43) 0 rem(53) rem(78);
    }
  }

  .__phone,
  .__email {
    @include Amplitude;

    border-top: rem(1) solid rgba($colGrayNatural, .5);
    color: $colBlueSteel;
    display: block;
    font-size: rem(28);
    line-height: rem(34);
    padding: rem(20) 0 rem(20) rem(43);
    position: relative;
    text-decoration: none;

    &::before {
      @include Icons;

      display: block;
      font-size: rem(32);
      left: 0;
      line-height: rem(74);
      position: absolute;
      top: 0;
    }

    @include m_dkt {
      display: inline-block;
      vertical-align: top;
      width: 50%;

      &::before {
        line-height: rem(40);
      }

      &:hover {
        color: $colBlueSanmarino;
        text-decoration: underline;
      }
    }
  }

  .__phone {
    &::before {
      content: '\e006';
    }

    @include m_dkt {
      padding: rem(46) rem(30) rem(30) rem(130);

      &::before {
        left: rem(85);
        top: rem(45);
      }
    }
  }

  .__email {
    &::before {
      content: '\e007';
    }

    @include m_dkt {
      border-left: rem(1) solid rgba($colGrayNatural, .5);  
      padding: rem(46) rem(30) rem(30) rem(94);

      &::before {
        left: rem(42);
        top: rem(42);
      }
    }
  }
}
