.categories {
  padding: 0 rem(20);

  @include m_dkt {
    @include container;

    margin: rem(120) auto rem(150);
  }
}

.categories-item {
  margin: rem(70) 0 0;
  position: relative;

  @include m_dkt {
    margin: rem(92) 0;
    min-height: rem(420);
    padding: rem(6) 0 0 rem(462);

    &::after {
      background-color: rgba($colGrayNatural, .5);
      content: '';
      display: block;
      height: rem(1);
      margin: rem(45) 0 0 rem(-462);
      width: calc(100% + #{rem(462)});
    }

    &:nth-child(2n) {
      padding: rem(6) rem(462) 0 0;

      .__image {
        left: auto;
        right: 0;
      }

      h2 {
        padding: 0 rem(150) 0 0;

        &::before {
          left: auto;
          right: 0;
        }
      }

      &::after {
        margin: rem(45) rem(-462) 0 0;
      }
    }
  }

  .__image {
    background-image: url($pathImg + '/img_hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rem(3) rem(15) rem(40) rem(-4) rgba($colBlack, .2);
    height: rem(320);
    margin: 0 0 rem(30);
    overflow: hidden;

    @include m_dkt {
      height: rem(420);
      left: 0;
      position: absolute;
      top: 0;
      margin: 0;
      width: rem(420);
    }
  }

  h2 {
    margin: 0 0 rem(25);
    text-transform: uppercase;
    word-wrap: break-word;

    @include m_dkt {
      margin: 0 0 rem(45);
      overflow: hidden;
      padding: 0 0 0 rem(150);
      position: relative;

      &::before {
        background-color: rgba($colGrayNatural, .5);
        content: '';
        display: block;
        height: rem(1);
        left: 0;
        position: absolute;
        top: rem(30);
        width: rem(113);
      }
    }

    @include m_dkt_lrg {
      padding: 0;

      &::before {
        display: none;
      }
    }
  }

  p {
    line-height: rem(36);
    margin: 0 0 rem(35);

    @include m_dkt {
      margin: 0 0 rem(42);
    }
  }

  .__link {
    @include AmplitudeBold;
    @include text_ellipses;

    background-color: $colBlueSteel;
    color: $colWhite;
    cursor: pointer;
    display: inline-block;
    font-size: rem(16);
    height: rem(50);
    line-height: rem(50);
    padding: 0 rem(30);
    text-align: center;
    text-decoration: none;

    &:hover {
      background-color: $colBlueSanmarino;
    }
  }
}
