.destination {
  background-color: $colBlueChathams;
  background-image: url($pathImg + 'world-ap.svg'),
                    url($pathImg + 'world-eu.svg'),
                    url($pathImg + 'world-na.svg');
  background-position: left top, 76% 120%, right top;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 20% auto, 20% auto, 13% auto;
  margin-bottom: rem(45);
  margin-top: rem(45);
  padding: rem(30) rem(20);
  text-align: center;

  @include m_dkt {
    @include container;

    margin-bottom: rem(120);
    margin-top: rem(150);
    max-width: rem($wrapWidth);
    min-height: rem(270);
    padding: rem(48) rem(48) rem(64);
  }

  h3,
  p {
    color: $colWhite;
  }

  .__select_btn {
    @include AmplitudeBold;

    background-color: $colBlueSteel;
    color: $colWhite;
    cursor: pointer;
    display: block;
    font-size: rem(16);
    height: rem(50);
    line-height: rem(50);
    margin: rem(14) auto 0;
    max-width: rem(320);
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      background-color: $colBlueSanmarino;
    }

    @include m_dkt {
      margin: rem(42) auto 0;
    }
  }
}
