.benefits {
  @include container;

  margin: rem(70) 0;
  padding: 0;

  @include m_lrg {
    font-size: 0;
    margin: rem(140) auto rem(90);
    padding: 0 rem(48);
  }
}

.benefits-col {
  @include m_lrg {
    display: inline-block;
    min-height: rem(100);
    vertical-align: top;
  }

  &._left {
    @include m_lrg {
      width: rem(738);
    }

    > h2,
    > p {
      padding: 0 rem(20);

      @include m_lrg {
        padding: 0 rem(53) 0 0;
      }

      @include m_dkt_lrg {
        padding: 0 rem(48);
      }
    }

    > p {
      line-height: rem(28);
      margin-top: rem(25);

      @include m_lrg {
        line-height: rem(38);
        margin-top: rem(35);
      }

      br {
        @include m_mob {
          content: ' ';

          &::after {
            content: ' ';
          }
        }
      }
    }
  }

  &._right {
    @include m_lrg {
      width: rem(286);
    }
  }
}

.benefits-tiles-item {
  cursor: pointer;
  display: block;
  margin: rem(70) 0 0;
  padding: 0 0 rem(160);
  position: relative;
  text-decoration: none;

  &::before {
    background-color: $colGrayNatural;
    content: '';
    display: block;
    height: 100%;
    left: auto;
    position: absolute;
    top: 0;
    width: calc(100vw - #{rem(48)});
  }

  &::after {
    background-color: $colDarkEbony;
    bottom: 0;
    content: '';
    display: none;
    height: rem(8);
    left: auto;
    position: absolute;
    width: calc(100vw - #{rem(48)});
  }

  @include m_dkt {
    &:hover {
      &::before {
        background-color: $colDarkSand!important;
      }

      &::after {
        display: block;
      }
    }
  }

  @include m_lrg {
    display: inline-block;
    margin: 0;
    padding: 0 0 rem(160);
    vertical-align: top;

    &::before,
    &::after {
      width: 100%;
    }
  }

  &._left {
    &::before {
      height: calc(100% - #{rem(120)});
      left: 0;
      top: rem(120);
      width: calc(100vw - #{rem(48)});
    }

    &::after {
      left: 0;
      width: calc(100vw - #{rem(48)});
    }

    @include m_lrg {
      margin-top: rem(120);

      &::before {
        height: calc(100% - #{rem(118)});
        left: auto;
        right: rem(44);
        top: rem(118);
        width: 50vw;
      }

      &::after {
        left: auto;
        right: rem(44);
        width: 50vw;
      }
    }

    .__image {
      margin: 0 0 0 rem(48);

      @include m_lrg {
        margin: 0;
      }
    }

    .__title,
    p {
      margin-left: rem(48);
      width: calc(100vw - #{rem(126)});

      @include m_lrg {
        margin-left: 0;
        padding-left: 0;
        width: rem(276);
      }
    }

    .__link {
      left: rem(48);

      @include m_lrg {
        left: 0;
      }
    }
  }

  &._center {
    &::before {
      background-color: $colGrayCloudy2;
      height: calc(100% - #{rem(120)});
      left: rem(48);
      top: rem(120);
      width: calc(100vw - #{rem(48)});
    }

    &::after {
      left: rem(48);
      width: calc(100vw - #{rem(48)});
    }

    @include m_lrg {
      margin: rem(360) 0 0 rem(48);

      &::before {
        height: calc(100% - #{rem(205)});
        left: rem(44);
        top: rem(205);
        width: rem(444);
      }

      &::after {
        left: rem(44);
        width: rem(444);
      }
    }

    .__title,
    p {
      margin-left: rem(88);
      width: calc(100vw - #{rem(118)});

      @include m_lrg {
        margin-left: rem(44);
        padding-left: rem(48);
        padding-right: 0;
        width: rem(276);
      }
    }

    p {
      @include m_lrg {
        &::before {
          left: rem(48);
        }
      }
    }

    .__link {
      left: rem(90);
    }
  }

  &._right {
    padding-top: rem(101);

    &::before {
      background-color: $colDarkCoffee;
      left: rem(48);
      width: calc(100vw - #{rem(48)});
    }

    &::after {
      left: rem(48);
      width: calc(100vw - #{rem(48)});
    }

    @include m_lrg {
      padding-top: rem(155);

      &::before {
        height: calc(100% + #{rem(14)});
        left: 0;
        top: rem(-14);
        width: 50vw;
      }

      &::after {
        left: 0;
        width: 50vw;
      }
    }

    .__image {
      @include m_lrg {
        left: rem(-53);
      }
    }

    .__title,
    p {
      margin-left: rem(88);
      width: calc(100vw - #{rem(118)});

      @include m_lrg {
        margin-left: rem(44);
        padding-left: 0;
        width: rem(276);
      }
    }

    .__link {
      left: rem(90);

      @include m_lrg {
        left: rem(48);
      }
    }
  }

  .__image {
    background-image: url($pathImg + '/img_hero.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: rem(320);
    overflow: hidden;
    position: relative;
    width: calc(100vw - #{rem(48)});

    @include m_lrg {
      width: rem(320);
    }
  }

  .__title {
    @include Amplitude;

    color: $colWhite;
    font-size: rem(28);
    line-height: rem(34);
    margin: rem(45) 0 0;
    position: relative;

    @include m_lrg {
      padding: 0 rem(48);
      width: rem(276);
    }
  }

  p {
    color: $colWhite;
    margin: rem(15) 0 0;
    min-height: rem(90);
    padding: rem(13) 0 0;
    position: relative;

    &::before {
      background-color: rgba($colGrayPampas, .5);
      content: '';
      display: block;
      height: rem(1);
      left: 0;
      position: absolute;
      top: 0;
      width: rem(60);
    }

    @include m_lrg {
      margin: rem(20) 0 0;
      min-height: rem(120);
      padding: rem(20) 0 0;
      width: rem(276);
    }
  }

  .__link {
    background-color: $colGraySilver;
    border-radius: 50%;
    bottom: rem(86);
    font-size: rem(20);
    height: rem(44);
    left: 0;
    line-height: rem(44);
    position: absolute;
    text-align: center;
    width: rem(44);

    &::before {
      @include Icons;

      color: $colWhite;
      content: '\e002';
    }
  }
}
