.filter {
  margin: rem(30) 0;
  padding: 0 rem(20);

  @include m_dkt {
    @include container;

    margin: rem(80) auto;
  }
}

.filter-head {
  border-top: rem(1) solid rgba($colGrayNatural, .5); 
  padding: rem(8) 0 0;
  position: relative;

  @include m_dkt {
    min-height: rem(76);
    padding: rem(10) rem(220) rem(6) 0;
  }

  p {
    color: $colGrayCloudy2;
    line-height: rem(28);

    span {
      + a {
        margin: 0 0 0 rem(5);
      }
    }

    a {
      color: $colBlueSteel;
      text-decoration: none;
    }

    @include m_dkt {
      a {
        &:hover {
          color: $colBlueSanmarino;
          text-decoration: underline;
        }
      }
    }
  }
}

.filter-btn {
  @include AmplitudeBold;

  background-color: $colGrayNatural;
  color: $colWhite;
  cursor: pointer;
  display: block;
  height: rem(50);
  line-height: rem(50);
  margin: rem(8) 0 0;
  padding: 0 rem(20);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: rem(200);

  @include m_dkt {
    margin: 0;
    position: absolute;
    right: 0;
    top: rem(20);

    &:hover {
      background-color: $colDarkSand;
    }
  }

  &._active {
    .__active_text {
      display: inline;
    }

    .__default_text {
      display: none;
    }
  }

  .__active_text {
    display: none;
  }
}

.filter-body {
  display: none;
  margin: rem(30) 0;

  &._active {
    display: block;
  }

  .__input {
    position: relative;

    input[type='text'] {
      @include Amplitude;

      background-color: $colGrayPampas;
      border: 0;
      color: $colDarkOil;
      display: block;
      font-size: rem(16);
      height: rem(50);
      line-height: rem(28);
      padding: rem(11) rem(45) rem(11) rem(58);
      width: 100%;
    }
  }

  .__i-search,
  .__i-del {
    color: $colGrayNatural;
    display: block;
    height: rem(50);
    line-height: rem(48);
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: 0;

    &::before {
      @include Icons;
    }
  }

  .__i-search {
    font-size: rem(32);
    left: 0;
    width: rem(58);

    &::before {
      content: '\e008';
    }
  }

  .__i-del {
    font-size: rem(25);
    right: rem(6);
    width: rem(38);

    &::before {
      content: '\e009';
    }

    @include m_dkt {
      &:hover {
        color: $colDarkSand;
      }
    }
  }
}

.filter-cols {
  @include m_dkt {
    display: flex;
    margin: rem(52) 0 0;
  }

  .__col {
    padding: rem(20) 0;

    @include m_dkt {
      flex: 1 1 0;
      min-width: rem(10);
      padding: 0 0 rem(8);
    }

    + .__col {
      border-top: rem(1) solid rgba($colGrayNatural, .5);

      @include m_dkt {
        border-left: rem(1) solid rgba($colGrayNatural, .5);
        border-top: 0;
        padding-left: rem(30);
      }
    }
  }

  .__col-title {
    @include AmplitudeBold;

    color: $colBlack;
    font-size: rem(16);
    line-height: rem(32);
    margin: 0 0 rem(17);
  }

  .__col-more {
    @include Amplitude;

    color: $colBlueSteel;
    display: inline-block;
    font-size: rem(16);
    height: rem(24);
    line-height: rem(24);
    margin: rem(17) 0 0;
    text-decoration: none;

    &::after {
      @include Icons;

      content: '\e00b';
      margin: 0 0 0 rem(12);
    }

    @include m_dkt {
      &:hover {
        color: $colBlueSanmarino;
        text-decoration: underline;
      }
    }
  }
}

.filter-cb {
  cursor: pointer;
  display: block;
  height: rem(20);
  padding: 0 0 0 rem(34);
  position: relative;

  @include m_dkt {
    &:hover {
      .__span {
        color: $colDarkOil;

        &::before {
          border: rem(1) solid $colDarkSand;
        }
      }
    }
  }

  & + & {
    margin: rem(20) 0 0;
  }

  input[type='checkbox'] {
    display: none;

    &:checked {
      ~ .__span {
        &::before {
          background-color: $colBlack;
          border: rem(1) solid $colBlack;
          content: '\e00a';
        }
      }
    }
  }

  .__span {
    @include Amplitude;

    color: $colBlack;
    font-size: rem(16);
    line-height: rem(20);
    position: static;

    &::before {
      @include Icons;

      border: rem(1) solid $colGrayCloudy2;
      box-sizing: border-box;
      color: $colWhite;
      content: '';
      display: block;
      font-size: rem(16);
      height: rem(20);
      left: 0;
      line-height: rem(20);
      position: absolute;
      text-align: center;
      top: 0;
      width: rem(20);
    }
  }
}

.filter-tag {
  @include Amplitude;

  background-color: $colBlack;
  color: $colWhite;
  display: inline-block;
  font-size: rem(16);
  height: rem(20);
  line-height: rem(20);
  margin: 0 rem(8) rem(8) 0;
  padding: 0 rem(25) 0 rem(12);
  position: relative;

  @include m_dkt {
    margin: 0 rem(9) rem(10) 0;
  }

  .__del {
    color: $colWhite;
    cursor: pointer;
    display: block;
    font-size: rem(14);
    height: rem(20);
    position: absolute;
    right: 0;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    top: 0;
    width: rem(20);

    &::before {
      @include Icons;

      content: '\e009';
    }
  }
}

.filter-mcols {
  padding: rem(31) 0;

  @include m_dkt {
    display: flex;
    min-height: 100%;
    padding: 0 rem(30) 0 0;
  }

  .__col {
    @include m_mob {
      + .__col {
        margin: rem(20) 0 0;
      }
    }

    @include m_dkt {
      border-left: rem(1) solid $colGrayPampas;
      flex: 1 1 0;
      min-width: rem(10);
      padding: rem(49) rem(20) rem(49) rem(29);
    }
  }

  .filter-cb {
    @include m_dkt {
      
    }
  }
}
