.reservation {
  margin: rem(30) 0;
  padding: 0 rem(20);
  position: relative;

  @include m_dkt {
    @include container;

    font-size: 0;
    padding: 0 rem(268) 0 rem(48);
  }
}

.reservation-dd {
  position: relative;

  @include m_dkt {
    display: inline-block;
    
    &._date {
      width: rem(241);
    }

    &._time,
    &._guests {
      width: rem(160);
    }
  }

  + .reservation-dd {
    margin: rem(8) 0 0;

    @include m_dkt {
      margin: 0 0 0 rem(20);
    }
  }
}

.reservation-ddhead {
  @include Amplitude;

  border: rem(1) solid $colGraySilver;
  color: $colDarkOil;
  cursor: pointer;
  display: block;
  font-size: rem(16);
  height: rem(54);
  line-height: rem(32);
  padding: rem(10) rem(40);
  position: relative;
  text-decoration: none;

  &::before {
    content: '';
    cursor: default;
    display: none;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 0;
  }

  @include m_dkt {
    cursor: pointer;

    &:hover {
      border: rem(1) solid $colGrayCloudy2;

      &::after {
        color: $colGrayNatural;
      }
    }
  }

  .jpmicon,
  &::after {
    color: $colGrayCloudy2;
    display: block;
    height: rem(52);
    line-height: rem(52);
    position: absolute;
    text-align: center;
    top: 0;
    width: rem(40);
  }

  .jpmicon {
    font-size: rem(22);
    left: 0;
  }

  &::after {
    @include Icons;

    content: '\e000';
    font-size: rem(18);
    right: 0;
  }

  &._active {
    background-color: $colGrayPampas;
    z-index: 1;

    &::before {
      display: block;
    }

    &::after {
      content: '\e001';
    }

    ~ .reservation-ddbody,
    ~ .ui-datepicker {
      display: block!important;
    }
  }
}

.reservation-ddbody,
.ui-datepicker {
  background-color: $colWhite;
  border: rem(1) solid $colGraySilver;
  display: none!important;
  left: 0;
  margin: 0 0 rem(16);
  max-height: calc(100vh - #{rem(85)}); //NOTE: 54 + 16 + 8 + 7 = 85
  overflow: auto;
  padding: rem(20) 0;
  position: absolute;
  top: rem(62); //NOTE: 54 + 8 = 62
  width: 100%;
  z-index: 1;

  @include m_dkt {
    max-height: rem(480);
  }
}

.reservation-ddbody {
  .__item {
    @include Amplitude;

    color: $colBlack;
    cursor: pointer;
    font-size: rem(16);
    height: rem(40);
    line-height: rem(40);
    padding: 0 rem(20) 0 rem(40);

    @include m_dkt {
      &:hover {
        background-color: $colGrayPampas;
      }
    }

    &._active {
      background-color: $colGrayPampas;
    }
  }
}

.ui-datepicker {
  padding: 0;

  @include m_dkt {
    max-height: none;
    width: rem(468);
  }
}

.ui-datepicker-header {
  background-color: $colGrayPampas;
  height: rem(50);
  padding: 0 rem(40);
  position: relative;

  @include m_dkt {
    height: rem(76);
    padding: 0 rem(74);
  }
}

.ui-datepicker-prev, 
.ui-datepicker-next {
  color: $colGrayCloudy2;
  font-size: rem(18);
  height: rem(50);
  line-height: rem(50);
  position: absolute;
  text-align: center;
  top: 0;
  width: rem(40);

  &::before {
    @include Icons;
  }

  @include m_dkt {
    height: rem(76);
    line-height: rem(76);
    width: rem(74);
  }

  > * {
    display: none;
  }
}

.ui-datepicker-prev {
  left: 0;

  &::before {
    content: '\e003';
  }
}

.ui-datepicker-next {
  right: 0;

  &::before {
    content: '\e002';
  }
}

.ui-datepicker-title {
  @include Amplitude;

  color: $colBlack;
  font-size: rem(24);
  line-height: rem(50);
  text-align: center;

  @include m_dkt {
    font-size: rem(28);
    line-height: rem(76);
  }
}

.ui-datepicker-calendar {
  @include clearfix;

  width: 100%;

  thead,
  tbody,
  tr {
    display: block;
  }

  th,
  td {
    @include Amplitude;

    color: $colBlack;
    display: block;
    float: left;
    font-size: rem(14);
    height: rem(40);
    line-height: rem(40);
    position: relative;
    text-align: center;
    width: 14.2857%;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  th {
    color: $colGrayNatural;
  }

  td {
    @include Amplitude;

    color: $colBlack;
    cursor: pointer;

    &::before {
      background-color: $colGrayNatural;
      content: '';
      display: none;
      height: rem(34);
      left: 50%;
      margin-left: rem(-17);
      position: absolute;
      top: rem(3);
      width: rem(34);
      z-index: -1;
    }

    @include m_dkt {
      font-size: rem(16);
      height: rem(60);
      line-height: rem(60);

      &::before {
        height: rem(50);
        margin-left: rem(-25);
        top: rem(5);
        width: rem(50);
      }

      &:hover {
        color: $colWhite;

        &::before {
          background-color: $colGrayNatural;
          display: block;
        }
      }
    }

    &.ui-state-disabled {
      color: $colGrayNatural;
      cursor: default;
      pointer-events: none;
    }

    &.ui-datepicker-today {
      &::before {
        background-color: $colGrayPampas;
        display: block;
      }

      @include m_dkt {
        &:hover {
          color: $colWhite;

          &::before {
            background-color: $colGrayNatural;
          }
        }
      }
    }

    &.ui-datepicker-current-day {
      color: $colWhite;

      &::before {
        background-color: $colGrayNatural;
        display: block;
      }
    }
  }
}

.reservation-submit {
  @include AmplitudeBold;

  background-color: $colGrayNatural;
  color: $colWhite;
  cursor: pointer;
  display: block;
  font-size: rem(16);
  height: rem(50);
  line-height: rem(50);
  margin: rem(8) 0 0;
  padding: 0 rem(10);
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: rem(200);

  @include m_dkt {
    margin: 0;
    position: absolute;
    right: rem(48);
    top: 0;

    &:hover {
      background-color: $colDarkSand;
    }
  }
}
