.hero {
  position: relative;
}

.hero-body {
  background-position: left center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: rem(37) 0 rem(30);
  position: relative;

  @include m_dkt {
    background-position: center;
    padding: rem(166) 0 rem(76);
  }

  &::before {
    background-color: rgba($colBlack, .43);
    background-image: linear-gradient(180deg, rgba($colDarkCoffee, 0) 0%, rgba($colDarkEbony, .5) 100%);
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  h2,
  h3 {
    color: $colWhite;
    padding: 0 rem(20);
    position: relative;

    @include m_dkt {
      @include container;
    }
  }

  h2 + h3 {
    margin-top: rem(18);
  }
}

.hero-body-choose {
  margin-top: rem(109);
  min-height: rem(77);
  padding: rem(8) rem(20) 0;
  position: relative;

  &::before {
    border-top: rem(1) solid $colGrayNatural;
    content: '';
    display: block;
    left: rem(20);
    position: absolute;
    top: 0;
    width: calc(100% - #{rem(2 * 20)});
  }

  @include m_dkt {
    @include container;

    margin-top: rem(147);
    padding-right: rem(268);
    padding-top: rem(10);

    &::before {
      left: rem(48);
      width: calc(100% - #{rem(2 * 48)});
    }
  }

  &._selected {
    > .__default_text {
      display: none;
    }

    > .__active_text {
      display: inline;
    }
  }

  .__active_text {
    display: none;
  }

  h3 {
    color: $colWhite;
    padding: 0;
  }

  p {
    color: $colGrayCloudy2;

    @include m_mob {
      margin: rem(5) 0;
    }
  }
}

.hero-choose-button {
  @include AmplitudeBold;

  background-color: $colGrayNatural;
  color: $colWhite;
  cursor: pointer;
  display: block;
  font-size: rem(16);
  height: rem(50);
  line-height: rem(50);
  margin-top: rem(8);
  min-width: rem(200);
  text-align: center;
  text-decoration: none;
  width: rem(200);

  &:hover {
    background-color: $colDarkSand;
  }

  @include m_dkt {
    margin: 0;
    position: absolute;
    right: rem(48);
    top: rem(20);
  }

  &._active {
    display: block;

    .__default_text {
      display: none;
    }

    .__active_text {
      display: inline;
    }
  }

  .__active_text {
    display: none;
  }
}

.hero-choose-dd {
  @include container;

  background-color: $colBlueChathams;
  display: none;
  min-height: rem(62);
  padding: 0;

  @include m_dkt {
    margin: rem(-62) auto 0;
    position: relative;
    max-width: rem($wrapWidth);
  }

  &._active {
    display: block;
  }

  .__world {
    @include m_dkt {
      display: flex;
    }

    + .__foot {
      border-top: rem(1) solid rgba($colGrayPampas, .22);
    }
  }

  .__world-col {
    background-repeat: no-repeat;
    padding: rem(20) 0;

    @include m_dkt {
      flex: 1 0 0;
      padding: rem(33) 0 rem(40) 0;
    }

    &._ap {
      background-image: url($pathImg + 'world-ap.svg');
      background-position: 150% bottom;
      background-size: auto rem(200);

      @include m_dkt {
        background-position: -15% 85%;
        background-size: 65% auto;
      }
    }

    &._eu {
      background-image: url($pathImg + 'world-eu.svg');
      background-position: right 90%;
      background-size: auto rem(180);

      @include m_dkt {
        background-position: right bottom;
        background-size: 66% auto;
      }
    }

    &._na {
      background-image: url($pathImg + 'world-na.svg');
      background-position: right 90%;
      background-size: auto rem(226);

      @include m_dkt {
        background-position: 105% -10%;
        background-size: 52% auto;
      }
    }

    + .__world-col {
      border-top: rem(1) solid rgba($colGrayPampas, .22);

      @include m_dkt {
        border-left: rem(1) solid rgba($colGrayPampas, .22);
        border-top: 0;
      }
    }
  }

  .__world-col-title {
    @include Amplitude;

    color: $colGrayCloudy2;
    font-size: rem(16);
    line-height: rem(32);
    margin: 0 0 rem(9);
    padding: 0 rem(20);

    @include m_dkt {
      padding: 0 rem(30) 0 rem(68);
    }
  }

  .__world-col-city {
    @include Amplitude;

    color: $colWhite;
    display: block;
    font-size: rem(16);
    line-height: rem(20);
    padding: rem(10) rem(20);
    text-decoration: none;

    @include m_dkt {
      padding: rem(10) rem(30) rem(10) rem(68);
    }

    &:hover,
    &._selected {
      background-color: rgba($colGrayPampas, .22);
    }

    + .__world-col-title {
      margin: rem(40) 0 0;
    }
  }

  .__foot {
    padding: rem(20);

    @include m_dkt {
      padding: rem(22) rem(500) rem(26) rem(30);
      position: relative;
    }

    p {
      color: $colGrayCloudy2;
    }
  }

  .__foot-search {
    display: flex;
    margin: rem(15) 0 0;

    @include m_dkt {
      display: block;
      margin: 0;
      position: absolute;
      right: rem(30);
      top: rem(32);
    }
  }

  .__foot-search-input {
    @include Amplitude;

    background-color: $colWhite;
    border: 0;
    color: $colDarkOil;
    flex: 1 1 0;
    font-size: rem(16);
    height: rem(50);
    min-width: rem(10);
    padding: rem(8) rem(11);
    line-height: rem(32);

    @include m_dkt {
      float: left;
      padding: rem(13) rem(14) rem(13) rem(20);
      line-height: rem(24);
      width: rem(300);
    }

    &::placeholder {
      color: $colGrayCloudy2;
    }
  }

  .__foot-search-btn {
    @include AmplitudeBold;

    background-color: $colBlueSteel;
    color: $colWhite;
    cursor: pointer;
    display: block;
    flex: 0 0 rem(100);
    font-size: rem(16);
    height: rem(50);
    line-height: rem(50);
    margin: 0 0 0 rem(10);
    text-align: center;
    text-decoration: none;
    width: rem(100);

    &:hover {
      background-color: $colBlueSanmarino;
    }

    @include m_dkt {
      float: left;
      margin: 0 0 0 rem(20);
      width: rem(120);
    }
  }
}
