.signup {
  background-color: $colGrayPampas;
  padding: rem(30) rem(20);

  @include m_dkt {
    padding: rem(68) rem(30) rem(78);
  }
}

.signup-form {
  @include m_dkt {
    margin: 0 auto;
    max-width: rem(480);
  }

  h3 {
    columns: $colBlack;
    margin: 0 0 rem(14);
    text-align: center;

    @include m_dkt {
      margin: 0 0 rem(26);
    }
  }

  p {
    border-bottom: rem(1) solid rgba($colGrayNatural, .5);
    border-top: rem(1) solid rgba($colGrayNatural, .5);
    margin: 0 0 rem(14);
    padding: rem(13) 0 rem(17);
    text-align: center;

    @include m_dkt {
      margin: 0 0 rem(32);
    }
  }
}

.signup-form-input {
  @include Amplitude;

  background-color: $colWhite;
  border: 0;
  color: $colDarkOil;
  display: block;
  font-size: rem(16);
  height: rem(50);
  line-height: rem(30);
  margin: 0 0 rem(14);
  padding: rem(10) rem(11);
  text-align: center;
  width: 100%;

  @include m_dkt {
    margin: 0 0 rem(28);
    padding: rem(10) rem(20);
    text-align: left;
  }
}

.signup-form-submit {
  @include AmplitudeBold;

  background-color: $colBlueSteel;
  color: $colWhite;
  display: block;
  font-size: rem(16);
  height: rem(50);
  line-height: rem(50);
  margin: 0 auto;
  max-width: rem(320);
  padding: 0 rem(20);
  text-align: center;
  text-decoration: none;

  &:hover {
    background-color: $colBlueSanmarino;
  }
}
