
.fr-booking select, .fr-profile select {
  & ~ .btn-group-selectbox .list-options li:first-child {
    display: none;
  }
  &[multiple] ~ .btn-group-selectbox .list-options li:first-child {
    display: block;
  }
  &.showDefaultVal ~ .btn-group-selectbox .list-options li:first-child {
    display: block;
  }
}
select.error ~ .btn-group-selectbox .form-control {
  border-color: @redFlashTheme !important;
}
.btn-group-selectbox ~ label.error {
  top: 0px;
}
span.hide-native-select {
  position: relative
}
span.hide-native-select select {
  border: 0!important;
  clip: rect(0 0 0 0)!important;
  height: 1px!important;
  margin: -1px -1px -1px -3px!important;
  overflow: hidden!important;
  padding: 0!important;
  position: absolute!important;
  width: 1px!important;
  left: 50%;
  top: 30px
}
.multiselect-container {
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0
}
.multiselect-container .input-group {
  margin: 5px
}
.multiselect-container>li {
  padding: 0
}
.multiselect-container>li>a.multiselect-all label {
  font-weight: 700
}
.multiselect-container>li.multiselect-group label {
  margin: 0;
  padding: 3px 20px 3px 20px;
  height: 100%;
  font-weight: 700
}
.multiselect-container>li.multiselect-group-clickable label {
  cursor: pointer
}
.multiselect-container>li>a {
  padding: 0
}
.multiselect-container>li>a>label {
  margin: 0;
  height: 100%;
  cursor: pointer;
  font-weight: 400;
  padding: 3px 20px 3px 40px
}
.multiselect-container>li>a>label.radio,
.multiselect-container>li>a>label.checkbox {
  margin: 0
}
.multiselect-container>li>a>label>input[type=checkbox] {
  margin-bottom: 5px
}
.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px
}
.form-inline .multiselect-container label.checkbox,
.form-inline .multiselect-container label.radio {
  padding: 3px 20px 3px 40px
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox],
.form-inline .multiselect-container li a label.radio input[type=radio] {
  margin-left: -20px;
  margin-right: 0
}
.select-group{
  position: relative;
}
.multiselect-dropdown{
  position: absolute!important;
  top: 100%;
  left: 0;
  z-index: 100;
  display: none;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  width: 100%;
  margin: 0px;
}
.multiselect-dropdown-container{
  max-height: 300px;
  margin: 0px 0px 0px 0px;
}
.open .multiselect-dropdown{
  display: block;
  border-top: none;
}
.list-options{
  margin: 0px;
  text-align: left;
}
.list-options li{
  padding-left: 0px;
  margin-bottom: 2px;
  .transition(background 0.1s);
}
.list-options li:hover{
  background: @blueFlashTheme;
  color: @white;
}
.list-options li.active{
  background: @blueFlashTheme;
  color: @white;
  label {
    color: @white;
  }
}
[multiple="multiple"] ~ .btn-group-selectbox .list-options li.active{
  background: @white;
  color: @grayText;
  label {
    color: @grayText;
  }
}
.list-options li:hover label {
  color: @white;
}
.list-options li label{
  // font-family: @fontProximaNova;
  font-weight: bold;
  color: @grayText;
  padding-top: 5px;
  padding-bottom: 5px;
}
.list-options label.checkbox, .list-options label.radio {
  padding-left: 15px;
  margin: 0;
}
.list-options label.radio{
  margin: 0;
}
.list-options label.radio input[type=radio]{
  visibility: hidden;
}
.list-options label.checkbox:before{
  content: '';
  background-image: url('../images/checkbox-flashtheme-1.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: -5px;
  position: relative;
  display: inline-block;
  left: 0;
  .transition(all 0.3s);
}
.list-options .active label.checkbox:before{
  background-image: url('../images/checkbox-active-flashtheme.png');
}

.btn-group-selectbox, .btn-group-selectbox button.btn-selectbox{
  width: 100%;
  box-shadow: none!important;
}
.btn-group-selectbox button.btn-selectbox{
  padding-left: 15px;
}
@media screen and (max-width: 991px) {
  .btn-group-selectbox button.btn-selectbox{
    height: 34px;
  }
}
.btn-selectbox{
  padding-left: 15px;
  padding-right: 34px;
  background: none;
  text-align: left;
}
.has-icon .btn-selectbox{
  padding-left: 34px;
  padding-right: 34px;
}
.has-icon .input-group-before{
  position: absolute;
  z-index: 8;
  top: 0;
  bottom: 0;
  width: 34px;
  text-align: center;
  cursor: pointer;
  left: 0px;
}
.input-group-before .icon-user{
  margin-top: 9px;
}
.btn-selectbox span.multiselect-selected-text{
  overflow: hidden;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  font-family: inherit;
}
.btn-selectbox span.icon-arrow-black{
  position: absolute;
  z-index: 8;
  margin-top: 0 !important;
  top: 13px;
  bottom: 0;
  right: 13px;
}
.filter-search{
  width: 100%;
  margin-bottom: 5px;
  padding: 0px 5px;
}
input.multiselect-search{
  border-radius: 2px!important;
  padding-right: 40px;
}
.btn-add-filter{
  position: absolute;
  right: 5px;
  top: 0;
  height: 100%;
  padding: 0px 10px;
  background: #c83136;
  border: none;
  color: #fff;
  border-radius: 4px;
  z-index: 100;
}

/*!
 * ParamQuery Select v1.3.2
 *
 * Copyright (c) 2015-2016 Paramvir Dhindsa (http://paramquery.com)
 * Released under GNU General Public License v3
 * http://paramquery.com/license
 *
 */
.pq-select-optgroup{
  font-weight:bold;
  margin:0px 3px;
}
div.pq-select-button{
  display:block;
  min-height: 16px;
  min-width: 50px;
  line-height: 20px;
  text-align: left;
  padding: 1px 30px 1px 15px;
  cursor: pointer;
  position:relative;
  box-sizing: border-box;
  width: 100%!important;
  height: 34px;
  /*box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.1);*/
}
.pq-select-button > .pq-icon{
  float:right;
}
.pq-select-single .pq-select-text,.pq-select-single .pq-select-item-text{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space:nowrap;
}
.pq-select-single .pq-select-item-text{
  /*display:inline-block;*/
}
.pq-select-popup-cont{
  position:absolute;
  z-index:100;
  overflow: visible;
  display:none;
  box-sizing: border-box;
  outline:none;
}
.pq-select-popup{
  padding: 1px;
  overflow:visible;
  /*box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.1);*/
  outline:none;
  border-top: none;
}
.pq-select-shadow-fix{
  height:8px;
  width:120%;
  margin-left:-10%;
  position: absolute;
}
.pq-select-popup *{
  outline: none;
}
.pq-select-all{
  position: relative;
  margin-bottom: 1px;
  display:block;
  cursor: pointer;
}
.pq-select-all > .ui-icon-close{
  float:right;
}
.pq-select-search-div{
  position:relative;
  padding-left:2px;
  border:1px solid #ccc;
  margin: 5px 15px;
}
.pq-select-search-div1{
  overflow:hidden;
}
.pq-select-search-input{
  padding: 1px 2px;
  border-width:0px;
  box-sizing: border-box;
  width: 100%;
}
.pq-select-search-div > .ui-icon{
  float:right;
}
.pq-select-search-highlight{
  text-decoration:underline;margin:0;padding:0;
}
.pq-select-menu{
  max-height:240px;
  overflow:auto;
  position: relative;
  -webkit-overflow-scrolling:touch;
}
div.pq-select-menu > .pq-select-option-label{
  display:block;
  min-height: 18px;
  /*border:1px solid transparent;*/
  position: relative;
}
.pq-select-option-label > span{
  margin-left: 2px;
  padding:2px 0px;
  color: #333;
}
.pq-select-search-div .glyphicon{
  margin: 2px;
}
.pq-select-option-label > span.pq-left-group{
  margin-left: 13px;
}
.pq-select-option-label > input, .pq-select-all > input{
  position:relative;
  top:1px;
  margin:2px 2px 0px 2px;
}
.pq-select-search-input{
  padding: 1px 2px;
  border-width:0px;
}
.pq-select-text > .pq-select-item{
  padding:2px 0px 2px 0px;
  margin: 1px;
  line-height: 16px;
  display:inline-block;
  font-size: 100%;
  font-weight: normal;
  background: none;
  color: #333;
}
.pq-select-item > .ui-icon-close{
  float: right;
}
.pq-select-popup label.pq-state-hover{
  /*border:1px dotted @blueFlashTheme;*/
}
.pq-select-popup label{
  font-weight: normal;
  margin-bottom: 0;
  text-align: left;
  padding:4px 0;
  vertical-align: middle;
  font-size:inherit;
  white-space:normal;
  line-height: 1.5;
}

.pq-item-close{
  margin-right: 3px;
  vertical-align: -1px;
}
.pq-select-text > .pq-select-item{
  display: inline;
  padding: 2px 0px;
}
.pq-select-text {
  margin-top: 4px;
}
.pq-state-hover{
  background: #F4F4F4;
}
.pq-state-hover span{
  color: #cb4f53;
}
.list-options label.checkbox.pq-state-select:before {
  background-position: -105px -180px;
}
.pq-select-item .pq-item-close{
  display: none;
}
.pq-select-item:after{
  content: ',';
}
.pq-select-item:last-child:after{
  content: '';
}
.btn-selectbox:after{
  content: '';
  display: table;
  background-image: @sprites;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 13px;
  height: 7px;
  background-position: 0px -240px;
  display: inline-block;
  position: absolute;
  z-index: 8;
  margin-top: 0 !important;
  top: 13px;
  bottom: 0;
  right: 13px;
}
.icon-search{
  position: absolute;
  right: 2px;
  top: 2px;
}

/* remove by LocTran */

/* .list-options label.radio:first-child{
  display: none;
} */