
@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'icomoon';
    src:    url('../fonts/icomoon.eot?ymnhi1');
    src:    url('../fonts/icomoon.eot?ymnhi1#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?ymnhi1') format('truetype'),
        url('../fonts/icomoon.woff?ymnhi1') format('woff'),
        url('../fonts/icomoon.svg?ymnhi1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Flash-theme
@font-face {
  font-family: 'renewIcomoon';
  src:  url('../fonts/renewIcomoon.eot?vrr028');
  src:  url('../fonts/renewIcomoon.eot?vrr028#iefix') format('embedded-opentype'),
    url('../fonts/renewIcomoon.ttf?vrr028') format('truetype'),
    url('../fonts/renewIcomoon.woff?vrr028') format('woff'),
    url('../fonts/renewIcomoon.svg?vrr028#newIcomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face { 
    font-family: 'ProximaNova_Regular'; 
    src: url('../fonts/ProximaNova/PN_Regular.eot'); 
    src: local('☺'), url('../fonts/ProximaNova/PN_Regular.woff') format('woff'), 
         url('../fonts/ProximaNova/PN_Regular.ttf') format('truetype'), 
         url('../fonts/ProximaNova/PN_Regular.svg') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'ProximaNova_Light'; 
    src: url('../fonts/ProximaNova/PN_Light.eot'); 
    src: local('☺'), url('../fonts/ProximaNova/PN_Light.woff') format('woff'),
         url('../fonts/ProximaNova/PN_Light.ttf') format('truetype'),
         url('../fonts/ProximaNova/PN_Light.svg') format('svg'); 
    font-weight: normal; 
    font-style: normal; 
}
@font-face { 
    font-family: 'Georgia'; 
    src: url('../fonts/Georgia/Georgia.eot'); 
    src: local('☺'), url('../fonts/Georgia/Georgia.woff') format('woff'),
         url('../fonts/Georgia/Georgia.ttf') format('truetype'), 
         url('../fonts/Georgia/Georgia.svg') format('svg'), 
         url('../fonts/Georgia/Georgia.otf') format('otf'); 
    font-weight: normal; 
    font-style: normal; 
}
