
.header {
	@button-width: 42px;                    // The width of the button area
	@button-height: 42px;                   // The height of the button area
	@bar-thickness: 3px;                    // The thickness of the button bars
	@button-pad: 9px;                      // The left/right padding between button area and bars.
	@button-bar-space: 4px;                // The spacing between button bars
	@button-transistion-duration: 0.3s;     // The transition duration
	.sprites.icon-arrow-black {
		position: absolute;
		top: 5px; right: 0;
		padding: 5px 0 0 0;
		text-align: center;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		background: none;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		&::before {
			display: inline-block;
			content: "\f105";
		}
	}
	.wrap-btn-nav {
		text-align: right;
		background-color: @blueFlashThemeOpacity;
		padding: 8px 15px 8px 0;
		line-height: 1em;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		///* Ticket AD-900 */
		// position: absolute;
		// left: 0;
		// right: 0;
		// bottom: -53px;
		// z-index: 1;
		// &.add-fixed {
		// 	position: fixed;
		// 	top: 0;
		// 	left: 0;
		// 	right: 0;
		// 	z-index: 110;
		// 	bottom: unset; /* Ticket AD-900 */
		//}
	}
	.btn-nav {
		display: inline-block;
		position: relative;
		overflow: hidden;
		margin: 0;
		padding: 0;
		width: 44px;
		height: 34px;
		background-color: transparent;
		font-size: 0;
		text-indent: -9999px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		box-shadow: none;
		border-radius: 5px;
		// border: 1px solid @white;
		cursor: pointer;
		.transition(all @button-transistion-duration);
		&.active {
			// background-color: #fff; /* #ddd; */
			span {
				background-color: #888; 
				&:before, &:after {
					 background-color: #888; 
					transition-delay: 0s, @button-transistion-duration;
				}
			}
		}
		span {
			display: block;
			position: absolute;
			top: 15px;
			left: @button-pad;
			right: @button-pad;
			height: 2px;
			background: @grayFlashTheme;
			.transition(background 0s @button-transistion-duration);
			&:before, &:after {
				position: absolute;
				display: block;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: @grayFlashTheme;
				content: "";
				transition-duration: @button-transistion-duration, @button-transistion-duration;
				transition-delay: @button-transistion-duration, 0s;
			}
			&:before {
				top: -@bar-thickness - @button-bar-space;
				transition-property: top, transform;
			}
			&:after {
				bottom: -@bar-thickness - @button-bar-space;
				transition-property: bottom, transform;
			}
		}
	}
	.btn-icon-search {		
		display: block;
		position: absolute;
		top: 15px; right: 15px;
		z-index: 106;
		overflow: hidden;
		margin: 0;
		padding: 10px;
		width: @button-width;
		height: @button-height;
	}
	.btn-close-window{
		display: block;
		text-align: right;
		color: #337ab7;
		text-transform: none;
		text-decoration: none;
		font-weight: bold;
		&:hover{
			color: #23527c;
			text-decoration: underline;
		}
	}
	.logo-aspire {
		/* Giang : bring .logo-aspire outside .top-nav
		   - PC 	 	: .header > .top-nav > .logo-aspire;       //this one is hidden in mobile
		   - Mobile : .header > .wrap-btn-nav > .logo-aspire   //this one is hidden in PC */
		float: left;
		width: 128px;
		height: 50px;
		.logo-header{
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}
		span{
			display: block;
			font-size: 18px;
		}
	}
	.top-nav {
		color: #99A1A8;
		.info-location {
			.wrap-breaking-news {
				font-family: @fontGeorgia;
				display: inline-block;
				vertical-align: middle;
				margin: 5px 0 0 0;
				text-align: right;
			}
		}
	}
	.box-sign {
		display: none;
		font-size: 11px;
		text-transform: uppercase;
		a {
			float:left;
			text-align: center;
			padding: 19px 25px;
			height: 82px;
			&:hover, &:active, &.active {
				background-color: @redFlashTheme;
			}
		}
		span {
			display: block;
		}				
	}
	.menu-profile {
		position: relative;
		display: inline-block; /* Giang : removed text-align:center because it is useless */
		margin: 0 0 -10px 20px;
		padding: 0 0 10px 0;
		bottom: -12px;
		figure {
			width: 50px;
			height: 50px;
			float:left;
			display: none;		
		}
		.info-user {
			float: left;
			margin-left: 15px;
			.clearfix;
			span {
				font-family: @fontGeorgia;
				&.full-name {
					max-width: 120px;  /* Giang : set max-width:120px to match Ticket AD-917 in mobile */
					overflow: hidden;
					white-space: nowrap;
					text-overflow: ellipsis;
					display: inline-block;
				}
			}
			.btn-location, .icon-caret-down {
				display: none;
			}
			.sprites {
				margin-bottom: 5px;
			}
			/* Giang : removed .btn-location { display: none; } because it is set above */
		}
		.sub-list {
			display: none;
			position: absolute;
			list-style: none;
			padding: 0;
			margin-top: -5px;
			top: 100%;
			left: 50%;
			background-color: @grayFlashTheme;
			.translate(-50%, 0);
			min-width: 160px;
			z-index: 142;
			&::after {
				content: "";
				width: 0;
				height: 0;
				position: absolute;
				top: -8px;
				left: 50%;
				transform: translateX(-50%);
				border-style: solid;
				border-width: 0 7px 8px 7px;
				border-color: transparent transparent #99A1A8 transparent;
			}
			> li {
				> a {
					color: @white;
					padding: 10px;
					// font-family: @fontProximaNova;
					font-weight: bold;
					text-decoration: none;
					display: block;
					.transition(all 0.3s);
					&:hover, &:active {
						background-color: @redFlashTheme;
					}
				}
			}
		}
		&:hover .sub-list {
			display: block;
		}
	}
}

@media (min-width: 768px) {
	.wrap-btn-nav {
		display: none;
	}
	.header {
		position: relative;
		.btn-nav {
			display: none;
		}
		.top-nav {
			padding: 16px 0;
			background-color: @white;
			.clearfix;
			.btn-icon-search {
				display: none;
			}
			.info-location {
				float: right;
				position: relative;
				white-space: nowrap;
				.btn-location {
					padding: 10px 0 5px;
					cursor: pointer;
					color: @redFlashTheme;
					margin-left: 15px;
					.sprites {
						margin-left: 5px;
					}
				}
			}
		}
		.aspire-nav {
			background-color: @blueFlashThemeOpacity;
			color: @white;
			position: absolute;
			left: 0; 
			right: 0;
			z-index: 140;
			text-align: center;
			.clearfix;
			.container {
				position: relative;
			}
			&.add-fixed {
				position: fixed;
				top: 0;left: 0;right: 0;
			}
			ul {
				margin: 0;
				padding: 0;
				li {
					list-style: none;
				}
			}
			.box-search {
				float: right;
				width: 265px;
				font-size: 16px;
				position: relative;
				margin: 20px 0px 0px 40px;
				.txt-search {
					border: 0px;
					border-bottom: 1px solid @grayLight;
					padding: 0px 25px 0px 0px;
					color: @white;
				}
				.btn-transparent {
					position: absolute;
					z-index: 106;
					top: 0;right: 0;
					background-color: transparent;
					width: 30px; height: 34px;
					padding: 0px;
					text-align: right;
				}
				.btn-reset {
					display: none;
				}
			}
			.sub-list {
				position: absolute;
				z-index: 101;
				color: @black;
				display: block;
				.scale(1,0);
				.transform-origin(top);
				.transition(all 0.3s);
				&.active {
					.scale(1,1);
				}
			}
			.menu-aspire {
				display: inline-block;
				&.left {
					float: left;
				}
				&.right {
					float: right;
					> li {
						> .sub-list {
							left: auto;
							right: 0;
							> li .sub-list {
								left: -100%;
								.transform-origin(right);
								&.left {
									left: 100%;
									.transform-origin(left);
								}
								&.right {
									left: -100%;
									.transform-origin(right);
								}
							}
						}
					}
				}
				> li {
					float: left;
					margin-left: 2px;
					position: relative;
					> a {
						height: 80px;
						font-size: 14px;
						padding: 30px 14px;
						display: inline-block;
						text-transform: uppercase;
						text-align: center;
						letter-spacing: 1px;
						&:hover, &:active {
							background-color: @redFlashTheme;
						}
						> .menu-icon {
							/* display: none; */
							min-height: 35px;
						}
						> span {
							display: block;
						}
						> .icon-arrow-black {
							display: none;
						}
					}
					&.active, &.hover {
						> a {
							background-color: @redFlashTheme;
						}
					}
					>.sub-list {
						left: 0;
						> li {
							.sub-list {
								top: 0;
								left: 100%;
								.scale(0,1);
								.transform-origin(left);
								&.active {
									.scale(1,1);
								}
								&.left {
									left: 100%;
									.transform-origin(left);
								}
								&.right {
									left: -100%;
									.transform-origin(right);
								}
							}
						}
					}
					.sub-list {
						width: 270px;    
						background-color: @blueFlashTheme;
						text-align: left;
						&.module-help {
							background-color: @white;
						}
						li {
							position: relative;
							padding: 0;
							.transition(all 0.3s);
							&:hover, &.active {
								&:not(.legend) {
									background-color: @redFlashTheme;
								}
							}
							&.legend {
								padding: 0 15px;
								margin-top: 7px;
								margin-bottom: 3px;
								/* font-family: @fontProximaNovaLight; */
								font-family: inherit;
								font-weight: bold;
								text-transform: uppercase;
								&:first-child {
									padding-top: 10px;
									margin-top: 0;
								}
							}
							a {
								display: block;
								padding: 10px;
								font-size: 14px;
								color: @white;
								/* font-family: @fontProximaNovaLight; */
								font-family: inherit;
								text-transform: uppercase;
								letter-spacing: 1px;
							}
							.glyphicon{
								&.glyphicon-menu-right {
									font-size: 12px;
									color: @white;
								}
							}
						}
					}
				}
				.navbar-form {
					border-color: #e7e7e7;
					.form-group {
						margin: 10px 0;
					}
					.form-control {
						display: inline-block;
						vertical-align: middle;
						width: 100%;
						font-family: @fontProximaNovaLight;
						letter-spacing: 1px;
						float: left;
						border: 1px solid #011627;
						color: #757575;
						padding: 10px 20px;
						font-size: 16px;
						border-radius: 4px;
					}
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.box-location {
		max-width: 210px;
		border-radius: 4px;
		border-top: 5px solid @redFlashTheme;
		position: absolute;
		z-index: 150;
		top: 95px;
		right: 16px;
		display: block;
		.scale(1,0);
		.transform-origin(top);
		.transition(all 0.3s);
		height: 0;
		&:after {
			border-bottom: 9px solid @redFlashTheme;
			border-left: 9px solid transparent;
			border-right: 9px solid transparent;
			content: "";
			display: inline-block;
			left: 50%;
			margin-left: -7px;
			position: absolute;
			top: -13px;
		}
		&.active {
			.scale(1,1);
			height: auto;
		}
		.btn-red {
			display: block;
			background-color: @redFlashTheme;
			width: 100% !important;
		}
		.location-name {
			// font-family: @fontProximaNova;
			font-weight: bold;
			position: relative;
			.country-name {
				display: block;
			}
			.icon-location {
				position: absolute;
				top: 50%; right: 3px;
				margin-top: -8px;
				.scale(1.2,1.2);
			}
		}
		.inner {
			padding: 20px;
		}
		.location-select-box {
			.form-group {
				width: 100%;
				margin-bottom: 0;
				&:last-child {
					margin-left: 0;
					margin-bottom: 15px;
				}
			}
		}
	}
	.lt-overlay {
		background-color: transparent;
		opacity: 0;
	}
}
@media (min-width: 768px) and (max-width: 1199px) {
	.header {
		.aspire-nav {
			.menu-aspire {
				> li {
					> a {
						padding: 15px 10px;
					}
					> .sub-list {
						> li {
							> .sub-list {
								left: -101%;
								.transform-origin(right);
							}
						}
					}
				}
			}		
			.box-search {
				margin-left: 0px;
				margin-top: 30px;
				position: absolute;
				z-index: 106;
				top: 0;right: 20px;
				width: auto;
				.txt-search {
					display: none;
				}
			}
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.box-location {
		width: 365px;
		position: fixed;
		z-index: 150;
		top: -350px;
		left: 50%;
		margin-left: -182px;
		display: block;
		text-align: center;
		height: 0;
		&.active {
			top: 45%;
			margin-top: -150px;
			height: auto;
			.transition(all 0.3s);
		}
		.btn-close-location {
			display: block;
		}
		.btn-back {
			display: none;
		}
		.btn-red {
			display: block;
			background-color: @redFlashTheme;
			width: 150px;
		}
		.location-name {
			/* font-family: @fontProximaNova;  */
			font-weight: bold;
			margin: 10px 0px;
			.sprites {
				margin-left: 5px;
			}
		}
		.inner {
			padding: 35px 25px;
		}
		.location-select-box {
			.form-group {
				width: 100%;
				margin-bottom: 0;
				margin-top: 20px;
				&:last-child {
					margin-left: 0;
					margin-bottom: 20px;
				}
			}
		}
		.form-control {
			height: 34px;
		}
	}
	.header {
		.menu-profile{
			padding: 6px 0px;
			.info-user {
				.btn-location {
					display: none;
				}
				span.full-name{
					font-size: 16px;
				}
			}
			.sub-list {
				display: none;
			}
		}
		.aspire-nav {
			.menu-aspire > li > a{
				padding-left: 5px;
				padding-right: 5px;
			}
			.box-sign{
				display: none;
				a{
					padding: 15px 25px;
					height: 63px;
				}
			}
			.box-search .btn-transparent {
				top: -12px;
				right: -10px;
				.sprites.icon-search {
					width: 28px;
					height: 27px;
					background-position: -466px -240px;
				}
			}
		}
	}
}
@media screen and (max-width: 767px) {
	.header {
		position: relative; /* Ticket AD-900 */
		.sprites.icon-arrow-black {
			padding: 0;
		}
		.top-nav {
			padding: 0;
			background-color: @white;
			text-align: center;
			.clearfix();
			.logo-aspire {
				display: inline-block;
				float: none;
				margin: 15px 0 10px;
				span{
					display: block;
				}
			}
			.btn-icon-search {
				position: absolute;
			}
			.info-location {
				position: relative;
				font-size: 16px;
				margin: 0 0 5px 0;
				.btn-close-window {
					text-align: center;
				}
			}
		}
		.box-sign {
			display: none;
			padding: 15px 0px;
			font-size: 12px;
			text-transform: uppercase;
			background-color: @whiteDark;
			.clearfix;
			a {
				float:left;
				text-align: center;
				width: 50%;
			}
			span {
				display: block;
			}
			.icon-sign-up-white, .icon-sign-up {
				display: inline-block;
				width: 21px; height: 21px;
				background-position: -80px -340px;
			}
			.icon-sign-in-white, .icon-sign-in {
				display: inline-block;
				width: 17px; height: 22px;
				background-position: -60px -340px;
				
			}
		}
		.menu-profile {
			display: block;
			font-size: 16px;
			background-color: transparent;
			margin: 0;
			bottom: 0;
			max-height: 50px;
			// overflow: hidden;
			> a {
				.clearfix;
				padding: 0;
				display: block;
			}
			figure {
				width: 50px;
				height: 50px;
				float:left;				
			}
			.info-user {
				margin-left: 0;
				width: 100%;
				text-align: center;
				.icon-caret-down {
					display: none;
				}
				.btn-location {
					display: none;
					cursor: pointer;
					font-size: 14px;
					color: @redFlashTheme;
					padding: 3px 0px;
					.sprites {
						margin-left: 10px;
					}
				}
			}
			.sub-list {
				display: none;
				.clearfix;
				> li {
					// float: left;
					// width: auto;
					display: table-cell;
					> a {
						color: @black;
						padding: 10px;
						text-transform: uppercase;
						display: block;
						font-size: 12px;
						text-align: center;
						border: 1px solid #ececec;
						&:hover, &:active {
							color: @black;
						}
					}
				}
			}
		}
		.aspire-nav {
			position: fixed;
			left: 0;
			right: 0;
			z-index: 110;
			/* Giang : Ticket AD-900 */
			margin-top: 53px;
			max-height: 0;
			overflow: auto;
			color: @white;
			background-color: @blueFlashTheme;
			border-top: 1px solid @grayFlashTheme;
			.scale(1,0);
			.transform-origin(top);
			.transition(all 0.3s);
			&.add-fixed {
				position: fixed;
				/* Giang : Ticket AD-900 */
				top: 0;
				left: 0;
				right: 0;
			}
			&.active {
				/* Giang : Ticket AD-900 */
				max-height: 100vh;
				.scale(1,1);
			}
			.container {
				padding-left: 0;
				padding-right: 0;
			}
			ul {
				margin: 0;
				padding: 0;
				li {
					list-style: none;
					.icon-arrow-black {
						&::before {
							margin: 5px 10px 0 0;
						}
					}
					&.hover {
						> a {
							> .icon-arrow-black::before {
								.rotate(90deg);
							}
						}
					}
				}
			}
			.menu-aspire {
				padding: 0;
				&.left, &.right{
					float: none;
					.icon-sign-in-white, .icon-sign-in {
						display: inline-block;
						width: 17px;
						height: 22px;
						background-position: -60px -340px;
					}
					.icon-sign-up-white, .icon-sign-up {
						display: inline-block;
						width: 21px;
						height: 21px;
						background-position: -80px -340px;
					}
				}
				> li {
					margin-bottom: 2px;
					position: relative;
					> a {
						padding: 10px 20px;
						display: block;
						text-transform: uppercase;
						text-align: left;
						font-size: 13px;
						letter-spacing: 2px;
						font-weight: bold;
						> .menu-icon {
							display: none;
							width: 60px;
							text-align: center;
						}
						> span {
							display: inline-block;
							vertical-align: middle;
						}
					}
					&.active, &.hover {
						background-color: @redFlashTheme;
						> a {
							color: @white;

						}
					}
					.sub-list {
						font-size: 14px;
						text-transform: uppercase;
						display: block;
						letter-spacing: 2px;
						font-weight: bold;
						// .scale(1,0);
						// .transform-origin(top);
						// .transition(all 0.3s);
						// height: 0;
						overflow-x: hidden;
						overflow-y: auto;
						&.active {
							// .scale(1,1);
							// height: auto;
						}
						li {
							padding: 0 0 0 10px;
							&.legend {
								padding: 0 15px;
								margin-top: 7px;
								margin-bottom: 3px;
								/* font-family: @fontProximaNova;  */
								font-family: inherit;
								font-weight: bold;
								text-transform: uppercase;
								&:first-child {
									padding-top: 10px;
									margin-top: 0;
								}
							}
							a {
								padding: 8px 20px;
								display: block;
							}
							&.active {
								background-color: @redFlashTheme;
								a {
									opacity: 1 !important;
								}
							}
						}
						&.contact-concierge{
							letter-spacing: normal;
						}
					}
					>.sub-list {
						> li {
							position: relative;
						}
					}
				}
				li > a.text-welcome {
					text-transform: initial;
				}
				.navbar-form {
					margin-left: 0;
					margin-right: 0;
					.form-control {
						border-radius: 4px;
					}
				}
			}
		}
		.box-location {
			position: fixed;
			z-index: 107;
			width: 90%;
			max-width: 320px;
			max-height: 100%;
			top: 0;
			background-color: @white;
			display: block;
			.scale(0,1);
			.transform-origin(left);
			.transition(all 0.3s);
			.btn-back {
				display: block;
			}
			&.active {
				.scale(1,1);
			}
			.btn-red{
				margin: 0;
				padding-top: 10px;
				padding-bottom: 10px;
			}
		}
		.box-search {
			padding: 10px 15px;
			position: fixed;
			z-index: 101;
			top: 73px; left: 0; right: 0; bottom: 0;
			background-color: @white;
			display: block;
			.scale(1,0);
			.transform-origin(top);
			.transition(all 0.3s);
			&.active {
				.scale(1,1);
			}
			form {
				position: relative;
				.btn-reset {
					display: block;
					position: absolute;
					z-index: 101;
					top: 0;right: 0;
					width: 24px; height: 34px;
					border: none;
					background-color: transparent;
					background-image: @sprites;
					background-repeat: no-repeat;
					background-position: -336px -71px;
					text-indent: -9999px;
					overflow: hidden;
					cursor: pointer;
					&:focus {
						border: none;
						outline: none;
					}
				}
			}
			.txt-search {
				height: 34px;
				border: 0px;
				border-bottom: 1px solid @gray;
				padding: 0px 30px 0px 0px;
				color: @black;
			}
			.btn-transparent {
				visibility: hidden;
				position: absolute;
			}

		}
	}
}

// Footer
#footer{
	padding: 0 0 45px 0;
	margin: 20px 0 0 0;
	overflow: hidden;
	.footer-menu{
		border-top: 1px solid #F2F2F2;
		font-weight: 700;
		margin: 0 0 35px 0;
		.life-style {
			float: right;
		}
		li {
			line-height: 20px;
		}
		span[class*= col-] {
			padding: 0;
		}
		.nav > li{
			&:first-child a{
				padding-left: 0px;
			}
			&:last-child a{
				padding-right: 0px;
			}
			> a{
				padding: 0px 7px;
			}
			&.active a{
				color: @redFlashTheme;
			}
		}
		.navbar-right{
			margin-right: 0px;
		}
	}
	.footer-bottom{
		p{
			margin-bottom: 5px;
		}
	}
	.footer-list-child{
		display: block;
		margin: 0;
		width: 100%;
		text-align: left;
		li{
			display: inline-block;
			vertical-align: middle;
			a{
				font-weight: normal;
				text-transform: uppercase;
				color: #011627;
				padding: 15px 30px;
				display: inline-block;
				&:hover, &:active {
					text-decoration: underline;
				}
			}
		}
		&.font-bold li a {
			font-weight: bold;
		}
	}
	.copyright-text {
		float: left;
		font-size: 14px;
		color: #99A1A8;
		line-height: 22px;
		a {
			text-decoration: underline;
		}
	}
	.social {
		float: right;
		list-style: none;
		.clearfix();
		li {
			float: left;
			a {
				float: left;
				margin: 0 5px;
				&:hover {
					.fa {
						color: @redFlashTheme;
					}
				}
				.fa {
					font-size: 30px;
					color: @blueFlashTheme;
					.transition(all 0.3s);
				}
			}
		}
	}
}

@media screen and (max-width: 1199px) {
	.footer-menu{
		.nav{
			text-align: center;
			float: none;
			width: 100%;
			> li{
				display: inline-block;
				float: none;
			}
		}
	}
}
@media screen and (max-width: 767px) {
	#footer {
		padding: 0 0 30px 0;
		.footer-menu {
			.list-unstyled {
				display: block;
				font-size: 0;
				li {
					display: inline-block;
					width: 33.3333%;
					vertical-align: top;
					font-size: 14px;
					a {
						padding: 10px;
					}
				}
			}
		}
	}
}
