
[class^="ico-"], [class*=" ico-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ico-email_concierge:before {
  content: "\e95f";
}
.ico-arrow-down:before {
    content: "\e94e";
}
.ico-arrow-left:before {
    content: "\e94f";
}
.ico-arrow-right:before {
    content: "\e950";
}
.ico-arrow-up:before {
    content: "\e951";
}
.ico-book:before {
    content: "\e952";
}
.ico-btn_close_1:before {
    content: "\e953";
}
.ico-btn_close_2:before {
    content: "\e954";
}
.ico-call_concierge:before {
    content: "\e955";
}
.ico-check:before {
    content: "\e956";
}
.ico-error2:before {
    content: "\e957";
}
.ico-featured:before {
    content: "\e958";
}
.ico-like:before {
    content: "\e959";
}
.ico-liked:before {
    content: "\e95a";
}
.ico-live_chat:before {
    content: "\e95b";
}
.ico-location_pin:before {
    content: "\e95c";
}
.ico-michelin_star:before {
    content: "\e95d";
}
.ico-private:before {
    content: "\e95e";
}
.ico-category:before {
    content: "\e900";
}
.ico-color:before {
    content: "\e901";
}
.ico-cuisine:before {
    content: "\e902";
}
.ico-currency:before {
    content: "\e903";
}
.ico-event_category:before {
    content: "\e904";
}
.ico-filters:before {
    content: "\e905";
}
.ico-gender:before {
    content: "\e906";
}
.ico-golf_access:before {
    content: "\e907";
}
.ico-grass_type:before {
    content: "\e908";
}
.ico-hidden_gem:before {
    content: "\e909";
}
.ico-hot:before {
    content: "\e90a";
}
.ico-hotel_type:before {
    content: "\e90b";
}
.ico-iconic:before {
    content: "\e90c";
}
.ico-language:before {
    content: "\e90d";
}
.ico-merchant:before {
    content: "\e90e";
}
.ico-michelin:before {
    content: "\e90f";
}
.ico-nightlife_type:before {
    content: "\e910";
}
.ico-occasion:before {
    content: "\e911";
}
.ico-price:before {
    content: "\e912";
}
.ico-rating_star:before {
    content: "\e913";
}
.ico-ratings:before {
    content: "\e914";
}
.ico-seasons:before {
    content: "\e915";
}
.ico-sort_by:before {
    content: "\e916";
}
.ico-still_hot:before {
    content: "\e917";
}
.ico-time:before {
    content: "\e918";
}
.ico-travel_activities:before {
    content: "\e919";
}
.ico-travel_category:before {
    content: "\e91a";
}
.ico-travel_party:before {
    content: "\e91b";
}
.ico-vip:before {
    content: "\e91c";
}
.ico-wellness_type:before {
    content: "\e91d";
}
.ico-airline:before {
    content: "\e91e";
}
.ico-airline_class:before {
    content: "\e91f";
}
.ico-bands:before {
    content: "\e920";
}
.ico-bed:before {
    content: "\e921";
}
.ico-brands:before {
    content: "\e922";
}
.ico-calendar:before {
    content: "\e923";
}
.ico-checkbox_bg:before {
    content: "\e924";
}
.ico-checkbox_checked:before {
    content: "\e925";
}
.ico-city:before {
    content: "\e926";
}
.ico-contact:before {
    content: "\e927";
}
.ico-credit_card:before {
    content: "\e928";
}
.ico-dining:before {
    content: "\e929";
}
.ico-email:before {
    content: "\e92a";
}
.ico-error:before {
    content: "\e92b";
}
.ico-event_name:before {
    content: "\e92c";
}
.ico-globe:before {
    content: "\e92d";
}
.ico-golf_course:before {
    content: "\e92e";
}
.ico-membership:before {
    content: "\e92f";
}
.ico-name:before {
    content: "\e930";
}
.ico-password:before {
    content: "\e931";
}
.ico-plays:before {
    content: "\e932";
}
.ico-rental_co:before {
    content: "\e933";
}
.ico-room_type:before {
    content: "\e934";
}
.ico-salutation:before {
    content: "\e935";
}
.ico-selection_summary:before {
    content: "\e936";
}
.ico-spa:before {
    content: "\e937";
}
.ico-state:before {
    content: "\e938";
}
.ico-transport_type:before {
    content: "\e939";
}
.ico-upload_photo:before {
    content: "\e93a";
}
.ico-vehicle_type:before {
    content: "\e93b";
}
.ico-menu:before {
    content: "\e93c";
}
.ico-search:before {
    content: "\e93d";
}
.ico-nav-concierge:before {
    content: "\e93e";
}
.ico-nav-experiences:before {
    content: "\e93f";
}
.ico-nav-gourmet:before {
    content: "\e940";
}
.ico-nav-lifestyle:before {
    content: "\e941";
}
.ico-nav-location:before {
    content: "\e942";
}
.ico-nav-travel:before {
    content: "\e943";
}
.ico-email2 .path1:before {
    content: "\e944";
    color: rgb(203, 79, 83);
}
.ico-email2 .path2:before {
    content: "\e945";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.ico-facebook:before {
    content: "\e946";
}
.ico-sms .path1:before {
    content: "\e947";
    color: rgb(61, 182, 0);
}
.ico-sms .path2:before {
    content: "\e948";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.ico-sms .path3:before {
    content: "\e949";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.ico-sms .path4:before {
    content: "\e94a";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}
.ico-twitter:before {
    content: "\e94b";
}
.ico-whatsapp .path1:before {
    content: "\e94c";
    color: rgb(37, 211, 102);
}
.ico-whatsapp .path2:before {
    content: "\e94d";
    margin-left: -1em;
    color: rgb(255, 255, 255);
}

