[class^="ico-new-"], [class*=" ico-new-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'renewIcomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ico-new-air-conditioning:before {
  content: "\e900";
}
.ico-new-airport-shuttle-hotel-transport:before {
  content: "\e901";
}
.ico-new-amenities-1:before {
  content: "\e902";
}
.ico-new-amenities-2:before {
  content: "\e903";
}
.ico-new-amenities-3:before {
  content: "\e904";
}
.ico-new-amenities-4:before {
  content: "\e905";
}
.ico-new-amenities-5:before {
  content: "\e906";
}
.ico-new-amenities-6:before {
  content: "\e907";
}
.ico-new-amenities-7:before {
  content: "\e908";
}
.ico-new-amenities-8:before {
  content: "\e909";
}
.ico-new-amenities-9:before {
  content: "\e90a";
}
.ico-new-amenities-10:before {
  content: "\e90b";
}
.ico-new-bar:before {
  content: "\e90c";
}
.ico-new-basketball:before {
  content: "\e90d";
}
.ico-new-beach:before {
  content: "\e90e";
}
.ico-new-bed-and-breakfast:before {
  content: "\e90f";
}
.ico-new-bike-rental:before {
  content: "\e910";
}
.ico-new-boutique-hotel:before {
  content: "\e911";
}
.ico-new-building:before {
  content: "\e912";
}
.ico-new-business-center:before {
  content: "\e913";
}
.ico-new-castle:before {
  content: "\e914";
}
.ico-new-chalet:before {
  content: "\e91d";
}
.ico-new-chateau:before {
  content: "\e91e";
}
.ico-new-childcare:before {
  content: "\e91f";
}
.ico-new-confetti:before {
  content: "\e920";
}
.ico-new-cooking-classes:before {
  content: "\e921";
}
.ico-new-dinner:before {
  content: "\e922";
}
.ico-new-dry-cleaning-laundry:before {
  content: "\e923";
}
.ico-new-fishing:before {
  content: "\e924";
}
.ico-new-fitness:before {
  content: "\e925";
}
.ico-new-game-room:before {
  content: "\e926";
}
.ico-new-golf:before {
  content: "\e927";
}
.ico-new-guest-house:before {
  content: "\e928";
}
.ico-new-half-rating-star:before {
  content: "\e929";
}
.ico-new-hidden-gem:before {
  content: "\e92a";
}
.ico-new-hiking:before {
  content: "\e92b";
}
.ico-new-home-location:before {
  content: "\e92c";
}
.ico-new-hostel:before {
  content: "\e92d";
}
.ico-new-hot-deal:before {
  content: "\e92e";
}
.ico-new-inn:before {
  content: "\e92f";
}
.ico-new-internet:before {
  content: "\e930";
}
.ico-new-jacuzzi:before {
  content: "\e931";
}
.ico-new-kids-club:before {
  content: "\e932";
}
.ico-new-lodge:before {
  content: "\e933";
}
.ico-new-meeting-conference-event-space:before {
  content: "\e934";
}
.ico-new-noodles:before {
  content: "\e935";
}
.ico-new-palace:before {
  content: "\e936";
}
.ico-new-parking:before {
  content: "\e937";
}
.ico-new-pets-allowed:before {
  content: "\e938";
}
.ico-new-price-tag:before {
  content: "\e939";
}
.ico-new-price-tag-1:before {
  content: "\e93a";
}
.ico-new-price-tag-2:before {
  content: "\e93b";
}
.ico-new-private-home:before {
  content: "\e93c";
}
.ico-new-private-island:before {
  content: "\e93d";
}
.ico-new-ranch:before {
  content: "\e93e";
}
.ico-new-rating-star:before {
  content: "\e93f";
}
.ico-new-rental-car-agency:before {
  content: "\e940";
}
.ico-new-resort:before {
  content: "\e941";
}
.ico-new-restaurant:before {
  content: "\e942";
}
.ico-new-room-service:before {
  content: "\e943";
}
.ico-new-scuba-dive-snorkel:before {
  content: "\e944";
}
.ico-new-service-apartment:before {
  content: "\e945";
}
.ico-new-shopping-bag:before {
  content: "\e946";
}
.ico-new-skiing:before {
  content: "\e947";
}
.ico-new-smoke-free-facility:before {
  content: "\e948";
}
.ico-new-smoking-rooms:before {
  content: "\e948";
}
.ico-new-spa:before {
  content: "\e949";
}
.ico-new-still-hot:before {
  content: "\e94a";
}
.ico-new-surfing:before {
  content: "\e94b";
}
.ico-new-swimming-pool:before {
  content: "\e94c";
}
.ico-new-tennis:before {
  content: "\e94d";
}
.ico-new-tented:before {
  content: "\e94e";
}
.ico-new-tie:before {
  content: "\e94f";
}
.ico-new-tie-1:before {
  content: "\e950";
}
.ico-new-tower:before {
  content: "\e951";
}
.ico-new-trails:before {
  content: "\e952";
}
.ico-new-villa:before {
  content: "\e953";
}
.ico-new-water-game-sports:before {
  content: "\e954";
}
.ico-new-water-sports:before {
  content: "\e955";
}
.ico-new-wellness-center:before {
  content: "\e956";
}
.ico-new-yoga-meditation:before {
  content: "\e957";
}
