.info-book {
  .content {
    p {
      span {
        &.infoCourse {
          > em {
            display: block;
            font-style: normal;
          }
        }
      }
    }
  }
}
.block-intro {
  .slides-intro {
    .content {
      .sub-title {
        &.white {
          color: @white;
        }
      }
    }
  }
}