input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
}
select,
textarea,
input {
	font-size: 14px;
}
input, textarea {
	-webkit-user-select: text !important;
	-khtml-user-select: text !important;
	-moz-user-select: text !important;
	-ms-user-select: text !important;
	user-select: text !important;
}

.text-shadow(@textShadow)
{
	-webkit-text-shadow:@textShadow;
	-moz-text-shadow:@textShadow;
	text-shadow:@textShadow;
}
.translate (@x, @y:0) {
	-webkit-transform:       translate(@x, @y);
	-moz-transform: 	 translate(@x, @y);
	-ms-transform: 		 translate(@x, @y);
	-o-transform: 		 translate(@x, @y);
}
.rotate(@degrees) {
	-webkit-transform: rotate(@degrees);
	-moz-transform: rotate(@degrees);
	-ms-transform: rotate(@degrees);
	-o-transform: rotate(@degrees);
	transform: rotate(@degrees);
}
.scale(@ratio1, @ratio2) {
	-webkit-transform: scale(@ratio1,@ratio2);
	-moz-transform: scale(@ratio1,@ratio2);
	-ms-transform: scale(@ratio1,@ratio2);
	-o-transform: scale(@ratio1,@ratio2);
	transform: scale(@ratio1,@ratio2);
}
.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	-ms-transition: @transition;
	-o-transition: @transition;
	transition: @transition;
}
.transform-origin(@position) {
	-webkit-transform-origin: @position;
	-moz-transform-origin: @position;
	-ms-transform-origin: @position;
	-o-transform-origin: @position;
	transform-origin: @position;
}
.transition-delay(@transition-delay) {
	-webkit-transition-delay: @transition-delay;
	-moz-transition-delay: @transition-delay;
	-o-transition-delay: @transition-delay;
	transition-delay: @transition-delay;
}
.border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-o-border-radius: @radius;
	border-radius: @radius;
}

#back-to-top {
	width: 60px; height: 60px;
	background-color: @black;
	border: 1px solid @white;
	text-align: center;
	.border-radius(4px);
	position: fixed;
	z-index: 98;
	bottom: 100px; right: -100px;
	opacity: 0;
	.transition(all 0.3s);
	color:@white;
	font-size: 40px;
	&.active {
		right: 15px;
		background-color: @whiteDarker;
		opacity: 1;
	}
	.sprites {
		margin-top: 20px;
	}
}

select[multiple="multiple"] {
	max-height: 34px;
}
.hide-text {
	overflow: hidden;
	text-indent: -10000px;
}
.col-mask {
	opacity: 0;
	z-index: -1;
	.box-group .form-control {
		cursor: default;
	}
}
.lt-overlay {
	position: fixed;
	top: 0;right: 0;bottom: 0;left: 0;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 107158;
	.scale(0,1);
	.transform-origin(left);
	.transition(all 0.2s);
	&.active {
		.scale(1,1);
	}
}
.datepicker-overlay{
	position: fixed;
	top: 0;right: 0;bottom: 0;left: 0;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 146;
	.scale(0,1);
	.transform-origin(left);
	.transition(all 0.2s);
	&.active {
		.scale(1,1);
	}
}
.dev-overlay {
	position: fixed;
	top: 0;right: 0;bottom: 0;left: 0;
	width:100%; height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 100;
	text-align: center;
	.scale(0,0);
	.transition(all 0.3s);
	&.active {
		.scale(1,1);
	}
	&:before {
		content: "";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
	}
	img {
		display: inline-block;
	}
}
.mb-25 {
	margin-bottom: 25px;
}
.slick-slider:not(.slides-intro) {
	margin-left: -4px;
	margin-right: -4px;
}
.navbar-header .btn-search {
	border: medium none;
	padding: 0;
	background-color: transparent;
	font-size: 24px;
	float: right;
	margin-top: 10px;
	display: none;
	&:focus {
		outline: none;
	}
}
section {
	padding-top: 40px;
	padding-bottom: 30px;
}
.content-wishlist {
	.media-thumb {
		width: 80px;
		height: 80px;
		overflow: hidden;
	}
}
.list-checkbox {
	margin-top: 20px;
	margin-bottom: 0;
	padding-left: 0;
	.clearfix;
	td {
		position: relative;
	}
	li {
		list-style: none;
		line-height: 0px;
		margin-bottom: 10px;
		float:left;
		min-width: 50%;
		padding-right: 1px;
		box-sizing: border-box;
		cursor: pointer;
		font-size: 12px;
		line-height: 1.5em;
		&:last-child {
			margin-bottom: 0;
		}
		.icon-checkbox-off {
			margin-right: 3px;
			margin-bottom: -3px;
		}
		&.on {
			& > .icon-checkbox-off {
				background-position: -105px -180px;
			}
		}
	}
}
.module-help {
	position: absolute;
	right: 0;
	z-index: 101;
	color: #000;
	display: block;
	background-color: @white;
	width: 320px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.7);
	&.active {
		.scale(1,1);
	}
	.scale(1,0);
	.transform-origin(top);
	.transition(all 0.3s);
	&.expand {
		/* bottom: 0px !important; */ /* G commented : this line make module-help on header show wrong*/
		.title {
			.icon-plus {
				background-position: -180px -180px;
			}
		}
	}
	.title {
		padding: 10px;
		line-height: 30px;
		background-color: @redFlashTheme;
		color: @white;
		// font-family: @fontProximaNova;
		font-weight: bold;
		font-size: 14px;
		text-transform: uppercase;
		position: relative;
		text-align: left;
		.sprites {
			margin-right: 10px;
			margin-bottom: -5px;
		}
	}
	.content {    
		padding:30px 10px 20px 10px;
		text-align: center;
		color: #333;
		.h3 {
			// font-family: @fontProximaNova;
			font-weight: bold;
			color: #333;
			margin-top: 0;
			margin-bottom: 0;
		}
		.box-label {
			// font-family: @fontProximaNova;
			font-weight: bold;
			padding-left: 0;
			margin-bottom: 0;
			text-align: left;
			.phone, .email, .chatbtn {
				margin: 0;
				display: inline-block;
				padding: 5px 0 5px 10px;
				width: 100%;
				text-align: left;
				&:hover {
					.fa {
						color: @blueFlashTheme;
						border-color: @blueFlashTheme;
					}
					span {
						color: @blueFlashTheme;
					}
				}
			}
			.fa {
				font-size: 26px;
				border: 1px solid @redFlashTheme;
				width: 60px;
				height: 60px;
				text-align: center;
				line-height: 60px;
				border-radius: 50%;
				float: left;
				color: @redFlashTheme;
				.transition(all 0.3s);
				&.fa-mobile {
					font-size: 36px;
				}
			}
			span {
				color: @redFlashTheme;
				font-size: 18px;
				line-height: 30px;
				vertical-align: middle;
				display: inline-block;
				margin-left: 10px;
				padding-top: 15px;
				.transition(all 0.3s);
			}
			.saperator {
				width: 100%;
				height: 1px;
				display: inline-block;
				margin: 10px 0;
				background: #dedede;
			}
		}
	}
}
.module-filter {
	.btn-filter-devices {
		line-height: 32px;
		border: 1px solid @whiteDarker;
		cursor: pointer;
		margin-top: 15px;
		padding-right: 30px;
		padding-left: 15px;
		background: #FFF url(../images/icon-arrow.png) top right no-repeat;
		display: none;
	}
	.content-filter {
		width: 271px;
		border: 0.5px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
		padding: 15px 20px;
		background-color: @white;
		position: absolute;
		right: -271px;
		top: 35px;
		z-index: 99;
		&.active {
			-webkit-transition: all 0.3s;
			transition: all 0.3s;
			right: 0;
		}
		.btn-filter {
			background-color: @black;
			color: @white;
			font-size: 12px;
			line-height: 32px;
			font-weight: bold;
			padding: 0px 25px;		
			-moz-transform: rotate(270deg);
			-webkit-transform: rotate(270deg);
			transform: rotate(270deg);
			position: absolute;
			left: -65px;
			top: 31px;
			box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			cursor: pointer;
			.devices {
				display: none;
			}
		}
		.item {
			position: relative;
			margin-top: 20px;
			padding-bottom: 25px;
			border-bottom: 1px solid @whiteDarker;
			&:first-child {
				margin-top: 0;
			}
			.icon-arrow {
				position: absolute;
				top: -6px;
				right: -3px;
				cursor: pointer;
				width: 20px; height: 20px;
				background-position: -500px -220px;
				&.toggle {
					background-position: -500px -240px;
				}
			}
			.title {
				text-align: center;
				color: @redFlashTheme;
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: 1px;
				.sprites {
					margin: 0px auto 8px;
				}
			}
		}
		.btn-red {
			width: 150px;
			margin-top: 20px;
			&.btn-reset {
				width: 100px;
			}
		}
	}
}
.bread-crumb {
	ul {
		padding: 30px 0 5px;
		margin-bottom: 0;
		border-bottom: 1px solid @whiteDarker;
		font-size: 16px;
		li {
			list-style: none;
			display: inline-block;
			&:before {
				content: "/";
				display: inline-block;
				margin-left: 5px;
				margin-right: 5px;
				color: @grayLight;
			}
			&:first-child:before {
				display: none;
			}
			a {
				color: @grayLight;
				&:visited, &:focus {
					color: @grayLight;
				}
				&:hover,&:active {
					color: @redFlashTheme;
				}
			}
			.active {
				color: @redFlashTheme;
				cursor: default;
				&:visited, &:focus {
					color: @redFlashTheme;
				}
				&:hover, &:active {
					color: @redFlashTheme;
				}
			}
		}
	}
}
.info-book {
	margin-top: 40px;
	padding: 25px 20px;
	border: 1px solid #adaeb0;
	width: 263px !important;
	.title {
		text-align: center;
		font-family: inherit; 
		font-weight: bold;
		text-transform: uppercase;
		color: @redFlashTheme;
		border-bottom: 1px solid #adaeb0;
		padding-bottom: 15px;
		.icon-printer-red {
			margin: 0 auto 10px;
		}
	}
	.content {
		padding: 25px 5px 15px;
		border-bottom: 1px solid #adaeb0;
		margin-bottom: 20px;
		.sprites {
			position: absolute;
			top: 7px;
		}
		span.waitting {
			width: 100%;
			max-width: 150px;
			min-height: 16px;
			/*border-bottom: 1px solid #adaeb0;*/
		}
		p {
			font-size: 20px;
			font-family: inherit;
			margin-bottom: 5px;
			position: relative;
			/*overflow: hidden;*/
			&:last-child, &:first-child {
				margin-bottom: 0;
			}
			span {
				display: inline-block;
				margin-left: 25px;
				letter-spacing: -0.5px;
				word-spacing: -1px;
			}
		}
		.infoAddressRestaurant, .color-red {
			display: block;
		}
		.color-red {
			font-weight: bold;
			font-size: 13px;
			text-transform: uppercase;
		}
		.infoTime {
			font-size: 18px;
			&.waitting {
				width: 70px;
			}
		}
		.infoKids {
			margin-left: 0;
		}
		.infoAddressRestaurant {
			font-size: 14px;
			margin-top: 3px;
			margin-bottom: 5px;
			&.waitting {
				width: 70px;
			}
		}
	}
	.btn-red {
		width: 190px;
		text-align: center;
		text-transform: capitalize;
		font-size: 14px;
		max-width: 100%;
		line-height: 40px;
		padding-top: 0;
		padding-bottom: 0;
	}
}
.content-indiv {
	.col-lg-3 {
		padding-left: 24px;
	}
}
.block-article {
	position: relative;
	h1 {
		font-size: 30px;
		line-height: 35px;
	}
	p {
		line-height: 1.6em;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.block-intro {
	.banner {
		position: relative;
		.content {
			position: absolute;
			top: 0;
			width: 100%;
/*position: absolute;
top: 0;
left: 50%;
display: table;
margin: 80px 0 0 -247px;
width: 495px;
height: 238px;*/
text-align: center;
color: @white;
overflow: hidden;
.inner {
	display: table-cell;
	vertical-align: middle;
}
.sub-title {
	font-weight: bold;
	font-size: 18px;
	display: inline-block;
	position: relative;
	letter-spacing: 4.2px;
	text-transform: uppercase;
	&:before {
		content: "";
		display: inline-block;
		width: 180px;
		height: 1px;
		background-color: @white;
		margin-right: 15px;
		margin-bottom: 5px;
		position: absolute;
		left: -195px;
		top: 12px;
	}
	&:after {
		content: "";
		display: inline-block;
		width: 180px;
		height: 1px;
		background-color: @white;
		margin-left: 15px;
		margin-bottom: 5px;
		position: absolute;
		right: -195px;
		top: 12px;
	}
}
.hide-xs {
	max-height: 42px;
	overflow: hidden;
}
.title {
	font-family: @fontGeorgia;
	font-size: 70px;
	line-height: 1;
	margin-top: 0;
	margin-bottom: 5px;
	display: block;
}
}
}
.slides-intro {
	.slide {
		position: relative;
		&:nth-child(n+2) {
			display:none;
		}
		&.slick-slide:nth-child(n+2) {
			display: block;
		}
		.content {
			margin: 0 auto;
			// padding: 83px 0 10px;
			padding: 10px 0;
			height: 100%;
			display: table;
			max-width: 950px;
			min-width: 500px;
			text-align: center;
			color: @white;
			overflow: hidden;
			.inner {
				display: table-cell;
				vertical-align: middle;
			}
			.sprites {
				margin: 0 auto;
			}

			.sub-title {
				font-weight: bold;
				font-size: 18px;
				display: inline-block;
				position: relative;
				letter-spacing: 4.2px;
				text-transform: uppercase;
				&:before {
					content: "";
					display: inline-block;
					width: 180px;
					height: 1px;
					background-color: @white;
					margin-right: 15px;
					margin-bottom: 5px;
					position: absolute;
					left: -195px;
					top: 10px;
				}
				&:after {
					content: "";
					display: inline-block;
					width: 180px;
					height: 1px;
					background-color: @white;
					margin-left: 15px;
					margin-bottom: 5px;
					position: absolute;
					right: -195px;
					top: 10px;
				}
			}
			.title {
				font-family: @fontGeorgia;
				font-size: 70px;
				line-height: 1.2;
				margin-top: 0;
				margin-bottom: 5px;
				display: block;
				min-width: 360px;
				max-height: 170px;
				overflow: hidden;
			}
			.btn {
				margin-top: 15px;
			}
		}
	}
	.slick-dots {
		bottom: 0;
		li {
			text-align: center;
			margin: 0;
			button {
				width: 10px;
				height: 10px;
				background-color: @white;
				padding: 0;
				border-radius: 50%;
				display: inline-block;
				opacity: 0.5;
				color: transparent;
				&:before {
					display:none;
				}
			}
			&.slick-active {
				button {
					opacity: 1;
				}
			}
		}
	}
}
}
.block-product {
	background-color: @whiteDark;
	padding-bottom: 75px;
	.container {
		position: relative;
	}
	.h2 {
		font-family: @fontGeorgia;
		font-size: 30px;
	}
	.block-filter {
		width: 280px;
/*position: absolute;
right: 15px;
top: 0px;*/
float: right;
label {
	display: block;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 10px;
}
}
.slides-product {
	margin-top: 35px;
	&.slick-slider {
		.slide {
			width: 100%;
		}
	}
	.slide {
		float:left;
		width: 380px;
		.figure {
			position: relative;
			display: block;
			padding-right: 4px;
			padding-left: 4px;
			margin-bottom: 8px;
			overflow: hidden;
			&:before {
				content: "";
				display: block;
				padding-top: 70%;
			}
			> a {
				display: inline-block;
				text-align: center;
				position: absolute;
				top: 0; bottom: 0; left: 4px; right: 4px;
				background-color: @bg-slide;
				font-size: 0px;
				line-height: 0;
				&:before {
					content: "";
					display: inline-block;
					vertical-align: middle;
					height: 100%;
				}
				img {
					display: inline-block;
					vertical-align: middle;
					width: auto;
				}
			}
			.content {
				position: absolute;
				top: 0;left: 4px;right: 4px;bottom: 0;
				color: @white;
				pointer-events: none;
				.title {
					position: absolute;
					text-align: center;
					top: 40%;
					width: 100%;
					transition: all 0.3s;
					.sub {
						text-transform: uppercase;
						font-weight: bold;
						font-size: 12px;
						letter-spacing: 3.2px;
					}
				}
				.sprites {
					position: absolute;
					top: 0;right: 0;
					margin-right: 10px;
					margin-top: -100px;
					transition: all 0.4s;
					opacity: 0;
				}	
				.description {
					opacity: 0;
					margin-bottom: -200px;
					position: absolute;
					width: 100%;
					bottom: 0;
					padding:15px 20px 15px 20px;
					box-sizing: border-box;
					background-color: rgba(0,0,0,0.4);
					transition: all 0.4s;
					.inner{
						display: table;
						height: 100%;
						p{
							display: table-cell;
							width: 75%;
							vertical-align: middle;
						}
						.inner-btn{
							display: table-cell;
							width: 25%;
							vertical-align: middle;
							text-align: right;
							.sprites{
								position: relative;
								display: inline-block;
								margin: 0;
							}
						}
					}
				}			
			}
			&:hover,&:active {
				.content {
					.title {
						transform: scale(1.5,1.5);
						opacity: 0;
					}
					.sprites {						
						margin-top: 10px;
						opacity: 1;
					}
					.description {
						opacity: 1;
						margin-bottom: 0;
					}
				}
			}
		}
	}
}
}
.block-blog {
	.article {
		&:before {
			content: "";
			display: block;
			padding-top: 100%;
		}
		> a {
			display: inline-block;
			text-align: center;
			position: absolute;
			top: 0; bottom: 0; left: 0px; right: 0px;
			background-color: @bg-slide;
			font-size: 0px;
			line-height: 0;
			&:before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
			&:after {
				content:"";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: block;
				background: rgba(0,0,0,0.3);
			}
			img {
				display: inline-block;
				vertical-align: middle;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	.img-cover{
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0% 50%;
		width: 100%;
		height: 100%;
		display: inline-block;
		vertical-align: middle;
	}
}
.block-slick-slides {
	.slides-recommends {
		&.slick-slider {
			.slide {
				width: auto;
			}
		}
		.slide {
			width: 280px;
			.article {
				line-height: 0;
				.content {
					line-height: 1.5;
				}
				.sticky_icons {
					position: absolute;
					top: 10px;
					left: 10px;
					z-index: 3;
					.fa {
						margin: 0 5px 0 0;
						font-size: 20px;
						color: #fff;
					}
				}
			}
		}
		.slide-3-items {
			float: left;
			width: 33.3333%;
			padding-left: 4px;
			padding-right: 4px;
			margin-bottom: 8px;
			outline: none;
			h3 {
				display: block;
				display: -webkit-box;
				width: 100%;
				text-align: center;
				font-family: @fontGeorgia;
				font-size: 36px;
				color: #fff;
				max-height: 150px;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.inner-btn{
				color: @white;
				&:hover{
					color: @redFlashTheme;
				}
			}
			.article {
				line-height: 0;
				&:before {
					padding-top: 70%;
				}
				.content {
					line-height: 1.5;
				}
				.sticky_icons {
					position: absolute;
					top: 10px;
					left: 10px;
					z-index: 3;
					.fa {
						margin: 0 5px 0 0;
						font-size: 20px;
						color: #fff;
					}
				}
			}
		}
		.slide-no-image {
			width: 50%;
			padding-left: 4px;
			padding-right: 4px;
			margin-bottom: 8px;
			float: left;
			.wrap-slide {
				height: 164px;
				border: 1px solid #adaeb0;
				padding: 15px 20px;
				display: block;
				overflow: hidden;
			}
			.inner {
				display: block;
				overflow: hidden;
				max-height: 100%;
				line-height: 1.4;
			}
			.heading {
				position: relative;
				display: block;
				.ico {
					position: absolute;
					top: 0; right: 0;
					color: @redFlashTheme;
				}
			}
			.sub {
				text-transform: uppercase;
				color: @redFlashTheme;
				font-weight: bold;
				font-size: 10px;
				letter-spacing: 2px;
			}
			h3 {
				margin-top: 0;
				white-space: pre-wrap;
				overflow: hidden;
				height: 67px;
			}
		}
		.view-type-listview h3 {
			height: auto;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
		}
		.slide-with-detail {
			float: left;
			width: 25%;
			padding-left: 4px;
			padding-right: 4px;
			margin-bottom: 10px;
			.sub {
				width: 100%;
				float: left;
				padding: 0 20px 0 0;
				color: @grayFlashTheme;
				/* font-family: @fontProximaNovaLight; */
				font-family: inherit;
				text-transform: uppercase;
				letter-spacing: 1px;
				margin: 0 0 10px 0;
			}
			h3 {
				width: 100%;
				float: left;
				color: @grayFlashTheme;
				font-family: @fontGeorgia;
				font-size: 28px;
				line-height: 1.3;
				padding-right: 20px;
				margin: 0 0 10px 0;
				height: 73px;
				overflow: hidden;
			}
			p {
				margin-bottom: 0;
			}
			.img-responsive {
				width: 100%;
				height: 280px;
			}
			.content {
				position: relative;
				padding: 5px 0;
				background-color: @white;
				box-sizing: border-box;
				height: 375px;
				overflow: hidden;
				.desc {
					width: 100%;
					float: left;
					padding: 0 20px 0 0;
					margin: 0 0 10px 0;
					min-height: 0px;
					max-height: 132px;
					overflow: hidden;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 6;
				}
			}
			.btn-view-all {
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
		.slide-with-detail-horizontal {
			position: relative;
			margin-bottom: 18px;
			overflow: hidden;
			display: table;
			width: 100%;
			.img-responsive{
				display: table-cell;
				vertical-align: top;
				width: 50%;
				padding: 0 15px 0 0;
				//  a {
				// 	display: block;
				// 	width: 100%;
				// 	height: 100%;
				// } 
				.img-cover {
					&::after {
						content: "";
						display: block;
						padding-bottom: 100%;
					}
				}
			}
			.content{
				padding: 0 15px 5px;
				display: table-cell;
				vertical-align: top;
				p{
					margin-bottom: 0;
				}
				.title-above{
					text-transform: uppercase;
					/* font-family: @fontProximaNovaLight; */
					font-family: inherit;
					color: @grayFlashTheme;
					letter-spacing: 1px;
					display: inline-block;
				}
				h3{
					color: #99A1A8;
					font-family: @fontGeorgia;
					font-size: 36px;
					margin-bottom: 10px;
				}
				.desc{
					margin-bottom: 20px;
				}
			}
			.btn-view-all {
				position: relative;
				left: auto;
				bottom: auto;
				margin-top: 25px;
			}
		}
		.slide-price-detail {
			position: relative;
			float: left;
			width: 49%;
			border: 1px solid @whiteDarker;
			margin-bottom: 18px;
			overflow: hidden;
			&:nth-of-type(2n){ margin-left: 4px }
			&:nth-of-type(2n + 1){ margin-right: 4px }
			.img-responsive{
				position: relative;
				display: table-cell;
				vertical-align: top;
				height: 280px;
				@media screen and (max-width: 479px) {
					width: unset;
					min-width: 170px;
					max-width: 200px;
				}
				@media screen and (min-width: 480px) {
					width: 280px;
				}
				img{
					width: 100%;
					transition: all 0.4s;
					-webkit-transition: all 0.4s;
					-moz-transition: all 0.4s;
					-o-transition: all 0.4s;
				}
			}
			.content{
				padding: 15px 20px;
				display: table-cell;
				vertical-align: top;
				max-width: 276px;
				p{
					margin-bottom: 0;
				}
				.title-above{
					font-weight: bold;
					font-size: 10px;
					color: @redFlashTheme;
					text-transform: uppercase;
				}
				h3{
					font-size: 25px;
					line-height: 1.2em;
					max-height: 65px;
					overflow: hidden;
					margin-top: 3px;
				}
				.desc{
					max-height: 90px;
					overflow: hidden;
					margin-bottom: 14px;
					line-height: 1.4em;
					display: -webkit-box;
					-webkit-box-orient: vertical;
					-webkit-line-clamp: 4;
				}
				.price{
					font-family: @fontRalewayMedium;
					font-size: 24px;
					line-height: 1.2em;
					color: @redFlashTheme;
				}
			}
		}
	}
	.btn-learn-more {
		font-size: 20px;
		color: @black;
		display: inline-block;
		padding-right: 10px;
		line-height: 28px;
		/* font-family: @fontProximaNovaLight; */
		font-family: inherit;
		margin-bottom: 10px;
		text-decoration: underline;
		position: relative;
		&:before {
			content: "\f105";
			font-family: 'FontAwesome';
			position: absolute;
			top: 0;
			left: 100%;
			text-decoration: underline;
		}
		&:before,
		&:hover {
			color: @black;
			text-decoration: none;

			&:before {
				text-decoration: none;
			}
		}
	}
	.btn-view-all {
		display: inline-block;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		color: @blueFlashTheme;
		font-weight: bold;
		background-color: @white;
		border: 1px solid @blueFlashTheme;
		text-transform: uppercase;
		padding: 10px 30px;
		margin: 0 0 10px 0;
		cursor: pointer;
		.transition(all 0.3s);
		&:hover {
			color: @white;
			background-color: @blueFlashTheme;
		}
	}
}
.block-recommendations {
	.slide-recommendations {
		&.slick-slider {
			.slide {
				width: auto;				
				&:nth-child(n+4) {
					display: block;
				}
			}
		}
		.slide {
			width: 372px;
// max-width: 32%;
float:left;
&:nth-child(n+4) {
	display: none;
}
}
}
}
.block-recommends-horizontal {
	.slides-recommends {
		&.slick-slider {
			.slide {
				width: auto;
				>.img-responsive {
					float: none;
				}
				>.content {
					float: none;
				}
			}
		}
		.slide {
			float:left;
			width: 50%;
			>.img-responsive {
				overflow: hidden;
				position: relative;
				&:before {
					content: "";
					display: block;
					padding-top: 100%;
				}
				a {
					display: inline-block;
					text-align: center;
					position: absolute;
					top: 0; bottom: 0; left: 0px; right: 0px;
					background-color: @bg-slide;
					font-size: 0px;
					line-height: 0;
					&:before {
						content: "";
						display: inline-block;
						vertical-align: middle;
						height: 100%;
					}
					img {
						display: inline-block;
						vertical-align: middle;
// width: auto !important;
max-width: 100%;
}
}
}
}
}
}
.block-results {
	padding-bottom: 75px;
	.slide {
		padding-left: 4px;
		padding-right: 4px;
		position: relative;
		overflow: hidden;
		.figure {			
			position: absolute;
			top: 0;left: 4px;right: 4px;bottom: 0;
		}
		.content {
			position: absolute;
			top: 0px;
			text-align: center;
			color: @white;
			padding-left: 20px;
			padding-right: 20px;
			display: table;
			height: 100%;
			.description {
				display: table-cell;
				vertical-align: middle;
			}
			.sub {
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: 3.2px;
				font-size: 12px;
				transition: all 0.3s;
				opacity: 0;
				transform: scale(1.5, 1.5);
			}
			.box-label {
				position: absolute;
				width: 100%;
				left: 0;
				transition: all 0.3s;
				opacity: 0;
				transform: scale(1.5, 1.5);
				.sprites {
					display: inline-block;
				}
			}
		}
		&:hover {
			.content {
				.sub {
					opacity: 1;
					transform: scale(1, 1);
				}
				.box-label {
					opacity: 1;
					transform: scale(1, 1);
				}
			}
		}
	}
}
.block-recommends {
	background-color: @white;
	padding-bottom: 75px;
	.slides-recommends {
		.slide {
			float:left;
			.figure {
				position: relative;
				display: block;
				padding-right: 4px;
				padding-left: 4px;
				margin-bottom: 8px;
				overflow: hidden;
				.content {
					position: absolute;
					top: 0;left: 4px;right: 4px;bottom: 0;
					color: @white;
					p {
						margin-bottom: 15px;
					}
					.description {
						position: absolute;
						text-align: center;
						top: 35%;
						width: 100%;
					}
					.title {
						transition: all 0.3s;
						padding:0 15px;
					}
					.box-label {
						transition: all 0.4s;
						position: relative;
						bottom: -100px;
						.sprites {
							display: inline-block;
							margin: 0px 12px;
						}
					}				
				}
				&:hover,&:active {
					.content {
						.title {
							margin-top: -45px;
						}
						.box-label {
							bottom: 0;
						}
					}
				}
			}
		}
	}
}

.block-recommendations {
	background-color: @whiteDark;
	padding-top: 40px;
	padding-bottom: 30px;
	h2 {
		text-align: center;
		margin-bottom: 27px;
	}
	.slide-recommendations {
		.slide {
			position: relative;
			overflow: hidden;
			margin-left: 4px;
			margin-right: 4px;
			&:before{
				content: "";
				display: block;
				padding-top: 70%;
			}
			> a{
				display: block;
				position: absolute;
				top: 0; bottom: 0; left: 0; right: 0;
				background-color: @grayLight;
				text-align: center;
				&:after {
					content:"";
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					display: block;
					background: rgba(0,0,0,0.3);
				}
				.item{
					display: table;
					height: 100%;
					width: 100%;
					.inner-item{
						display: table-cell;
						vertical-align: middle;
						text-align: center;
						img {
							display: inline-block;
							width: 100%;
							.transition(all 0.3s);
						}
					}
				}
			}
			.content {
				position: absolute;
				top: 0;left: 0;right: 0;bottom: 0;
				text-align: center;
				color: @white;
				padding-left: 20px;
				padding-right: 20px;
				transition: all 0.3s;
				pointer-events: none;
				.inner{
					display: table;
					height: 100%;
					width: 100%;
					.hover-inner-hide {
						display: table-cell;
						vertical-align: middle;
						padding-left: 20px;
						padding-right: 20px;
						transition: all 0.3s;
					}
				}
				.hover-inner-show {
					position: absolute;
					top: 0; bottom: 0; left: 0; right: 0;
					display: table;
					height: 100%;
					width: 100%;
					padding-left: 20px;
					padding-right: 20px;
					opacity: 0;
					transform: scale(1.5, 1.5);
					transition: all 0.3s;
					.hover-inner-item{
						display: table-cell;
						vertical-align: middle;
					}
					.sprites{
						display: inline-block;
						margin-left: 10px;
						margin-right: 10px;
					}
					.inner-icon{
						margin-bottom: 20px;
					}
					.inner-content{
						overflow: hidden;
						.sub-content{
							position: relative;
							width: 40%;
							display: inline-block;
							vertical-align: top
						}
						.inner-number{
							position: absolute;
							top: 0; left: 0; right: 0;
							p{
								margin-bottom: 0;
								&:first-child{
									font-size: 20px;
									line-height: 1.3em;
								}
							}
						}
						.inner-btn{
							display: inline-block;
						}
					}
				}
				.sub {
					text-transform: uppercase;
					font-weight: bold;
					letter-spacing: 3.2px;
					font-size: 12px;
				}
			}
			&:hover {
				img {
					transform: scale(1.05, 1.05);
				}
				.content {
					.hover-inner-hide{
						opacity: 0;
						transform: scale(1.5, 1.5);
					}
					.hover-inner-show{
						opacity: 1;
						transform: scale(1, 1);
					}
				}
			}
		}
		.slick-dots {
			margin-bottom: 0px;
			bottom: -55px;
		}
	}
	.inner-btn{
		padding-top: 10px;
	}
	.show-sm{
		display: none;
	}
	.module-tile {
		// padding-top: 0;
		padding-bottom: 0;
		.slides-recommends .slide{
			width: 33.3333%;
		}
		.article:before{
			padding-top: 70%;
		}
	}
}
.block-profile {
	padding-top: 0;
	padding-bottom: 50px;
	label {
		font-family: @fontGeorgia;
		color: @grayFlashTheme;
		line-height: 18px;
		.txt-red {
			font-size: 15px;
			line-height: 16px;
			font-weight: bold;
		}
	}
	.menu-profile {
		ul {
			padding-left: 0;
			margin-bottom: 0;
			margin-top: -3px;
			padding-top: 40px;
			li {
				list-style: none;
				margin-bottom: 10px;
				a {
					&:hover, &:active {
						color: @redFlashTheme;
					}
					&.active {
						color: @redFlashTheme;
						cursor: default;
						font-weight: bold;
						&:visited, &:focus {
							color: @redFlashTheme;
						}
						&:hover, &:active {
							color: @redFlashTheme;
						}
					}
				}
			}
		}
	}
	.content-profile {
		.btn-red {
			margin: 30px 0 0;
			display: inline-block;
			width: auto;
		}
	}
}
.box-location {
	background-color: @white;
	color: @black;
	font-size: 12px;
	/* display: none; */
	.btn-close-location {
		display: none;
		width: 45px; height: 45px;
		position: absolute;
		right: 0;
		top: -45px;
		text-align: right;
		.sprites {
			margin-top: 15px;
			.scale(1.2,1.2);
		}
	}
	.btn-back {
		background-color: @whiteDarker;
		font-size: 14px;
		display: none;
		padding: 20px;
		text-align: left;
		&:hover, &:active {
			color: @grayLight;
		}
		.sprites {
			margin-right: 15px;
			-ms-transform: rotate(-90deg);
			-webkit-transform: rotate(-90deg);
			transform: rotate(-90deg);
		}
	}
	.inner {
		padding: 10px 20px 20px;
	}
	.location-name {
		color: @redFlashTheme;
		margin:5px 0px;
		position: relative;
		.sprites {
			margin-left: 10px;
		}
	}
	.location-select-box {
		.clearfix;	
		.form-group {
			width: 100%;
			margin-top: 10px;
			margin-bottom: 15px;
			.form-control {
				font-size: 12px;
				text-align: left;
				padding-left: 10px;
				padding-right: 30px;
				option {
					padding-left: 15px;
					padding-right: 15px;
				}
			}
			.box-group .sprites {
				margin-top: 10px;
			}
		}
	}
	.btn-red {
		display: block;
		margin: 0 auto;
		width: 115px;
		color: @white;
	}
}
.page-sign-up, .page-profile{
	label.lt-error {
		/* Giang : Ticket AD-807 */
		position: relative;
// bottom: -25px;
left: 0;
width: 100%;
text-align: right;
margin-top: 5px;
margin-bottom: 0 !important;
color: @redFlashTheme;
&:before {
	content:"";
	display: inline-block;
	position: absolute;
	right: -25px;
	top: -30px;
	width: 20px;
	height: 20px;
	color: transparent!important;
	overflow: hidden;
	background-image: @sprites;
	background-repeat: no-repeat;
	overflow: hidden;
	width: 20px;
	height: 20px;
	background-position: -510px 0px;
}
}
}
.block-profile {
	label.lt-error {
		/* Giang : Ticket AD-807 */
		position: relative;
// bottom: -22px;
left: 0;
width: 100%;
text-align: right;
margin-top: 5px;
margin-bottom: 0 !important;
color: @redFlashTheme;
}
.hide-native-select label.lt-error {
// margin-top: 30px; /* Giang : Ticket AD-807 */
}
}
.page-profile{
	label.lt-error {  /* Giang : Ticket AD-807 */
// position: absolute;
// bottom: -23px;
}
}
.page-sign-up {
	select {
		~ .lt-error {
// margin-top: 30px !important;  /* Giang : Ticket AD-807 */
}
}
.btn-group-selectbox {
	.btn-selectbox {
		padding-left: 34px;
	}
	ul {
		li:first-child {
			display: none;
		}
	}
}
label.box-term-item {
	/* font-family: @fontProximaNovaLight; */
	font-family: inherit;
	color: @black;
	label {
		text-align:left;
		&:before {
			content: none;
		}
	}
}
.form-group {
	p {
		font-size: 12px;
	}
}
.block-signup-form {
	.wrap-form-group.password-hint {
		margin-bottom: 0;
	}
	.btn-apr {
		min-width: 150px;
	}
	button[type="submit"] {
		margin-right: 25px;
	}
}
}
//page SEARCH RESULTS
.page-search-results {
	.slides-intro {
		.slide {
			max-height: 318px;
		}
	}
	.block-article {		
		.block-filter {
			margin-top: 25px;
			label {
				display: block;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 10px;
			}
			.form-control {
				padding-left: 15px;
				option {
					padding-left: 15px;
				}
			}
		}
		.txt-red {
			font-weight: bold;
		}
	}
}

.page-book {
	.block-intro .banner .content {		
		margin: 0 auto;
		/*padding: 83px 0 0px;*/
		display: table;
		top: 50%;
		/* width: 495px; */
		/*height: 446px;*/
	}
	label .txt-red {
		font-size: 15px;
		font-weight: bold;
	}
}
.page-home {
	.box-group select.form-control {
		padding-left: 15px;
		option {
			padding-left: 15px;
		}
	}
}


.lt-check-password::-ms-clear {
	display: none;
}
.form-group-password {
	margin-bottom: 5px !important;
}

.box-description-password {
	margin-bottom: 26px;
}

.box-list-spec {
	padding-top: 28px;
}

label.signup-check-password {
	color: #57554f;
	font-family: "Open Sans",Verdana,Geneva,sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	padding-left: 24px;
}

input#signup-check-password {
	display: none;
}

label.signup-check-password input#signup-check-password + span {
	background: url("../images/icons/icon-checkbox-unticked.png") no-repeat center center / 30px 30px;
	cursor: pointer;
	display: block;
	height: 30px;
	left: -6px;
	position: absolute;
	top: -6px;
	width: 30px;
}

label.signup-check-password input#signup-check-password:checked + span {
	background: transparent url("../images/icons/icon-checkbox-ticked.png") no-repeat scroll center center / 30px 30px;
}

.list_spec {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.list_spec li span {
	color: @black;
}

.list_spec li {
	box-sizing: border-box;
	color: @redFlashTheme;
	font-size: 12px;
	font-style: normal;
	line-height: 18px;
	list-style: none;
}

.list_spec li::before {
	content: "";
	width: 6px;
	height: 6px;
	border-radius: 3px;
	background-color: #dc0000;
	display: inline-block;
	margin-bottom: 1px;
	margin-right: 7px;
}

.list_spec li.complete::before {
	background-color: #57554f;
}

.alert_spec {
	display: none;
	color: @greenBlue;
	font-family: "Open Sans",Verdana,Geneva,sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	background-color: #f6f5f5;
	padding: 9px 15px;
	border-radius: 7px;
}

.datepickerOfBirth, .reservationDate {
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */ 
}

.loadding-content {
	position: absolute;
	top: 25px; left: 0px;
	width: 100%;
	padding: 20px 0px;
	background: url('../images/loading.gif') no-repeat center center;
}
.loadding-slide {
	width: 100%;
	padding: 20px 0px;
	background: url('../images/loading.gif') no-repeat center center;
}

@media (min-width: 992px) {
	.block-profile {
		h3 {
			font-size: 35px;
			line-height: 1.1;
			font-family: @fontGeorgia;
			color: #99A1A8;
			margin: 25px 0 0 0;
		}
		.content-book {
			.item-group {
				>.row {
					.contact-phone .col-md-6, .contact-email .col-md-6 {
						padding-right: 55px;
					}
					>.col-md-6 {
						padding-right: 55px;
						>.row {
							>.col-md-6:first-child {
								padding-right: 12px;
							}
							>.col-md-6:last-child {
								padding-left: 12px;
							}
						}
					}
					>.col-md-12{
						padding-right: 55px;
					}
					.row-item{
						.col-md-6 {
							padding-right: 55px;
							>.row {
								>.col-md-6:first-child {
									padding-right: 12px;
								}
								>.col-md-6:last-child {
									padding-left: 12px;
								}
							}
						}
					}
				}
			}
		}
		.container >form >.row >.col-md-3 {
			padding-left: 20px;
		}
	}
	.block-profile .content-profile .form-group {
		padding-right: 25px;
	}
}
.tiles_module_title {
	white-space: pre-wrap;
}
