.heading-font{
  font-family: @fontGeorgia;
}
::-ms-clear {
  display: none;
}
input[type=checkbox] {
  padding: 0;
  margin: 0;
  height: 16px;
  width: 16px;
  float: left;
  position: absolute;
  left: 0;
  opacity: 0;
  text-indent: -99999px;
  overflow: hidden;
}
button:focus{
  outline: none;
}
input[type=checkbox] ~ label{
  &:before {
    content: '';
    display: inline-block;
    background-image: url('../images/checkbox-flashtheme-1.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: -5px;
    .transition(all 0.3s);
    -webkit-transform: translate3d(0, 0, 0);
  }
}
input[type=checkbox]:checked ~ label:before {
  background-image: url('../images/checkbox-active-flashtheme.png');
}
.btn-primary{
  color: @white;
  background-color: @redFlashTheme;
  border: 1px solid transparent;
  .transition(all 0.3s);
  &:hover, &:focus, &:active{
    color: @redFlashTheme;
    background-color: @white;
    border: 1px solid @redFlashTheme;
    box-shadow: none;
    outline: none!important;
  }
  &.btn-blue {
    color: @blueFlashTheme;
    background-color: @white;
    border: 1px solid @blueFlashTheme;
    &:hover, &:focus, &:active{
      color: @white;
      background-color: @blueFlashTheme;
      border: 1px solid transparent;
    }
  }
}
.btn-cancel{
  background-color: #686666 ;
  color: #fff;
  border:none;
  &:hover, &:focus, &:active{
    background-color: #686666;
    opacity: .8;
    box-shadow: none;
    outline: none!important;
    color: #fff;
  }
}
.btn-apr{
  text-transform: uppercase;
}
.font-10{
  font-size: 10px;
}
.font-11{
  font-size: 11px;
}
.font-16{
  font-size: 16px;
}
.font-18{
  font-size: 18px;
}
.font-20{
  font-size: 20px;
}
.font-30{
  font-size: 30px;
}
.m0{
  margin: 0;
}
.mt-10 {
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mt-30{
  margin-top: 30px;
}
.mt-40{
  margin-top: 40px;
}
.mt-50{
  margin-top: 30px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.mb-30{
  margin-bottom: 30px;
}
.pd-20{
  padding: 20px;
}
.pdl-15{
  padding-left: 15px;
}
.hi-text{

  &:after{
    content: '';
    display: block;
    clear: both;
  }
}
.apr-nav{
  position: absolute;
  width: 100%;
  z-index: 100;
  background:rgba(0,0,0,.8);
  color: #fff;
  padding: 0;
  margin: 0;
  border-radius: 0px;
  border: none;
  a{
    color: #fff;
    &.btn-link{
      &:hover, &:focus{
        text-decoration: none;
        color: inherit;
      }
    }
  }
  .dropdown-menu{
    width: 280px;
    margin: 0px;
    > li > a{
      padding: 10px 25px;
      &:focus {
        background: none;
      }
      &:hover{
        background: rgba(0,0,0,0.9);
        color: @redFlashTheme;
      }
    }
  }

}
.relative{
  position: relative;
}
.nav-profile{
  position: absolute;
  a.btn-link{
    padding: 16px 0px;
  }
}
.topbar{
  padding: 15px 0;
}
.brand-color{
  color: @redFlashTheme;
}
.topbar-right{
  margin-top: 30px;
}
.nav-profile-avatar img{
  width: @header-user-avatar-width;
}
.nav-search{
  position: relative;
  margin-top: 22px;
  float: right;
  margin-left: 38px;
  .search-text{
    border: none;
    border-bottom: 1px solid #999999;
    padding: 0px 25px 0px 0px;
    width: 265px;
    border-radius: 0px;
    color: #fff;
    &:focus{
      outline: none;
      box-shadow: none;
    }

  }
  .btn-search{
    position: absolute;
    right: 0px;
    top: 10px;
    background: none;
    border: none;
    width: 16px;
    height: 16px;
    padding: 0;
    z-index: 10;
  }

}
.main-menu{
  font-size: 11px;
  .menu-icon{
    display: block;
    text-align: center;
    min-height: 42px;
  }
  &.navbar-nav > li{
    margin-left: 1px;
    > a{
      padding: 15px 18px;
      line-height: 100%;
    }
    &.active > a{
      background: @redFlashTheme;
    }
    > a:hover, > a:focus{
      background: @redFlashTheme;
    }
  }
}

@keyframes slideRight {
  0% {
    transform: translate(0px, 0px);
  }
  70% {
    transform: translate(-280px, 0px);
  }
  100% {
    transform: translate(-280px, 0px);
  }
}
@keyframes slideRight {
  0% {
    transform: translate(0px, 0px);
  }
  70% {
    transform: translate(-280px, 0px);
  }
  100% {
    transform: translate(-280px, 0px);
  }
}
@keyframes closeRight {
  0% {
    transform: translate(-280px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes closeRight {
  0% {
    transform: translate(-260px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes slideLeft {
  0% {
    transform: translate(0px, 0px);
  }
  70% {
    transform: translate(@mobile-main-menu-width, 0px);
  }
  100% {
    transform: translate(@mobile-main-menu-width, 0px);
  }
}
@keyframes slideLeft {
  0% {
    transform: translate(0px, 0px);
  }
  70% {
    transform: translate(@mobile-main-menu-width, 0px);
  } 
  100% {
    transform: translate(@mobile-main-menu-width, 0px);
  }
}
@keyframes closeLeft {
  0% {
    transform: translate(280px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes closeLeft {
  0% {
    transform: translate(280px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.nav-toggle .patty {
  background: #646464 none repeat scroll 0 0;
  border-radius: 0;
  display: block;
  height: 3px;
  margin: 10px 0;
  position: relative;
  transition: all 250ms ease 0s;
  width: 25px;
}
.nav-toggle .patty::after, .nav-toggle .patty::before {
  background: #646464 none repeat scroll 0 0;
  border-radius: 0;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  transition: all 250ms ease 0s;
  width: 25px;
  z-index: 1;
}
.nav-toggle .patty::before {
  top: -8px;
}
.nav-toggle .patty::after {
  top: 8px;
}
.nav-toggle {
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  display: none;
  float: left;
  margin-top: 8px;
  outline: 0 none;
  padding: 5px;
  position: absolute;
}
.topbar-right{
  .pd{
    padding: 0px 5px;
  }
  .location{
    margin-left: 10px;
  }
}
.nav > li > a:hover, .nav > li > a:focus{
  background: none;
}
.badge-red{
  background: @redFlashTheme;
}
.ml5{
  margin-left: 5px;
}

.footer-social{
  a{
    margin: 0px 5px;
    &:last-child{
      margin-right: 0px;
    }
  }
}

.logo-sidebar{
  position: absolute;
  bottom: 15px;
  display: none;
  text-align: center;

}
.footer-social{
  float: right;
}
.footer-social-left{
  float: left;
  margin: 5px 15px 0 0;
  a:first-child{
    margin-left: 0px;
  }
}
.apr-modal{
  h2 {
    font-size: 40px;
    line-height: 48px;
    font-family: @fontGeorgia;
  }
  .modal-content{
    box-shadow: none;
    border-radius: 0px;
    padding: 25px;
  }
  .modal-dialog{
    max-width: 376px;
  }
  label.error{
    left: auto !important;
    right: 0;
    bottom: -30px !important;
  }
  a.brand-color {
    font-weight: bold;
  }
  .btn-apr {
    min-width: 150px;
    padding: 10px 20px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

}
.modal-style1{
  .modal-content{
    box-shadow: none;
    border-radius: 0px;
    padding: 25px;
  }
  .modal-dialog{
    max-width: 450px;
  }
  .modal-title{
    text-transform: inherit;
    letter-spacing: inherit;
    font-size: 14px;
    &:before, &:after{
      display: none;
    }
  }
  .btn-close-modal{
    position: absolute;
    right: 0px;
    color: #fff;
    font-size: 23px;
    top: 12px;
  }
  .modal-top{
    padding: 15px 0;
  }
  .btn-apr{
    padding-left: 40px;
    padding-right: 40px;
  }
}
input.error{
  border:1px solid @redFlashTheme;
  &:focus{
    border-color: @redFlashTheme;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(203,79,83,.3);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(203,79,83,.3);
  }
}
select.error{
  border:1px solid @redFlashTheme;
  &:focus{
    border-color: @redFlashTheme;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(203,79,83,.3);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(203,79,83,.3);
  }
}
label.error-icon {
  position: absolute;
  right: -30px;
  top: 7px;
  color: transparent!important;
  background-image: @sprites;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 20px;
  height: 20px;
  background-position: -510px 0px;
}
label.has-error-icon{
  position: absolute;
  right: -30px;
  top: 7px;
  width: 20px;
  height: 20px;
  color: transparent!important;
  overflow: hidden;
  background-image: @sprites;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 20px;
  height: 20px;
  background-position: -510px 0px;
}
label.has-error-icon::selection {
  background: none;
}
.short-input label.has-error-icon{
  right: -22px;
}

#modal-prompt-location {
  text-align: center;
  .modal-dialog {
    width: 95%;
    max-width: 320px;
    margin: 50px auto 0px;
  }
  .btn-close-prompt-location {
    width: 40px; height: 45px;
    position: absolute;
    right: 0;
    top: -40px;
    text-align: right;
    .sprites {
      margin-top: 15px;
      .scale(1.2,1.2);
    }
  }
  .btn-red {
    display: block;
    width: 110px;
  }
  .location-name {
    font-weight: bold;
    margin: 10px 0px;
    color: @redFlashTheme;
    .sprites {
      margin-left: 5px;
    }
  }
  .inner {
    padding: 0px;
    max-width: 300px;
  }
  .location-select-box {
    .form-group {
      width: 100%;
      margin-bottom: 0;
      margin-top: 20px;
      &:last-child {
        margin-left: 0;
        margin-bottom: 20px;
      }
    }
  }
  .form-control {
    height: 32px;
    padding-left: 15px;
  }
}

.apr-form{
  .form-group{
    position: relative;
    margin-bottom: 35px;
    .apr-label{
      position: absolute;
      bottom: 8px;
      color: #999999;
      z-index: 10;
    }
    .sprites {
      z-index: 10;
    }
  }
  input.form-control{
    text-align: right;
    border: none;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
    font-size: 18px;
    padding: 6px 25px 6px 45px;
    border-radius: 0px;
    &.error{
      border-color: @redFlashTheme ;
    }
    :focus{
      border-color: #adaeb0;
      outline: 0;
    }
  }
  #firstName, #lastName {
    padding: 6px 25px 6px 80px;
  }
  #card {
    padding: 6px 25px 6px 170px;
  }

}
.apr-modal-top{
  background: rgba(0,0,0, .8);
  position: relative;
}
.modal-head{
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 35px 0;
}
.modal-title{
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 4.2px;
  display: inline-block;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  &:before{
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 5px;
    position: absolute;
    left: -110px;
    top: 7px;
  }
  &:after{
    content: "";
    display: inline-block;
    width: 100px;
    height: 1px;
    background-color: #fff;
    margin-left: 15px;
    margin-bottom: 5px;
    position: absolute;
    right: -110px;
    top: 7px;
  }
}
.modal-headline{
  font-family: @fontGeorgia;
  font-size: 40px;
  line-height: 1;
  margin-top: 0px;
  color: #fff;
}
#modal-reminder .well {
  margin: 0 4px;
}
.pdt-10{
  padding-top: 10px;
}
.pdt-20{
  padding-top: 20px;
}
.error{
  color: @redFlashTheme;
}
.icon-tick.icon-success{
  position: absolute;
  right: 0;
  bottom: 9px;
  display: none;
}
input.valid + span + span.icon-success, input.valid + span.icon-success{
  display: block;
}
input.error + span{
  color: @redFlashTheme !important;
}
.d-table{
  display: table;
}
.nav-profile-avatar{
  display: table-cell;
}
.profile-bar{
  display: table-cell;
  padding-left: @profile-bar-left-gap;
  vertical-align: middle;
}
select.form-control::-ms-expand {
  display: none;
}
.menu-fixed{
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}


body.modalBlur > form > *:not(.modal) {
  /*filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: url(#blur);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');*/
  /*-webkit-filter: blur(5px);
  -webkit-transform: translate3d(0, 0, 0);
  filter: progid:DXImageTransform.Microsoft.Blur(MakeShadow='true', PixelRadius='5',ShadowOpacity='0.5');*/

  filter: blur(2px);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
}

/*restaurant detail page*/

.term-block{
  color: #666666;
}
.list-check ul{
  list-style: none outside;
  padding-left: 10px;
  li{
    margin: 10px 0;
    &:before{
      content: '';
      display: inline-block;
      background-image: @sprites;
      background-repeat: no-repeat;
      overflow: hidden;
      width: 20px;
      height: 20px;
      background-position: -135px -207px;
      vertical-align: -3px;
      margin-right: 18px;
    }
  }
}
.retaurant-single{
  border-bottom: 1px solid #eeeeee;
  padding: 30px 0px;
  &:first-child{
    padding-top: 0px;
  }

}
.restaurant-detail{
  width: 183px;
  position: absolute;
  right: 0;
  top: 0;
  .caption{
    padding: 15px;
    color: #686666;
  }
}
.big-font-price{
  font-size: 60px;
}
.line-seperator{
  border-bottom: 1px solid #e4e4e4;
}
.page-culinary .fr-booking{
  padding: 0px 15px;
}
.restaurant-title{
  line-height: 100%;
}

section.restaurant-list{
  margin-bottom: 85px;
} 

.culinary-recommends-medal{
  position: absolute;
  /*right: 30px;*/
  top: 110px;
  &.icon-recommends{
    display: none;
  }
}
.block-thankyou{
  padding: 35px 0 70px 0;
}

.main-menu .dropdown-menu{
  background: none!important;
  box-shadow: none;
  border: none;
  padding: 3px 0 0 0;
  width: 200px;
  ul{
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    li{
      a{
        color: #333;
        display: block;
        padding: 10px 15px;
      }
      &.active, &:hover, &:focus{
        background: #f4f4f4;
        a{
          color: @redFlashTheme;
          font-weight: bold;
        }
        &:first-child{
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
        &:last-child{
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        :before{
          position: absolute;
          top: -6px;
          left: 50%;
          margin-left: -7px;
          display: inline-block;
          border-right: 9px solid transparent;
          border-bottom: 9px solid #f4f4f4;
          border-left: 9px solid transparent;
          content: '';
          z-index: 3;
        }
      }
    }
  }
  &.dropdown-center{
    left: 50%;
    right: auto;
    margin-left: -100px;
  }
  &:after {
    position: absolute;
    top: -6px;
    left: 50%;
    margin-left: -7px;
    display: inline-block;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #ffffff;
    border-left: 9px solid transparent;
    content: '';
  }
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background-color: @redFlashTheme;
}
.dropdown:hover .dropdown-menu{
  display: block;
}

.autocomplete-search{
  width: 295px!important;
  margin-left: -30px!important;
  top: 161px!important;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-weight: bold;
  padding: 5px 0;
  li{
    padding: 5px 15px!important;
    font-size: 14px;
    span{
      font-weight: normal;
    }
    &.ui-state-focus{
      background: none;
      color: #fff;
      font-weight: bold;
      border-color:transparent ;
    }
  }
}
.custom-error{
  margin-top: 5px;
  display: none;
}
.booking-datepicker{
  width: 373px;
}
.profile-datepicker{
  width: 349px;
}
.page-home .block-intro .slides-intro .slick-dots{
  margin-bottom: 0px;
}
.open .dropdown-menu, .open .wrap-multiselect, .btn-group.opened .wrap-multiselect {
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  transform: scale(1, 1);
  opacity:1;
}
.dropdown-backdrop {
  z-index: 10;
}
.container-multiselect {
  max-height:120px !important;
  overflow: auto;
  &.scroll-wrapper{ max-height: none !important;}
}
.wrap-multiselect, .dropdown-menu {
  position: absolute;
  z-index: 11;
  padding: 15px 0px 15px 0px;
  width: 100%;
  background-color: #FFF;
  border: 1px solid @blueFlashTheme;
  border-top-width: 0px;
  opacity:0;
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  -moz-transform: scale(1, 0);
  -ms-transform: scale(1, 0);
  display: block;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
}
.thankyou-text{
  font-size: 16px;
}
.box-taxi{
  position: relative;
  width: 585px;
  max-width: 100%;
  height: 136px;
  margin: 0 auto;
  color: #fff;
  border: 1px solid #d9d9d9;
  &:before{
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
  .img-responsive{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
  }
}
.box-save-date, .box-add-preferences{
  &:extend(.box-taxi all);
  .box-taxi-content{
    width: 100% !important;
    .btn-transparent{
      width: 210px;
    }
  }
}
.box-taxi-content{
  position: relative;
  width: 340px;
  height: 100%;
  display: table;
  margin: 0 auto;
  z-index: 2;
  .d-table-cell{
    display: table-cell;
    height: 100%;
    vertical-align: middle;
  }
  .btn-transparent{
    background: transparent;
    border: 1px solid #fff;
    border-radius: 2px;
    line-height: 100%;
    margin: 0px 3px;
    padding: 10px 25px;
    width: auto;
    font-weight: bold;
    &:hover, &:focus{
      color: #fff;
    }
  }
}
.page-title{
  font-size: 30px;
  line-height: 100%;
}
.bg-light {
  background: #F1F1F1;
}
.media-thumb {
  width: 160px;
  height: 160px;
  display: table;
  background: #f1f1f1;
}
.d-table-cell{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%
}
.list-request .media-object{
  margin: 0 auto;
}
.media-title{
  font-size: 15px;
  margin: 0px ;
  font-weight: 700;
  color:#000;
}
.request-actions{
  text-transform: uppercase;
  color:#949494;
  font-weight: 700;
}
.request-actions span.v-line{
  line-height: 100%;
  margin: 0 5px;
}
.pl-10{
  padding-left: 10px;
}
ul.list-request li {
  padding: 30px 0;
  border-bottom: 1px solid #f1f1f1;
  &:first-child{
    border-top: 1px solid #f1f1f1;
  }
}
ul.list-request{
  &.Empty{
    li:first-child{
      border-top: none;
    }
  }
}
.pagination-see-all{
  position: absolute;
  right: 0px;
  top: 10px;
}
/*customize pagination*/
.pagination > li > a, .pagination > li > span{
  font-size: 12px;
  border: none;
  color: #686666;
  margin: 0px 8px;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus{
  background-color: #cb4f53;
  border-color: #cb4f53;
  border-radius: 50%;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus{
  color: #686666;
  background:none;
  border:none;
}
.request-page-pagination{
  margin: 0px 0 0 30%;
}
/*custom radio*/
input[type=radio] {
  padding: 0;
  margin: 0;
  height: 16px;
  width: 16px;
  float: left;
  position: absolute;
  left: 0;
  opacity: 0;
  text-indent: -99999px;
  overflow: hidden;
}
input[type=radio] + label:before {
  content: '';
  display: inline-block;
  background-image: url('../images/big-radio-button-flashtheme-1.png');
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  vertical-align: -5px;
  .transition(all 0.3s);
}
input[type=radio]:checked + label:before {
  background-image: url('../images/big-radio-button-active-flashtheme.png');
}
.left-item{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  z-index: 1;
  display: block;
  text-align: center;
  div{
    display: table;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    span{
      display: table-cell;
      vertical-align: middle;
      color: #fff;
      font-size: 32px;
    }
  }
}
.btn-cancel-request{
  cursor:pointer;
}
