.mb-0 {
	margin-bottom: 0;
}
.mb-5 {
	margin-bottom: 5px;
}
.ml-0 {
	margin-left: 0;
}
.pb-0 {
	padding-bottom: 0 !important;
}
.pl-15 {
	padding-left: 15px;
}
.pr-15 {
	padding-right: 15px;
}
.pl-20 {
	padding-left: 20px;
}
.pr-20 {
	padding-right: 20px;
}

.wrapper {
	// padding-top: 80px;
	background-color: #fff;
	overflow-x: hidden;
}
.page-experiences{
	.box-group select.form-control {
		padding-left: 15px;
		option {
			padding-left: 15px;
		}
	}
	.block-article p{
		margin-bottom: 45px;
	}
}
.block-experiences {
	background-color: @white;
	padding-bottom: 85px;
	.wrap-experiences{
		border-top: 1px solid @whiteDarker;
		padding-top: 20px;
	}
	&:last-child{
		padding-bottom: 0;
		.wrap-experiences{
			border-bottom: 1px solid @whiteDarker;
			padding-bottom: 85px;
		}
	}
	h2 {
		font-weight: bold;
		text-align: center;
		margin-bottom: 5px;
		color: @redFlashTheme;
		text-transform: uppercase;
	}
	.text-center{
		text-align: center;
	}
	p.text-center{
		margin-bottom: 30px;
	}
	.slide-experiences {
		.slide {
			position: relative;
			overflow: hidden;
			margin-left: 4px;
			margin-right: 4px;
			img {
				transition: all 0.3s;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
			}
			.content {
				position: absolute;
				top: 0;left: 0;right: 0;bottom: 0;
				text-align: center;
				color: @white;
				padding-left: 20px;
				padding-right: 20px;
				transition: all 0.3s;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				-o-transition: all 0.3s;
				.inner{
					display: table;
					height: 100%;
					a {
						position: relative;
						display: table-cell;
						vertical-align: middle;
						padding-left: 20px;
						padding-right: 20px;
					}
				}
				.sub {
					text-transform: uppercase;
					font-weight: bold;
					letter-spacing: 3.2px;
					font-size: 12px;
				}
			}
			&:hover {
				img {
					transform: scale(1.05, 1.05);
					-webkit-transform: scale(1.05, 1.05);
					-moz-transform: scale(1.05, 1.05);
					-ms-transform: scale(1.05, 1.05);
					-o-transform: scale(1.05, 1.05);
				}
				.content {
					opacity: 0;
					transform: scale(1.5, 1.5);
					-webkit-transform: scale(1.5, 1.5);
					-moz-transform: scale(1.5, 1.5);
					-ms-transform: scale(1.5, 1.5);
					-o-transform: scale(1.5, 1.5);
				}
			}
		}
		.slick-dots {
			margin-bottom: 0px;
			bottom: -55px;
		}
	}
}

.page-experience-package{
	.color-red{
		font-weight: bold;
		color: @redFlashTheme;
	}
}
.booking-box{
	border: 1px solid #e4e4e4;
	padding: 15px;
	width: 260px !important;
	float: right;
	.wrap-star-rating, .wrap-add-wishlist, .wrap-request{
		text-align: center;
		h3{
			font-family: @fontRalewayMedium;
			font-size: 32px;
			margin: 0;
		}
	}
	.fr-booking{
		padding: 0px 15px;
	}
	.wrap-add-wishlist{
		.sprites{
			cursor: pointer;
		}
		.icon-heart-black-lg{
			&:hover{
				background-position: -214px -342px;
			}
		}
		&.voted{
			.icon-heart-black-lg{
				background-position: -214px -342px;
			}
		}
	}
	.wrap-btn-book{
		.btn-block{
			margin-bottom: 15px;
			&:nth-of-type(2){
				margin-bottom: 8px;
			}
		}
	}
	.restaurant-share-social{
		span{
			font-weight: bold;
			vertical-align: 7px;
			margin-right: 3px;
		}
	}
	&.fixed{
		margin-top: 0;
		position: fixed;
		z-index: 1;
		bottom: auto;
	}
	&.absoluted{
		position: absolute;
		right: 4px;
		bottom: 0;
		left: auto !important;
	}
}
.d-table-cell{
	line-height: 1em;
	a{
		display: inline-block;
		overflow: hidden;
		position: relative;
		width: 100%;
		height: 100%;
		img{
			height: 80px;
		}
	}
}
.block-blog {
	h2 {
		text-align: center;
	}
	.article {
		position: relative;
		overflow: hidden;
		img, .img-cover {
			.transition(all 0.5s);
		}
		.content {
			position: absolute;
			top: 0;left: 0;right: 0;bottom: 0;
			text-align: center;
			color: @white;
			pointer-events: none;
			.inner{
				display: table;
				table-layout: fixed;
				height: 100%;
				width: 100%;
				.hover-inner-hide {
					display: table-cell;
					width: 100%;
					vertical-align: middle;
					padding-left: 10px;
					padding-right: 10px;
					opacity: 1;
					.transition(all 0.5s);
				}
			}	
			
			.show-sm{
				display: none;
			}
			.sub {
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: 3.2px;
				font-size: 12px;
			}
			.hover-inner-show{
				position: absolute;
				top: 0; bottom: 0; left: 0; right: 0;
				// display: table;
				display: none;
				height: 100%;
				width: 100%;
				padding-left: 10px;
				padding-right: 10px;
				opacity: 0;
				.scale(1.5, 1.5);
				.transition(all 0.5s);
				.hover-inner-item{
					display: table-cell;
					vertical-align: middle;
				}
				.sprites{
					display: inline-block;
					margin-left: 10px;
					margin-right: 10px;
				}
				.inner-icon{
					margin-bottom: 20px;
				}
				.inner-content{
					overflow: hidden;
					.sub-content{
						position: relative;
						width: 49%;
						display: inline-block;
						vertical-align: top;
					}
					.inner-number{
						position: absolute;
						top: 0; left: 0; right: 0;
						p{
							margin-bottom: 0;
							&:first-child{
								font-size: 20px;
								line-height: 1.3em;
							}
						}
					}
				}
			}
		}
		&:hover {
			img, .img-cover {
				// .scale(1.5, 1.5);
			}
			> a::after {
				// background: rgba(0,0,0,0);
			}
			.content {
				.hover-inner-hide{
					// opacity: 0;
					// .translate(0, -50%);
					h3{
						color: #9d0329!important;
					}
				}
				.hover-inner-show{
					// opacity: 1;
					// .scale(1.5, 1.5);
				}
			}
		}
	}
}
.inner-btn{
	display: inline-block;
	cursor: pointer;
	pointer-events: auto;
	background-color: transparent !important;
	position: relative !important;
	line-height: inherit !important;
	font-size: inherit !important;
	p{
		font-weight: bold;
		font-size: 12px;
		margin-bottom: 0;
		text-transform: uppercase;
	}
	.icon-heart-red, .icon-cuisine-without-smoke-red{
		display: none !important;
	}
	&.btn-like.active, &.btn-like.voted, &:hover{
		color: @redFlashTheme !important;
		.icon-heart-red, .icon-cuisine-without-smoke-red{
			display: inline-block !important;
		}
		.icon-heart-medium, .icon-cuisine-without-smoke-medium{
			display: none !important;
		}
	}
}

.page-sign-up{
	.box-expiry-date{
		label{
			&.lt-error{
				white-space: nowrap;
			}
		}
	}
	.block-intro{
		.slides-intro{
			.slide{
				height: 318px;
				.content{
					width: 100%;
				}
			}
		} 
	}
	.block-signup-form{
		.title{
			font-size: 30px;
			line-height: 35px;
			font-family: @fontGeorgia;
			margin-top: -8px;
			margin-bottom: 10px;
		}
		.wrap-form-group{
			margin-bottom: 35px;
			margin-right: 15px;
		}
		.form-group{
			margin-bottom: 0;
			& > label{
				font-weight: bold;
				span{
					font-size: 14px;
					font-weight: normal;
					color: @redLight;
				}
			}
			.box-group{
				.box-item{
					position: relative;
					display: inline-block;
					vertical-align: middle;
					width: 93.5%;
					&.box-expiry-date{
						> label.lt-error {
							width: 76%;
						}
						.box-sub-item{
							float: left;
							display: inline-block;
							vertical-align: middle;
						}
						p.box-sub-item{
							font-size: 14px;
							margin-bottom: 0;
							text-align: center;
						}
					}
				}
				.form-control{
					padding-right: 5px;
					border-radius: 0;
					-webkit-border-radius: 0;
					-moz-border-radius: 0;
					box-shadow: none;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
				}
			}
		}
		.group-password{
			.form-group{
				.box-group{
					.box-item{
						margin-bottom: 20px;
					}
				}
			}
			&:last-child{
				.btn-show-password{
					margin-top: 25px;
				}
			}
		}
		.btn-show-password{
			font-size: 12px;
		}
		.text-center{
			text-align: center;
		}
		.box-term{
			overflow: hidden;
			.box-term-item{
				float: left;
				position: relative;
				a{
					font-weight: bold;
					color: @redLight;
				}
				label.lt-error {
					position: relative;
					bottom: 0;
				}
				&:first-child{
					width: 3.5%;
				}
				&:last-child{
					width: 96.5%;
				}
			}
		}
	}
}
.cardExpiryPicker{
	.btn-group-selectbox{
		.btn-selectbox{
			padding-left: 9px !important;
			&:after{
				right: 9px !important;
			}
		}
	}
}
.module-richtext, .block-filter-top {
	margin-top: 35px;
	h1{
		color: @grayFlashTheme;
		font-family: @fontGeorgia;
		font-size: 36px;
		margin-top: 0;
		margin-bottom: 10px;
	}
	& > .container{
		& > p{
			margin-bottom: 28px;
		}
	}
	.form-filter-top{
		.form-control{
			padding-left: 34px !important;
		}
	}
	.module-filter-top{
		text-align: left;
		.wrap-filter-item{
			width: 25%;
			display: inline-block;
			vertical-align: middle;
			margin: 0 2px;
		}
		.form-control{
			font-size: 12px;
			padding-left: 15px;
			// New design
			// padding-right: 15px;

		}
	}
	.text-left{
		text-align: left;
	}
}
.module-filter-top{
	.list-options{
		font-size: 12px;
	}
}
.wrap-btn-filter{
	position: relative;
	width: 100%;
	text-align: right;
	.btn-filter-top{
		display: none;
		background-color: @redFlashTheme;
		color: @white;
		padding: 6px 10px;
		font-size: 16px;
		line-height: 1.2em;
		text-transform: uppercase;
		cursor: pointer;
		span, .sprites{
			display: inline-block;
			vertical-align: middle;
			padding: 0 10px;
		}
		&:hover {
			background-color: @white;
			color: @redFlashTheme;
			border: 1px solid @redFlashTheme;
		}
		.sprites{
			transform: scale(0.7, 0.7);
			-webkit-transform: scale(0.7, 0.7);
			-moz-transform: scale(0.7, 0.7);
			-ms-transform: scale(0.7, 0.7);
			-o-transform: scale(0.7, 0.7);
		}
	}
	.btn-module-filter{
		position: relative;
		display: inline-block;
		background-color: @redFlashTheme;
		color: @white;
		padding: 6px 10px;
		font-size: 16px;
		line-height: 1.2em;
		text-transform: uppercase;
		cursor: pointer;
		z-index: 5;
		border: 1px solid transparent;
		.transition(all 0.3s);
		&:hover {
			background-color: @white;
			color: @redFlashTheme;
			border: 1px solid @redFlashTheme;
		}
		span, .sprites{
			display: inline-block;
			vertical-align: middle;
			padding: 0 10px;
		}
		.sprites{
			transform: scale(0.7, 0.7);
			-webkit-transform: scale(0.7, 0.7);
			-moz-transform: scale(0.7, 0.7);
			-ms-transform: scale(0.7, 0.7);
			-o-transform: scale(0.7, 0.7);
		}
	}
}
.form-filter-top{
	position: fixed;
	top: 0; bottom: 0; right: -100%;
	width: 100%;
	height: 100%;
	z-index: 145;
	padding: 30px;
	overflow-y: auto; 
	background-color: @white;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	display: none;
	&.active{
		right: 0;
	}
	.form-filter-title{
		overflow: hidden;
		label{
			float: left;
			font-weight: bold;
		}
		.sprites{
			display: inline-block;
			float: right;
			padding: 3px;
			&.icon-close{
				cursor: pointer;
				padding: 10px;
			}
		}
	}
	hr{
		margin-top: 5px;
	}
	.btn-filter{
		text-transform: uppercase;
		background-color: @redFlashTheme;
		color: @white;
		padding: 11px 44px;
		border: none;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		&.disabled {
			pointer-events: none;
			cursor: not-allowed;
			filter: alpha(opacity=65);
			-webkit-box-shadow: none;
			box-shadow: none;
			opacity: .65;
		}
	}
	.ms-options-wrap {
		.ms-options{
			text-align: left;
			label{
				padding: 4px 34px;
			}
		}		
		.title-muti-elect{
			padding-left: 34px !important;
		}
	}
	.box-sort-by{
		padding-right: 0;
	}
}
.box-filter{
	border-top: 1px solid @whiteDarker;
	margin-bottom: 30px;
	.item{
		.clearfix();
		position: relative;
		margin-top: 20px;
		padding-bottom: 25px;
		border-bottom: 1px solid @whiteDarker;
		.icon-arrow {
			position: absolute;
			top: 0;
			right: 0;
			cursor: pointer;
			&.toggle {
				background-position: -130px -190px;
			}
		}
		.title{
			text-align: left;
			color: @redFlashTheme;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1px;
			.sprites{
				margin: 0px auto 8px;
			}
		}
		.list-checkbox{
			max-height: 90px !important;
			text-align: left;
			&.scroll-wrapper{ max-height: none !important}
		}
		.scroll-wrapper{
			margin-top: 15px;
		}
		&.box-category{
			padding-bottom: 0;
			border-bottom: none;
			.list-checkbox{
				max-height: 300px !important;
				&.scroll-wrapper{ max-height: none !important}
				li{
					min-width: 100%;
					padding: 4px 10px;
					border-radius: 3px;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px;
					margin-bottom: 7px;
					a{
						display: block;
					}
					&.active, &:hover{
						background: @whiteDark;
						a{
							color: @redFlashTheme;
							font-weight: bold;
						}
					}
				}
			}
		}
	}
	.menu-icon{
		padding: 20px 0;
		margin-top: 0;
		ul{
			width: 100%;
			margin-top: 0 !important;
			li{
				padding: 0 5px;
				margin-bottom: 0;
				min-width: inherit;
				width: 25%;
				&.on{
					.sub-item{
						background-color: @redFlashTheme;
						color: @white;
					}
				}
				.sub-item{
					background-color: @whiteDark;
					text-align: center;
					height: 70px;
					padding: 10px;
					border-radius: 3px;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px; 
					p{
						font-family: @fontRalewayMedium;
						vertical-align: middle;
					}
				}
			}
		}
		[class^="ico-"], [class*=" ico-"]{
			font-size: 28px;
			margin-bottom: 9px;
		}
	}
}
.block-favourite {
	background-color: @white;
	padding-top: 30px;
	padding-bottom: 65px;
	h1 {
		font-size: 30px;
		text-align: center;
		margin-top: 0;
		margin-bottom: 25px;
	}
	h2 {
		text-align: center;
		margin-bottom: 30px;
	}
	p.slides-favourite{
		padding-left: 15%;
		padding-right: 15%;
		color: #333;
		text-align: center;
		margin-bottom: 30px;
	}
	.slides-favourite {
		padding-left: 15%;
		padding-right: 15%;
		.clearfix();
		.slide {
			float: left;
			width: 33.333%;
			padding-left: 4px;
			padding-right: 4px;
			margin-bottom: 10px;
			&.slick-slide {
				max-width: none;
			}
			.sub {
				text-transform: uppercase;
				font-weight: bold;
				font-size: 10px;
				letter-spacing: 2px;
				color: @redFlashTheme;
			}
			h3 {
				font-size: 18px;
				margin-bottom: 3px;
				margin-top: 0;
				color: #000;
				max-height: 50px;
				overflow: hidden;
			}
			p {
				margin-bottom: 0;
			}
			.figure {
				position: relative;
				.img-responsive {
					width: 100%;
				}
				.wrap-slide-img{
					position: relative;
					color: @white;
					text-align: center;
					overflow: hidden;
					&:before {
						content: "";
						display: block;
						padding-top: 100%;
					}
					> a {
						display: inline-block;
						text-align: center;
						position: absolute;
						top: 0; bottom: 0; left: 0px; right: 0px;
						background-color: @bg-slide;
						font-size: 0px;
						line-height: 0;
						&:before {
							content: "";
							display: inline-block;
							vertical-align: middle;
							height: 100%;
						}
						// &:after {
						//     content: "";
						//     display: inline-block;
						//     position: absolute;
						//     top: 0;
						//     right: 0;
						//     bottom: 0;
						//     left: 0;
						//     background: rgba(0,0,0,0.3);
						// }
						img {
							display: inline-block;
							vertical-align: middle;
							width: 100%;
							height: auto;
						}
					}
					.overlay {
						background-color: transparent;
						position: absolute;			
						top: 0;right: 0;bottom: 0;left: 0;
						padding-top: 30%;
						opacity: 0;
						transform: scale(0.8, 0.8);
						transition: all 0.3s;
						pointer-events: none;
						.sprites{
							display: inline-block;
						}
						.sub-content{
							width: 49%;
							display: inline-block;
						}
						.sub-content:first-child{
							padding-left: 25px;
							padding-right: 5px;
						}
						.sub-content:last-child{
							padding-left: 5px;
							padding-right: 25px;
						}
					}
					&:hover {
						.overlay {
							background-color: rgba(0, 0, 0, 0.4);
							opacity: 1;
							transform: scale(1, 1);
						}
					}
				}
			}
			.show-sm{
				position: absolute;
				top: 0;
				right: 0;
				padding: 10px;
				font-size: 0;
				background-color: rgba(0, 0, 0, 0.4);
				display: none;
			}
			.content {
				padding: 10px 15px;
				background-color: @white;
				box-sizing: border-box;
				height: 140px;
				overflow: hidden;
				.desc{
					max-height: 105px;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}
		}
	}			
}
.block-article-desc{
	&:extend(.block-experiences all);
	padding-top: 5px;
	padding-bottom: 80px;
	.wrap-experiences{
		position: relative;
		padding-top: 22px;
	}
	p.text-center{
		margin-bottom: 22px;
		&.text-upper-btn{
			margin-bottom: 14px;
		}
	}
	.box-btn{
		text-align: center;
		margin-bottom: 30px;
		button{
			padding: 5px 25px;
			margin: 0 10px;
			color: @gray;
			font-weight: bold;
			background-color: @white;
			border-radius: 4px;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			transition: all 0.4s;
			-webkit-transition: all 0.4s;
			-moz-transition: all 0.4s;
			-o-transition: all 0.4s;
			border: 1px solid @whiteDarker;
			box-shadow: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;			
			&.active{
				color: @white;
				background-color: @redFlashTheme;
			}
		}
	}
	.btn-see-all{
		position: absolute;
		bottom: -50px;
		right: 0;
		font-weight: bold;
		font-size: 12px;
		color: @redFlashTheme;
		text-transform: uppercase;
	}
}
.slick-slide{
	outline: none;
	&:hover{
		border: none !important;
		background: #FFF;
	}
}
.slide-common{
	position: relative;
	padding-left: 4px;
	padding-right: 4px;
	margin-bottom: 8px;
	a{
		overflow: hidden;
		display: block;
	}
	img{
		transition: all 0.4s;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		-o-transition: all 0.4s;
		width: 100%;
		height: auto;
	}
	.content{
		pointer-events: none;
		position: absolute !important;
		top: 0; bottom: 0; left: 0; right: 0;
		transition: all 0.4s;
		-webkit-transition: all 0.4s;
		-moz-transition: all 0.4s;
		-o-transition: all 0.4s;
		.inner{
			display: table;
			width: 100%;
			height: 100%;
			.inner-item{
				display: table-cell;
				vertical-align: middle;
				text-align: center;
				color: @white;
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
	&:hover img, &:focus img{
		transform: scale(1.05, 1.05);
		-webkit-transform: scale(1.05, 1.05);
		-moz-transform: scale(1.05, 1.05);
		-ms-transform: scale(1.05, 1.05);
		-o-transform: scale(1.05, 1.05);
	}
	&:hover .content{
		opacity: 0;
		transform: scale(1.5, 1.5);
		-webkit-transform: scale(1.5, 1.5);
		-moz-transform: scale(1.5, 1.5);
		-ms-transform: scale(1.5, 1.5);
		-o-transform: scale(1.5, 1.5);
	}
	.show-sm{
		display: none;
	}
}
.form-resend-activation{
	text-align: center;
	.form-control{
		display: inline-block;
		vertical-align: middle;
	}
	.wrap-email{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 40%;
		margin-right: 30px;
	}
	.form-control.btn-red{
		width: 200px;
		height: 34px;
	}
}
.color-red{
	color: @redFlashTheme;
}
.price-range-slider{
	&:extend(.pure-range-slider all);
	margin-left: 0;
	max-width: 100%;
	input[type="range"]{
		width: 100%;
		left: 0;
		padding: 0 14px;
		font-size: 18px;
		& + .steps:before{
			width: 75.5%;
			left: 12.5%;
		}
		& + .steps:after{
			left: 12.5%;
		}
		.range-loop(@counter, @total) when (@counter <= @total) {
			&[defaultvalue="@{counter}"],
			&[value="@{counter}"],
			&[defaultvalue][value="@{counter}"] {
				+ .steps {
					&:after {
						width: (@counter - 1) * 25%;
					}
				}
			}
		  	.range-loop((@counter + 1), @total);    // next iteration
		  }
		  .range-loop(1, 4);
		}
		&.range-5{
			input[type="range"]{
				& + .steps:before{
					width: 80.3%;
					left: 10%;
				}
				& + .steps:after{
					left: 10%;
				}
				.range-loop(@counter, @total) when (@counter <= @total) {
					&[defaultvalue="@{counter}"],
					&[value="@{counter}"],
					&[defaultvalue][value="@{counter}"] {
						+ .steps {
							&:after {
								width: (@counter - 1) * 20%;
							}
						}
					}
		  	.range-loop((@counter + 1), @total);    // next iteration
		  }
		  .range-loop(1, 5);
		}
	}
}
.module-filter{
	.bigger-filter{
		width: 550px;
		right: -550px;
		.list-checkbox{
			li{
				max-width: 50%;
			}
		}
		.price-range-slider{
			width: 507px;
			input[type="range"]{
				padding: 0 50px;
			}
			&.range-5{
				input[type="range"]{
					padding: 0 35px 0 37px;
				}
			}
		}
	}
	.content-filter{
		padding-top: 0;
		padding-right: 0;
		min-height: 105px;
		&.active{
			padding-top: 15px;
			padding-right: 15px;
			.btn-filter{
				position: absolute !important;
				right: auto !important;
				top: 37px !important;
				left: -70px !important;
				.ico{
					font-size: 11px;
					&::before{
						content: "\e954";
					}
				}
			}
			.box-btn-filter {
				text-align: center;
			}
			.btn-filter-main{
				display: inline-block;
				margin-left: 5px;
				margin-right: 5px;
			}
			.item{
				display: block;
			}
		}
		&.affix{
			position: fixed;
			right: -550px;
			top: 120px;
			&.active{
				right: 0;
			}
		}
		.btn-filter{
			padding: 0;
			height: 32px;
			width: 105px;
			left: -70px;
			top: 37px;
			text-align: center;
			span{
				display: inline-block;
				vertical-align: middle;
			}
			.ico{
				width: auto;
				color: @white;
				font-size: 20px;
				line-height: 1em;
				font-weight: bold;
				position: relative;
				margin-top: -1px;
				margin-left: 6px;
			}
			&.disabled{
				pointer-events: none;
				opacity: 0.7;
			}
			&.affix{
				position: fixed;
				right: -37px;
				top: 165px;
				left: auto;
			}
		}
		.btn-filter-main{
			display: none;
		}
		.item{
			display: none;
			.title{
				.sprites{
					display: block;
				}
			}
			&.box-category{
				padding-bottom: 0;
				border-bottom: none;
				.list-checkbox{
					max-height: 600px !important;
					&.scroll-wrapper{ max-height: none !important}
					li{
						min-width: 100%;
						padding: 4px 10px;
						border-radius: 3px;
						-webkit-border-radius: 3px;
						-moz-border-radius: 3px;
						margin-bottom: 7px;
						a{
							display: block;
						}
						&.active, &:hover{
							background: @whiteDark;
							a{
								color: @redFlashTheme;
								font-weight: bold;
							}
						}
					}
				}
			}
			&.box-region{
				.list-checkbox{
					max-height: 195px !important;
					&.scroll-wrapper{ max-height: none !important}
				}
			}
			.list-checkbox{
				max-height: 120px !important;
				overflow-y: auto;
				&.scroll-wrapper{ max-height: none !important}
				&.box-activities{
					li{
						width: 100%;
					}
				}
			}
		}
	}
	.menu-icon{
		padding: 20px 0 !important;
		margin-top: 0 !important;
		ul{
			width: 100%;
			margin-top: 0;
			li{
				padding: 0 5px;
				margin-bottom: 0;
				min-width: 25% !important;
				&.on{
					.sub-item{
						background-color: @redFlashTheme;
						color: @white;
					}
				}
				.sub-item{
					background-color: @whiteDark;
					text-align: center;
					height: 70px;
					padding: 10px;
					border-radius: 3px;
					-webkit-border-radius: 3px;
					-moz-border-radius: 3px; 
					p{
						font-family: @fontRalewayMedium;
						vertical-align: middle;
					}
				}
			}
		}
		[class^="ico-"], [class*=" ico-"]{
			font-size: 28px;
			margin-bottom: 9px;
		}
	}
	.ico{
		width: 100%;
		text-align: center;
		font-size: 32px;
		color: @redFlashTheme;
	}
}
.block-slick-slides.block-recommends{
	.slide-common{
		&:hover .content{
			opacity: 1;
			transform: scale(1, 1);
			-webkit-transform: scale(1, 1);
			-moz-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			-o-transform: scale(1, 1);
		}
		.hover-inner-hide{
			.inner-desc{
				max-height: 62px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
.block-recommends-horizontal{
	color: @black;
	padding-top: 6px;
	padding-bottom: 65px;
	.slick-slide{
		padding-right: 4px;
		padding-left: 4px;
	}
	.booking-slides-recommends{
		.slide{
			float: left;
			width: 50%;
			border: none;
			padding-right: 30px;
			margin-bottom: 0;
			.img-responsive{
				width: 180px;
				vertical-align: middle;
				.img-inner{
					pointer-events: auto;
					background-color: rgba(0,0,0,0.1); 
					.inner span {
						display: none;
						color: @redFlashTheme;
						font-weight: bold;
						text-transform: uppercase;
						margin-top: 10px;
						margin-left: 10px;
					}
				}

			}
			.content{
				height: 240px;
				padding-right: 0;
			}
			&:hover .img-responsive .img-inner, &.selected .img-responsive .img-inner{
				transform: scale(1, 1);
				-webkit-transform: scale(1, 1);
				-moz-transform: scale(1, 1);
				-ms-transform: scale(1, 1);
				-o-transform: scale(1, 1);
				opacity: 1;
			}
			&.selected .img-responsive .img-inner .inner span{
				display: inline-block;
			}
			.wrap-content{
				position: relative;
				padding: 0 10px;
				border: 1px solid #e4e4e4;
				overflow: hidden;
			}
		}

	}
	.slide{
		position: relative;
		border: 1px solid @whiteDarker;
		margin-bottom: 18px;
		overflow: hidden;
		.img-responsive{
			display: table-cell;
			vertical-align: top;
			width: 280px;
			img{
				width: 100%;
				transition: all 0.4s;
				-webkit-transition: all 0.4s;
				-moz-transition: all 0.4s;
				-o-transition: all 0.4s;
			}
		}
		.content{
			padding: 25px 20px;
			display: table-cell;
			vertical-align: top;
			p{
				margin-bottom: 0;
			}
			.title-above{
				font-weight: bold;
				font-size: 10px;
				color: @redFlashTheme;
				text-transform: uppercase;
			}
			h3{
				font-size: 25px;
				line-height: 1.2em;
				max-height: 60px;
				overflow: hidden;
				margin-top: 3px;
			}
			.desc{
				margin-bottom: 14px;
				line-height: 1.3em;
			}
			.price{
				font-family: @fontRalewayMedium;
				font-size: 24px;
				line-height: 1.2em;
				color: @redFlashTheme;
			}
		}
	}
	.show-sm{
		display: none;
	}
}
.page-travel-packages{
	.slick-dots{
		bottom: -35px;
	}
}
.page-travel-packages-indiv{
		// remake for new requirements
		.block-article-style{
			.about-info{
				text-align: left;
				.item{
					width: 30%;
					// width: auto;
					padding-right: 30px;
				}
			}
		}
	}
	.page-indiv, .page-travel-packages-indiv, .page-gourmet-indiv {
		// remake for new requirements
		.block-article-style{
			.about-desc .desc{
				padding-left: 0;
			}
		}
	}
	.img-responsive{
		.img-inner{
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			opacity: 0;
			background-color: rgba(0, 0, 0, 0.2);
			transform: scale(0.8, 0.8);
			-webkit-transform: scale(0.8, 0.8);
			-moz-transform: scale(0.8, 0.8);
			-ms-transform: scale(0.8, 0.8);
			-o-transform: scale(0.8, 0.8);
			transition: all 0.4s;
			-webkit-transition: all 0.4s;
			-moz-transition: all 0.4s;
			-o-transition: all 0.4s;
			pointer-events: none;
			.inner{
				display: table;
				width: 100%;
				height: 100%;
				.inner-item{
					display: table-cell;
					text-align: center;
					vertical-align: middle;
					padding-left: 10px;
					padding-right: 10px;
					color: @white;
					&.show-sm{
						.sprites{
							display: block;
							margin: 10px auto;
						}
					}
					.sprites{
						display: inline-block;
						margin-left: 10px;
						margin-right: 10px;
					}
					.inner-icon{
						margin-bottom: 20px;
					}
					.inner-content{
						overflow: hidden;
						.sub-content{
							position: relative;
							width: 49%;
							display: inline-block;
							vertical-align: top;
						}
						.inner-number{
							position: absolute;
							top: 0; left: 0; right: 0;
							p{
								margin-bottom: 0;
								&:first-child{
									font-size: 20px;
									line-height: 1.3em;
								}
							}
						}
					}
					&.show-sm{
						display: none;
					}
				}
			}
		}
		&:hover{
			.img-inner{
				transform: scale(1, 1);
				-webkit-transform: scale(1, 1);
				-moz-transform: scale(1, 1);
				-ms-transform: scale(1, 1);
				-o-transform: scale(1, 1);
				opacity: 1;
			}
		}
	}
	.box-city{
		.dropdown{
			button{
				width: 100%;
				text-align: left;
				height: 34px;
				background-color: transparent;
				border: 1px solid #adaeb0;
				font-size: 12px;
				padding: 6px 5px 6px 12px;
			}
			.icon-arrow-black{
				position: absolute;
				top: 4px; right: 12px;
				pointer-events: none;
			}
			.list-checkbox{
				margin-top: 0px;
				left: 0; right: 0;
				border-radius: 0;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				li{
					display: block;
					width: 100%;
					padding: 2px 12px;
					margin: 0;
					line-height: 1.8em;
					.sprites{
						margin-top: -4px;
						margin-right: 10px;
					}
				}
			}
		}
	}
	
	.page-city-guide{
		&:extend(.page-travel-packages all);
		.desc{
			max-height: 128px;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.desc-readmore{
			color: @redFlashTheme;
			font-weight: bold;
			&:hover{
				color: @redLight;
			}
		}
		.slide-common{
			.img-responsive{
				&:hover{
					& ~ .img-inner{
						background-color: rgba(0, 0, 0, 0.2);
						.inner-item{
							transform: scale(1, 1);
							-webkit-transform: scale(1, 1);
							-moz-transform: scale(1, 1);
							-ms-transform: scale(1, 1);
							-o-transform: scale(1, 1);
							opacity: 1;
						}
					}
				}
			}
			.img-inner{
				pointer-events: none;
			}
		}

	}

	/* Đặt tên như vậy để page indiv khác còn sử dụng lại sẽ hợp lý hơn */
	.content-indiv{
		padding-top: 30px;
		padding-bottom: 25px;
		section{
			padding-top: 0;
			padding-bottom: 0;
			border-bottom: 1px solid @whiteDarker;
			&:last-child {
				border-bottom: none;
			}
		}
		.booking-box{
			.wrap-star-rating, .wrap-add-wishlist, .wrap-request{
				margin-bottom: 13px;
			}
		}
		.show-sm, .show-xs{
			display: none;
		}
		// .block-article-style{
		// 	&:nth-of-type(2){
		// 		margin-top: 0;
		// 	}
		// }
	}

	.block-article-style{
		margin-top: 24px;
		h1{
			font-size: 30px;
			margin-top: 0;
			margin-bottom: 13px;
			color: @gray;
		}
		h3{
			font-weight: bold;
			font-size: 18px;
			position: relative;
			margin-top: 0;
			margin-bottom: 8px;
			&.hidden-title {
				margin-bottom: 0px;
				&.active {
					margin-bottom: 8px;
				}
			}
			span{
				position: absolute;
				cursor: pointer;
				top: 0; right: 0;
				cursor: pointer;
				padding-left: 40px;
				.sprites{
					transition: all 0.3s;
					-webkit-transition: all 0.3s;
					-moz-transition: all 0.3s;		
				}
				&.active{
					.sprites{
						transform: rotate(180deg);
						-webkit-transform: rotate(180deg);
						-moz-transform: rotate(180deg);
						-ms-transform: rotate(180deg);
					}
				}
			}
		}
		h4 {
			font-weight: bold;
			font-size: 14px;
			color: @redFlashTheme;
			margin: 0px 0px 5px;
			.icon-location {
				margin-left: 10px;
				cursor: pointer;
			}
		}
		h5 {
			font-weight: bold;
			font-size: 14px;
			color: #333;
			margin: 0px 0px 5px;
		}
		b {
			display: block;
			font-weight: bold;
			font-size: 14px;
			line-height: 22px;
		}
		ul{
			padding-left: 17px;
		}
		dl {
			margin-bottom: 10px;
			dt {
				font-weight: bold;
				&:not(:first-child) {
					margin-top: 20px;
				}
			}
		}
		a{
			font-weight: bold;
			color: @redFlashTheme;
		}
		.list-options{
			padding-left: 0;
		}
		&.intinerary{
			.scroll-element {
				background-color: @whiteDark;
			}
			ul.nav.nav-tabs{
				border: none;
				margin-bottom: 20px;
				.font-raleway-bold{
					margin-left: 0;
					margin-right: 19px;
					padding-top: 3px;
				}
				li{
					display: inline-block;
					margin: 0 6px;
					a{
						border: none;
						border-radius: 50%;
						-webkit-border-radius: 50%;
						-moz-border-radius: 50%;
						padding: 3px 10px;
					}
					&.active a, &:hover a{
						color: @white;
						background-color: @redFlashTheme;
					}
				}
			}
			.tab-content{
				background-color: @whiteDark;
				padding: 24px;
				margin-bottom: 30px;
				overflow: hidden;
				.tab-inner-left{
					width: 43.84%;
					float: left;
					padding-right: 24px;
					.map-box{
						margin-bottom: 22px;
					}
					.left-content{
						// max-height: 147px;
					}
					.list-content:last-child{
						margin-bottom: 0;
						ul{
							margin-bottom: 0;
						}
					}
				}
				.tab-inner-right{
					width: 56.16%;
					float: left;
					padding-left: 10px;
					.itinerary-title{
						border-bottom: 2px solid @whiteDarker;
						.itinerary-date{
							font-size: 15px;
							margin-top: 5px;
							margin-bottom: 0;
						}
						.itinerary-name{
							font-size: 18px;
							color: @redFlashTheme;
							margin-bottom: 6px;
						}
					}
					.itinerary-article{
						min-height: 200px;
						margin-top: 16px;
						article{
							overflow: hidden;
							margin-bottom: 18px;
							.article-time{
								width: 13.8%;
								float: left;
								font-weight: bold;
								color: @grayLight;
							}
							.article-content{
								width: 86.2%;
								float: left;
								padding: 0 12px;
								.article-title{
									font-weight: bold;
									margin-bottom: 5px;
								}
								.article-desc{
									line-height: 1.45em;
								}
							}
						}

					}
				}
			}
			.list-content{
				margin-bottom: 17px;
			}
		}
		&.entitlement{
			.list-content{
				padding-top: 4px;
				padding-bottom: 15px;
			}
		}
		&.gallery{
			.lightgallery{
				margin-top: 17px;
				margin-bottom: 30px;
			}
			.item-content{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				.item-table{
					display: table;
					width: 100%;
					height: 100%;
				}
				.item-table-cell{
					display: table-cell;
					vertical-align: middle;
					text-align: center;
				}
				.img-responsive{
					position: relative;
					display: inline-block;
				}
			}
		}
		&.terms {
			ul {
				color: @gray;
				list-style-type: none;
				padding-left: 0;
				li{
					position: relative;
					padding-left: 17px;
					&:before{
						content: "";
						display: inline-block;
						position: absolute;
						top: 9px; left: 0;
						width: 4px;
						height: 4px;
						margin-right: 15px;
						background-color: @black;
						border-radius: 50%;
						-moz-border-radius: 50%;
						-webkit-border-radius: 50%;
					}
				}
			}	
		}
		&.schedule {
			h4 {
				font-size: 16px;
			}
			.item {
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
				.content {
					padding-left: 20px;
				}
			}
		}
		&.reviews {
			h4 {
				color: #333;
				margin-bottom: 5px !important;
			}
			.list-reviews {
				padding-left: 0;
				margin-bottom: 0;
				list-style: none;
				.review {
					margin-bottom: 20px;
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			.star-rating {
				padding-left: 0;
				float: left;
				margin-right: 20px;
				margin-bottom: 0;
				line-height: 0;
				.sprites {
					.scale(0.8,0.8);
				}
			}
			.date {
				font-size: 14px;
				line-height: 26px;
			}
		}
		.about-desc{
			overflow: hidden;
			// border-bottom: 1px solid @whiteDarker;
			padding-bottom: 7px;
			h3 {
				font-size: 16px;
			}
			.img-responsive{
				width: 16.4%;
				max-width: 100%;
				float: left;
				margin-top: 5px;
			}
			a ~ .desc{
				width: 83.6%;
			}
			.desc{
				width: auto;
				float: left;
				padding-left: 22px;
				.desc-content {
					margin-bottom: 18px;
					line-height: 1.4em;
					h3 {
						font-size: 18px;
					}
					ul {
						color: @black;
					}
					b {
						display: inline-block;
					}
				}
			}
		}
		.about-info{
			overflow: hidden;
			padding-top: 25px;
			padding-bottom: 6px;
			text-align: center;
			.item{
				width: 19%;
				display: inline-block;
				vertical-align: top;
				text-align: center;
				.font-raleway-bold{
					margin-top: 4px;
					margin-bottom: 0;
				}
			}
			.ico{
				color: @redFlashTheme;
				font-size: 32px;
			}
		}
		.list-tags {
			list-style: none;
			text-align: left;
			margin: 20px 0;
			.text-red {
				font-size: 18px;
				color: @red;
			}
			b {
				display: inline-block;
				font-size: inherit;
			}
			li {
				margin: 0 0 20px 0;
				.left-tags {
					display: table-cell;
					vertical-align: top;
					text-align: center;
					.ico {
						width: 60px;
						font-size: 30px;
						color: @red;
						margin: -3px 0 0 0;
					}
				}
				.right-tags {
					display: table-cell;
					vertical-align: middle;
					width: 100%;
					color: @black;
					.clearfix();
					.tags {
						float: left;
						width: 30%;
						font-weight: bold;
						padding: 0 0 0 15px;
					}
					.desc {
						position: relative;
						float: left;
						width: 70%;
						padding: 0 0 0 15px;
						.ico {
							color: @gray;
						}
					}
				}
			}
			&.three-cols, &.four-cols {
				font-size: 0;
				li {
					display: inline-block;
					vertical-align: top;
					font-size: 16px;
					.left-tags {
						img {
							width: 32px;
							height: 32px;
						}
						.ico {
							margin: 5px 0 0 0;
						}
					}
					.right-tags {
						.tags {
							display: none;
						}
						.desc {
							width: 100%;
						}
						.ico-new-rating-star {
							line-height: 2.5;
						}
					}
				}
			}
			&.three-cols li { width: 33.3333%; }
			&.four-cols li { width: 25%; }
			&.tags-detail li {
				.left-tags {
					img {
						width: 32px;
						height: 32px;
					}
				}
				.right-tags {
					.tags {
						white-space: nowrap;
					}
					.tags, .desc {
						display: table-cell;
						float: none;
						width: auto;
						vertical-align: top;
					}
				}
			}
		}
		&.location{
			overflow: hidden;
			.inner{
				width: 33.333%;
				float: left;
				text-align: left;
				padding-right: 10px;
				.item{
					display: block;
					margin-bottom: 20px;
					line-height: 1.3em;
					p{
						margin: 0;
					}
				}
			}
		}
		.info{
			padding-bottom: 11px;
			&.schedule-pricing{
				.item{
					width: 100%;
				}
			}
			.item{
				display: inline-block;
				vertical-align: top;
				width: 32.333%;
				text-align: left;
				margin-bottom: 13px;
				padding-right: 15px;
				p{
					margin-bottom: 0;
				}
			}
		}
		&.other-branches{
			.item{
				width: 32.333%;
				float: none;
				display: inline-block;
				vertical-align: top;
			}
		}
		.list-content{
			.list-title{
				font-weight: bold;
				color: @black;
				margin-bottom: 2px;
			}
		}
		.guide-map{
			background-color: @whiteDark;
			font-weight: bold;
			text-transform: uppercase;
			background-color: @whiteDark;
			.gmap3{
				margin: 20px auto;
				border: 1px solid #C0C0C0;
				width: 100%;
				height: 450px;
			}
			.caption{
				padding: 20px 20px 5px;
				.item{
					display: inline-block;
					width: 24%;
					margin-bottom: 15px;
					.sprites, span{
						vertical-align: middle;
					}
					span{
						margin-left: 7px;
					}
				}
			}
		}
		.type-menu {
			.clearfix;
			.item {
				.clearfix;
				width: 50%;
				margin-bottom: 20px;
				float: left;
				h4 {
					line-height: 18px;
					color: @black;
					margin-bottom: 0;
				}
				figure {
					width: 18.5%;
					float: left;
					background: #eeeeee url('../images/80x80.jpg') no-repeat center center;
					position: relative;
					overflow: hidden;
					&:before {
						content: "";
						display: block;
						padding-top: 100%;
					}
					img {
						cursor: pointer;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						cursor: pointer;
					}
				}
				.content {
					width: 81.5%;
					float:left;
					padding-left: 4.5%;
					padding-right: 20px;
					font-size: 12px;
					line-height: 18px;
				}
			}
			&:last-child{
				padding-bottom: 10px;
			}
		}
		.block-slick-slides{
			h3{
				font-weight: normal;
			}
		}
		.wrap-inner{
			overflow: hidden;
		}
		.privilege {
			padding: 0;
			list-style: none;
			li {
				margin: 0 0 25px 0;
				> .title {
					font-size: 16px;
					// color: @redFlashTheme;
				}
			}
			.title {
				// font-family: @fontProximaNova;
				font-size: 15px;
				font-weight: bold;
				color: @black;
			}
			.description {
				ul {
					list-style-type: disc;
					li {
						margin: 0;
					}
				}
			}
			.term {
				.title {
					color: @black;
				}
			}
		}
	}
	.font-raleway-bold{
		font-weight: bold;
	}
	.color-black{
		color: @black;
	}
	.navigation-right{
		border: 1px solid @whiteDarker;
		padding: 15px;
		width: 260px;
		float: right;
		margin-bottom: 20px;
		ul{
			list-style: none;
			padding: 0;
			margin: 0;
			li{
				border-bottom: 1px solid @whiteDarker;
				padding: 15px 3px;
				cursor: pointer;
				&.active, &:hover{
					a{
						color: @redFlashTheme;
						font-weight: bold;
					}
				}
				&:first-child{
					padding-top: 5px;
				}
				&:last-child{
					border-bottom: none;
					padding-bottom: 0;
				}
			}
		}
	}

	.ms-options-wrap{
		.title-muti-elect{
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}

	.page-hotel-subcat{
		.module-filter-top{
			.form-group{
				margin-bottom: 0;
			}
		}
		.block-recommends{
			padding-top: 22px;
			&:extend(.block-blog all);
			.slide-common{
				.img-responsive{
					width: 100%;
				}
				&:hover .content{
					opacity: 1;
					transform: scale(1, 1);
					-webkit-transform: scale(1, 1);
					-moz-transform: scale(1, 1);
					-ms-transform: scale(1, 1);
					-o-transform: scale(1, 1);
				}
			}
		}
	}
	.page-city-guide-indiv{
		.block-article-style{
			h4{
				margin-bottom: 11px;
			}
			.about-desc{
				.desc{
					width: 100%;
					padding-left: 0;
					p{
						margin-bottom: 16px;
						&:last-child{
							margin-bottom: 21px;
						}
					}
				}
			} 
			.about-info{
				.item{
					width: 24%;
				}
			}
			.article-desc{
				margin-bottom: 25px;
			}
			&.get-there{
				.article-desc{
					margin-bottom: 16px;
				}
				.toggle-box{
					& > p{
						margin-bottom: 28px;
					}
				}
			}
		}
		.box-btn-book{
			left: auto;
			right: 15px;
			&.sticky{
				bottom: 12px;
			}
			.item{
				width: 45px !important;
				.btn-book{
					vertical-align: top;
					padding: 0 !important;
					padding: 0;
				}
			}
		}
	}
	.block-slick-slides{
		&:extend(.block-blog all);
		padding-bottom: 75px;
		.wrap-experiences{
			position: relative;
			.btn-see-all{
				text-transform: uppercase;
				position: absolute;
				bottom: -42px;
				right: 0;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.slide{
			padding-left: 4px;
			padding-right: 4px;
			margin-bottom: 8px;
			width: 100%;
			outline: none;
			display: inline-block;
			.inner-btn{
				color: @white;
				&:hover{
					color: @redFlashTheme;
				}
			}
			h3 {
				display: block;
				width: 100%;
				text-align: center;
				font-family: @fontGeorgia;
				font-size: 36px !important;
				color: #fff;
				max-height: 150px;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
			}
		}
	}
	.page-hotel-indiv{
		.block-article-style{
			margin-top: 14px;
			h4{
				margin-bottom: 13px;
			}
			h5{
				margin-bottom: 8px;
			}
			.about-info{
				text-align: center;
				.sprites{
					display: inline-block;
				}
			}
			.info{
				padding-bottom: 6px;
				.item{
					p{
						line-height: 1.4em;
					}
				}
			}
			&.terms-light{
				margin-top: 24px;
				h4{
					margin-bottom: 0;
				}
			}
		}  
	}
	.page-gourmet{
		.module-richtext, .block-filter-top {
			& > .container{
				& > p{
					margin-bottom: 18px;
				}
			}
			.wrap-filter-item{
				.form-group{
					margin-bottom: 0;
				}
			}
		}

		//New requirement
		.module-filter .content-filter .item{
			&.menu-icon .list-checkbox{
				overflow: hidden !important;
			}
			.list-checkbox{
				max-height: 150px !important;
				&.scroll-wrapper{ max-height: none !important}
			}
		}
		.box-filter .item{
			&.menu-icon .list-checkbox{
				overflow: hidden !important;
			}
			.list-checkbox{
				max-height: 155px !important;
				&.scroll-wrapper{ max-height: none !important}
			}
		}
	}
	.page-indiv, .page-gourmet-indiv {
		&:extend(.page-hotel-indiv all);
		.content-indiv{
			padding-bottom: 30px;
		}
		.block-article-style{
			// margin-top: 24px;
			ul{
				color: @gray;
			}
			.about-desc{
				padding-bottom: 24px;
			}
			&.gallery{
				h4{
					margin-bottom: 18px;
				}
			}
			&.location{
				.info{
					&:last-child{
						padding-bottom: 11px;
					}
				}
			}
		}
	}

//------modified icon--------
.box-location{
	.location-name{
		.ico-nav-location{
			position: absolute;
			top: 50%;
			right: 3px;
			font-size: 24px;
			margin-top: -12px;
		}
	}
	.btn-selectbox .multiselect-selected-text{
		color: @black;
	}
	.ui-selectmenu-button{
		padding-left: 10px;
	}
}
.location-select-box{
	.ui-selectmenu-button{
		padding-left: 13px;
	}
}
#modal-prompt-location{
	.btn-close-prompt-location{
		.sprites{
			font-size: 20px;
			color: @white;
		}
	}
	.btn-confirm-location {
		margin: 0 auto;
	}
}  
.page-book{
	.item-group{
		.col-gray{
			color: @grayLight;
		}
		&:nth-of-type(1){
			.title{
				margin-bottom: 5px;
				& ~ label{
					margin-bottom: 17px;
				}
			}
		}
	}
	.radio-group{
		& > label{
			margin-bottom: 20px;
		}
	}
	.block-profile{
		padding-bottom: 10px;
	} 
	.box-add-photo{
		.figure{
			margin-bottom: 0;
		}
	}
}
.ico{
	font-size: 17px;
	line-height: 1em;
	display: inline-block;
	&.ico-airline{
		font-size: 20px;
	}
}
.item-group{
	padding-top: 35px;
	.mb-5{
		margin-bottom: 5px;
	}
	.ico{
		color: @grayLight;
		margin-top: 8px;
	}
	.btn-group-selectbox{
		button.btn-selectbox{
			padding-left: 34px;
		}
	}
	.counting-age{
		label.has-error-icon{
			right: -25px;
		}
	}
	.row{
		&:last-child{
			.mb-25{
				margin-bottom: 25px;
			}
		}
	}
}
.page-book-hotels{
	.block-profile{
		padding-bottom: 0;
	}
	.item-group{
		&:first-child{
			.title{
				margin-bottom: 5px;
				& ~ label{
					margin-bottom: 17px;
				}
			} 
		}
		.title{
			margin-bottom: 20px;
		} 
		.col-gray{
			color: @grayLight;
		}
		.short-input{
			margin-bottom: 10px;
		}
		.radio{
			label{
				padding-left: 0;
			}
		}
	}
	.cbx-membership{
		font-size: 12px;
	}
}
.page-book-tours{
	&:extend(.page-book-hotels all);
	.btn-book{
		text-align: left;
		padding-top: 30px;
		.btn-red{
			font-size: 14px;
			text-transform: capitalize;
			display: inline-block;
			padding-top: 10px;
			padding-bottom: 10px;
			margin: 0;
		}
	}
	.block-profile{
		label.txt-red{
			color: @redFlashTheme;
			margin-bottom: 15px;
		}
	}
	.radio-group>label{
		margin-bottom: 20px;
	}
	.item-group{
		&:nth-of-type(2), &:nth-of-type(3){
			.title{
				&~label{
					margin-bottom: 17px;
				}
			}
		}
	}
	.short-input label.has-error-icon{
		right: -30px;
	}
}
.info-book{
	dl{
		margin-bottom: 5px;
	}
	dt{
		span{
			font-weight: normal;
		}
	}
	dd{
		a{
			color: @redFlashTheme;
			font-weight: bold;
		}
	}
	.entry{
		padding-bottom: 10px;
		padding-top: 10px;
		border-bottom: 1px solid #adaeb0;
		&:nth-of-type(1){
			padding-top: 0;
		}
		&:nth-last-child(1){
			border: none;
			padding-bottom: 0;
		}
	}
	.total-price{
		color: @redFlashTheme;
		font-weight: bold;
	}
	.info-right{
		float: right;
		font-weight: bold;
	}
	.infoSeatingChart{
		text-align: center;
	}
	.reservation-date{
		position: relative;
		.ico{
			position: absolute;
			top: 5px;
			left: 0;
		}
		ul{
			list-style: none;
			font-size: 20px;
			font-family: @fontGeorgia;
			padding-left: 23px;
		}
		.check-in-out{
			display: block;
			font-weight: bold;
			font-size: 13px;
			color: @redFlashTheme;
			text-transform: uppercase;
		}
	}
	.content{
		p{
			span{
				&.ml-0{
					margin-left: 0;
				}
			}
		}
		dd.infoTime{
			font-size: inherit;
		}
	}
}
.text-bold{
	font-weight: bold;
}
.form-group{
	.sub-label{
		font-size: 12px;
	}
}
.programme-item{
	position: relative;
	overflow: hidden;
	padding-bottom: 30px;
	.text-bold{
		color: @black;
		text-transform: capitalize;
		margin-bottom: 5px;
		margin-left: 4px;
		height: 22px;
	}
	.btn-remove{
		position: absolute;
		top: 0;
		right: 30px;
		background-color: @grayExtraLight;
		color: @white;
		font-size: 12px;
		padding: 2px 12px;
		cursor: pointer;
		span{
			font-size: 16px;
			line-height: 1em;
		}
	}
	.btn-add-member{
		float: right;
		background-color: @redFlashTheme;
		color: @white;
		font-size: 12px;
		padding: 2px 9px;
		margin-right: 30px;
		margin-top: 10px;
		cursor: pointer;
		span{
			font-size: 16px;
			line-height: 1em;
		}
		&.disabled{
			background-color: @grayLight;
		}
	}
	.form-group{
		margin-bottom: 0;
	}
}
.block-profile{
	.content-profile{
		.btn-red{
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.box-avatar{
			.btn-red{
				color: @white;
				padding-top: 4px;
				padding-bottom: 4px;
				&:hover {
					color: @redFlashTheme;
				}
			}
		}
	} 
}
.block-intro{
	.slides-intro{
		.slide{
			.content{
				.sprites{
					margin-bottom: 10px;
				}
			}
		}
	}
}
.page-lifestyle{
	.block-intro{
		.slides-intro{
			.slide{
				.content{
					.title{
						margin-bottom: 22px;
					}
				}
			}
		}  
	}
	.module-richtext, .block-filter-top {
		.module-filter-top{
			.wrap-filter-item{
				width: 24%;
				margin: 0 3px;
			}
		}
	}
	.block-slick-slides{
		.article{
			&:before{
				padding-top: 70%;
			}
			.content{
				.inner{
					padding-left: 20px;
					padding-right: 20px;
				}
				.hover-inner-show{
					padding-left: 40px;
					padding-right: 40px;
				}
			}
		}
	}
	.block-article-desc{
		.box-btn{
			margin-bottom: 20px;
			button{
				margin: 0 3px;
			}
		}
	} 
}
.page-golf{
	.block-slick-slides{
		padding-top: 0;
		padding-bottom: 95px;
		.slick-dots{
			bottom: -65px;
		}
	}
	.wrap-btn-filter{
		margin-bottom: 20px;
	}
}
.label-age{
	.clearfix();
	display: block;
	white-space: nowrap;
	height: 36px;
}
.page-my-request{
	.form-filter-top{
		position: fixed;
	}
	.wrap-btn-filter{
		margin-bottom: 22px;
	}
	.d-table-cell{
		a{
			img{
				height: 160px;
			}
		}
	}
}
.two-column{
	li{
		min-width: 50% !important;
	}
}
.page-my-wishlist{
	.block-profile{
		padding-bottom: 20px;
	}
	.module-richtext, .block-filter-top {
		margin-top: 20px;
	}
	.relative{
		margin-top: 25px;
	}
	.module-filter{
		.content-filter{
			.item{
				.list-checkbox{
					max-height: 110px !important;
					&.scroll-wrapper{ max-height: none !important}
					li{
						min-width: 100%;
					}
				}
			} 
		} 
	}
}
.list-checkbox{
	label{
		width: 100%;
		height: 20px;
		cursor: pointer;
		padding-left: 30px;
		padding-right: 15px;
		margin-bottom: 0;
		position: relative;
		&:before {
			position: absolute;
			top: 0; left: 0;
		}
	}
	input[type="checkbox"]{
		z-index: -1;
	}
}
.multi-list-checkbox{
	max-height: none !important;
	li{
		padding-top: 20px;
		margin-bottom: 20px;
		border-top: 1px solid @whiteDarker;
		min-width: 100% !important;
		.ico{
			font-size: 17px;
			float: right;
			font-weight: bold;
			transition: all 0.3s;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;
		}
	}
}
.check-status{
	.ico{
		font-size: 18px !important;
		position: absolute;
		right: 5px;
	}
	&.active{
		.ico{
			transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
		}
	}
	&.selected{
		background-color: @redFlashTheme;
		color: @white;
	}
}
.sub-list-checkbox{
	position: relative;
	overflow: auto;
	height: 0;
	padding-left: 20px;
	&.active{
		height: auto;
	}
	li{
		border: none;
		padding-top: 5px;
		margin-bottom: 5px;
	}
}
.pagination{
	margin: 0;
	width: 100%;
	text-align: center;
	& > li{
		display: inline-block;
	}
}
.box-btn-book{
	font-size: 0;
	position: fixed;
	bottom: -45px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 100;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	&.sticky{
		bottom: 0;
	}
	.item{
		position: relative;
		display: inline-block;
		vertical-align: middle;
		background-color: @redFlashTheme;
		height: 45px;
		width: 100%;
		// &:first-child{
		// 	width: 60%;
		// 	border-right: 2px solid @redDarker;
		// }
		// &:last-child{
		// 	width: 40%;
		// }
		.inner{
			display: table;
			height: 100%;
			width: 100%;
			text-align: center;
			padding-left: 5px;
			padding-right: 5px; 
		}
		.btn-book{
			font-size: 12px;
			color: @white;
			display: table-cell;
			vertical-align: middle;
		}
		.disabled{
			pointer-events: none;
			background-color: #337ab7;
			opacity: 0.65;
		}
	}
	.ico{
		position: absolute;
		color: @white;
		background-color: @redDarker;
		right: 0;
		padding: 13px;
		width: 45px;
		height: 45px;
		pointer-events: none;
	}
}
.page-profile{
	.box-list-spec{
		padding-top: 18px;
		.list_spec{
			li{
				line-height: 1.2em;
			}
		}
	}
	.btn-selectbox{
		.multiselect-selected-text{
			color: @black;
		}
	}
	.item-group{
		&:nth-of-type(1){
			padding-top: 15px;
		}
		&:nth-last-child(1){
			border: none;
		}
	}
	.block-profile {
		padding-bottom: 0;
		.content-profile{
			.wrap-btn-submit{
				text-align: right;
				padding-right: 25px;
				.btn-red{
					margin-top: 0;
				}
			}
		}
	}
	input[type="text"]{
		&[readonly="true"]:not(.reservationDate), &[readonly]:not(.reservationDate){
			pointer-events: auto;
		}
	}
}
input[type="text"]{
	&[readonly="true"]:not(.reservationDate, .datepickerOfBirth), &[readonly]:not(.reservationDate, .datepickerOfBirth) {
		background-color: rgba(218, 218, 218, 0.5);
		pointer-events: none;
	}
}
.page-error-404{
	padding-top: 75px;
	.bread-crumb{
		margin-bottom: 30px;
	}
	.block-slick-slides{
		padding-top: 0;
	}
}
.block-error{
	display: block;
	text-align: center;
	padding: 10px 50px;
	margin-bottom: 30px;
	background-color: @whiteDark;
	color: @black;
	h1{
		font-size: 30px;
		padding-bottom: 5px;
		margin-bottom: 15px;
		border-bottom: 1px solid @grayLight;
	}
	a{
		font-weight: bold;
		color: @redFlashTheme;
		&:hover{
			color: @redLight;
		}
	}
}
.google-maps-popup{
	.info-maps{
		background-color: @white;
	}
}
.page-my-reminders{
	.block-profile{
		padding-bottom: 30px;
	}
	.wrap-btn-section{
		padding-top: 5px;
		padding-bottom: 20px;
		border-bottom: 1px solid @whiteDarker;
		margin-bottom: 20px;
	}
	.module-richtext, .block-filter-top {
		margin-bottom: 20px;
	}
}
.content-wishlist{
	padding: 22px 0 40px;
	&.wrap-media{
		.form-inline{
			border-top: 1px solid @whiteDark;
		}
		.pull-right{
			margin-top: -5px;
		}
		.filter-recommends{
			.pull-right{
				margin-top: 5px;
			}
		}
		ul{
			margin-bottom: 0;
		}
		.request-short-desc{
			line-height: 1.4em;
			margin-top: 5px;
			margin-bottom: 18px;
		}
	}
	&.content-announcements{
		padding-bottom: 0;
	}
}
.wrap-btn-normal{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 30px;
	border-bottom: 1px solid @whiteDark;
}
.title-red-bold{
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	line-height: 1em;
	color: @redFlashTheme;
	margin-bottom: 20px;
	span{
		position: absolute;
		right: 5px;
		padding-left: 40px;
		cursor: pointer;
		.sprites{
			transition: all 0.3s;
			-webkit-transition: all 0.3s;
			-moz-transition: all 0.3s;		
		}
		&.active{
			.sprites{
				transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
				-moz-transform: rotate(180deg);
				-ms-transform: rotate(180deg);
			}
		}
	}
}
.form-inline{
	padding: 20px 0;
	.clearfix();
	.wrap-filter-item{
		display: inline-block;
		margin-right: 6px;
	}
	.pull-left{
		max-width: 75%;
		.checkbox{
			line-height: 2em;
		}
	}
}
.btn-normal{
	position: relative;
	font-size: 11px;
	padding: 7px 42px 7px 15px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: @white;
	border: 1px solid @grayLight;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	span{
		position: absolute;
		top: 14px;
		right: 15px;
		font-size: 35px;
		font-weight: normal;
		line-height: 0;
	}
	&:hover{
		background-color: @whiteDark;
	}
}
.media-event{
	width: 80px;
	height: 80px;
	font-weight: bold;
	color: @white;
	display: table;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius:50%;
	.date{
		font-size: 30px;
		line-height: 1.3em;
	}
}

//----Background color----
.bg-darkKhaki{
	background-color: #cccc66;
}
.bg-lightSkyBlue{
	background-color: #66cccc;
}
.bg-steelBlue{
	background-color: #668ccc;
}
.bg-rebeccaPurple{
	background-color: #8866cc;
}
.bg-orchid{
	background-color: #cc66bb;
}
.bg-peru{
	background-color: #cc8866;
}
.bg-lightGreen{
	background-color: #88cc66;
}
.bg-yellowGreen{
	background-color: #aedb34;
}
.bg-dodgerBlue{
	background-color: #34a6db;
}
.bg-blueViolet{
	background-color: #7b34db;
}
input[type="checkbox"]{
	& + label{
		&.checkbox-style{
			position: relative;
			&::before, &::after{
				/* use !important to prevent issues with browser extensions that change fonts */
				font-family: 'icomoon' !important;
				display: inline-block;
				speak: none;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;

				/* Better Font Rendering =========== */
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
			&::before{
				font-size: 20px;
				content: "\e924";
				color: #dfdfdf;
				width: auto;
				height: auto;
				background-image: none;
			}
			&::after{
				font-size: 16px;
				content: "\e925";
				color: transparent;
				position: absolute;
				top: 2px;
				left: 2px;
			}
		}
	}
	&:checked{
		& + label{
			&.checkbox-style{
				&::before{
					color: #cb4f53;
				}
				&::after{
					color: #fff;
				}
				&.lightSkyBlue{
					&::before{
						color: #66cccc;
					}
				}
				&.darkKhaki{
					&::before{
						color: #cccc66;
					}
				}
				&.steelBlue{
					&::before{
						color: #668ccc;
					}
				}
				&.rebeccaPurple{
					&::before{
						color: #8866cc;
					}
				}
				&.orchid{
					&::before{
						color: #cc66bb;
					}
				}
				&.peru{
					&::before{
						color: #cc8866;
					}
				}
				&.lightGreen{
					&::before{
						color: #88cc66;
					}
				}
				&.yellowGreen{
					&::before{
						color: #aedb34;
					}
				}
				&.dodgerBlue{
					&::before{
						color: #34a6db;
					}
				}
				&.blueViolet{
					&::before{
						color: #7b34db;
					}
				}
			}
		}
	}
}
.modal{
	overflow-y: auto;
	.btn-group-selectbox{
		button.btn-selectbox{
			padding-left: 34px;
		}
		ul{
			li:first-child{
				display: none;
			}
		}
	}
	.event-reminder .right-side{
		.btn-group-selectbox button.btn-selectbox{
			padding-left: 15px;
		}
	}
	.form-group{
		.ico{
			color: @grayLight;
			margin-top: 7px;
		}
	}
	.nav-tabs{
		border: none;
		& > li{
			& > a{
				padding: 0;
				border: none;
				&:before{
					content: "";
					display: inline-block;
					width: 20px;
					height: 20px;
					background-image: url('../images/big-radio-button-flashtheme-1.png');
					background-repeat: no-repeat;
					margin-right: 10px;
					vertical-align: -5px;
					.transition(all 0.3s);
				}
				&:hover, &:focus{
					border: none;
				}
			}
			&.active{
				& > a{
					&:before{
						background-image: url('../images/big-radio-button-active-flashtheme.png');
					}
				}
				& > a, & > a:hover, & > a:focus{
					border: none;
				}
			}
		}
	}
	.recur-dropdown{
		.wrap-multiselect{
			top: -146px;
			border-top-width: 1px;
			transform-origin: bottom;
			-webkit-transform-origin: bottom;
			-moz-transform-origin: bottom;
			-mz-transform-origin: bottom;
		}
	}
	textarea.form-control{
		padding-left: 10px;
	}
	label.lt-error{
		top: auto !important;
		position: absolute !important;
		bottom: -23px;
		left: 0;
	}
	span.hide-native-select{
		position: static;
	}
	.modal-form{
		.form-group{
			& > label{
				span{
					font-size: 16px;
					font-weight: bold;
					color: @redFlashTheme;
				}
			}
		}
	}
	input[type="number"]{
		width: 26px;
		padding: 0 2px;
		text-align: center;
	}
	.container-multiselect.scrollbar-outer {
		max-height: 150px !important;
	}
}
input[type="number"]{
	-moz-appearance: textfield;
	&::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
		-webkit-appearance: none;
		appearance: none;
		margin: 0; 
	}
}
.event-reminder{
	ul{
		list-style: none;
		padding: 0;
	}
	.left-side{
		display: table-cell;
		vertical-align: top;
		padding-top: 27px;
		border-top: 1px solid @whiteDarker;
		border-right: 1px solid @whiteDarker;
		ul{
			width: 110px;
			li{
				margin-bottom: 10px;
			}
		}
	}
	.right-side{
		width: 100%;
		display: table-cell;
		vertical-align: top;
		padding: 20px 10px 0 30px;
		border-top: 1px solid @whiteDarker;
		ul{
			li{
				margin-bottom: 5px;
			}
		}
	}
	.recur{
		margin-bottom: 20px;
		input[type="text"]{
			width: 30px;
			height: 32px;
			margin: 0 10px;
			text-align: center;
		}
	}
}
.display-tb{
	display: table;
	height: 100%;
	width: 100%;
}
.display-tb-cell{
	display: table-cell;
	height: 100%;
	width: 100%;
	vertical-align: middle;
}
.wrap-btn-section{
	font-size: 0;
	// text-align: center;
	.btn-content-reminders{
		display: inline-block;
		height: 50px;
		font-size: 14px;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		color: white;
		padding-right: 4px;
		cursor: pointer;
		.display-tb{
			background-color: @grayLight;
		}
		.display-tb-cell{
			padding: 0 10px;
		}
		&:nth-of-type(1){
			// width: 25.2%;
			width: 40.2%;
		}
		&:nth-of-type(2){
			width: 37%;
		}
		&:nth-of-type(3){
			width: 37.8%;
			padding-right: 0;
		}
		&.active{
			.display-tb{
				background-color: @redFlashTheme;
			}
		}
	}
}

.map-position-info{
	text-transform: none;
	h4{
		font-weight: bold;
		color: @black;
		p{
			font-weight: normal;
			font-size: 14px;
		}
		a{
			color: @redFlashTheme;
			font-weight: bold;
		}
	}
}

.bg-whiteDarker{
	background-color: #e4e4e4;
}
.module-show-option{
	.wrap-multiselect{
		padding-top: 5px;
	}
}
.list-options{
	.multiselect-filter{
		padding: 0 5px;
		margin-bottom: 5px;
	}
	.form-control.multiselect-search{
		background-color: @whiteDark;
	}
	.btn-option-filter{
		height: 34px;
		padding: 3px 15px;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		span{
			display: inline-block;
			vertical-align: middle;
			margin-top: -2px;
			font-size: 24px;
			line-height: 1em;
		}
	}
}
.calendar-index{
	z-index: 1050 !important;
}
.label-option{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.cardExpiryPicker{
	display: none;
	&.active{
		display: inline-block;
	}
	.selectExpiryMonth, .selectExpiryYear{
		display: inline-block;
		width: 47%;
	}
}

// validation
.reservationDate{
	&.valid{
		& ~ label.error{
			display: none;
		}
	}
}

.status-notification{
	position: fixed;
	width: 300px;
	height: 200px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
	text-align: center;
	background-color: @whiteDark;
	border: 1px solid @gray;
	z-index: -1;
	opacity: 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transform: scale(0.3,0.3);
	-webkit-transform: scale(0.3,0.3);
	-moz-transform: scale(0.3,0.3);
	-ms-transform: scale(0.3,0.3);
	&.active{
		opacity: 1;
		z-index: 110;
		transform: scale(1,1);
		-webkit-transform: scale(1,1);
		-moz-transform: scale(1,1);
		-ms-transform: scale(1,1);
	}
	.status-content{
		font-size: 16px;
		color: @redFlashTheme;
		font-weight: bold;
		margin-bottom: 20px;
	}
	button{
		width: 120px;
	}
}
.dp-table{
	display: table;
	width: 100%;
	height: 100%;
}
.dp-table-cell{
	display: table-cell;
	vertical-align: middle;
}
.page-preferences{
	.block-profile{
		padding-bottom: 40px;
		.item-group{
			padding-bottom: 0;
			border: none;
		}
	}
	.box-group{
		textarea{
			&.form-control{
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
	.radio{
		label{
			padding-left: 0;
		}
	}
	.title-red-bold{
		border-bottom: 1px solid @whiteDarker;
		padding-bottom: 17px;
		margin-bottom: 17px;
	}
	.module-searchable-option .scroll-wrapper > .scroll-content{
		max-height: 200px !important;
	}
	.scroll-wrapper > .scroll-content{
		margin: 0 !important;
		margin-top: 12px !important;
		margin-left: 12px !important;
	}
	.wrap-btn-submit{
		padding-top: 30px;
	}
}
.sub-item-group{
	margin-bottom: 40px;
	&.last-child{
		margin-bottom: 10px;
		.title-red-bold{
			margin-bottom: 20px;
		}
	}
	.sub-title{
		font-size: 18px;
		font-weight: bold;
		color: @black;
		margin-bottom: 10px;
	}
}
.wrap-radioBtn{
	margin-bottom: 10px;
}
.slides-intro {
	.slide{
		height: 446px;
		min-height: 446px;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		&:before{
			content: "";
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: rgba(0, 0, 0, 0.4);
		}
		.content{
			position: relative;
		}
	}	    
}
.page-profile, .page-my-wishlist, .page-my-reminders, .page-my-request, .page-preferences{
	.slides-intro .slide{
		height: 318px;
	}
}
.apr-form{
	.flat{
		margin-bottom: 10px;
	}
}
.bigger-ui-datepicker{
	width: 406px;
}
.list-options{
	.multiselect-group{
		display: block!important;
		padding-left: 5px;
	}
	.multiselect-filter{
		display: block!important;
	}
	.input-group{
		display:block;
		margin-bottom: 10px;
		input{
			float:none;
			padding-left: 10px;
			padding-right: 10px;
		}
		.input-group-btn{
			display:none;
		}
		.form-control{
			width: 100%;
		}
	}
}
.wrap-btn-submit{
	.btn-red{
		width: 175px;
		margin: 0;
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.btn-selectbox{
	.multiselect-selected-text{
		color: @grayText;
	}
}
#modalAddNewEvent .modal-backdrop.fade.in {
	min-height: 100% !important; 
}
.modal-backdrop{
	min-height: 100% !important; 
}
.ui-datepicker{
	.wrap-ui-datepicker-month, .wrap-ui-datepicker-year{
		display: inline-block;
		width: 100px;
		border: 1px solid @gray;
		position: relative;
		margin: 0 3px;
		text-align: left;
		select.ui-datepicker-month, select.ui-datepicker-year{
			padding-left: 10px;
			width: 85px;
			outline: none;
		}
		&::before, &::after{
			content: "";
			background-image: @sprites;
			background-repeat: no-repeat;
			overflow: hidden;
			width: 6px;
			height: 10px;
			display: inline-block;
			position: absolute;
			transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
		}
		&::before{
			background-position: -505px -40px;
			right: 10px;
			top: 4px;
		}
		&::after{
			background-position: -515px -40px;
			right: 10px;
			bottom: 4px;
		}
	}
}
.modal-style1 {
	.modal-title {
		padding-right: 30px;
	}
}
.scfSubmitSummary{
	margin-bottom: 20px;
}
.fr-booking{
	.scfSubmitSummary{
		margin-bottom: 0;
	}
	.getTour,.getCruise{
		& ~ label{
			&.has-error-icon{
				position: absolute;
				right: 0;
				margin-top: 7px;
				color: @redFlashTheme !important;
				top: auto;
				bottom: -20px;
				text-align: left;
				background: none;
			}
		}
	}
}
.resultMessage{
	color: rgb(0, 128, 0); 
	text-align: center; 
	margin-top: 20px; 
	margin-bottom: -20px;
	&.error {
		color: @red;
	}
}

// Current Example 
.list-options{
	.multiselect-group{
		&:first-child{
			background-color: red;
			& + li{
				display: none;
			}
		}
		a{
			display: inline-block;
			width: 100%;
			height: 100%;
		}
	}
}
#modalAddMembership{
	padding-right: 0 !important;
	.modal-content{
		padding-right: 36px;
		.btn-cofirm-add-member{
			margin-right: -18px;
		}
	}
}
.module-searchable-option{
	.scroll-wrapper{
		& > .scroll-content{
			max-height: 200px;
		}
	}
}
.add-to-wishlist, .added-to-wishlist{
	color: white;
}
.loader{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/aspire_theme/images/loading.gif') 50% 50% no-repeat rgb(249,249,249);
}

.wait-loading{
	display: block;
	position: absolute;
	height: 100%;
	width: 100%;
	text-align: center;
	top: 0px;
}
.page-golf-indiv{
	.module-richtext, .block-filter-top {
		a{
			color: @black;
		}
		.module-filter-top .wrap-filter-item{
			width: 32%;
		}
	}
}

.block-schedule-details{
	margin-bottom: 30px;
	.list-schedule{
		list-style: none;
		padding-left: 0;
		margin-bottom: 0;
	}
	.strong{
		font-size: 15px;
		font-weight: bold;
		color: #000000;
	}
	.emphasize{
		font-weight: bold;
	}
	.ele-list{
		list-style-type: disc;
	}
	.col-1, .col-2, .col-3{
		float: left;
		padding-left: 10px;
	}
	.col-1{
		width: 25%;
	}
	.col-2{
		width: 32%;
	}
	.col-3{
		position: relative;
		width: 43%;
	}
	input[type=radio] + label:before{
		margin: 0;
	}
	.item{
		padding: 5px 15px 0;
		border-top: 1px solid @grayExtraLight;
		&:nth-of-type(2n+1){
			background-color: @whiteDark;
		}
		&:last-child{
			border-bottom: 1px solid @grayExtraLight;
		}
		.item-header{
			.clearfix();
			padding: 10px 0;
		}
		.item-content{
			.clearfix();
			display: none;
			padding-top: 20px;
			border-top: 1px solid @grayLight;
			.element{
				margin-bottom: 20px;
			}
			&.active{
				display: block;
			}
		}
		.select-btn{
			display: inline-block;
			position: absolute;
			right: 0;
			top: 0;
			input, label{
				cursor: pointer;
			}
		}
	}
}
ul.list-col-3{
	.clearfix();
	li{
		float: left;
		width: 33.33333%;
		padding-right: 25px;
	}
}
.block-weather{
	margin-bottom: 30px;
	.list-weather{
		.clearfix();
		list-style-type: none;
		padding-left: 0;
		margin-bottom: 0;
		.item{
			text-align: center;
			float: left;
			width: 25%;
			padding: 0 20px;
		}
	}
	.item-summary{
		margin-left: -30px;
		.strong{
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
		}
		.date{
			font-weight: bold;
			margin-bottom: 15px;
		}
		.c-degree{
			font-size: 24px;
			font-weight: bold;
			color: @redFlashTheme;
		}
	}
	.condition{
		text-align: left;
		list-style-type: none;
		margin-top: 20px;
		padding-left: 0;
		white-space: normal;
		b{
			display: inline-block;
		}
	}
}
.lp_mandatory{
	color: red;
}
.page-nightlife{
	.block-slick-slides{
		padding-top: 0;
	}
}
.multi-list{
	padding-left: 0;
	li.item-list{
		list-style-type: none;
		font-size: 12px;
		margin-top: 15px;
	}
	.sub-list-checkbox{
		height: auto;
		max-height: 90px !important;
		padding-left: 15px;
		list-style-type: none;
		&.scroll-wrapper{ max-height: none !important;}
		li{
			float: left;
			width: 33.333333%;
			margin-bottom: 0;
			white-space: nowrap;
			label{
				margin-bottom: 0;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
	input[type="checkbox"]{
		height: 0;
		width: 0;
	}
}
input[type="checkbox"]{
	z-index: -1;
}
.form-filter-top{
	.multi-list{
		.clearfix();
		&.list-checkbox{
			max-height: none !important;
		}
		li{
			padding-top: 15px;
			margin-bottom: 15px;
			border-top: 1px solid @whiteDarker;
			min-width: 100% !important;
			.ico{
				font-size: 17px;
				float: right;
				font-weight: bold;
				transition: all 0.3s;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
			}
			&:last-child{
				margin-bottom: 0;
			}
			.check-status{
				padding: 5px 0;
			}
		}
	}
}
.box-date-filter{
	.clearfix();
	margin-top: 10px;
	.item-date{
		float: left;
		width: 50%;
		text-align: left;
		&:first-child{
			padding-right: 7px;
		}
		&:last-child{
			padding-left: 7px;
		}
		.form-group{
			margin-bottom: 0;
			> label{
				font-size: 12px;
			}
		}
	}
}
.sub-form-filter-top{
	&:extend(.form-filter-top all);
	.box-filter{
		.item{
			display: none;
			text-align: left;
			&.active{
				display: block;
			}
			.list-checkbox{
				max-height: auto !important;
			}
		}
	}
	.form-filter-title{
		label{
			cursor: pointer;
		}
		.ico{
			font-size: 20px;
			font-weight: bold;
			vertical-align: middle;
			margin-right: 10px;
			margin-top: -3px;
		}
	}
	.btn-check-all{
		display: inline-block;
		margin-top: 10px;
	}
	input[type="checkbox"]{
		z-index: -1;
	}
	.sub-btn-filter{
		text-transform: uppercase;
		background-color: @redFlashTheme;
		color: @white;
		padding: 11px 44px;
		border: none;
		box-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
	}
}
.page-entertainment-indiv{
	.module-richtext, .block-filter-top {
		padding-top: 5px;
		padding-bottom: 5px;
		.module-filter-top{
			text-align: left;
			.wrap-filter-item{
				width: 32%;
			}
		}
		a{
			color: @black;
		} 
	}

	// remake for new requirements
	.block-article-style{
		.about-info{
			text-align: left;
			.item{
				// old width: 25%;
				width: auto;
				padding-right: 30px;
			}
		}
	}

	// remake CSS for applying new API suitably

}
.block-schedule-summary{
	margin-bottom: 35px;
	.list-schedule{
		list-style-type: none;
		padding-left: 0;
		max-height: 472px !important;
		overflow: auto;
		&.scroll-wrapper{ max-height: none !important;}
	}
	.strong{
		font-weight: bold;
	}
	.select-btn{
		input[type="radio"]{
			pointer-events: none;
		}
		label{
			cursor: pointer;
		}
	}
	a{
		display: block;
	}
	input[type="radio"] + label:before{
		background-image: url(../images/big-radio-button-flashtheme-1.png);
		width: 20px;
		height: 20px;
		.transition(all 0.3s);
	}
	input[type="radio"]:checked + label:before{
		background-image: url(../images/big-radio-button-active-flashtheme.png);
	}
	.item{
		font-size: 0;
		line-height: 1.3;
		padding: 20px;
		border-top: 1px solid @grayExtraLight;
		color: @gray;
		&:nth-of-type(2n+1){
			background-color: @whiteDark;
		}
		&:last-child{
			border-bottom: 1px solid @grayExtraLight;
		}
		.item-left{
			display: inline-block;
			width: 80%;
			vertical-align: middle;
			font-size: 15px;
		}
		.item-right{
			display: inline-block;
			width: 20%;
			vertical-align: middle;
			font-size: 15px;
			text-align: right;
			padding-right: 20px;
		}
		.col-1{
			float: left;
			width: 30%;
			padding: 0 5px;
		}
		.col-2{
			float: left;
			width: 35%;
			padding: 0 5px;
		}
		.col-3{
			float: left;
			width: 35%;
			padding: 0 5px;
		}
		.sold-out{
			display: none;
			font-weight: bold;
			text-transform: uppercase;
		}
		&.selected{
			color: black;
		}
		&.disable{
			pointer-events: none;
			opacity: 0.5;
			.select-btn{
				display: none;
			}
			.sold-out{
				display: inline-block;
			}
		}
	}
}

/* LiveChat Css */
.lp_header, .lp_submit_button, .lp_confirm_button{
	background-color:#cb4f53 !important;
}
.lp_chat_line[data-lp-cust-id="transcript_bubble_agent"]{
	background-color:#cb4f53 !important;border-color:#cb4f53 !important;
}
.lp_chat_arrow[data-lp-cust-id="transcript_bubble_agentArrow"]{
	border-right-color:#cb4f53 !important;
}

// Google maps tooltips
.gm-style-iw{
	color: @redFlashTheme !important;
	font-weight: bold !important;
	left: 48% !important;
	margin-top: 60px;
	text-align: center;
}
.block-profile .content-book .item-group{
	.toggle-box>.row>.col-md-6{
		padding-right: 55px;
	}
}
.img-credit-card{
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
.wrap-form-group{
	.form-group{
		.clearfix();
	}
	.box-sub-item{
		padding-left: 0;
	}
}
.modal-tickets{
	&.modal{
		overflow-y: hidden;
	}
	.modal-dialog{
		width: 90%;
		max-width: none;
		max-height: 97%;
		overflow: auto;
		padding: 20px;
		background-color: @white;
	}
	.modal-top{
		padding-top: 10px;
		a{
			margin-top: -10px;
		}
	}
	.modal-title{
		color: @black;
	}
	.btn-close-modal{
		color: @black;
	}
	.modal-content{
		padding: 0;
		border: none;
	}
	#TicketList>div.ui-widget-header{
		background-color: @white;
		color: @black;
		box-shadow: 0 0 2px rgba(0,0,0,0.7);
		-moz-box-shadow: 0 0 2px rgba(0,0,0,0.7);
		-webkit-box-shadow: 0 0 2px rgba(0,0,0,0.7);
	}
	.InventoryFilter{
		padding: 15px;
		.FilterTitle{
			padding-bottom: 20px;
		}
		.PriceSlider{
			.ui-slider-horizontal{
				height: 5px;
				border: none;
				background: @grayLight;
				.ui-slider-range{
					background: @redFlashTheme;
					opacity: 1;
				}
			}
			.Marker{
				font-size: 11px;
			}
		}
		.PriceRange{
			font-size: 12px;
		}
	}
	.ui-state-default,
	.ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default {
		width: 14px;
		font-size: 11px;
		background: @grayExtraLight;
		cursor: pointer;
		top: -8px;
		border-radius: 0;
		&:after{
			content: "";
			position: absolute;
			top: 13px;
			left: 0;
			width: 0; 
			height: 0; 
			border-left: 7px solid transparent;
			border-right: 7px solid transparent;
			border-top: 9px solid @grayExtraLight;
		}
	}
	.tuMapTicketList{
		th{
			background: @gray;
			padding: 10px 5px;
		}
		tr{
			&:hover{
				background-color: @whiteDarker;
			}
			td{
				padding: 10px 5px;
			}
		}
		.BuyLink{
			padding: 6px 10px; 
			color: @white;
			text-shadow: none;
			background-color: @redFlashTheme;
			border: 1px solid @redFlashTheme;
			background-image: none;
			border-radius: 0;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			&:hover{
				background-color: @redLight;
			}
		}
	}
}
.dataTables_wrapper{
	margin-bottom: 10px;
	.btn-group-selectbox{
		button.btn-selectbox{
			width: 65px;
			padding-left: 18px;
			&:after{
				top: 14px;
				left: 40px;
			}
		}
		.wrap-multiselect{
			width: 65px;
		}
	}
	.select-btn{
		display: inline-block;
		width: 115px;
		padding: 7px;
		text-align: center;
		text-transform: uppercase;
		color: @white;
		background-color: @redFlashTheme;
	}
	.scrollbar-outer {
		& > .scroll-element.scroll-x{
			display: none;
		}
		& > .scroll-element.scroll-y{
			width: 16px;
		}
	}
	.dataTables_scroll div.dataTables_scrollBody td{
		&:nth-of-type(5){
			padding-right: 20px;
		}
	}
}
.dataTables_scrollHead{
	padding-right: 2px;
	background-color: @gray;
	.dataTables_scrollHeadInner{
		width: 100% !important;
	}
}
.table-tickets{
	thead{
		tr{
			color: @white;
			background-color: @gray;
		}
		th{
			width: 25%;
		}
	}
	&.dataTable{
		width: 100% !important;
		thead{
			th{
				border-bottom: none;
				padding-left: 11px;
			}
			tr{
				th{
					&:nth-of-type(1){
						width: 20% !important;
						&.sorting_asc, &.sorting_desc, &.sorting{
							background-position: 47%;
						}
					}
					&:nth-of-type(2){
						width: 20% !important;
						&.sorting_asc, &.sorting_desc, &.sorting{
							background-position: 32%;
						}
					}
					&:nth-of-type(3){
						width: 15% !important;
						&.sorting_asc, &.sorting_desc, &.sorting{
							background-image: none;
						}
					} 
					&:nth-of-type(4){
						width: 20% !important;
						&.sorting_asc, &.sorting_desc, &.sorting{
							background-position: 60%;
						}
					}
					&:nth-of-type(5){
						width: 30% !important;
						&.sorting_asc, &.sorting_desc, &.sorting{
							background-image: none;
						}
					}
				}
			}
		}
		tbody{
			max-height: 300px;
			overflow: auto;
			tr{
				height: 60px;
				.sold-out{
					display: none;
					width: 115px;
					margin-bottom: 0;
					text-align: center;
					text-transform: uppercase;
					color: @black;
					font-weight: bold;
				}
				.input-group-after{
					position: absolute;
					top: 17px;
					left: 55px;
				}
				td{
					position: relative;
					&:nth-of-type(3){
						width: 15% !important;
					} 
					&:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(4){
						width: 20% !important;
					} 
					&:nth-of-type(5){
						width: 25% !important;
						text-align: right;
					} 
				}
				&.disable{
					pointer-events: none;
					opacity: 0.5;
					.select-btn{
						display: none;
					}
					.sold-out{
						display: inline-block;
					}
				}
			}
		}
	}
}
.ticket-info{
	padding: 20px;
	margin-bottom: 10px;
	background-color: @whiteDark;
	border: 1px solid @whiteDarker;
	.clearfix();
	.info-left{
		float: left;
		width: 55%;
	}
	.info-right{
		float: right;
		width: 300px;
		.right-label{
			margin-bottom: 0;
			text-align: center;
		}
	}
	.title{
		color: @redFlashTheme;
		font-size: 18px;
		font-weight: bold;
	}
	.details{
		color: @black;
		font-size: 14px;
		font-weight: bold;
		.clearfix();
		.details-left{
			float: left;
			width: 30%;
		}
		.details-right{
			float: left;
			width: 70%;
		}
	}
}
.block-seat-chart{
	width: 100%;
	.clearfix();
	.img-responsive{
		width: 100%;
	}
	table.dataTable thead th, table.dataTable thead td{
		border: none;
		&:nth-of-type(3), &:nth-of-type(4){
			text-align: left;
		}
	}
	#TuMap{
		box-shadow: none;
		-webkit-box-shadow: none;
		border: 1px solid #adaeb0;
	}
	.dataTables_scrollBody{
		border: 1px solid @whiteDarker !important;
		max-height: 451px !important;
	}
	.MapContainer{
		width: 100%;
		height: 500px;
	}
}
.btn-ticket{
	color: @redFlashTheme;
	font-size: 16px;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
	&.disabled{
		color: inherit;
		text-decoration: none;
		pointer-events: none;
	}
}

// Style Autocomplete all page
.autocomplete-suggestions{
	background-color: @white;
	overflow: auto;
	color: @black;
	font-size: 12px;
	font-weight: normal;
	border: 1px solid @grayLight;
	text-align: left;
	margin-top: -2px;
	max-height: 155px !important;
	z-index: 11;
	width: 100%;
	strong{
		font-weight: bold;
		text-decoration: underline;
	}
	small{
		font-size: 11px;
		color: @gray;
	}
	.autocomplete-selected{
		background: @whiteDark;
		color: @redFlashTheme;
		font-weight: bold;
		cursor: pointer;
		border-radius: 3px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		small{
			color: @redFlashTheme;
		}
	}
	.autocomplete-suggestion{
		overflow: hidden;
		padding: 5px 10px;
	}
	.autocomplete-no-suggestion{
		font-weight: bold;
		padding-left: 10px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	&.scrollbar-outer > .scroll-content.scroll-scrolly_visible{
		left: -3px;
		margin-left: 0;
		box-sizing: border-box !important;
		-webkit-box-sizing: border-box !important;
		-moz-box-sizing: border-box !important;
		padding: 5px 15px 5px 5px !important;
	}
	&.scrollbar-outer > .scroll-element.scroll-y{
		z-index: 10000;
	}
}
.btn-search{
	position: relative;
	display: inline-block;
	height: 34px;
	padding: 3px 12px;
	background-color: @redFlashTheme;
	color: @white;
	border: 1px solid transparent;
	.transition(all 0.3s);
	&:hover, &:focus, &:active{
		background-color: @white;
		border: 1px solid @redFlashTheme;
		opacity: .8;
		box-shadow: none;
		outline: none!important;
		.ico {
			color: @redFlashTheme;
		}
	}
	.ico{
		vertical-align: middle;
		color: @white;
		font-size: 21px;
	}
}
.group-radio{
	.box-group{
		margin-bottom: 15px;
	}
}
.box-group{
	textarea.form-control{
		padding-left: 15px;
		&.has-icon{
			padding-left: 34px;
		}
	}
	.form-control.no-icon{
		padding-left: 15px;
		padding-right: 15px;
	}
}
.box-avail-date{
	[class*="md-"]{
		padding-left: 0;
		padding-right: 8px;
	}
	.btn-group-selectbox button.btn-selectbox{
		padding-left: 10px !important;
	}
}
.block-schedule-pricing{
	padding-left: 0 !important;
	.item{
		.clearfix();
		border-top: 1px solid @grayExtraLight;
		padding-right: 0 !important;
		margin-bottom: 0 !important;
		&:last-child{
			margin-bottom: 13px !important;
		}
		&:nth-child(even){
			padding: 0 !important;
		}
		&:nth-child(odd){
			background-color: @whiteDark;
		}
		.price{
			font-size: 22px;
			font-weight: bold;
		}
		sup{
			font-size: 12px;
		}
		.col-1{
			float: left;
			width: 25%;
			font-weight: bold;
			padding: 8px 10px;
			.code{
				color: @gray;
				font-weight: normal;
			}
		}
		.col-2{
			float: left;
			width: 55%;
			padding: 8px 10px;
		}
		.col-3{
			float: left;
			width: 20%;
			padding: 8px 10px;
			text-align: right;
			a{
				font-weight: normal !important;
				text-decoration: underline !important;
			}
		}
	}
}
.fit-size{
	height: 100% !important;
	position: absolute !important;
	width: auto !important;
	max-width: none !important;
	top: 0;
	left: 0;
}
.img-circle{
	object-fit: cover;
	height: 100%;
}
.page-book-limo{
	&:extend(.page-book all);
}
.page-car-rental{
	&:extend(.page-book all);
}
.slick-slides-center{
	padding-left: 12.5% !important;
	padding-right: 12.5% !important;
}
.box-slider-range{
	height: 20px;
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	.ui-slider-handle{
		width: 22px;
		height: 33px;
		margin-top: -11px;
		cursor: pointer;
		background-position: -497px -180px;
		background-image: @sprites;
		background-repeat: no-repeat;
		background-color: transparent !important;
		border: none;
		margin-left: -11px;
		outline: none;
		.number{
			position: absolute;
			top: 28px;
			left: -20%;
			border: none;
			color: @black;
		}
		&.ui-state-hover, &.ui-state-focus{
			border-radius: 0;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
		}
	}
	.slider-range{
		height: 4px;
		border: none;
		background-color: @grayExtraLight;
	}
	.ui-slider-range{
		background-color: @redFlashTheme;
	}
}
.btn-select-all{
	font-size: 12px;
	text-align: left;
	label, input{
		cursor: pointer;
		margin-bottom: 2px;
	}
	& ~ .list-checkbox{
		margin-top: 10px;
	}
}
.btn-others{
	font-size: 12px;
	text-align: left;
	margin-top: 8px;
}
.lp_desktop #lpChat>.lp_maximized{
	border: none !important;
	.lp_header{
		border: none !important;
	}
}
.short-input{
	.getPassengerNum{
		& ~ label.has-error-icon{
			right: -30px;
		}
	}	 
}
.page-book-private-jet{
	&:extend(.page-book all);
	.radio-group>label{
		margin-bottom: 20px;
	}
}
.module-tile {
	&:extend(.block-slick-slides all);
	padding-top: 60px;
	padding-bottom: 30px;
	.slides-recommends{
		position: relative;
		.slide{
			float: left;
			width: 25%;
		}
	}
	.article .content .inner-desc { 
		display: none; 
	}
	&.tile-auto-height .slides-recommends {
		.slide-with-detail {
			display: inline-block;
			vertical-align: top;
			font-size: initial;
		  background-color: #fff;
		  background-clip: content-box;
			position: relative;
			.content {
				height: auto;
			}
			.btn-view-all {
				position: relative;
				bottom: auto;
				margin: 20px 4px 10px;
			}
		}
	} 
}
@media screen and (min-width: 992px) {
	.block-profile .content-book .item-group>.row{
		.col-md-12{
			& > .col-md-6{
				padding-right: 55px;
			}
		}
	}
	.page-preferences{
		.block-profile .content-profile .form-group{
			padding-right: 0;
		}
		.col-md-5{
			padding-left: 0;
			padding-right: 0;
		}
		.col-md-7{
			padding-left: 30px;
		}
		.module-show-option{
			padding-left: 4px;
			padding-right: 4px;
		}
	}
}
.module-hero, .top-slider {
	position: relative;
	.slick-slider{
		-webkit-user-select: auto;
		-khtml-user-select: auto;
		-moz-user-select: auto;
		-ms-user-select: auto;
		user-select: auto;
	}
	.copyright {
		position: absolute;
		bottom: 10px;
		right: 15px;
		font-size: 16px;
		max-width: 400px;
		color: @white;
	}
}
.box-option{
	.box-group{
		.clearfix();
		margin-bottom: 10px;
		.col-md-6{
			padding-left: 0;
			padding-right: 30px;
		}
	}
	.toggle-option{
		position: relative;
		display: none;
		&.third-option{
			&:before{
				content: "";
				position: absolute;
				top: 10px;
				left: 0;
				color: transparent !important;
				background-image: @sprites;
				background-repeat: no-repeat;
				overflow: hidden;
				width: 20px;
				height: 20px;
				background-position: -510px 0;
			}
			color: @black;
			padding: 10px 10px 0 30px;
		}
	}
	input[type="radio"]{
		&:checked ~ .toggle-option{
			display: block;
		}
	}
}
.table.table-passenger{
	margin-bottom: 0;
	&>thead>tr>th{
		border: none;
	}
	&>tbody>tr{
		&>td{
			border: none;
			padding: 8px 0 20px 0; 
			&:nth-of-type(3), &:nth-of-type(4){
				padding-right: 30px;
			}
			.box-group .form-control{
				padding-right: 15px;
			}
		}
	}
	span.txt-red{
		font-size: 16px;
		line-height: 16px;
		font-weight: bold;
	}
}
.sub-link{
	color: blue;
	text-decoration: underline;
	display: inline-block;
	white-space: nowrap;
	margin-top: 30px;
	margin-left: 30px;
	&:hover, &:focus{
		color: @redFlashTheme;
		text-decoration: underline;
	}
}
.overflow-x-auto{
	overflow-x: auto;
}
[data-spy="blockSlide"]{
	white-space: nowrap;
	overflow: hidden;
	.data-container{
		.clearfix();
		white-space: normal;
		display: inline-block;
		width: 100%;
		vertical-align: top;
		&:nth-of-type(1){
			margin-left: -100%;
		}
		&:nth-of-type(2){
			margin-left: -4px;
		}
		&:nth-of-type(3){
			margin-left: 100%;
		}
	}
}
.infoQuantity{
	display: inline-block;
	width: 85px;
}
.block-terms-list{
	.item-group{
		padding-top: 0;
		.form-group{
			&>label{
				font-weight: bold;
			}
		}
		.btn-group-selectbox button.btn-selectbox{
			padding-left: 15px;
		}
	}
	.box-group .form-control{
		padding-left: 15px;
		padding-right: 15px;
	}
	.radio-group{
		.radio{
			margin-top: 7px;
			margin-bottom: 7px;
		}
	}
}
.btn-form-submit{
	margin-top: 30px;
	text-align: left;
	.btn-red{
		margin-left: 0;
		font-size: 14px;
		width: 150px;
	}
}
.page-contact{
	label.lt-error{
		position: absolute;
		bottom: -25px;
		left: 0;
		width: 100%;
		text-align: right;
		margin-top: 5px;
		margin-bottom: 0 !important;
		color: #cb4f53;
	}
	.block-profile{
		padding-bottom: 10px;
	}
	.radio-group{
		.radio ~ label{
			margin-left: 7px;
		}
		&.inline-radio-group + .inline-radio-group{
			margin-left: 25px;
		}
	}
	textarea ~ label.lt-error{
		padding-right: 55px;
	}
}
.item-age{
	.col-md-5{
		padding-left: 0;
		padding-right: 0;
	}
}
.contact-number{
	.col-md-4{
		padding-left: 0;
	}
	.col-md-8{
		padding-right: 0;
	}
}
.select2-container--default{
	.select2-selection--single{
		border-radius: 0 !important;
		height: 34px !important;
		.select2-selection__rendered{
			line-height: 34px !important;
			padding-left: 34px !important;
			padding-right: 34px !important;
		}
		.select2-selection__arrow{
			display: none !important;
		}
	}
	& ~ .input-group-after{
		pointer-events: none;
	}
}
.media-status{
	width: 95px;
	display: inline-block;
	border-radius: 2px;
	padding: 2px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: @white;
	position: absolute;
	top: 0;
	right: 0;
	&.open{
		background-color: #cc3333;
	}
	&.in-progress{
		background-color: #f1b500;
	}
	&.closed{
		background-color: #669900;
	}
}
.form-inline .checkbox{
	&.dropdown{
		width: 150px;
		margin-left: 10px;
		.dropdown-menu{
			border: none;
			border-radius: 0;
			margin-top: 0;
			min-width: 150px;
			li{
				padding-top: 5px;
				padding-bottom: 5px;
			}
		}
		.btn-dropdown{
			position: relative;
			border: none;
			color: @black;
			width: 100%;
			text-align: left;
			padding: 5px 15px;
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
			background: -webkit-linear-gradient(@white, @whiteDark); /* For Safari 5.1 to 6.0 */
			background: -o-linear-gradient(@white, @whiteDark); /* For Opera 11.1 to 12.0 */
			background: -moz-linear-gradient(@white, @whiteDark); /* For Firefox 3.6 to 15 */
			background: linear-gradient(@white, @whiteDark); /* Standard syntax (must be last) */
			.sprites{
				position: absolute;
				top: 12px;
				right: 12px;
			}
		}
	}
}

// html[data-useragent*='MSIE 10.0'] .block-blog .article > a:after{
// 	z-index: -1;
// }
textarea.small-textarea{
	min-height: 70px;
	& ~ label.error {
		position: absolute;
		bottom: 50px;
		right: 0;
		width: auto;
		text-align: left;
		.translate(102%, 0);
	}
}

.page-search-results{
	&:extend(.page-error-404 all);
	.block-error{
		padding-bottom: 10px;
	}
	.module-filter .content-filter .item.box-category .list-checkbox{
		max-height: 160px !important;
		li{
			margin-bottom: 0;
			&.active, &:hover{ background: none; }
		}
	}
	
}
.search-title{
	font-size: 36px;
	font-family: @fontGeorgia;
	color: @black;
	border: none;
	border-bottom: 1px solid @grayExtraLight;
	background: transparent;
	width: 100%;
	padding: 0 30px;
	margin-bottom: 15px;
	text-align: center;
	outline: none;
}
.btn-search-title{
	position: absolute;
	right: 0;
	top: 15px;
	background: transparent;
	outline: none;
	cursor: pointer;
	border: none;
	.sprites{
		margin-top: 0;
	}
}
.block-recommends-horizontal-bk{
	&:extend(.block-recommends-horizontal all);
	padding-bottom: 30px;
	.slides-recommends .slide{
		width: 49%;
	}
	.slide{
		&:nth-of-type(2n){ margin-left: 4px }
		&:nth-of-type(2n + 1){ margin-right: 4px }
	}
}
.hint{
	display: none;
	margin-bottom: 5px;
	&.active{
		display: inline-block;
	}
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.box-sort-by{
	padding-right: 10px;
	.form-control{
		padding-left: 34px !important;
		padding-right: 34px;
	}
	.ico{
		margin-top: 8px;
		color: @gray;
		font-size: 15px;
	}
}
.wrapper.session-timeout{
	text-align: center;
	padding-top: 40px;
	font-size: 16px;
	a{
		color: @redFlashTheme;
		font-weight: bold;
	}
	& ~ #footer{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}
.page-title{
	font-size: 24px;
}
.demo-site{
	width: 400px;
	overflow: hidden;
	border: 1px solid #000;
	margin: 0 auto;
	margin-top: 10%;
	padding-bottom: 20px;
	a{
		display: block;
		font-size: 16px;
		font-weight: bold;
		color: blue;
		text-decoration: underline;
		padding-left: 20px;
		margin-bottom: 20px;
	}
	.logo-aspire{
		display: block;
		color: @gray;
		margin-top: 10px;
		margin-bottom: 10px;
		font-weight: normal;
		text-decoration: none;
		span{
			display: block;
			font-size: 18px;
		}
	}
	.page-title{
		font-size: 24px;
		text-align: right;
		padding-right: 20px;
		margin-bottom: 20px;
		font-weight: bold;
		color: green;
		&.title-main{
			color: red;
		}
	}
	.block-profile{
		padding-bottom: 0;
		.content-book .item-group > .row > .col-md-12{
			padding-right: 20px !important;
			padding-left: 20px !important;
		}
	}
	.item-group{
		padding-top: 0;
		padding-bottom: 0;
		border: none;
	}
	.wrap-btn-submit {
		margin-top: 0 !important;
		padding-bottom: 0 !important; 
		border: none !important;
		.btn-red{
			margin: 0 auto;
		}
	}
}
[data-spy="ProgramSection"] .row{
	position: relative;
}
input[type="checkbox"].program-checkbox{
	z-index: 1;
	opacity: 1;
	position: absolute;
	bottom: 40px;
	left: -30px;
}
[data-spy="remove-text"]{
	margin-bottom: 20px;
}
.filtering{
	&:extend(module-richtext all);
	position: absolute;
	top: -60px;
	right: 0;
	left: 0;
}
.filter-location{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: left;
	.form-group{
		width: 25%;
		display: inline-block;
		margin: 0 2px;
		float: left;
	}
	.form-control{
		font-size: 12px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.modal-filter{
	.modal-dialog{
		max-width: 600px;
	}
	.content-filter{
		border: none;
		box-shadow: none;
		position: relative;
		top: 0; left: 0; right: 0; bottom: 0;
	}
}
.travel-category{
	display: block;
	position: relative;
	margin-bottom: 30px;
	padding: 0;
	h2{
		position: absolute;
		top: 30px;
		left: 30px;
		z-index: 10;
		font-size: 45px;
		color: @white;
	}
	.slides-intro .slide{
		display: block;
		height: 318px;
	}
	.block-intro{
		margin-bottom: 30px;
	}
}
.section-nav{
	margin: 30px 0;
	a{
		color: blue;
		text-decoration: underline;
	}
	span{
		margin: 0 5px;
	}
}
.btn-clearall{
	display: inline-block;
	color: blue;
	text-decoration: underline;
	margin-left: 4px;
	margin-bottom: 10px;
	&:hover{
		color: blue;
	}
}
.bg-white{
	background-color: @white !important;
}
.box-contact{
	.box-group .form-control{
		padding-left: 15px;
		padding-right: 15px;
	}
	.col-md-2{
		margin-top: 5px;
	}
}
.contact-phone{
	.phone-field{
		padding-left: 0;
		padding-right: 0;
		.col-md-4{
			padding-left: 0;

			//change follow new request (ticket hide country code)
			visibility: hidden;
			position: absolute;
			z-index: -1;
		}
		.col-md-8{
			padding-right: 0;

			//change follow new request (ticket hide country code)
			padding-left: 0;
			width: 100% !important;
		}
		.select2-container{
			top: -201px !important;
		}
		.select2.select2-container{
			top: auto !important;
		}
		.select2-container--default .select2-selection--single .select2-selection__rendered{
			padding-left: 15px !important;
			padding-right: 15px !important;
		}
	}
}
.contact-email{
	.col-md-10{
		padding-left: 0;
		padding-right: 0;
	}
}
.time-picker{
	.clearfix();
	.item{
		float: left;
		width: 20%;
		margin-right: 10px;
		position: relative;
		&:nth-of-type(1){
			&::after{
				content: ":";
				display: inline-block;
				position: absolute;
				top: 5px;
				right: -7px;
			}
		}
		.form-control{
			padding-left: 15px;
			padding-right: 15px;
		}
		.btn-group-selectbox button.btn-selectbox{
			padding-left: 15px;
		}
	}
	label.has-error-icon, label.lt-error {
		display: none !important;
	}
}
.nameOfRestaurant, .nameOfLocation{
	& ~ .select2{
		display: none;
	}
	& ~ .select2-container .select2-dropdown{
		top: 34px;
	}
}
.select2-container{
	right: 0;
}
.select2-dropdown{
	width: 100% !important;
}
label.label-block {
	display: block;
}
label.radio{
	margin-bottom: 10px;
}
.lt-spinner{
	padding-left: 34px !important;
	padding-right: 34px !important;
}
.getContactedEmail, .getContactedMobile{
	& ~ label.has-error-icon{
		right: 0; top: 25px;
		width: auto;
		height: auto;
		color: @redFlashTheme !important;
		white-space: nowrap;
		background: none;
		margin-top: 5px;
		overflow: visible;

		&::before{
			display: none;
		}
	}
}
.nowrap{
	white-space: nowrap;
}
.pl-0{
	padding-left: 0;
}
.box-ticket-type{
	.form-group{
		margin-bottom: 15px;
	}
	.box-group{
		display: inline-block;
		margin-right: 30px;
		label{
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}
.boxLocation{
	.box-group{
		.clearfix();
	}
}
.mobileNumberVal, .emailAddressVal{
	position: absolute;
	z-index: -1;
}
.mobileNumberVal.error ~ .mobileNumber, .emailAddressVal.error ~ .emailAddress{
	border: 1px solid #cb4f53;
}
.bin-tooltip {
	opacity: 0;
	position: absolute;
	right: -90px;
	top: 38px;
	width: 150px;
	color: @black;
	border-radius: 5px;
	background-color: @whiteDark;
	padding: 5px 15px;
	text-align: center;
	box-shadow: 0 0 1px @gray;
	z-index: 10;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	&::before {
		content: "";
		position: absolute;
		top: -10px;
		left: 40px;
		display: block;
		width: 0;
		height: 0;
		border-bottom: 10px solid @whiteDark;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
	}
}
.icon-question-mark.icon-bin {
	position: absolute;
	right: 0;
	bottom: 9px;
	cursor: pointer;
	display: block;
	z-index: 10;
	&:hover ~ .bin-tooltip {
		opacity: 1;
	}
}
.module-hero-switcher {
	.block-intro .slides-intro .slide .content {
		min-width: 900px;
	}
}
.block-hero-switcher {
	width: 400px;
	position: absolute;
	bottom: 30%;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	padding: 20px;
	.dropdown {
		width: 100%;
		padding-right: 30px;
		border-bottom: 2px solid @whiteDark;
	}
	.text {
		font-size: 20px;
		line-height: 1;
		text-align: left;
	}
	.btn {
		// font-family: @fontProximaNova;
  	font-weight: bold;
		width: 100%;
		font-size: 40px;
		padding-left: 0;
		padding-right: 0;
		line-height: 1;
		text-align: left;
		overflow: hidden;
		text-transform: capitalize;
		background-color: transparent;
		border: none;
		&:hover, &:focus, &.focus, &:active, &.active {
			color: @white;
			box-shadow: none;
			outline: none;
		}
	}
	.icon-arrow-right {
		.rotate(90deg);
		position: absolute;
		right: 10px;
		bottom: 5px;
		cursor: pointer;
	}
	.dropdown-menu {
		max-height: 105px !important;
		overflow: auto !important;
		background-color: transparent;
		margin-bottom: 0 !important;
		&.scroll-wrapper {
			background-color: rgba(0, 0, 0, 0.8);
			border: none;
			border-radius: 0;
		}
		& > li > a {
			color: @white;
			&:hover {
				color: @black;
			}
		}
	}
	.scrollbar-outer > .scroll-element, .scrollbar-outer > .scroll-element div {
		z-index: 15;
	}
	.scrollbar-outer > .scroll-element.scroll-y {
		background-color: rgba(0, 0, 0, 0.8);
	}
}
.img-avatar {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	width: 100%;
	height: 100%;
}
.box-choices {
	label.radio {
		height: 36px;
	}
}
.box-expiry-date {
	label.lt-error {
		white-space: nowrap;
		text-align: left;
	}
}
