
// @media screen and (max-width: 991px) and (min-width: 768px){
//     increase image padding when screen solution > 768px and < 991px
//     .wrapper.page-entertainment-indiv{
//       padding-top:148px;
//     }
// }
.slides-intro{
  .slide{        
    &.slide-resize-hero{
      /* AD-824: Resize hero */
      /* width = 100% screen width*/
      /* ratio 920/223 */
      width: 100vw;
      min-height: 23.230vw;
      height: 23.230vw;
      .content{
        .inner .title {
          margin-bottom: 0;
          font-size: 3.64vw;
        }
        .btn{
          margin-top:1vw;
        }
      } 
      .block-hero-switcher {
        .text {
          font-size: 1.041vw;
        }
        .btn {  
          font-size: 2.083vw;
        }
      }
    }
  }

}