/* Merge with old css */
.module-tile .view-type-tilesview h3 {
  color: #fff !important;
}
.module-tile .slide h3 {
  color: #fff !important;
}
.fluid-width {
	width: 100%;
}

.header-gap-holder {
	height: 83px;
}

.no-border {
	border: 0 none;
}

.pdt-35 {
	padding-top: 35px;
}

.mt-15 {
	margin-top: 15px;
}

.modal-tools {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	a{
		display: inline-block;
		padding: 7px;
	}
}

.flat {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}

.text-muted {
	color: #999999;
	font-size: 0.75em;
	line-height: 1em;
}

.list-check ul li {
	@padding-left: 30px;
	padding-left: @padding-left;
	vertical-align: middle;

	&:before {
		margin-left: -@padding-left;
		vertical-align: middle;
		margin-right: 0;
	}

	> span {
	    display: inline-block;
    	vertical-align: middle;
   	 	margin-left: 18px;
	}
}

.nav-profile .name.brand-color {
    max-width: 230px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
}

#modal-signin {
	.row {
		a.text-muted {
			display: block;
			width: 50%;
			font-size: 1em;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.well {
		margin: 0 4px;
	}
}

.block-terms-list {
	padding-top: 20px;

	&.no-bottom-gap {
		padding-bottom: 0;

		.polices-list,
		.terms-list,
		.faqs-list,
		.feedback-list,
		.customer-service-list {
			margin-bottom: 0;

			> li:last-child {
				margin-bottom: 0;				
			}
		}
	}

	h2 {
		font-size: 40px;
		font-family: @fontGeorgia;
	    padding-bottom: 25px;
		border-bottom: 1px solid @whiteDarker;
		color: @black;
	}

	.terms-index,
	.policies-index {
	    margin-top: 37px;
		font-size: 14px;
		padding-left: 18px;
		padding-bottom: 30px;
		margin-bottom: 20px;
		li {
		    padding-left: 15px;
		}
		border-bottom: 1px solid @whiteDarker;
	}

	.terms-index {
		color: @redFlashTheme;
		font-weight: bold;
	}
		
	.polices-list {
		font-size: 14px;
		color: @black;
		font-weight: bold;
		padding-left: 18px;
		counter-reset: termslist;
		list-style: none;

		> li {
		    padding-bottom: 16px;
		    margin-bottom: 25px;
			border-bottom: 1px solid @whiteDarker;
			counter-increment: termslist;
			position: relative;
			list-style: none;			

			&:before {
				position: absolute;
				left: -18px;
				top: 0;
			}

			&:not(.markerless) {
				&:before {
					content: counter(termslist);
				}
			}
		}

		li {
	   	 	padding-left: 15px;
		}

		h3,
		h4 {
			margin-top: 18px;
			font-family: inherit;
			font-size: 100%;
			font-weight: bold;
		}

		h3 {
			margin-bottom: 16px;
		}

		h4 {
			margin-bottom: -3px;
		}

		p {
			line-height: 18px;
		
			&.box {
				padding: 20px;
				border: solid 1px @grayExtraLight;
				color: @grayLight;
			}

			a {
				color: @redFlashTheme;
				font-weight: bold;
			}
		}

		textarea.box:extend(.block-terms-list .polices-list p.box){
    		line-height: 18px;
		};

		ol {
			padding-left: 15px;
		}
	}

	.terms-list:extend(.block-terms-list .polices-list all) {}
	.customer-service-list:extend(.block-terms-list .polices-list all) {}

	.feedback-list:extend(.block-terms-list .polices-list all) {

		label {
			&.top-gap {
	    		margin-top: 16px;
	    	}

	    	&.muted {
	    		color: @gray;
	    		font-weight: bold;
	    	}
		}

		.btn-red {
			padding: 10px;
			width: 150px;

			&.top-gap {
				margin-top: 35px;
			}
		}

		input.form-control {
		    font-family: 'ralewaymedium', Arial, sans-serif;
		    color: @gray;
		}
	}

	.faqs-list {
		list-style: none;
		padding-left: 0;
		margin-bottom: -25px;
		
		> li {
			list-style: none;
		}

		h3 {
			font-size: 16px;
			color: @redFlashTheme;
			font-weight: bold;
		}

		ul:extend(.block-terms-list .polices-list all) {
			list-style-type: lower-alpha;
			
			h4 {
				margin-bottom: 16px;
			}

			> li {
				list-style-type: lower-alpha;

				&:not(.markerless):before {
					content: none;
				}
			}
		}
	}
}

.pure-range-slider {
	width: 420px;
	max-width: 85%;
	position: relative;
	margin-left: 0.8571428571428571em;

	input[type="range"] {
		// from https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/

		// * * * COLORS * * *
		@font-size:      16px;    // <--- change the font size to change the size
		@color__default: @grayExtraLight;

		box-sizing: border-box;
		font-size: @font-size;
		line-height: 1;
		height: 2em;
		background-color: transparent;
		cursor: pointer;
		position: relative;
		width: 97%;
    	left: 2%;
		z-index: 1;

		// * * * RESET * * *

		-webkit-appearance: none;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
		}
		&:focus {
			outline: none;
		}
		&::-ms-track {
			width: 100%;
			cursor: pointer;
			background: transparent; 
			border-color: transparent;
			color: transparent;
		}

		// * * * TRUMP * * *

		.mx-trange-trump(){
			width: 29px;
			height: 33px;
			margin-top: -0.3125em;
			cursor: pointer;
			background-position: -493px -180px;
		    background-image: @sprites;
		    background-repeat: no-repeat;
		    background-color: transparent;
		    border: none;
		    overflow: hidden;
		}

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			.mx-trange-trump();
		}

		&::-moz-range-thumb {
			.mx-trange-trump();
		}

		&::-ms-thumb {
			.mx-trange-trump();
		}

		// * * * TRACK * * *

		.mx-range-track(){
			width: 100%;
			cursor: pointer;
			height: 1em;
			border-bottom: 0.3125em solid transparent;
			border-top: none;
			color: transparent;
			background-color: transparent;
		}


		&::-webkit-slider-runnable-track {
			.mx-range-track();
		}

		&:focus::-webkit-slider-runnable-track {

		}

		&::-moz-range-track {
			.mx-range-track();
		}

		&::-ms-track {
			background: transparent;
			border-color: transparent;
			color: transparent;
			height: 0;
		}
		&::-ms-fill-lower {

		}
		&:focus::-ms-fill-lower {

		}
		&::-ms-fill-upper {

		}
		&:focus::-ms-fill-upper {

		}

		.range-loop(@counter, @total) when (@counter <= @total) {
			&[defaultvalue="@{counter}"],
			&[value="@{counter}"],
			&[defaultvalue][value="@{counter}"] {
				+ .steps {
					&:after {
						width: (@counter - 1) * 10%;
					}
				}
			}

		  	.range-loop((@counter + 1), @total);    // next iteration
		}
	
		.range-loop(1, 10);

		+ .steps {
			&:after {
				content: '';
				display: block;
				width: 0;
				height: 0.3125em;
				background-color: @redFlashTheme;
				top: 1.35em;
				left: 5%;
			    position: absolute;
			}
			&:before {
				content: '';
				display: block;
				width: 90%;
				height: 0.3125em;
				background-color: @color__default;
				top: 1.35em;
				left: 5%;
			    position: absolute;
			}

			.step-loop(@counter, @total) when (@counter <= @total) {
				&:nth-last-child(@{counter}),
				&:nth-last-child(@{counter}) ~ .step {
					// width: 100% / @counter + 100% / @counter / @counter;
					width: 100% / @counter;
					// margin-left: 0;
				}
				// &:nth-last-child(@{counter}) {
				// 	margin-left: -(100% / @counter / @counter / 0.2);
				// }
			  	.step-loop((@counter + 1), @total);    // next iteration
			}
			.step {
				float: left;
				text-align: center;
				font-size: 12px;
				position: relative;
				padding-right: 0;
				padding-left: 0;
				.step-loop(1, 10);
				
				&:before {
					content: '';
					display: block;
					position: absolute;
					width: 2px;
					left: 50%;
					top: -1.1em;
					height: 1.1em;
					background-color: @color__default;
				}
				
				span {
					display: block;
					white-space: nowrap;
					margin-left: -50%;
					width: 200%;
					text-align: center;
				}
			}
		}
	}
}

.radio-group {
	font-size: @font-size;

	&.inline-radio-group {
		display: inline-block;

		+ .inline-radio-group {
			margin-left: 25px;
		}
	}

	.radio {
		width: 1.4285714285714286em;
		height: 1.4285714285714286em;
		display: inline-block;
		border: solid @grayLight 0.07142857142857142em;
		padding: 0.14285714285714285em;
		border-radius: 50%;
		position: relative;
		vertical-align: middle;

		~ label {
			margin-left: 10px;
		}

		.handle {
			display: none;
			width: 1em;
			height: 1em;
			border-radius: 50%;
			background-color: @redFlashTheme;
			pointer-events: none;

		}

		input {
			opacity: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
			margin: 0;

			&:checked {
				~ .handle {
					display: block;
				}
			}
		}
	}

	label {
		font-size: 1em;
		font-family: 'ralewaymedium';
		vertical-align: middle;
		margin: 0;
	}
}

.box-group {
	&.right-gap {
		width: 96.33%;
	}
}

.box-group .form-control {
	&.no-icon {
		padding-left: 10px;
	}
}

.info-book {
	background: #FFF;
}

.page-search {
	min-height: ~'-webkit-calc(100vh - 76px)';
	min-height: ~'   -moz-calc(100vh - 76px)';
	min-height: ~'    -ms-calc(100vh - 76px)';
	min-height: ~'     -o-calc(100vh - 76px)';
	min-height: ~'        calc(100vh - 76px)';
}

#main-search-form {
	padding: 6px 12px;
}

#main-search-text {
	border-bottom: solid 1px @grayExtraLight;

	input {
		border: 0 none;
		padding-left: 0;
	}

	.input-group-btn,
	.btn {
		border: 0 none;		
	    padding-right: 0;

		&:hover,
		&:focus {
			background: transparent;
			box-shadow: none;
	    	outline: none;
		}
	}

	.sprites.icon-close {
		zoom: 0.6;
	    margin-top: -20px;
	}
}

#main-search-suggestion {
	list-style: none;
	padding: 6px 12px;

	> li {
		list-style: none;

		.count {
			margin-left: 0.25em;

			&:before {
				content: "(";
			}

			&:after {
				content: ")";
			}
		}
	}
}