html[data-useragent*='MSIE 10.0'] {
	.module-tiles {
		.article {
			>a {
				&:after {
					display: none;
				}
			}
		}
	}
}

.module-tiles {
	padding-top: 0;
	padding-bottom: 30px;
	h2 {
		text-align: center;
	}
	.img-cover {
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: 0% 50%;
		width: 100%;
		height: 100%;
		display: inline-block;
		vertical-align: middle;
		.transition(all 0.5s);
	}
	.tile-container {
		position: relative;
		.btn-see-all{
			text-transform: uppercase;
			position: absolute;
			bottom: -42px;
			right: 0;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	.article {
		position: relative;
		overflow: hidden;
		&:before {
			content: "";
			display: block;
			padding-top: 100%;
		}
		> a {
			display: inline-block;
			text-align: center;
			position: absolute;
			top: 0; bottom: 0; left: 0px; right: 0px;
			background-color: @bg-slide;
			font-size: 0px;
			line-height: 0;
			&:before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				height: 100%;
			}
			&:after {
				content:"";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				display: block;
				background: rgba(0,0,0,0.3);
			}
		}
		.content {
			position: absolute;
			top: 0;left: 0;right: 0;bottom: 0;
			text-align: center;
			color: @white;
			pointer-events: none;
			.inner{
				display: table;
				height: 100%;
				width: 100%;
				.hover-inner-hide {
					display: table-cell;
					vertical-align: middle;
					padding-left: 10px;
					padding-right: 10px;
					opacity: 1;
					.transition(all 0.5s);
				}
			}	
			.show-sm{
				display: none;
			}
			.sub {
				text-transform: uppercase;
				font-weight: bold;
				letter-spacing: 3.2px;
				font-size: 12px;
			}
		}
		&:hover {
			.img-cover {
				.scale(1.5, 1.5);
			}
			> a::after {
				background: rgba(0,0,0,0);
			}
			.content {
				.hover-inner-hide{
					opacity: 0;
					.translate(0, -50%);
				}
			}
		}
	}
	.tile-recommends {
		position: relative;
		.slide {
			float: left;
			width: 25%;
			padding-left: 4px;
			padding-right: 4px;
			margin-bottom: 8px;
			outline: none;
			h3 {
				display: block;
				display: -webkit-box;
				width: 100%;
				text-align: center;
				font-family: @fontGeorgia;
				font-size: 36px;
				color: #fff;
				max-height: 150px;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.article {
				line-height: 0;
				.content {
					line-height: 1.5;
				}
			}
		}
		.slide-3-items {
			float: left;
			width: 33.3333%;
			padding-left: 4px;
			padding-right: 4px;
			margin-bottom: 8px;
			outline: none;
			h3 {
				display: block;
				display: -webkit-box;
				width: 100%;
				text-align: center;
				font-family: @fontGeorgia;
				font-size: 36px;
				color: #fff;
				max-height: 150px;
				-webkit-line-clamp: 3;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.article {
				line-height: 0;
				&:before {
					padding-top: 70%;
				}
				.content {
					line-height: 1.5;
				}
			}
		}
		.slide-no-image {
			width: 50%;
			padding-left: 4px;
			padding-right: 4px;
			margin-bottom: 8px;
			float: left;
			.wrap-slide {
				height: 148px;
				border: 1px solid #adaeb0;
				padding: 15px 20px;
				display: block;
				overflow: hidden;
			}
			.inner {
				display: block;
				overflow: hidden;
				max-height: 100%;
				line-height: 1.4;
			}
			.heading {
				position: relative;
				display: block;
				.ico {
					position: absolute;
					top: 0; right: 0;
					color: @redFlashTheme;
				}
			}
			.sub {
				text-transform: uppercase;
				color: @redFlashTheme;
				font-weight: bold;
				font-size: 10px;
				letter-spacing: 2px;
			}
			h3 {
				margin-top: 0;
				max-height: 66px;
				overflow: hidden;
			}
		}
		.slide-with-detail {
			float: left;
			width: 25%;
			padding-left: 4px;
			padding-right: 4px;
			margin-bottom: 10px;
			.sub {
				width: 100%;
				float: left;
				padding: 0 20px 0 0;
				color: @grayFlashTheme;
				// font-family: @fontProximaNovaLight;
				font-family: inherit;
				text-transform: uppercase;
				letter-spacing: 1px;
				margin: 0 0 10px 0;
			}
			h3 {
				width: 100%;
				float: left;
				color: @grayFlashTheme;
				font-family: @fontGeorgia;
				font-size: 28px;
				line-height: 1.3;
				padding-right: 20px;
				margin: 0 0 10px 0;
				max-height: 72px;
				overflow: hidden;
			}
			p {
				margin-bottom: 0;
			}
			.img-responsive {
				width: 100%;
				height: 280px;
			}
			.content {
				position: relative;
				padding: 5px 0;
				background-color: @white;
				box-sizing: border-box;
				height: 375px;
				overflow: hidden;
				.desc {
					width: 100%;
					float: left;
					padding: 0 20px 0 0;
					margin: 0 0 10px 0;
					min-height: 0px;
					max-height: 132px;
					overflow: hidden;
				}
			}
			.btn-view-all {
				position: absolute;
				bottom: 0;
				left: 0;
			}
		}
		.slide-with-detail-horizontal {
			position: relative;
			margin-bottom: 18px;
			overflow: hidden;
			float: left;
			width: 100%;
			.img-responsive{
				display: table-cell;
				vertical-align: top;
				width: 50%;
				padding: 0 15px 0 0;
				.img-cover {
					&::after {
						content: "";
						display: block;
						padding-bottom: 100%;
					}
				}
			}
			.content{
				padding: 0 15px 5px;
				display: table-cell;
				vertical-align: top;
				p{
					margin-bottom: 0;
				}
				.title-above{
					text-transform: uppercase;
					/* font-family: @fontProximaNovaLight; */
					font-family: inherit;
					color: @grayFlashTheme;
					letter-spacing: 1px;
					display: inline-block;
				}
				h3{
					color: #99A1A8;
					font-family: @fontGeorgia;
					font-size: 36px;
					margin-bottom: 10px;
				}
				.desc{
					margin-bottom: 20px;
				}
			}
			.btn-view-all {
				position: relative;
				left: auto;
				bottom: auto;
				margin-top: 25px;
			}
		}
		.slide-price-detail {
			position: relative;
			float: left;
			width: 49%;
			border: 1px solid @whiteDarker;
			margin-bottom: 18px;
			overflow: hidden;
			&:nth-of-type(2n){ margin-left: 4px }
			&:nth-of-type(2n + 1){ margin-right: 4px }
			.img-responsive{
				position: relative;
				display: table-cell;
				vertical-align: top;
				width: 280px;
				height: 280px;
				img{
					width: 100%;
					transition: all 0.4s;
					-webkit-transition: all 0.4s;
					-moz-transition: all 0.4s;
					-o-transition: all 0.4s;
				}
			}
			.content{
				padding: 15px 20px;
				display: table-cell;
				vertical-align: top;
				p{
					margin-bottom: 0;
				}
				.title-above{
					font-weight: bold;
					font-size: 10px;
					color: @redFlashTheme;
					text-transform: uppercase;
				}
				h3{
					font-size: 25px;
					line-height: 1.2em;
					max-height: 60px;
					overflow: hidden;
					margin-top: 3px;
				}
				.desc{
					max-height: 90px;
					overflow: hidden;
					margin-bottom: 14px;
					line-height: 1.3em;
				}
				.price{
					font-family: @fontRalewayMedium;
					font-size: 24px;
					line-height: 1.2em;
					color: @redFlashTheme;
				}
			}
		}
	}
	.btn-learn-more {
		font-size: 20px;
		color: @black;
		display: inline-block;
		padding-right: 10px;
		line-height: 28px;
		// font-family: @fontProximaNovaLight;
		font-family: inherit;
		margin-bottom: 10px;
		text-decoration: underline;
		position: relative;
		&:after {
			content: "\f105";
			font-family: 'FontAwesome';
			position: absolute;
			top: 0;
			left: 100%;
		}
		&:hover {
			color: @black;
			text-decoration: none;
		}
	}
	.btn-view-all {
		display: inline-block;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		color: @blueFlashTheme;
		font-weight: bold;
		background-color: @white;
		border: 1px solid @blueFlashTheme;
		text-transform: uppercase;
		padding: 10px 30px;
		margin: 0 0 10px 0;
		cursor: pointer;
		.transition(all 0.3s);
		&:hover {
			color: @white;
			background-color: @blueFlashTheme;
		}
	}
	.slide-common{
		&:hover .content{
			opacity: 1;
			transform: scale(1, 1);
			-webkit-transform: scale(1, 1);
			-moz-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			-o-transform: scale(1, 1);
		}
		.hover-inner-hide{
			.inner-desc{
				max-height: 62px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}

@media screen and (max-width: 991px) {
	.module-tiles {
		h3{
			font-size: 18px;
		}
		.tile-container {
			position: relative;
			.btn-see-all{
				bottom: -37px;
			}
		}
		.article {
			margin-bottom: 0;
			.content {
				.sub {
					font-size: 10px;
				}
				.show-sm{
					display: inline-block;
				}
			}
			&:hover {
				.content {
					.hover-inner-hide{
						opacity: 1;
						transform: scale(1, 1);
						-webkit-transform: scale(1, 1);
						-moz-transform: scale(1, 1);
						-ms-transform: scale(1, 1);
						-o-transform: scale(1, 1);
					}
				}
			}
		}
		.slick-dots{
			bottom: -35px;
		}
		.tile-recommends {
			.slide {
				width: 33.3333%;
				.img-responsive{
					width: 100%;
				}
			}
			.slide-with-detail {
				width: 33.3333%;
				.content {
					height: 350px;
				}
				.img-responsive {
					height: 230px;
				}
			}
			.slide-with-detail-horizontal {
				width: 100%;
				.img-responsive {
					display: inline-block;
					width: 100%;
					padding: 0;
				}
				.content {
					display: inline-block;
					padding: 0;
					.desc {
						max-height: 133px;
						overflow: hidden;
					}
				}
				.btn-learn-more {
					font-size: 16px;
				}
				.btn-view-all {
					left: 0;
				}
			}
			.slide-price-detail {
				width: 99%;
				margin-left: 0 !important;
				margin-right: 0 !important;
				.content{
					padding: 18px 20px;
					.title-above{
						font-size: 14px;
					}
					h3{
						font-size: 27px;
						margin-top: 0;
						padding-bottom: 0;
						max-height: 65px;
					}
					.desc{
						max-height: 80px;
						margin-bottom: 9px;
						text-overflow: ellipsis;
						overflow: hidden;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.module-tiles {
		h3{
			font-size: 12px;
		}
		.article {
			margin-bottom: 8px;
			.content {
				p {
					display: none;
				}
				.sub {
					font-size: 8px;
				}
			}
		}
		.tile-recommends {
			.slide{
				width: 50%;
			}
			.slide-with-detail-horizontal {
				.content {
					h3 {
						font-size: 24px;
						margin-top: 15px;
					}
				}
			}
			.slide-with-detail {
				width: 50%;
				&:nth-of-type(odd) {
					padding-left: 0;
				}
				&:nth-of-type(even) {
					padding-right: 0;
				}
				h3 {
					font-size: 24px;
					max-height: 62px;
				}
				.btn-learn-more {
					font-size: 16px;
				}		
				.btn-view-all {
					padding: 10px 5px;
				}
				.img-responsive {
					height: auto;
					.img-cover {
						&::after {
							content: "";
							display: block;
							padding-bottom: 100%
						}
					}
				}
			}
		}
	}
}
