#modal-timeout {
	z-index: 999999999;
}
.btn-location { 
	display: none; 
}

/* Ticket AD-890 */
.module-show-option .label-option {
	word-break: break-all;
}

.info-user span.user-name{
	position: relative;
	&:after {
		content: '';
		display: inline-block;
		width: 7px;
		height: 7px;
		position: absolute;
		top: -1px;
		right: -14px;
		border-bottom: 2px solid @grayFlashTheme;
		border-right: 2px solid @grayFlashTheme;
		transform: rotate(45deg); 
	}
}

/* Ticket AD-916 */
@media (max-width: 767px){
	body.unscroll, body.modal-open, html.unscroll {
		overflow: hidden !important;
		position: fixed;
		height: 100vh !important;
	}
	
}

/* Ticket AD-915 */
body.unscrollDatePicker {
	overflow-y: hidden !important;
	// position: fixed;
}

/* the module-help fixed bottom*/
body > .module-help {
	position: fixed;
	bottom: 0;
	right: 0;
	transform: scale(1, 1);
	&.expand {
		.module-help-box{
		    max-height: 500px;
    		transition: max-height 0.25s ease-in;
		}
	}
	.module-help-box{
		max-height: 0;
    	transition: max-height 0.25s ease-out;
	}
	.content{
		span{
			&.ico-call_concierge:before{
				font-size: 2.75em;
			}
			&.ico-email_concierge:before {
				font-size: 3.5em;
			}
		}
	}
	.title{
		padding: 10px 12px;
	}
	.title-after {
		position: absolute;
		left: 15px;
		right: 0;
		margin: 0 auto;
		text-align: center;
	}
	.icon-plus {
		position: absolute;
		right: 0;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
	li {
		list-style: none;
	}
}
.header .chatbtn {
	.fa-headphones:before{
			content: '';
			display: inline-block;
			background: url('../images/icons/chat.png') center center/cover no-repeat;
			width: 40px;
			height: 40px;
			margin-top: 7px;
	}
	&:hover .fa-headphones:before {
		background: url('../images/icons/chat-hover.png') center center/cover no-repeat;
	}
}

.box-group {
	.input-group-before, .input-group-after {
		max-height: 34px;
	}
	.lt-spinner-prev, .lt-spinner-next {
		max-height: 28px;
		line-height: 14px;
	}
}

.box-label {
	.chatbtn .icon-chat {
		display: inline-block;
		background: url('../images/icons/chat.png') center center / cover no-repeat;
		margin-top: -2px;
		border: 1px solid;
		border-radius: 50px;
		width: 50px;
		height: 50px;
		background-size: 30px;
	}
	.chatbtn:hover .icon-chat {
		filter: grayscale(1);
	}
}

/*Ticket AD-912 : adjust button name in tite*/
.module-tile .slides-recommends .slide-with-detail .btn-view-all {
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 13px;
	padding: 10px 15px;
	max-width: 97%;
}
@media screen and (max-width: @max-tablet-screen-size) {
	.page-faq .module-richtext, .block-filter-top {
		text-align: unset;
	}
}

@media screen and (max-width: @max-mobile-screen-size) {
	.hidden-sm-down {
		display: none !important;
	}

	/* Ticket AD-888 */
	.footer-bottom {
		position: relative;
		padding-top: 50px;
		&>div:last-child {
			float: none;
			position: relative;
			margin-top: -40px;
			.social {
				float: none;
				padding-left: 0;
				position: absolute;
				top: 0;
			}
		}
	}

	/* Ticket AD-901 : page title insight hero image not in middle; */
	.block-intro .slides-intro .slide .content .title{
		height: auto;
	}

	/*Ticket AD-914 : chat button*/
	#lpButtonDiv {
		z-index: 99;
	}

	/*Ticket AD-917 + 918 : header*/
	.header {
		z-index: 107157;
		.logo-aspire {
			width: 50vw;
			height: 35px;
			.logo-header{
				background-position: left center;
				margin-left: 15px;
			}
		}
		.aspire-nav {
			height: 100vh;
			padding-top: 15px;
			overflow-x: hidden;
			.container{
				.transform-origin(left);
				.transition(all 0.2s);
				&.selected-depth-1 {
					.translate(-100%,0);
				}
				&.selected-depth-2 {
					.translate(-200%,0);			
				}
				&.selected-depth-3 {
					.translate(-300%,0);
				}
				&.selected-depth-4 {
					.translate(-400%,0);
				}
				&.selected-depth-5 {
					.translate(-500%,0);
				}
				&.selected-depth-6 {
					.translate(-600%,0);
				}
				&.selected-depth-7 { 
					.translate(-700%,0);
				}
				&.selected-depth-8 { 
					.translate(-800%,0);
				}
				&.selected-depth-9 { 
					.translate(-900%,0);
				}
				&.selected-depth-10 { 
					.translate(-1000%,0);
				}
			}
			.menu-aspire {
				overflow: inherit;
				li {
					position: inherit;
					a {
						position: relative;
						font-size: 13px;
						white-space: nowrap;
						max-width: 100%;
						text-overflow: ellipsis;
						overflow: hidden;						
						.icon-concierge {
							right: 10px;
					    position: absolute;
					    margin-top: -3px;
						}
					}
				}
				& > li .sub-list {
					position: absolute;
					visibility: hidden;
					width: 100%;
					left: 100%;
					top: 0;
					font-weight: normal;
					// padding-bottom: 76px; /* 53px for .aspire-nav's margin-top + 15px for .aspire-nav's padding-top + 8px for BACK's padding-top */
					height: 80vh;
					z-index: 1;
					> li {
						position: initial;
					}
					&.active {
						visibility: visible;
					}
					li a:not(.prev-nav-link) {
						opacity: .75;
						text-transform: capitalize;
					}
					.prev-nav {
						padding: 0;
						border-bottom: 1px solid @grayText;
						a {
							padding: 10px 30px 15px;
							display: block;
							background: @blueFlashTheme;
							color: white;
							&:before {
								content : '<';
								margin-left: -15px;
								margin-right: 5px;
								font-size: 12px;
							}
						}
					}
				}
			}			
			.menu-group-title {
				padding-left: 20px;
				margin-top: 25px;
				margin-bottom: 15px;
				display: block;
				font-weight: bold;
				font-size: 13px;
			}
			.module-help {
				.scale(1,1);
				display: none;
				&.active {
					display: block;
				}
				p {
					font-size: 13px;
				}
				h3 {
					font-size: 20px;
				}
				.content {
					padding-bottom: 0;
					.box-label .fa {
						width: 50px;
						height: 50px;
						line-height: 45px;
						&.fa-headphones:before{
							margin-top: 3px;
						}
					}
				}
			}
		}
	}

	/*Ticket AD-911 : adjust text in tite*/
	.module-tile .slide h3 {
		font-size: 25px !important;			
		display: -webkit-box;
		text-overflow: ellipsis;
	}

	.module-tile .slides-recommends .slide-with-detail {
		&:nth-of-type(odd) .btn-view-all {
			margin-left: 0;
		}
		&:nth-of-type(even) .btn-view-all {
			margin-left: 4px;
		}
	}

}

@media screen and (max-width: 375px) {
	.module-tile {

		/*Ticket AD-911 : adjust title in tile*/
		.slide h3 {
			font-size: 20px;
		}

	}
}

@media screen and (min-width: (@max-mobile-screen-size + 1)) {
	.hidden-md-up {
		display: none !important;
	}
	.block-intro .slides-intro {
		.slick-prev, .slick-next {
			margin-top: 40px;
		}		
		.slide .content {
			padding-top: 90px;
			padding-bottom: 32px;
		}
	}
}
@media screen and (min-width: (@max-mobile-screen-size + 1)) and (max-width: @max-tablet-screen-size) {

}
@media screen and (min-width: (@max-mobile-screen-size + 1)) and (max-width: 1024px) {

}

@media screen and (min-width: (@max-tablet-screen-size + 1)) and (max-width: 1199px) {

}
