
@media screen and (min-width: 1120px) {
	.box-btn{
		button{	
			&:hover{
				color: @white;
				background-color: @redFlashTheme;
			}
		}
	}
	.form-group .sub-label.mb-mobile-desc{
		margin-bottom: 28px;
	}
}
@media screen and (min-width: 991px) and (max-width: 1120px){
	.block-blog{
		.article{
			.content{
				.hover-inner-show{
					padding-left: 0;
					padding-right: 0;
				}
			}
		}
	}
	.block-recommends-horizontal{
		.slide{
			.content{
				h3{
					max-height: 62px;
					overflow: hidden;
				}
				.desc{
					max-height: 74px;
					overflow: hidden;
				}
			}
		}
	}  
}
@media screen and (max-width: 1024px){
	.img-responsive{
		.img-inner{
			.inner{
				.inner-item{
					padding-left: 5px;
					padding-right: 5px;

				}
			}
		}
	}
	.block-recommendations{
		.slide-recommendations{
			.slide{
				.content{
					.hover-inner-show{
						display: none;
					}
				}
			}
		}
	}
	.cardExpiryPicker{
		.btn-group-selectbox{
			.btn-selectbox{
				padding-left: 8px !important;
				&:after{
					right: 8px !important;
				}
			}
		}
	}
	.box-choices label.radio{
		height: 37px;
		white-space: normal;
	}
	.contact-phone .phone-field .select2-container--default {
		.select2-selection--single .select2-selection__rendered {
			padding-left: 7px !important;
		}
		& ~ .input-group-after{
			right: -2px;
		}
	}
}

@media screen and (max-width: 991px) {
	.mb-sm-0{
		margin-bottom: 0;
	}
	.d-table-cell{
		a{
			img{
				width: 100%;
				height: 120px;
			}
		}
	}
	.box-group .form-control{
		padding-right: 15px;
	}
	.block-experiences {
		.slide-experiences {
			.slide {
				.content {
					p{
						font-size: 13px;
					}
				}
			}
		}
	}
	.restaurant-share-social a{
		margin-left: 2px;
	}
	
	.block-favourite {
		padding-bottom: 30px;
		h1{
			font-size: 27px;
			margin-bottom: 15px;
		}
		p.slides-favourite{
			font-size: 16px;
			padding-left: 10%;
			padding-right: 10%;

		}
		.slides-favourite{
			width: auto !important;
			padding-left: 5%;
			padding-right: 5%;
			.slide{
				h3{
					font-size: 16px;
					max-height: 38px;
					margin-bottom: 7px;
				}
				.sub {
					font-size: 12px;
					height: 15px;
					margin-bottom: 2px;
				}
				.figure{
					.wrap-slide-img{
						height: auto !important;
						&:before {
							padding-top: 70%;
						}
						.overlay {
							display: none;
						}
					}
				}
				.show-sm{
					display: inline-block;
				}
				.content{
					height: 10em !important;
					.desc{
						font-size: 16px;
						max-height: 165px;
						line-height: 1.3em;
					}
				}
			}
		}
	}

	.block-blog {
		.article {
			.content {
				.hover-inner-hide {
					.inner-desc{
						display: none;
					}
				}
				.show-sm{
					display: inline-block;
				}
				.hover-inner-show{
					display: none;
				}
			}
			&:hover {
				.content {
					.hover-inner-hide{
						opacity: 1;
						transform: scale(1, 1);
						-webkit-transform: scale(1, 1);
						-moz-transform: scale(1, 1);
						-ms-transform: scale(1, 1);
						-o-transform: scale(1, 1);
					}
				}
			}
		}
	}
	.form-resend-activation{
		padding: 0 25px;
		.wrap-email{
			width: 100%;
			margin-bottom: 30px;
		}
		.form-control.btn-red{
			padding: 0 !important;
			height: 40px;
		}
	}
	.page-sign-up{
		.form-control{
			font-size: 16px;
		}
		.box-group .sprites{
			margin-top: 9px;
		}
		.block-signup-form{
			.wrap-form-group{
				margin-bottom: 30px;
				margin-right: 0;
			}
			.form-group{
				.box-group{
					.box-item{
						width: 91.5%;
					}
				}
				& > label{
					font-size: 16px;
				}
				& > p{
					font-size: 12px;
				}
			}
			.box-term{
				overflow: hidden;
				.box-term-item{
					float: left;
					a{
						font-weight: bold;
						color: @redLight;
					}
					&:first-child{
						width: 5%;
					}
					&:last-child{
						width: 95%;
					}
				}
			}
			.btn{
				padding: 12px 30px;
			}
		}
		.block-recommendations{
			.slide-recommendations{
				&:hover{
					.content{
						opacity: 1;
						transform: scale(1, 1);
						-webkit-transform: scale(1, 1);
						-moz-transform: scale(1, 1);
						-ms-transform: scale(1, 1);
						-o-transform: scale(1, 1);
					}
				}
			}
		}
	}
	.banner-size{
		height: 240px !important;
	}
	.module-richtext, .block-filter-top {
		text-align: center;
		h1{
			font-size: 27px;
			margin-bottom: 10px;
		}
		& > .container{
			& > p{
				margin-bottom: 17px;
			}
		}
	}
	.block-article-desc{
		padding-bottom: 48px;
		h2{
			font-size: 22px;
			margin-bottom: 0;
			line-height: 1.1em;
		}
		.btn-see-all{
			font-size: 16px;
			bottom: -40px;
		}
		&:nth-of-type(1){
			padding-top: 21px;
			.wrap-experiences{
				padding-top: 0;
				border-top: none; 
			}
		}
		p.text-center{
			margin-bottom: 10px;
			&.text-upper-btn{
				margin-bottom: 9px;
			}

		}
		.slick-dots{
			bottom: -41px;
		}
		.wrap-experiences{
			padding-top: 17px;
		}
		.box-btn{
			margin-bottom: 15px;
		}
		&:nth-of-type(3){
			padding-bottom: 86px;
		}
	}
	.slide.slide-common{
		.content{
			.inner{
				.title{
					h3{
						font-size: 18px;
						line-height: 1.2em;
					}
					p{
						font-size: 16px;
						line-height: 1.2em;
					}
				}
			}
		}
		&:hover img, &:focus img{
			transform: scale(1.05, 1.05);
			-webkit-transform: scale(1.05, 1.05);
			-moz-transform: scale(1.05, 1.05);
			-ms-transform: scale(1.05, 1.05);
			-o-transform: scale(1.05, 1.05);
		}
		&:hover .content{
			opacity: 1;
			transform: scale(1, 1);
			-webkit-transform: scale(1, 1);
			-moz-transform: scale(1, 1);
			-ms-transform: scale(1, 1);
			-o-transform: scale(1, 1);
		}
		.show-sm{
			display: inline-block;
		}
	}
	.form-filter-top {
		display: block;
		.btn-filter{
			padding: 11px 58px;
		}
	}
	.sub-form-filter-top .sub-btn-filter{
		padding: 11px 58px;
	}
	.module-filter{
		display: none;
	}
	.module-richtext, .block-filter-top {
		.form-filter-top{
			display: block;
		}
		.module-filter-top{
			display: none;
		}
		.form-filter-top{
			.form-control{
				padding-left: 15px !important;
			}
			.box-filter .form-control{
				padding-left: 34px !important; 
			}
		}
	}
	.block-recommendations{
		padding-top: 26px;
		padding-bottom: 25px;
		.slide-recommendations{
			.slide{
				.content{
					h3{
						font-size: 18px;
					}
					.inner{
						.hover-inner-hide{
							padding-left: 0;
							padding-right: 0; 
						}
					}
				}
				&:hover {
					.content {
						.hover-inner-hide{
							opacity: 1;
							transform: scale(1, 1);
							-webkit-transform: scale(1, 1);
							-moz-transform: scale(1, 1);
							-ms-transform: scale(1, 1);
							-o-transform: scale(1, 1);
						}
					}
				}
			}
			.slick-dots{
				bottom: -45px;
			}
		}
		.show-sm{
			display: inline-block;
		}
	}
	.block-recommends-horizontal{
		padding-top: 30px;
		padding-bottom: 85px;
		.slide{
			.content{
				padding: 18px 20px;
				.title-above{
					font-size: 14px;
				}
				h3{
					font-size: 27px;
					margin-top: 0;
					padding-bottom: 0;
					max-height: 65px;
				}
				.desc{
					max-height: 60px;
					margin-bottom: 9px;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				.price{
					font-size: 20px;
				}
			}
		}
		.show-sm{
			display: inline-block;
		}
	}
	.page-travel-packages{
		.module-richtext, .block-filter-top {
			& > .container{
				& > p{
					margin-bottom: 25px;
				}
			}
		}
		.slick-dots{
			bottom: -45px;
		}
	}
	.img-responsive{
		.img-inner{
			.inner{
				.inner-item{
					display: none;
					&.show-sm{
						display: table-cell;
					}
				}
			}
		}
	}
	.page-city-guide{
		.module-richtext, .block-filter-top {
			& > .container{
				& > p{
					margin-bottom: 4px;
				}
			} 
		}
		.block-recommends-horizontal{
			padding-top: 30px;
			padding-bottom: 85px;
			.slide{
				.content{
					h3{
						margin-bottom: 15px;

					}
					.desc{
						max-height: 100px;
						margin-bottom: 20px;
					}
				}
			}
		}
	}
	.content-indiv{
		padding-bottom: 40px;
		.show-sm{
			display: inline-block;
		}
		.hide-sm{
			display: none;
		}
		.booking-box{
			.sprites{
				transform: scale(0.65,0.6);
				-webkit-transform: scale(0.65,0.6);
				-moz-transform: scale(0.65,0.6);
				-ms-transform: scale(0.65,0.6);
				-o-transform: scale(0.65,0.6);
				margin-left: -3px;
				margin-right: -3px;
			}
			.wrap-star-rating{
				margin-top: 0;
			}
			.wrap-add-wishlist, .wrap-request{
				margin-top: -10px;
			}
			.wrap-btn-book{
				a{
					white-space: normal;
				}
				p{
					margin-bottom: 5px;
				}
			}
			h3{
				font-size: 21px;
				margin-top: -10px;
			}
			p{
				font-size: 14px;
			}
		}
	}
	.block-article-style{
		margin-top: 16px;
		h1{
			font-size: 27px;
			margin-bottom: 5px;
		}
		h3{
			margin-bottom: 4px;
			font-size: 16px;
		}
		h4{
			font-size: 16px;
		}
		
		.about-desc{
			padding-bottom: 25px;
			.img-responsive{
				width: 24.9%;
			}
			a ~ .desc{
				width: 75.1%;
			}
			.desc{
				.desc-content{
					line-height: 1.3em;
				}
				.restaurant-share-social{
					font-weight: bold;
					margin-top: 19px;
				}
			}
		}
		.about-info{
			padding-top: 22px;
			padding-bottom: 8px;
			font-size: 14px;
			text-align: left;
			.item{
				width: 49%;
				margin-bottom: 24px;
				.font-raleway-bold{
					font-size: 16px;
					margin-top: 0;
					line-height: 1.3em;
				}
				&:last-child{
					margin-bottom: 0;
				}
			}
		}
		.list-tags {
			li .right-tags .desc {
				padding: 0 0 0 40px;
			}
			&.three-cols li, &.four-cols li { 
				width: 50%; 
				padding: 0 10px 0 0;
				.right-tags .desc {
					padding: 0 0 0 15px;
				}
			}
			&.tags-detail li {
				.right-tags {
					.desc {
						padding: 0 0 0 20px;
					}
				}
			}
		}
		.info{
			.item{
				width: 49%;
				margin-bottom: 19px;
				&:nth-child(odd){
					padding-right: 10px;
				}
				&:nth-child(even){
					padding-left: 10px;
					padding-right: 0;
				}
				&:last-child{
					margin-bottom: 6px;
				}
			}
		}
		&.other-branches{
			.item{
				width: 49%;
			}
		}
		&.intinerary{
			.scroll-element {
				background-color: @white;
			}
			ul.nav.nav-tabs{
				height: 50px;
				background-color: @whiteDark;
				padding-left: 0;
				margin-top: 15px;
				.font-raleway-bold{
					height: 100%;
					margin: 0;
					padding-right: 19px;
					padding-top: 12px;
					background-color: @white;
				}
				li{
					margin: 10px 6px;
					a{
						padding: 3px 10px;
					}
				}
			}
			.tab-content{
				background-color: @white;
				padding: 0;
				margin-bottom: 20px;
				.tab-inner-left{
					width: 100%;
					max-height: 250px;
					padding: 0;
					overflow: hidden;
					.map-box{
						margin-bottom: 22px;
					}
					.img-responsive{
						width: 100%;
						height: auto;
					}
				}
				.tab-inner-right{
					width: 100%;
					float: left;
					padding: 0 10px 25px 0;
					.itinerary-title{
						border-bottom: 1px solid @whiteDarker;
						.itinerary-date{
							font-size: 16px;
							margin-top: 15px;
						}
						.itinerary-name{
							font-size: 16px;
							color: @redFlashTheme;
							margin-bottom: 6px;
						}
					}
					.itinerary-article{
						height: 250px;
						margin-top: 6px;
						article{
							margin-bottom: 12px;
							.article-time{
								width: 100%;
							}
							.article-content{
								width: 100%;
								padding: 0 12px 0 0;
								.article-title{
									margin-bottom: 0;
								}
								.article-desc{
									line-height: 1.3em;
								}
							}
						}
					}
				}
				.wrap-meals-accomodation{
					width: 100%;
					background-color: @whiteDark;
					padding: 15px 20px;
					.list-content{
						margin-bottom: 10px;
						ul{
							color: @black;
						}
						&:last-child{
							margin-bottom: 0;
							ul{
								margin-bottom: 0;
							}
						}
					}
				}
			}
		}
		&.entitlement{
			.list-content{
				padding-top: 5px;
				padding-bottom: 10px;
			}
		}
		.list-content{
			ul{
				color: @gray;
			}
			p,li{
				line-height: 1.4em;
			}
		}
		&.gallery{
			.lightgallery{
				margin-bottom: 20px;
			}
		}
		.restaurant-share-social{
			width: 100%;
			span{
				font-size: 13px;
				display: inline-block;
				vertical-align: top;
				margin-top: 3px;
			}
			a{
				margin-left: 20px;
			}
		}
		.guide-map{
			.caption{
				padding: 20px 15px 5px;
				.item{
					display: inline-block;
					width: 49%;
					margin-bottom: 15px;
					.sprites, span{
						vertical-align: middle;
					}
					span{
						margin-left: 7px;
					}
				}
			}
		}
		.type-menu {
			.item {
				.clearfix;
				width: 100%;
				margin-bottom: 20px;
				figure {
					width: 16.6%;
				}
				.content {
					width: 83.4%;
					font-size: 16px;
				}
			}
			&:last-child{
				padding-bottom: 10px;
			}
		}
		&.location{
			.inner{
				width: 50%;
				&:last-child{
					.item{
						margin-bottom: 7px;
					}
				}
				.item{
					margin-bottom: 15px;
				}
			}
		}
		&.terms{
			h3{
				color: @gray;
				margin-bottom: 5px;
			}
			ul {
				li{
					&:before{
						width: 5px;
						height: 5px;
					}
				}
			}
		}
		.wrap-inner{
			margin-top: 15px;
		}
	}
	.page-hotel-subcat{
		.block-recommends{
			padding-top: 20px;
			padding-bottom: 45px;
			&:extend(.block-blog all);
			.article{
				.content{
					.hover-inner-hide{
						.inner-desc{
							display: block;
						}
					}
				}
			}   
		}
		.slick-dots{
			bottom: -30px;
		}
	}

	.page-hotel-indiv{
		.content-indiv{
			padding-bottom: 47px;
		}
		.block-article-style{
			margin-top: 25px;
			h3{
				margin-bottom: 20px;
			}
			h4{
				margin-bottom: 3px;
			}
			.about-desc{
				padding-bottom: 22px;
				.desc{
					.restaurant-share-social{
						margin-top: 14px;
					}
				}
			}
			.about-info{
				text-align: left;
				.item{
					margin-bottom: 34px;
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
			.info{
				.item{
					margin-bottom: 11px;
					p{
						line-height: 1.3em;
					}
				}
				&:last-child{
					padding-bottom: 17px;
				}
			}
			&.gallery{
				margin-top: 15px;
			}
			.toggle-box.info{
				.item{
					&:last-child{
						margin-bottom: 0;
					}
				}
			}
		} 
	}
	.page-city-guide-indiv{
		.content-indiv{
			padding-bottom: 55px;
		}
		.block-article-style{
			margin-top: 26px;
			h3{
				margin-bottom: 2px;
			}
			.about-desc{
				padding-bottom: 22px;
				.desc{
					p{
						margin-bottom: 23px;
					}
					.desc-content{
						line-height: 1.4em;
					}
				}
				.restaurant-share-social{
					margin-top: 9px;
				}
			} 
			.about-info{
				padding-top: 30px;
				padding-bottom: 15px;
				.item{
					width: 49%;
					&:nth-of-type(3), &:nth-of-type(4){
						margin-bottom: 0;
					}
				}
			}
			.article-desc{
				margin-bottom: 13px;
				line-height: 1.4em;
			}
			&.get-there{
				.article-desc{
					margin-top: 10px;
				}
				.toggle-box{
					& > p{
						margin-bottom: 25px;
					}
				} 
			}
		}
	}
	.block-slick-slides{
		h3{
			font-size: 18px;
		}
		.wrap-experiences{
			position: relative;
			.btn-see-all{
				bottom: -37px;
			}
		}
		.slick-dots{
			bottom: -35px;
		}
		.article{
			margin-bottom: 0;
		}
		.slide{
			.img-responsive{
				width: 100%;
			}
		}
	}
	.page-indiv, .page-gourmet-indiv {
		.block-article-style{
			h3{
				margin-bottom: 15px;
			}
			.about-desc{
				.desc{
					.restaurant-share-social{
						margin-top: 35px;
					}
				}
			}
			.about-info{
				.item{
					margin-bottom: 24px;
					&:nth-of-type(3), &:nth-of-type(4){
						margin-bottom: 0;
					}
				}
			}
			.type-menu {
				b{
					font-size: 16px;
					margin-top: 8px;
				}
				h4{
					margin-bottom: 13px;
				}
				.item{
					h4{
						margin-bottom: 8px;
					}
					&:last-child{
						margin-bottom: 10px;
					}
				}
			}
		}
	}
	.page-gourmet{
		.module-richtext, .block-filter-top {
			.wrap-filter-item{
				.form-group{
					margin-bottom: 25px;
				}
			}
		}
	}
	.info-book{
		width: auto !important;
		margin-top: 30px;
		padding: 13px 20px 18px;
		.title{
			text-align: left;
			padding-bottom: 10px;
			font-size: 16px;
		}
		.content{
			padding: 13px 15px;
			.item{
				overflow: hidden;
				margin-bottom: 25px;
				&:nth-of-type(2){
					margin-bottom: 0;
				}
			}
			p{
				width: 50%;
				float: left;
			}
			.color-red, .infoAddressRestaurant{
				font-size: 16px;
			}
			.infoTime{
				font-size: 20px;
			}
		}
		.btn-red{
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	.block-profile{
		.box-group{
			.sprites{
				margin-top: 9px;
			}
			.icon-arrow-black{
				margin-top: 6px;
			}
		}
		.form-control{
			height: 34px;
		}
		.item-group{
			&:first-child{
				.title{
					margin-bottom: 2px;
				}
			}
			.title{
				text-align: left;
				font-size: 27px;
				margin-bottom: 17px;
			}
			label{
				margin-bottom: 10px;
				font-size: 16px;
			}
			.form-control{
				font-size: 16px;
			}
			.radio-group{
				margin-bottom: 18px;
				& > label{
					margin-bottom: 20px;
				}
			}
			.form-group{
				&.mb-25{
					margin-bottom: 5px;
				}
			}
			.label-age{
				letter-spacing: -0.5px;
			}
			.row{
				&.mb-25{
					margin-bottom: 15px;
				}
			}
			.mb-20{
				margin-bottom: 15px;
			}
			.radio{
				margin-top: 0;
				&.mt-30{
					margin-top: 35px;
				}
			}
		}
		.menu-profile{
			ul{
				padding-top: 26px;
				li{
					margin-bottom: 15px;
				}
			}
		}
		.content-book .item-group .toggle-box>.row>.col-md-6{
			padding-right: 0;
		}
	}
	.page-book-hotels{
		.info-book{
			.content{
				.item{
					&:nth-of-type(2){
						.sprites{
							top: 0;
						}
					}
				}
			} 
		} 
	}
	.page-book-tours{
		.block-profile{
			.item-group{
				&:first-child{
					padding-top: 23px;
					.title{
						& ~ label{
							margin-bottom: 22px;
						}
					}
				}
				label{
					&.mb-5{
						margin-bottom: 18px;
					}
				}
				.col-sm-12{
					padding-right: 25px;
				}
			} 
		}
		.box-add-photo .figure{
			margin-bottom: 0;
		}
		.btn-book{
			text-align: center;
			padding-bottom: 30px;
			border-bottom: 1px solid @whiteDarker;
			.btn-red{
				font-size: 16px;
			}
		}
	}
	.page-title{
		font-size: 27px;
		margin-top: 27px;
	}
	.media-title{
		font-size: 16px;
	}
	.btn-see-more{
		display: inline-block;
	}
	.page-my-request{
		.wrap-btn-filter{
			display: inline-block;
		}
		.pd-20{
			padding: 25px;
			margin-bottom: 20px;
		}
		.list-checkbox li{
			font-size: 14px;
		}
		.form-filter-top{
			.form-filter-title{
				padding-bottom: 15px;
			}
			.btn-filter{
				padding: 10px 60px;
			}
		}
		.box-filter{
			.item{
				margin-top: 25px;
				padding-bottom: 17px;
				.radio{
					margin-top: 2px !important;
				}
			}
		}
		.d-table-cell{
			a{
				img{
					height: 120px;
				}
			}
		}
	}
	.media{
		.media-title, .dark-light-color{
			line-height: 1.2em;
		}
		.media-thumb{
			width: 120px;
			height: 120px;
		}
		.request-short-desc{
			line-height: 1.4em;
			max-height: 110px;
			overflow: hidden;
		}
	}
	.page-profile{
		.block-profile{
			padding-bottom: 30px;
			.item-group{
				&:first-child{
					.title{
						margin-bottom: 17px;
					}
				}
				.title{
					margin-bottom: 7px;
				}
				.mb-sm-0{
					margin-bottom: 0;
				}
			}
		}
		.box-avatar{
			.btn-red{
				margin-top: 7px !important;
			}
		}
		.content-profile{
			.row{
				padding-right: 30px;
			}
			.box-avatar{
				.btn-red{
					padding: 15px 35px;
				}
			} 
		} 
		.box-list-spec{
			padding-top: 0;
			.list_spec{
				line-height: 1.3em;
				li{
					font-size: 14px;
					min-width: 49%;
					display: inline-block;
				}
			}
		}
		.password-hint{
			margin-bottom: 22px;
		}
		.group-password{
			.form-group{
				margin-bottom: 5px;
			}
		}
		.programme-item{
			padding-bottom: 15px;
			.form-group{
				margin-bottom: 15px !important;
			}
			.btn-remove, .btn-add-member{
				font-size: 15px;
				span{
					font-size: 36px;
					line-height: 0;
					display: inline-block;
					vertical-align: top;
					
				}
			}
			.btn-remove {
				right: 34px;
				padding: 7px 13px;
				span{
					margin-top: 9px;
				}

			}
			.btn-add-member{
				margin-right: 4px;
				padding: 7px 9px;
				span{
					margin-top: 8px;
				}
			}
		}
		.wrap-btn-submit{
			margin-top: 30px;
			padding-bottom: 0;
			border-bottom: none;
			border-top: none;
			.btn-red{
				font-size: 16px;
				padding: 8px 33px;
			}
		}
	}
	.page-my-wishlist{
		.wrap-btn-filter{
			display: block;
			margin-bottom: 20px;
		}
	}

	.page-error-404{
		padding-top: 85px;
		.bread-crumb{
			margin-bottom: 20px;
		}
		.block-slick-slides{
			padding-bottom: 75px;
			.slick-dots{
				bottom: -45px;
			}
		}
	}
	.block-error{
		padding: 10px 20px;
		margin-bottom: 20px;
		h1{
			font-size: 27px;
			line-height: 1.2em;
			padding-bottom: 7px;
			margin-top: 7px;
			margin-bottom: 12px;
		}
		p{
			line-height: 1.3em;
			padding: 0 25px;
		}
	}
	.page-my-reminders{
		.content-wishlist{
			padding-top: 0;
		}
		.form-filter-top{
			.list-checkbox{
				&.mb-25{
					margin-bottom: 25px;
				}
			}
			.btn-normal{
				font-size: 14px;
				span{
					top: 17px;
				}
			}
			.content-events{
				.item{
					padding-bottom: 30px;
				}
				&.box-filter{
					border: none;
				}
			}
			.content-recommends{
				.item{
					padding-bottom: 10px;
				}
			}
		}
		.pd-20{
			padding: 25px;
		}
	}
	.content-wishlist{
		padding-bottom: 0;
		&.wrap-media{
			.request-short-desc{
				margin-bottom: 10px;
			}
			ul.list-request{
				li{
					&:last-child{
						border-bottom: 1px solid @whiteDark;
					}
				}
			} 
		} 
	}
	.media-event{
		width: 120px;
		height: 120px;
	}
	.btn-normal{
		font-size: 16px;
		border-radius: 1px;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		padding-left: 25px;
		padding-right: 55px;
		span{
			font-size: 40px;
			top: 19px;
		}
	}
	.event-reminder{
		font-size: 14px;
	}
	.modal{
		.form-control{
			height: 34px;
		}
		.box-group{
			.sprites{
				margin-top: 9px;
			}
		}
	}
	.page-golf{
		.block-slick-slides{
			padding-bottom: 85px;
			.slick-dots{
				bottom: -50px;
			}
		}
	}
	.page-preferences{
		.block-profile {
			padding-bottom: 35px;
			.item-group:first-child{
				.title{
					margin-bottom: 15px;
				}
			}
			.item-group{
				.sol-label{
					margin-bottom: 0;
				}
			}
		}
		.radio{
			margin-bottom: 0;
		}
		.title-red-bold{
			font-size: 16px;
			margin-bottom: 0;

		}
		.sub-item-group{
			&.first-child{
				.title-red-bold{
					margin-bottom: 20px;

				}
			}
			&.last-child{
				.title-red-bold{
					margin-bottom: 30px;
				}
			}
		}
	}
	.sub-item-group{
		margin-bottom: 30px;
		.form-group{
			margin-bottom: 0;
		}
		.box-show-option{
			line-height: 0;
			margin-top: 0;
			margin-bottom: 20px;
		}
		.box-group {
			.input-group-before{
				bottom: auto;
			}

		}
		.sub-title{
			font-size: 16px;
			margin-top: 17px;
		}
	}
	.wrap-btn-submit{
		margin-top: 20px;
		padding-bottom: 30px;
		border-top: 1px solid @whiteDarker;
		border-bottom: 1px solid @whiteDarker;
		.btn-red{
			width: 200px;
			font-size: 14px;
			margin: 0 auto;
		}
	}
	.label-option{
		padding: 7px 15px;
	}
	.sol-inner-container{
		width: 100%;
		padding-right: 0;
		margin-bottom: 0;
	}
	.sol-current-selection{
		width: 100%;
		padding-left: 0;
		margin-bottom: 20px;
	}
	.sol-caret-container{
		right: 6px;
	}
	.sol-selected-display-item, .sol-results-count{
		padding-top: 4px;
		padding-bottom: 3px;
		.sol-quick-delete{
			top: -3px;
		}
	}
	.box-location{
		.location-name{
			.ico-nav-location{
				font-size: 20px;
			}
		}
	}
	.slides-intro{
	  .slide{
	    height: 392px !important;
	    min-height: auto;
	    background-size: cover !important;
	    background-position: center !important;
	  }
	}
	.page-golf-indiv{
		.module-richtext, .block-filter-top {
			margin-top: 10px;
			.module-filter-top{
				display: block;
				.wrap-filter-item{
					width: 98%;
					.form-group{
						margin-bottom: 15px;
					}
					.form-control{
						font-size: 14px;
					}
				}
			}
		}
	}
	.block-schedule-details{
		margin-bottom: 25px;
		.col-2{
			width: 25%;
		}
		.col-3{
			width: 50%;
		}
		.item {
			.item-header{
				padding-bottom: 15px;
			}
			.item-content{
				padding-top: 15px;
				.col-1, .col-2, .col-3{
					width: 100%;
				}
			}
		}
	}
	ul.list-col-3{
		li{
			width: 50%;
		}
	}
	.block-weather{
		margin-top: 10px;
		margin-bottom: 25px;
		.list-weather{
			white-space: nowrap;
			font-size: 0;
			.item{
				display: inline-block;
				float: none;
				font-size: initial;
				width: 45%;
				padding-top: 20px;
				padding-bottom: 20px;
				border: 1px solid @grayExtraLight;
				background-color: @whiteDark;
				&:last-child{
					border-right: 2px solid @grayExtraLight;
				}
			}
		}
		.scrollbar-outer > .scroll-element.scroll-x{
			display: none;
		}
		.item-summary{
			margin-left: 0;
			.strong, .c-degree{
				font-size: initial;
			}
		}
		.condition{
			margin-top: 10px;
		}
	}
	.ui-autocomplete {    
	    font-size: 16px;
	}
	.page-entertainment{
		.block-slick-slides{
			padding-top: 20px;
		}
	}
	.box-date-filter{
		.item-date{
			.form-group{
				> label{
					font-size: 14px;
				}
			}
		}
		.box-group .sprites{
			margin-top: 9px;
		}
	}
	.page-entertainment-indiv{
		.block-article-style{
			.about-info .item{
				width: 49%;
			}
			&.gallery .lightgallery{
				margin-bottom: 30px;
			}
		}
		.module-richtext, .block-filter-top {
			margin-top: 10px;
			.module-filter-top{
				display: block;
				.wrap-filter-item{
					width: 98%;
					.form-group{
						margin-bottom: 15px;
					}
					.form-control{
						font-size: 14px;
					}
				}
			}
		}
	}
	.block-schedule-summary{
		margin-bottom: 30px;
		.list-schedule{
			max-height: 525px !important;
		}
		.item{
			padding: 25px 20px;
			color: @black;
			.item-left{
				width: 90%;
				font-size: 16px;
			}
			.item-right{
				width: 10%;
				font-size: 16px;
				text-align: center;
				padding-right: 0;
			}
			.col-1{
				width: 40%;
			}
			.col-2{
				width: 60%;
			}
			.col-3{
				display: none;
			}
		}
	}
	.modal-tickets{
		.modal-dialog{
			width: 80%;
		}
	}
	.ticket-info{
		text-align: center;
		padding: 10px;
		.info-left{
			float: none;
			display: inline-block;
			width: 100%;
			text-align: left;
			padding-bottom: 15px;
			margin-bottom: 15px;
			border-bottom: 1px solid @whiteDarker;
		}
		.info-right{
			float: none;
			display: inline-block;
			width: 100%;
			.right-label{
				font-size: 14px;
			}
		}
	}
	.dataTables_wrapper{
		.select-btn{
			width: 70px;
		}
		.btn-group-selectbox{
			button.btn-selectbox{
				width: 70px;
				&:after{
					left: 45px;
				}
			}
			.wrap-multiselect{
				width: 70px;
			}
		}
	}
	.table-tickets{
		&.dataTable{
			font-size: 14px;
			thead{
				tr{
					th{
						&:nth-of-type(1){
							width: 25% !important;
							&.sorting_asc, &.sorting_desc, &.sorting{
								background-position: right;
							}
						}
						&:nth-of-type(2){
							width: 15% !important;
							&.sorting_asc, &.sorting_desc, &.sorting{
								background-position: right;
							}
						}
						&:nth-of-type(3){
							width: 20% !important;
						} 
						&:nth-of-type(4){
							width: 20% !important;
							&.sorting_asc, &.sorting_desc, &.sorting{
								background-position: right;
							}
						}
						&:nth-of-type(5){
							width: 20% !important;
						}
					}
				}
			}
			tbody{
				tr{
					.sold-out{
						width: 70px;					
					}
					td{
						&:nth-of-type(1){
							width: 25% !important;
						}
						&:nth-of-type(2){
							width: 15% !important;
						} 
						&:nth-of-type(3){
							width: 20% !important;
						} 
						&:nth-of-type(4){
							width: 20% !important;
						} 
						&:nth-of-type(5){
							width: 20% !important;
						} 
					}
				}
			}
		}
	}
	.scrollbar-outer > .scroll-element.scroll-y{
		width: 12px;
	}
	label.has-error-icon{
		right: -24px;
	}
	.block-schedule-pricing{
		.item{
			line-height: 1.4em;
			.price{
				font-size: 22px;
			}
			sup{
				font-size: 12px;
			}
			.col-1{
				width: 25%;
				padding: 5px;
			}
			.col-2{
				width: 50%;
				padding: 5px;
			}
			.col-3{
				width: 25%;
				padding: 5px;
			}
		}
	}
	.btn-select-all{
		margin-top: 10px;
	}
	.short-input{
		.getPassengerNum{
			& ~ label.has-error-icon{
				right: -24px;
			}
		}	 
	}
	.table.table-passenger{
		font-size: 16px;
		&>tbody>tr{
			&>td{
				&:nth-of-type(1){
					padding-right: 10px;
				}
			}
		}
	}
	.page-contact{
		label.lt-error{
			white-space: nowrap;
		}
		.block-profile{
			.item-group .radio-group{
				margin-bottom: 0;
				& > label{
					margin-bottom: 7px;
				}
				.radio ~ label{
					margin-left: 2px;
				}
				&.inline-radio-group + .inline-radio-group{
					margin-left: 15px;
				}
			}
		}
		textarea ~ label.lt-error{
			padding-right: 0;
		}
	}
	.block-terms-list{
		.item-group .contact-number{
			.btn-group-selectbox button.btn-selectbox{
				padding-left: 10px;
			}
			
		}
		.btn-selectbox:after{
			right: 10px;
		}
	}
	.btn-red.pull-left{
		width: 200px;
	}
	.media-status{
		width: 125px;
		padding: 3px;
		font-size: 14px;
		position: relative;
		margin-bottom: 10px;
	}
	.box-option .box-group .col-md-6{
		padding-right: 0;
	}
	.module-tile {
		.slides-recommends {
			.slide {
				width: 33.3333%;
			}
			.slide-with-detail {
				width: 33.3333%;
				.content {
					height: 350px;
				}
				.img-responsive {
					height: 230px;
				}
			}
			.slide-with-detail-horizontal {
				width: 100%;
				.img-responsive {
					display: inline-block;
					width: 100%;
					padding: 0;
				}
				.content {
					display: inline-block;
					padding: 0;
					.desc {
						max-height: 133px;
						overflow: hidden;
					}
				}
				.btn-learn-more {
					font-size: 16px;
				}
				.btn-view-all {
					left: 0;
				}
			}
			.slide-price-detail {
				width: 99%;
				margin-left: 0 !important;
				margin-right: 0 !important;
				.content{
					padding: 18px 20px;
					.title-above{
						font-size: 14px;
					}
					h3{
						font-size: 27px;
						margin-top: 0;
						padding-bottom: 0;
						max-height: 65px;
					}
					.desc{
						max-height: 80px;
						margin-bottom: 9px;
						text-overflow: ellipsis;
						overflow: hidden;
						font-size: 14px;
					}
				}
			}
		}
	}
	.block-seat-chart{
		.ListContainer{
			width: 100%;
		}
		#TuMap{
			width: 100%;
		}
		.dataTables_scrollBody{
			max-height: 242px !important;
		}
	}
	.btn-search-title{
		top: 10px;
		.sprites{
			margin-top: 0;
		}
	}
	.block-recommends-horizontal-bk{
		padding-bottom: 30px;
		.slides-recommends .slide{
			width: 99%;
			margin-left: 0;
			margin-right: 0;
		}
	}
	.hint{
		&.active{
			display: block;
		}
	}
	input[type="checkbox"].program-checkbox{
		top: 68px;
	}
	.wrap-btn-filter{
		.btn-filter-top{
			display: inline-block;
		}
		.btn-module-filter{
			display: none;
		}
		
	}
	.box-facilities{
		margin-top: 10px;
		label.radio{
			white-space: nowrap;
		}
	}
	.time-picker .item{
		width: 25%;
	}
	.col-mask .form-control{
		height: 15px;
	}
	.fr-booking .block-recommends-horizontal{
		padding-top: 10px;
		padding-bottom: 40px;
	}
	.block-recommends-horizontal .booking-slides-recommends .slide{
		width: 100%;
		padding-right: 10px;
		padding-bottom: 10px;
	}
	.google-maps-popup .info-maps .inner{
		max-height: 330px !important;
	}
	.module-hero-switcher .block-intro .slides-intro .slide .content {
		min-width: 630px;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
	.page-sign-up{
		.block-signup-form .group-password .form-group .box-group .box-item{
			margin-bottom: 34px;
		}
		.btn-show-password{
			label{
				font-size: 16px;
			}
		}
	}     
}
@media screen and (max-width: 1280px) and (min-width: 992px) {
	label.lt-error{
		// white-space: nowrap;
	}    
}

@media screen and (max-width: 767px) {
	body {
		font-size: @mobile-normal-font-size;
	}
	.wrapper {
		/* Giang : Ticket AD-900 */
		// padding-top: 53px !important;
	}
	.d-table-cell{
		a{
			img{
				height: 80px;
			}
		}
	}
	.block-experiences {
		.slide-experiences {
			.slide {
				.content {
					padding-left: 0;
					padding-right: 0;
					h3{
						font-size: 13px;
					}
					p{
						font-size: 11px;
					}
				}
			}
		}
	}
	.restaurant-share-social {
		span, a{
			display: inline-block;
			vertical-align: middle;
		}
		a{
			margin-left: 9px;
		}
	}
	.block-favourite {
		padding-top: 30px;
		padding-bottom: 15px;
		h1{
			font-size: 18px;
		}
		p.slides-favourite{
			padding-left: 0;
			padding-right: 0;
			font-size: 14px;
		}
		.slides-favourite{
			&p{
				font-size: 11px;
			}
			.slide{
				width: 50%;
				h3 {
					font-size: 14px;
					margin-bottom: 5px;
					padding-top: 0px;
					max-height: 33px;
				}
				.sub {
					font-size: 10px;
					height: auto;
					padding-bottom: 0;
					line-height: 1.5;
					letter-spacing: 1.5px;
				}
				.show-sm{
					padding: 3px;
				}
				.content{
					padding: 10px;
					height: 215px !important;
					.desc{
						font-size: 13px;
						line-height: 1.4em;
					}
				}
			}
		}
	}
	.form-resend-activation{
		.form-control.btn-red{
			width: 140px;
			height: 35px;
		}
	}
	.page-sign-up{
		font-size: 11px;
		.row{
			position: relative;
		}
		.block-signup-form{
			.wrap-form-group{
				margin-bottom: 20px;
			}
			.title{
				font-size: 18px;
				line-height: 25px;
				margin-bottom: 0;
			}
			.form-group{
				> label{
					font-size: 11px;
				}
				p{
					font-size: 8px;
					line-height: 1em;
				}
				.box-group{
					.box-item{
						width: 94%;
					}
				}
			}
			.box-term{
				.box-term-item:first-child{
					width: 7%;
				}
				.box-term-item:last-child{
					width: 93%;
				}
			}
			.btn{
				padding: 15px 25px;
				font-size: 11px;
			}
			.group-password{
				margin-bottom: 0;
				.form-group{
					.box-group{
						.box-item{
							margin-bottom: 85px;
						}
					}
				}
			}
			.btn-show-password{
				label{
					font-size: 8px;
				}
				input[type=checkbox] + label:before{
					vertical-align: -7px;
				}
			}
		}
		.password-hint{
			position: absolute;
			margin-bottom: 0 !important;
			bottom: 45px;
		}
		.form-control{
			font-size: 11px;
		}
	}
	.cardExpiryPicker{
		.btn-group-selectbox{
			.btn-selectbox{
				padding-left: 10px !important;
				&:after{
					right: 11px !important;
				}
			}
		}
	}
	.list_spec{
		li{
			font-size: 8px;
			display: inline-block;
			&.char, &.specChar, &.number{
				width: 53%;
			}
			&.lowerCase, &.upperCase{ 
				width: 44%; 
			}
		}
	}
	.alert_spec{
		margin-bottom: 20px;
	}
	.banner-size{
		height: 100px !important;
	}
	.block-intro {
		.slides-intro .slick-dots{
			bottom: -7px;
		}
		.sprites{
			transform: scale(0.8);
			-webkit-transform: scale(0.8);
			-moz-transform: scale(0.8);
			-ms-transform: scale(0.8);
		}
	}
	.footer-menu li{
		line-height: 18px;
	}
	.gourmet, .life-style{
		margin-bottom: 10px;
	}
	.block-intro .slides-intro .slide .content .sprites{
		margin-bottom: 0;
	}
	.block-recommendations{
		padding-bottom: 10px;
		h2{
			font-size: 18px;
		}
		.slide-recommendations{
			.slide{
				margin-left: 5px;
				margin-right: 5px;
				.content{
					padding-left: 0;
					padding-right: 0;
					.sub{
						font-size: 8px;
					}
					h3{
						font-size: 12px;
					}
				}
			}
		}
		.module-tile {
			.slides-recommends .slide{
				width: 50%;
			}
		}
	}
	.alert_spec, label.lt-error{
		font-size: 11px;
	}
	.module-richtext, .block-filter-top {
		h1{
			font-size: 24px;
			text-align: left;
		}
		.container{
			&  > p{
				margin-bottom: 7px;
			}
		}
	}
	.block-article-desc{
		font-size: 11px;
		padding-bottom: 34px;
		h2{
			font-size: 12px;
			padding-bottom: 2px;
		}
		.btn-see-all{
			font-size: 11px;
			bottom: -26px;
		}
		.box-btn{
			button{
				font-size: 11px;
				padding: 5px 18px;
			}
		}
		&:nth-of-type(1){
			padding-top: 13px;
			.wrap-experiences{
				border-top: 1px solid @whiteDarker;
				padding-top: 14px;
			}
		}
		&:nth-of-type(3){
			padding-bottom: 60px;
		}
		.wrap-experiences{
			padding-top: 11px;
		}
		p.text-center.text-upper-btn{
			margin-bottom: 6px;
		}
		.slick-dots{
			bottom: -31px;
		}
		.slides-recommends{
			.show-sm{
				display: inline-block;
			}
			.title p{
				display: none;
			}
			.slick-slide{
				& > div{
					position: relative;
					& > a, .content{
						width: 100% !important;
					}
				}
			}
			.slick-slide.slide-common{
				& > div{
					&:hover img, &:focus img{
						transform: scale(1.05, 1.05);
						-webkit-transform: scale(1.05, 1.05);
						-moz-transform: scale(1.05, 1.05);
						-ms-transform: scale(1.05, 1.05);
						-o-transform: scale(1.05, 1.05);
					}
				}
				&:hover img, &:focus img{
					transform: scale(1, 1);
					-webkit-transform: scale(1, 1);
					-moz-transform: scale(1, 1);
					-ms-transform: scale(1, 1);
					-o-transform: scale(1, 1);
				}
				&:hover .content{
					opacity: 1;
					transform: scale(1, 1);
					-webkit-transform: scale(1, 1);
					-moz-transform: scale(1, 1);
					-ms-transform: scale(1, 1);
					-o-transform: scale(1, 1);
				}
			}
		}
	}
	.wrap-btn-filter{
		.btn-filter-top{
			font-size: 11px;
			padding: 6px 7px;
			span{
				padding: 0;
			}
			.sprites{
				transform: scale(0.5, 0.5);
				-webkit-transform: scale(0.5, 0.5);
				-moz-transform: scale(0.5, 0.5);
				-ms-transform: scale(0.5, 0.5);
				-o-transform: scale(0.5, 0.5);
			}
		}
	}
	.slide.slide-common{
		.content{
			.inner{
				.title{
					h3{
						font-size: 12px;
						line-height: 1.2em;
					}
					p{
						display: none;
					}
				}
			}
		}
	}
	.form-filter-top{
		.form-control, label{
			font-size: 11px;
		}
		.btn-filter{
			padding: 5px 40px;
		}

	}
	.sub-form-filter-top .sub-btn-filter{
		padding: 5px 40px;
	}
	.block-recommends-horizontal{
		padding-top: 13px;
		padding-bottom: 47px;
		.slide{
			margin-bottom: 14px;
			.img-responsive{
				width: 168px;
			}
			.content{
				padding: 10px;
				font-size: 11px;
				.title-above{
					font-size: 9px;
					line-height: 1.6em;
				}
				h3{
					font-size: 18px;
					margin-bottom: 7px;
					max-height: 42px;
				}
				.desc{
					margin-bottom: 1px;
					line-height: 1.1em;
					max-height: 37px;
					text-overflow: ellipsis;
					overflow: hidden;
				}
				.price{
					font-size: 13px;
				}
			}
		}
		.show-sm{
			display: inline-block;
		}
	}
	.img-responsive{
		.img-inner{
		 	.inner .inner-item.show-sm .sprites.icon-featured-small{
		 		transform: scale(0.7);
		 		-webkit-transform: scale(0.7);
		 		-moz-transform: scale(0.7);
		 		-ms-transform: scale(0.7);
		 		margin-bottom: 0;
		 	}
		}
	}
	.page-travel, .page-city-guide-indiv{
		.block-slick-slides {
		    .slick-dots{
		        padding-left: 10px;
		        padding-right: 60px;
		        text-align: left;
		    }
		}
	}
	.page-travel-packages{
		.module-richtext, .block-filter-top {
			& > .container{
				& > p{
					margin-bottom: 12px;
				}
			}
		}  
		.slick-dots{
			bottom: -24px;
		}
	}
	.page-city-guide{
		.module-richtext, .block-filter-top {
			& > .container{
				& > p{
					margin-bottom: 4px;
				}
			} 
		}
		.block-recommends-horizontal{
			.slide{
				.content{
					h3{
						margin-bottom: 11px;
					}
					.desc{
						max-height: 72px;
						margin-bottom: 3px;
					}
				}
			}
		}
		.slick-dots{
			bottom: -26px;
		}
	}
	.content-indiv{
		padding-top: 3px;
		padding-bottom: 15px;
		.show-xs{
			display: inline-block;
		}
		.hide-xs{
			display: none;
		}
	}
	.block-article-style{
		font-size: 11px;
		margin-top: 9px;
		h1{
			font-size: 18px;
		}
		h3{
			margin-bottom: 4px;
			font-size: 12px;
		}
		&.wrap-booking-box{
			overflow: hidden;
			width: 100%;
			.wrap-star-rating, .wrap-add-wishlist, .wrap-request{
				width: 33.3333%;
				float: left;
				text-align: center;
			}
			.wrap-star-rating{
				.star-rating{
					margin-top: 10px;
				}
				h3{
					margin-top: 3px;
				}
				.sprites{
					transform: scale(0.7,0.7);
					-webkit-transform: scale(0.7,0.7);
					-moz-transform: scale(0.7,0.7);
					-ms-transform: scale(0.7.0,7);
					-o-transform: scale(0.7,0.7);
					margin: 0 -2px;
				}
			}
			.wrap-add-wishlist{
				.sprites{
					cursor: pointer;
				}
				.icon-heart-black-lg{
					&:hover{
						background-position: -216px -344px;
					}
				}
				&.voted{
					.icon-heart-black-lg{
						background-position: -216px -344px;
					}
				}
			}
			.wrap-request{
				position: relative;
				&:before{
					content:"";
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					height: 28px;
					width: 1px;
					margin-top: -16px;
					background-color: @whiteDarker;
				}
				&:after{
					content:"";
					display: block;
					position: absolute;
					top: 50%;
					right: 0;
					height: 28px;
					width: 1px;
					margin-top: -16px;
					background-color: @whiteDarker;
				}
			}
			.wrap-add-wishlist, .wrap-request{
				.sprites{
					transform: scale(0.55,0.5);
					-webkit-transform: scale(0.55,0.5);
					-moz-transform: scale(0.55,0.5);
					-ms-transform: scale(0.55.0,5);
					-o-transform: scale(0.55,0.5);
				}
			}
			h3{
				font-size: 16px;
				font-family: @fontRalewayMedium;
				margin-top: -9px;
				margin-bottom: -2px;
			}
			p{
				font-size: 11px;
			}
		}
		
		.about-desc{
			padding-bottom: 12px;
			.img-responsive{
				width: 23.76%;
			}
			a ~ .desc{
				width: 76.24%;
			}
			.desc{
				padding-left: 14px;
				.desc-content{
					margin-bottom: 9px;
					h3 {
						font-size: 12px;
					}
				}
				.restaurant-share-social{
					margin-top: 2px;
					span{
						font-size: 8px;
					}
					a{
						margin-left: 10px;
					}
				}
			}
		}
		.about-info{
			padding-top: 14px;
			padding-bottom: 0;
			font-size: 11px;
			line-height: 1.3em;
			.item{
				margin-bottom: 10px;
				.font-raleway-bold{
					font-size: 11px;
				}
				.sprites{
					margin-bottom: 0;
					transform: scale(0.6);
					-webkit-transform: scale(0.6);
					-moz-transform: scale(0.6);
				}
			}
			.ico{
				font-size: 18px;
				margin-bottom: 6px;
			}
		}
		.list-tags {
			padding: 0;
			li {
				.left-tags {
					.ico {
						width: 40px;
						font-size: 25px;
					}
				}
				.right-tags {
					.tags {
						width: 100%;
						font-size: 13px;
						margin: 0 0 5px 0;
					}
					.desc {
						width: 100%;
						padding: 0 0 0 15px;
					}
				}
			}
			&.three-cols li, &.four-cols li { 
				font-size: 13px;
				width: 100%; 
				padding: 0;
			}
		}
		.info{
			.item{
				margin-bottom: 13px;
				p{
					line-height: 1.3em;
				}
				&:last-child{
					margin-bottom: 0px;
				}
			}
		}
		&.intinerary{
			ul.nav.nav-tabs{
				height: 33px;
				background-color: @whiteDark;
				margin-top: 11px;
				margin-bottom: 12px;
				.font-raleway-bold{
					padding-right: 8px;
					padding-top: 8px;
					background-color: @white;
				}
				li{
					a{
						padding: 1px 6px;
					}
				}
			}
			.tab-content{
				margin-bottom: 14px;
				.tab-inner-left{
					max-height: 165px;
				}
				.tab-inner-right{
					padding: 0 0 10px 0;
					.itinerary-title{
						.itinerary-date{
							font-size: 11px;
							margin-top: 10px;
							line-height: 1.3em;
						}
						.itinerary-name{
							font-size: 11px;
							line-height: 1.3em;
						}
					}
					.itinerary-article{
						height: 165px;
						article{
							margin-bottom: 8px;
							.article-time{
								line-height: 1.3em;
							}
							.article-content{
								padding: 0 10px 0 0;
								.article-title{
									line-height: 1.3em;
								}
								.article-desc{
									line-height: 1.3em;
								}
							}
						}
					}
				}
				.wrap-meals-accomodation{
					padding: 7px 12px;
					.list-content{
						margin-bottom: 10px;
					}
				}
			}
		}
		&.entitlement{
			.list-content{
				padding-top: 3px;
				padding-bottom: 0;
			}
		}
		&.gallery{
			.lightgallery{
				margin-top: 11px;
				margin-bottom: 13px;
			}
		}
		.list-content{
			.list-title{
				margin-bottom: 0;
			}
			p,li{
				line-height: 1.3em;
			}
		}
		.guide-map{
			.caption{
				padding: 14px;
				.item{
					margin-bottom: 0;
					.sprites{
						transform: scale(0.8, 0.8);
						-webkit-transform: scale(0.8, 0.8);
						-moz-transform: scale(0.8, 0.8);
						-ms-transform: scale(0.8, 0.8);
					}
				}
			}
		}
		.type-menu {
			.item {
				margin-bottom: 14px;
				.content {
					line-height: 1.4em;
					h4{
						margin-bottom: 0;
					}
				}
			}
			&:last-child{
				padding-bottom: 10px;
			}
		}
		&.terms{
			h3{
				color: @black;
				margin-bottom: 4px;
			}
			ul{
				line-height: 1.3em;
				li{
					&:before{
						width: 3px;
						height: 3px;
						top: 6px;
						left: 4px;
					}
				}
			}
		}
		.wrap-inner{
			margin-top: 5px;
		}
		.privilege {
			li > .title, .title {
				font-size: 13px;
			}
		}
	}
	.bread-crumb{
		ul{
			li{
				font-size: 14px;
			}
		}
	}
	.page-hotel-subcat{
		.block-recommends{
			&:extend(.block-blog all);
			.slide-common{
				padding-left: 5px;
				padding-right: 5px;
				margin-bottom: 10px;
				.article{
					margin-bottom: 0;
					.content{
						.hover-inner-hide{
							.inner-desc{
								display: none;
							}
						}
					}
				}
			}
		}
		.slick-dots{
			bottom: -27px;
		}
	}

	.page-hotel-indiv{
		.content-indiv{
			padding-bottom: 10px;
		}
		.block-article-style{
			margin-top: 10px;
			h3{
				margin-bottom: 6px;
			}
			h4{
				font-size: 11px;
				.icon-location{
					margin-left: 0;
					transform: scale(0.8,0.8);
					-webkit-transform: scale(0.8,0.8);
					-moz-transform: scale(0.8,0.8);
					-ms-transform: scale(0.8,0.8);
				}
			}
			.about-desc{
				padding-top: 3px;
				padding-bottom: 10px;
				.desc{
					.restaurant-share-social{
						margin-top: 4px;
					}
				}
			}
			.about-info{
				.item{
					margin-bottom: 15px;
					&:last-child{
						margin-bottom: 4px;
					}
				}
			}
			dl{
				margin-bottom: 4px;
				dt:not(:first-child){
					margin-top: 14px;
				}
			}
			.toggle-box{
				&.info{
					padding-bottom: 11px;
				}
			}
			&.wrap-booking-box{
				margin-top: 0;
				p{
					margin-bottom: 3px;
				}
			}
		} 
	}

	.page-city-guide-indiv{
		.content-indiv{
			padding-bottom: 27px;
		}
		.block-article-style{
			margin-top: 11px;
			&.wrap-booking-box{
				margin-top: 0;
				.wrap-star-rating, .wrap-add-wishlist{
					width: 50%;
				}
				.wrap-star-rating{
					position: relative;
					&:after{
						content:"";
						display: block;
						position: absolute;
						top: 50%;
						right: 0;
						height: 28px;
						width: 1px;
						margin-top: -16px;
						background-color: @whiteDarker;
					}
				}
			}
			.about-desc{
				padding-top: 3px;
				padding-bottom: 12px;
				.desc{
					p{
						margin-bottom: 13px;
						&:last-child{
							margin-bottom: 4px;
						}
					}
				}
				.restaurant-share-social{
					margin-top: 4px;
				}
			} 
			.about-info{
				padding-top: 13px;
				padding-bottom: 1px;
				.item{
					width: 49%;
					&:nth-of-type(3), &:nth-of-type(4){
						margin-bottom: 0;
					}
				}
			}
			&.get-there{
				.article-desc{
					margin-top: 5px;
					margin-bottom: 10px;
				}
				.toggle-box{
					& > p{
						margin-bottom: 8px;
					}
				} 
			}
		}
	}
	.block-slick-slides{
		h3{
			font-size: 12px;
		}
		.slides-recommends .slide-no-image h3 {
			font-size: 12px !important;
		}
	}

	/* Unknown merge from old css*/
  // .block-slick-slides .slides-recommends .slide-no-image h3,
  // .module-tile .slides-recommends .slide-no-image h3 {
  //   font-size: 12px !important;
  // }

	.page-indiv, .page-gourmet-indiv{
		.content-indiv{
			padding-bottom: 15px;
		}
		.block-article-style{
			h3{
				margin-bottom: 5px;
			}
			&.gallery{
				margin-top: 10px;
			}
			.type-menu {
				b{
					font-size: 11px;
					margin-top: 2px;
				}
				h5{
					margin-bottom: 13px;
				}
				.item{
					margin-bottom: 13px;
					h5{
						margin-bottom: 2px;
					}
					.content{
						font-size: 11px;
					}
					&:last-child{
						margin-bottom: 10px;
					}
				}
			}
		}
	}
	.page-gourmet{
		.module-richtext, .block-filter-top {
			h1{
				margin-top: 10px;
				margin-bottom: 3px;
			}
			& > .container{
				& > p {
					margin-bottom: 9px;
				}
			}
		}
		.block-slick-slides{
			.slick-dots{
				bottom: -27px;
			}
		}
	}
	.info-book{
		margin-top: 20px;
		padding: 6px 20px 20px;
		.title{
			font-size: 11px;
			padding-bottom: 6px;
		}
		.content{
			padding: 10px 5px 15px;
			.item{
				margin-bottom: 9px;
				&:last-child{
					height: 24px;
					margin-bottom: 15px;
				}
				&.summary-info{
					height: auto;
					width: 100%;
					font-size: 11px;
				}
			}
			p{
				font-size: 13px;
				.infoAddressRestaurant{
					font-size: 11px;
				}
			}
			.color-red{
				font-size: 11px;
			}
			.infoTime{
				font-size: 13px;
			}
			.sprites{
				top: 2px;
			}
		}
		.btn-red{
			line-height: 28px;
			font-size: 12px;
		}
	}
	.block-profile{
		.item-group{
			padding-top: 15px;
			padding-bottom: 8px;
			&:first-child{
				.title{
					line-height: 1.3em;
					margin-bottom: 0;
					& ~ label{
						margin-bottom: 2px;
					}
				}
			}
			.title{
				font-size: 18px;
				margin-bottom: 0;
			}
			label{
				font-size: 11px;
				margin-bottom: 2px;
			}
			.form-control{
				font-size: 11px;
			}
			.form-group{
				margin-bottom: 12px;
			}
			.col-xs-12{
				padding-right: 25px;
				> .col-xs-12{
					padding-right: 0;
				}
			}
			.row{
				&:last-child{
					.form-group{
						margin-bottom: 12px;
					}
				}
			}
			.radio-group{
				&.form-group{
					margin-bottom: 9px;
				}
				& > label{
					margin-bottom: 0;
				}
			}
			.item-age{
				margin-bottom: 15px;
				.box-group .form-control{
					padding-right: 34px;
				}
				&.item-cabins{
					margin-bottom: 0;
				}
			}
			.row{
				&.mb-25{
					margin-bottom: 0;
				}
			}
			textarea{
				min-height: 85px;
			}
			.box-add-photo{
				.figure{
					width: 130px;
					height: 130px;
					line-height: 130px;
				}
				.btn-add-photo{
					width: 80px;
					height: 80px;
					padding-top: 6px;
				}
			}
			.radio{
				margin-bottom: 10px;
				&.mt-30{
					margin-top: 5px;
				}
			}
			.mb-20{
				margin-bottom: 0px;
			}
		}
		.content-book .item-group .toggle-box>.row>.col-md-6{
			padding-right: 25px;
		}
		label .txt-red{
			font-size: 13px;
		}
	}
	.page-book-tours{
		.block-profile{
			.item-group{
				&:first-child{
					padding-top: 19px;
					.title{
						& ~ label{
							margin-bottom: 2px;
						}
					}
				}
				label{
					&.mb-5{
						margin-bottom: 0;
					}
				}
			}
			label.txt-red{
				margin-bottom: 5px;
			}
		}
		.radio-group>label{
			margin-bottom: 0;
		}
		.btn-book{
			padding-top: 20px;
			padding-bottom: 20px;
			.btn-red{
				font-size: 12px;
				padding: 6px 20px;
			}
		}
	}
	.page-title{
		font-size: 18px;
		margin-top: 15px;
		margin-bottom: 14px;
	}
	.media-title{
		font-size: 11px;
	}
	.page-my-request{
		font-size: 11px;
		.wrap-btn-filter{
			margin-bottom: 14px;
			.btn-filter-top{
				padding: 1px 7px;
			}
		}
		.pd-20{
			padding: 15px;
			margin-bottom: 13px;
		}
		ul{
			&.list-request{
				li{
					padding: 20px 0 12px;
				}
			} 
		}
		.block-profile{
			padding-bottom: 15px;
		}
		.relative{
			margin-top: 20px;
		}
		.list-checkbox li{
			font-size: 11px;
			label{
				font-size: 11px;
			}
		}
		.form-filter-top{
			.form-filter-title{
				padding-bottom: 5px;
			}
		}
		.box-filter{
			margin-bottom: 23px;
			.item{
				margin-top: 18px;
				padding-bottom: 12px;
			}
		}
		.d-table-cell{
			a{
				img{
					height: 80px;
				}
			}
		}
	}
	.media{
		.media-thumb{
			width: 80px;
			height: 80px;
		}
		.request-short-desc{
			max-height: 90px;
			margin: 4px 0;
		}
	}
	.page-profile{
		.block-profile{
			.item-group{
				padding-top: 23px;
				&:first-child{
					.title{
						margin-bottom: 12px;
					}
				} 
				p{
					font-size: 11px;
				}
				.title{
					margin-bottom: 2px;
				}
			}
		}
		.content-profile{
			.row{
				padding-right: 0;
			}
			.box-avatar{
				.figure{
					width: 90px;
					height: 90px;
				}
				.btn-red{
					padding: 7px 22px;
				}
				.content{
					font-size: 11px;
					line-height: 1.4em;
				}
			} 
		} 
		.box-list-spec{
			.list_spec{
				line-height: 1em;
				li{
					font-size: 9px;
					min-width: 45%;
				}
			}
		}
		.password-hint{
			margin-bottom: 12px;
		}
		.group-password{
			.form-group{
				margin-bottom: 5px;
			}
		}
		.programme-item{
			.text-bold{
				font-size: 11px;
				line-height: 1.3em;
				margin-bottom: 0;
			}
			.btn-remove, .btn-add-member{
				font-size: 10px;
				span{
					font-size: 20px;
				}
			}
			.btn-remove {
				right: 26px;
				padding: 3px 8px;
			}
			.btn-add-member{
				margin-top: 5px;
				margin-bottom: 10px;
				margin-right: 26px;
				padding: 3px 6px;
			}
		}
		.wrap-btn-submit{
			margin-top: 0;
			margin-bottom: 0;
			padding-bottom: 5px;
			border: none;
			text-align: right;
			.btn-red{
				font-size: 11px;
				padding: 6px 12px;
				margin-top: 20px;
			}
		}
	}
	.page-my-wishlist{
		font-size: 11px;
		.block-profile{
			padding-bottom: 12px;
		}
		.wrap-btn-filter{
			margin-bottom: 13px;
		}
		ul{
			&.list-request{
				li{
					padding: 20px 0 15px;
				}
			} 
		}
		.media {
			.request-short-desc{
				margin: 8px 0 10px;
				max-height: 75px;
			}
		}
		.relative{
			margin-top: 18px;
		}
		.pd-20{
			padding: 15px;
		}
	}

	.page-error-404{
		padding-top: 0;
		.bread-crumb{
			margin-bottom: 17px;
		}
		.block-slick-slides{
			padding-bottom: 55px;
			.slick-dots{
				bottom: -35px;
			}
		}
	}
	.block-error{
		padding: 10px 14px;
		margin-bottom: 14px;
		h1{
			font-size: 16px;
			padding-bottom: 9px;
			margin-top: 0;
			margin-bottom: 8px;
		}
		p{
			font-size: 11px;
			padding: 0;
			margin-bottom: 1px;
		}
	}
	.page-my-reminders{
		font-size: 11px;
		.block-profile{
			padding-bottom: 18px;
		}
		.form-filter-top{
			.btn-normal{
				font-size: 11px;
			}
		}
		.wrap-btn-section{
			padding-top: 0;
		    padding-bottom: 3px;
		    margin-bottom: 13px;
		}
		.module-richtext, .block-filter-top {
			margin-bottom: 13px;
		}
		.pd-20{
			padding: 15px;
		}
		ul{
			&.list-request{
				li{
					padding: 20px 0;
				}
			} 
		}
		.mt-30{
			margin-top: 20px;
		}
		.pagination-see-all{
			top: 5px;
		}
	}
	.wrap-btn-section{
		.btn-content-reminders{
			height: 40px;
			font-size: 10px;
			.display-tb-cell{
				padding: 0 4px;
			}
		}
	}
	.media-event{
		width: 80px;
		height: 80px;
		.date{
			font-size: 20px;
		}
	}
	.btn-normal{
		font-size: 11px;
		padding-left: 15px;
		padding-right: 40px;
		span{
			font-size: 30px;
			top: 17px;
		}
	}
	.wrap-btn-normal{
		padding: 0px 0px 20px 0;
	}
	.modal{
		font-size: 11px;
		.form-control, label{
			font-size: 11px;
		}
		textarea{
			min-height: 110px;
		}
	}
	.event-reminder{
		font-size: 11px;
		.right-side{
			padding-left: 15px;
			padding-right: 15px;
		}
		.recur{
			input[type="text"]{
				margin: 0 5px;
			}
		}
	}
	.slick-dots{
		li{
			button{
				font-size: 11px;
			}
		}
	}
	.pagination > li > a, .pagination > li > span{
		margin: 0 3px;
		padding: 4px 10px;
	}
	.page-golf{
		.block-slick-slides{
			padding-bottom: 50px;
			.slick-dots{
				bottom: -30px;
			}
		}
	}
	.module-help{
		box-shadow: none;
		background-color: transparent;
		border-radius: 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		z-index: 105;
		background-color: @white;
		.title{
			.sprites {
		      margin-bottom: 5px;
		    }
		}
		.content {
			font-size: 16px;
		   	text-transform: none;
		    .h3 {
		      font-size: 24px;
		    }
		}
	}
	.page-indiv, .page-gourmet-indiv, .page-city-guide-indiv, .page-hotel-indiv, .page-travel-packages-indiv, .page-golf-indiv, .page-entertainment-indiv {
		& ~ .module-help{
		    border-left: 1px solid #ccc;
		}
	}
	.module-help.concierge-contact-popup{
			right: -273px;
			bottom: -6px;
			.title{
				margin-bottom: 0;
			}
			&.expand{
				right:0;
				width:100%;
			}
		}
	
	.modal-style1{
		.modal-dialog{
			width: 90%;
		}
		.modal-content{
			padding: 15px;
		}
		.box-group {
			.form-control{
				padding-right: 10px;
			}
		}
	}
	.bigger-ui-datepicker{
		width: 90%;
	}
	.page-preferences{
		.block-profile {
			padding-bottom: 0;
			.item-group{
				padding-top: 20px;
				.form-group{
					margin-bottom: 0;
				}
				.sol-label{
					height: 30px;
					padding: 6px 0;
				}
				.title{
					margin-bottom: 7px !important;
				}

			}
		}
		.title-red-bold{
			font-size: 11px;
			padding-bottom: 14px;

		}
		.sub-item-group{
			&.first-child{
				.title-red-bold{
					margin-bottom: 6px;

				}
			}
			&.last-child{
				margin-bottom: 0;
				.toggle-box{
					padding-bottom: 10px;
					border-bottom: 1px solid @whiteDarker;
				}
				.title-red-bold{
					margin-bottom: 20px;
				}
			}
		}
	}
	.sub-item-group{
		padding-top: 3px;
		margin-bottom: 6px;
		.form-group{
			margin-bottom: 0;
		}
		.box-show-option{
			margin-bottom: 10px;
		}
		.sub-title{
			font-size: 11px;
			margin-top: 7px;
			margin-bottom: 3px;
		}
	}
	.wrap-btn-submit{
		margin-top: 0;
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: none;
		border-bottom: none;
		.btn-red{
			width: 175px;
			font-size: 11px;
		}
	}
	.label-option{
		padding: 3px 10px;
	}
	.sol-container{
		line-height: 0.5em;
	}
	.sol-inner-container{
		font-size: 11px;
	}
	.sol-current-selection{
		margin-bottom: 10px;
	}
	.sol-selected-display-item, .sol-results-count{
		font-size: 11px;
		padding: 3px 20px 3px 9px;
		.sol-quick-delete{
			top: -4px;
			right: 5px;
		}
	}
	.sol-selection-container{
		padding-bottom: 5px;
	}
	.box-location{
		.location-name{
			.ico-nav-location{
				font-size: 15px;
				margin-top: -8px;
			}
		}
	} 
	.resultMessage{
		font-size: 11px;
		margin-bottom: -10px;
	}
	.page-profile{
		.block-profile{
			.item-group{
				.wrap-form-group{
					.sub-label{
						font-size: 8px;
					}
				}
			}
		}
	}
	#modalAddMembership{
		.item-group .form-group{
			margin-bottom: 22px;
		}
	}
	.slides-intro{
	  .slide{
	    height: 275px !important; /* Giang : menu fixed top on mobile is translucent & overlap block-intro */
	    min-height: auto;
	  }
	}
	#lblNoDataFound{
		font-size: 11px;
	}
	.lblNoDataFound{
		font-size: 11px;
	}
	.page-golf-indiv{
		.module-richtext, .block-filter-top {
			.module-filter-top{
				.wrap-filter-item{
					.form-group{
						margin-bottom: 10px;
					}
					.form-control{
						font-size: 11px;
					}
					label{
						font-size: 11px;
					}
				}
			}
		}
	}
	.block-schedule-details{
		margin-bottom: 15px;
		.strong{
			font-size: 11px;
		}
		.item{
			.item-header{
				padding: 5px 0 10px;
			}
			.item-content{
				padding-top: 8px;
				line-height: 1.3;
				.element{
					margin-bottom: 13px;
				}
			}
		}
	}
	ul.list-col-3{
		line-height: 1.3;
		margin-bottom: 0;
	}
	.block-weather{
		margin-top: 5px;
		margin-bottom: 0;
		line-height: 1.3;
		.item-summary{
			.c-degree, .strong{
				font-size: 11px;
			}
			.date{
				margin-bottom: 5px;
			}
		}
		.list-weather{
			.item{
				padding: 13px 17px;
				b{
					font-size: 11px;
				}
				font-size: 11px;
			}
		}
		.sprites{
			transform: scale(0.8);
			-webkit-transform: scale(0.8);
			-moz-transform: scale(0.8);
			-ms-transform: scale(0.8);
		}
		b{
			line-height: 1.3;
		}
	}
	.ui-autocomplete {    
	    font-size: 11px;
	}
	.inner-btn{
		margin-bottom: 5px;
	}
	.box-date-filter{
		.item-date{
			.form-group > label{
				font-size: 11px;
			}
		}
	}
	.list-checkbox {
		li{
			margin-bottom: 6px;
		}
	}
	.page-entertainment-indiv{
		.module-richtext, .block-filter-top {
			.module-filter-top{
				.wrap-filter-item{
					.form-group{
						margin-bottom: 10px;
					}
					.form-control{
						font-size: 11px;
					}
					label{
						font-size: 11px;
					}
				}
			}
		}
		.block-article-style{
			.about-info .item{
				margin-bottom: 0;
			}
			&.gallery .lightgallery{
				margin-bottom: 20px;
			}
		}
	}
	.block-schedule-summary{
		margin-bottom: 20px;
		.list-schedule{
			max-height: 373px !important;
		}
		input[type=radio] + label:before {
		  background-image: url('../images/big-radio-button-flashtheme-1.png');
		  width: 20px;
		  height: 20px;
		  .transition(all 0.3s);
		}
		input[type=radio]:checked + label:before {
		  background-image: url('../images/big-radio-button-active-flashtheme.png');
		}
		.item{
			padding: 18px 14px;
			.item-left{
				font-size: 11px;
			}
			.item-right{
				font-size: 11px;
			}
		}
	}
	.modal-tickets{
		.modal-dialog{
			width: 93%;
			padding: 7px;
		}
		.modal-content{
			padding: 0;
		}
	}
	.ticket-info{
		padding: 8px;
		.title{
			font-size: 12px;
		}
		.info-left{
			padding-bottom: 5px;
			margin-bottom: 5px;
		}
		.info-right{
			width: 100%;
			.right-label{
				font-size: 11px;
			}
		}
		.details{
			font-size: 11px;
			.details-left{
				width: 40%;
			}
			.details-right{
				width: 60%;
			}
		}
	}
	.dataTables_wrapper{
		.select-btn{
			width: 35px;
			padding: 4px;
		}
		.btn-group-selectbox{
			button.btn-selectbox{
				width: 40px;
				height: 28px;
				padding: 3px 16px 3px 6px;
				&:after{
					top: 11px;
					left: 22px;
				}
			}
			.wrap-multiselect{
				width: 40px;
				.list-options label.checkbox, .list-options label.radio{
					padding-left: 10px;
				}
			}
		}
	}
	.table-tickets{
		&.dataTable{
			font-size: 11px;
			thead{
				tr{
					th{
						padding: 7px 18px 7px 5px;
						&:nth-of-type(1){
							width: 20% !important;
						}
						&:nth-of-type(2){
							width: 15% !important;
						}
						&:nth-of-type(3){
							width: 15% !important;
						} 
						&:nth-of-type(4){
							width: 20% !important;
						}
						&:nth-of-type(5){
							width: 30% !important;
						}
					}
				}
			}
			tbody{
				tr{
					height: 45px;
					.sold-out{
						width: 35px;					
					}
					td{
						padding: 3px 5px;
						&:nth-of-type(1){
							width: 20% !important;
						}
						&:nth-of-type(2){
							width: 15% !important;
						} 
						&:nth-of-type(3){
							width: 15% !important;
						} 
						&:nth-of-type(4){
							width: 20% !important;
						} 
						&:nth-of-type(5){
							width: 30% !important;
							padding-right: 15px;
						} 
					}
				}
			}
		}
	}
	.group-radio{
		.box-group{
			margin-bottom: 0;
		}
	}
	.block-schedule-pricing{
		.item{
			line-height: 1.4em;
			.price{
				font-size: 14px;
			}
			sup{
				font-size: 8px;
			}
			.col-1{
				width: 23%;
				padding: 5px;
			}
			.col-2{
				width: 54%;
				padding: 5px;
			}
			.col-3{
				width: 23%;
				padding: 5px;
			}
		}
	}
	.ui-datepicker{
		z-index: 107159 !important;
	}
	.box-slider-range{
		.ui-slider-handle{
		    .number{
		    	font-size: 11px;
			    left: 0;
		    }
		}
	}
	.btn-select-all{
		& ~ .list-checkbox{
			margin-top: 5px;
		}
	}
	.sub-link{
		font-size: 11px;
	}
	.table.table-passenger{
		font-size: 11px;
	    overflow-x: auto;
	    display: block;
	    max-width: none;
	    width: 600px;
		&>tbody>tr>td{
			padding: 3px;
			&:nth-of-type(1){
				padding-right: 0;
				padding-left: 0;
			}
		}
	}
	.page-contact{
		.title-desc{
			margin-bottom: 0;
			label{
				font-size: 11px;
			}
		}
		label.lt-error{
			bottom: -20px;
		}
		.block-profile .item-group .radio-group > label{
			margin-top: 2px;
			margin-bottom: 0;
		}
		textarea ~ label.lt-error{
			bottom: -8px;
			padding-right: 25px;
		}
	}
	.btn-form-submit .btn-red{
		font-size: 12px;
	}
	.contact-number{
		margin-bottom: 12px;
	}
	.box-option{
		.toggle-option{
			font-size: 11px;
			line-height: 1.3em;
		}
		.col-xs-12{
			padding-right: 0 !important;
		}
	}
	.media-status{
		width: 85px;
		padding: 0;
		font-size: 10px;
		margin-bottom: 8px;
	}
	.infoQuantity{
		.form-control{
			font-size: 12px;
		}
		.wrap-multiselect{
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.container-multiselect{
			max-height: 80px !important;
		}
	}
	.block-thankyou{
		padding-top: 10px;
		h1.font-30{
			font-size: 27px;
		}
	}
	.module-tile {
		padding-top: 60px;
		.slides-recommends {
			.slide{
				width: 50%;
			}
			.slide-with-detail-horizontal {
				.content {
					h3 {
						font-size: 24px;
						margin-top: 15px;
					}
				}
			}
			.slide-with-detail {
				width: 50%;
				&:nth-of-type(odd) {
					padding-left: 0;
				}
				&:nth-of-type(even) {
					padding-right: 0;
				}
				h3 {
					font-size: 24px;
					max-height: 62px;
				}
				.btn-learn-more {
					font-size: 16px;
				}		
				.btn-view-all {
					padding: 10px 5px;
				}
				.img-responsive {
					height: auto;
					.img-cover {
						&::after {
							content: "";
							display: block;
							padding-bottom: 100%
						}
					}
				}
			}
		}
	}
	.block-seat-chart{
		#TuMap{
			overflow: auto;
		}
		.MapContainer{
			width: 450px;
			height: 320px;
		}
		table.dataTable thead{
			.sorting_asc, .sorting_desc, .sorting{
				background: none;
			}
		}
		.dataTables_scrollBody{
			max-height: 207px !important;
		}
	}
	.search-title{
		font-size: 18px;
		margin-bottom: 5px;
	}
	.sprites.icon-search-thin-gray{
		width: 16px;
		height: 16px;
		background-position: -153px 0px;
	}
	.btn-search-title{
		top: 0;
	}
	.hint{
		font-size: 11px;
		margin-bottom: 2px;
	}
	.block-recommends-horizontal-bk{
		padding-bottom: 20px;
		.slides-recommends .slide{
			width: 98%;
		}
	} 
	.simple-pagination{
		padding-right: 0;
		padding-top: 5px;
	}
	.wrapper.session-timeout{
		padding-top: 15px;
		font-size: 14px;
		& ~ #footer{
			position: relative;
		}
	}
	input[type="checkbox"].program-checkbox{
		top: 55px;
		margin-right: 5px;
	}
	.filtering{
		top: -50px;
	}
	.demo-site{
		width: 90%;
		margin-top: 0;
		a{
			margin-bottom: 10px;
		}
		.page-title{
			font-size: 18px;
			margin-bottom: 0;
			&.title-main{
				margin-bottom: 20px;
			}
		}
	}
	.label-age{
		height: 20px;
	}
	.select2, .select2-container, .btn-clearall{
		font-size: 12px;
	}
	.box-choices label.radio{
		height: auto;
	}
	.btn-red.pull-left{
		width: 125px;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	.block-recommends-horizontal .booking-slides-recommends {
		.slide {
			.img-responsive {
				width: 140px;
				.img-inner .inner span{
					font-size: 12px;
				}
			}
			.content{
				height: 150px;
			}
		}
	}
	.google-maps-popup .info-maps .inner{
		max-height: 280px !important;
	}
	.module-hero {
		.copyright {
			font-size: 12px;
		}
	}
	.module-hero-switcher .block-intro .slides-intro .slide .content {
		min-width: 280px;
		padding-bottom: 0;
	}
	.block-hero-switcher {
		width: 230px;
		bottom: 20%; /* Giang edited : menu in mobile is fixed top, translucent & overlap block-intro */
		.text {
			font-size: 16px !important;
		}
		.btn {
    	margin-top: 5px;
    	font-size: 20px !important;
    }
    .dropdown-menu {
    	max-height: 80px !important;
    }
	}
}
@media screen and (max-width: 450px) {
	.block-experiences {
		.slide-experiences {
			.slide {
				.content {
					h3{
						font-size: 11px;
					}
					p{
						font-size: 9px;
						line-height: 1.7em;
					}
				}
			}
		}
	}
	.block-favourite {
		.slides-favourite{
			padding-left: 0;
			padding-right: 0;
		}
	}
	.page-sign-up{
		.block-signup-form{
			.box-term{
				.box-term-item:first-child{
					width: 10%;
				}
				.box-term-item:last-child{
					width: 90%;
				}
			}
		}
	}
	.box-filter .menu-icon ul li .sub-item{
		height: 100px;
	}
	.info-book{
		.content{
			span.waitting{
				width: 85px;
			}
		}
	}
	.block-intro{
		 .slides-intro{
		 	 .slide{
		 	 	 .content{
		 	 	 	min-width: 300px;
		 	 	 }
		 	 }
		 }
	}
}
@media screen and (max-width: 360px) {
	.block-recommendations{
		.slide-recommendations{
			.slide{
				.content{
					.sub{
						letter-spacing: 2px;
					}
				}
			}
		}
	}
	.block-recommends-horizontal{
		.slide{
			.img-responsive{
				width: 135px;
			}
		}
	}
	.block-article-desc{
		.box-btn{
			button{
				padding: 5px 15px;
			}
		}
	}
	.block-article-style{
		&.wrap-booking-box{
			.wrap-star-rating{
				.sprites{
					margin: 0 -4px;
				}
			}
		}
		.about-desc{
			.desc{
				.restaurant-share-social{
					a{
						margin-left: 5px;
					}
				}
			}
		}
	}
	.block-intro{
		.slides-intro{
			.slide{
				.content{
					min-width: 240px;
				}
			}
		}
	}
}
@media screen and (max-width: 1023px) {
	.price-range-slider{
		input[type=range]{
			padding-left: 10.576%;
			padding-right: 10.297%;
		}
		&.range-5{
			input[type=range]{
				padding-left: 8.576%;
				padding-right: 8.297%;
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.price-range-slider{ 
		input[type=range]{
			padding-left: 10.884%;
			padding-right: 10.153%;
		}
		&.range-5{
			input[type=range]{
				padding-left: 8%;
				padding-right: 8.153%;
			}
		}
	}
}
@media screen and (max-width: 700px) {
	.price-range-slider{
		 input[type=range]{
			padding-left: 10.319%;
			padding-right: 10.071%;
		}
		&.range-5{
			input[type=range]{
				padding-left: 8%;
				padding-right: 7.371%;
			}
		}
	}
}
@media screen and (max-width: 600px) {
	.price-range-slider{
		input[type=range]{
			padding-left: 9.897%;
			padding-right: 9.509%;
		}
		&.range-5{
			input[type=range]{
				padding-left: 7.397%;
				padding-right: 7%;
			}
		}
	}
}
@media screen and (max-width: 500px) {
	.price-range-slider {
		input[type=range]{
			padding-left: 9.017%;
			padding-right: 8.451%;
		}
		&.range-5{
			input[type=range]{
				padding-left: 6.017%;
				padding-right: 5.8%;
			}
		}
	}
}
@media screen and (max-width: 400px) {
	.price-range-slider {
		input[type=range]{
			padding-left: 8.536%;
			padding-right: 7.738%;
		}
		&.range-5{
			input[type=range]{
				padding-left: 5.536%;
				padding-right: 5%;
			}
		}
	}
}
@media screen and (max-width: 350px) {
	.price-range-slider {
		input[type=range]{
			padding-left: 7.432%;
			padding-right: 6.686%;
		}
		&.range-5{
			input[type=range]{
				padding-left: 4.832%;
				padding-right: 4%;
			}
		}
	}
}
