@media (max-width: 1199px) {
	.info-book {
		width: 213px !important;
	}
}

@media (min-width: 992px) {
	.gallery .lightgallery {
		.item {			
		    width: 18.5%;
		    margin-left: 1.875%;
		    &:nth-child(n+6) {
				display: none;
		    }
		}
	}
}

@media screen and (max-width: 991px) {
	#back-to-top {
		width: 40px; height: 40px;
		font-size: 33px;
		bottom: 70px;
	}
	.gallery .lightgallery {
		.item {			
		    width: 23.5%;
		    margin-left: 2%;
		    &:nth-child(n+5) {
				display: none;
		    }
		}
	}
	.block-product .slides-product .slide .figure {
		.description {
			display: none;
		}
		.sprites {
			display: none;
		}
	}
	h1, .h1 {
		margin-top: 15px;
		font-size: 24px;
	}
	h3,.h3 {
		font-size: 20px;
	}
	h2, .h2 {
		font-size: 20px;
	}
	.list-checkbox {
		li {
			float:left;
			min-width: 50%;
			padding-right: 15px;
		}
	}
	.slick-prev {
		background-position: -366px -72px;
		width: 16px;
		height: 27px;
	}
	.slick-next {
		background-position: -406px -72px;
		width: 16px;
		height: 27px;
	}
	.bread-crumb ul {
		padding-top: 15px;
		// font-size: 12px;
	}
	.module-filter {
		.btn-filter-devices {
			display: block;
		}
		.content-filter {
			position: fixed;
			top: 0;right: 0;bottom: 0;left: 0;
			overflow-y: auto;
			width: 100%;
			padding-top: 0;
			padding-bottom: 50px;
			border-radius: 0px;
			z-index: -1;
			opacity: 0;
			transform: scale(0.1,0.1);
			&.active {
				z-index: 9999;
				opacity: 1;
				transform: scale(1,1);
			}
			.btn-filter {
				-webkit-transform: none;
				-moz-transform: none;
				transform: none;
				box-shadow: none;
				position: static;
				border-radius: 0px;
				line-height: 55px;
				background-color: @white;
				padding: 0;
				border-bottom: 1px solid @whiteDarker;
				color: @gray;
				.desktop {
					display: none;
					opacity: 0;
				}
				.devices {
					display: block;
					position: relative;
					.icon-close {
						position: absolute;
						top: 0;right: 0;
						line-height: 55px;
					}
				}
			}
			.item {
				.title {
					text-align: left;
					.sprites {
						display: none;
					}
				}
			}
		}
	}
	.block-article {
		h1 {
			text-align: center;
			font-size: 24px;
			line-height: 1.5em;
		}
		p {
			font-size: 14px;
			line-height: 1.35em;
			text-align: center;
		}
	}
	.block-recommends {
		padding-top: 25px;
	}
	.block-product .h2 {
		font-size: 24px;
	}
	.block-product .slides-product .slide .figure .content .title .sub {
		font-size: 10px;
	}
	.block-blog .article .content .sub {
		font-size: 10px;
	}
	.block-intro .slides-intro .slide .content {		
		font-size: 12px;
		max-width: 600px;
		min-width: 400px;
		.title {
			font-size: 55px;
		}
		.sub-title {
			font-size: 14px;
			margin-top: 10px;
			&:before {
				top: 7px;
			}
			&:after {
				top: 7px;
			}
		}
		.btn-red {
			font-size: 10px;
			padding-top: 7px;
			padding-bottom: 7px;
			letter-spacing: 0.8px;
		}
	}
	.block-product .block-filter {
		width: 100%;
		select.form-control {
			font-size: 10px;
		}
	}
	/*tablet fix*/
	.apr-form .form-group .apr-label {
		font-size: 14px;
	}
	.apr-form input.form-control {
		font-size: 16px;
	}
	.apr-form .btn-apr {
		font-size: 12px;
	}
	.modal-title {
		font-size: 12px;
	}
	.modal-headline {
		font-size: 38px;
	}
	.block-recommendations .slide-recommendations .slide .content {
		.sub {
			font-size: 10px;
		}
		h3 {
			font-size: 12px;
			margin-top: 5px;
		}
	}
	textarea {
		min-height: 160px;
	}
	label {
		font-size: 14px;
	}
	.block-intro .banner .content {
		margin-left: -290px;
		.sub-title {
			font-size: 14px;
		}
		.title {
			font-size: 55px;
		}
	}

	//page-culinary
	.page-culinary {
		.slides-intro .slide {
			.content .sprites {
				position: static;
				display: block;
			}
		}
	}
	//page book
	.page-book {
		.btn-red {
			padding-top: 13px;
			padding-bottom: 13px;
		}
		/* .block-intro .banner .content {
			height: 190px;
		} */
		input[type="text"] {
			-webkit-box-shadow: none;
		}
		.reservationDate:focus {
			cursor: none;
		}
	}
	.item-group {
		padding-top: 30px;
		padding-bottom: 25px;
		.title {
			text-align: center;
			font-size: 24px;
			line-height: 1.4em;
		}
	}
	.box-group .sprites {
		margin-top: 14px;
	}.box-group .icon-arrow-black {
		margin-top: 19px;
	}
	.box-group .lt-spinner-prev, .box-group .lt-spinner-next {
		width: 39px;
	}
	.box-add-photo {
		.btn-add-photo {
			width: 95px;
			height: 95px;
			padding-top: 14px;
		}
		.figure {
			width: 180px;
			height: 180px;
			line-height: 180px;
			img {
				width: 100%;
			}
		}
	}
	.block-profile {
		padding-bottom: 25px;
	}
	.page-profile {
		.btn-red {
			padding-top: 13px;
			padding-bottom: 13px;
		}
		.dateOfBirth:focus {
			cursor: none;			
		}
		input[type="text"] {
			-webkit-box-shadow: none;
		}
		.mb-25 {
			margin-bottom: 0 !important;
		}
		.module-show-option .form-group {
			margin-bottom: 10px;
		}
		.box-show-option {
			margin-top: 10px;
			margin-bottom: 15px;
		}
		.item-group .module-show-option:last-child .box-show-option {
			margin-bottom: 0;
		}
	}
	.box-avatar .figure {
		width: 125px;
		height: 125px;
	}

}
@media screen and (max-width: 991px) {

	.ui-datepicker {
		position: fixed !important;
		top: 50% !important;
		margin-top: -150px;
		width: 50%;
		left:  25% !important;
		z-index: 141 !important;
	}
}
@media screen and (max-width: 767px) {
	.modal {
		&:before {
			display: none;
		}
	}
	.gallery .lightgallery .video:after {
		background-image: url('../images/icon-play-small.png');
	}
	.box-location {
		display: block;
	}
	.slick-dots {
		bottom: -33px;
	}
	h3, .h3 {
		font-size: 12px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	h2, .h2 {
		font-size: 16px;
	}
	h1, .h1 {
		font-size: 22px;
	}
	section {
		padding-top: 30px;
		padding-bottom: 25px;
	}
	.btn {
		padding-top: 6px;
		padding-bottom: 6px;
	}
	.block-blog .article .content {
		p {
			display: none;
		}
		.sub {
			font-size: 8px;
		}
	}
	.navbar-header .btn-search {
		display: block;
	}
	.block-intro .slides-intro .slide .content {
		max-width: 450px;
	}
	.block-intro .slides-intro .slide .content .title {
		/* Giang : Ticket AD-901*/
		font-size: 33px;
		min-width: auto;
	}
	.block-intro .slides-intro .slide .content .sub-title {
		font-size: 10px;
		margin-top: 5px;
		&:before {
			top:9px;
		}
		&:after {
			top: 9px;
		}
	}

	.block-product .slides-product .slide .figure .content .title {
		top: 38%;
		.sub {
			font-size: 7px;
		}
	}
	.block-product .block-filter select.form-control {
		font-size: 9px;
	}
	.block-intro .slides-intro .slide .content .btn-red {
		font-size: 8px;
		min-width: 120px;
	}
	.block-product .h2 {
		font-size: 16px;
	}
	.font-11 {
		font-size: 8px;
		padding-bottom: 0;
	}
	.navbar-nav {
		margin:5px 0;
	}
	.footer-social {
		margin: 5px 0 15px;
	}
	/*mobile fix*/
	.apr-form .form-group .apr-label {
		font-size: 12px;
	}
	.apr-form input.form-control {
		font-size: 16px;
	}
	.apr-form .btn-apr {
		font-size: 10px;
	}
	.modal-title {
		font-size: 10px;
	}
	.modal-headline {
		font-size: 36px;
	}
	.bread-crumb ul {
		// font-size: @font-size;
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
	}
	.block-article {
		h1 {
			font-size: 16px;
			margin-top: 10px;
			margin-bottom: 5px;
		}
		p {
			font-size: 9px;
		}
	}
	.block-recommends {
		padding-top: 20px;
		padding-bottom: 55px;
	}
	.block-recommendations .slide-recommendations .slick-dots {
		bottom: -42px;
	}
	.block-recommends .slides-recommends .slide .figure {
		.content {
			p {
				display: none;
			}
			.box-label {
				display: none;
			}
			.description {
				top: 45%;
			}
		}
		&:hover, &:active {
			.content .title {
				margin-top: 0px;
				transform: scale(1.1,1.1);
			}
		}
	}
	.block-recommendations .slide-recommendations .slide .content .sub {
		font-size: 7px;
		height: 10px;
	}

	/* responsive mobile 15/3/2013
	book page, profile page
	author: loctran
	 */
	.box-group {
		.sprites {
			margin-top: 8px;
		}
		.icon-arrow-black {
			margin-top: 14px;
		}
		.form-control {
			height: 32px;
		}
		.lt-spinner-prev, .lt-spinner-next {
			width: 26px;
		}
	}
	.ui-datepicker {
		width: 90%;
		max-width: 400px;
		left: 50% !important;
		top:  50% !important;
		margin-left: -200px;
	}
}
@media screen and (max-width: 450px) {
	.ui-datepicker {
		margin-left: -45%;
	}
}
@media screen and (min-width: 360px) and (max-width: 500px) {
	.block-intro .slides-intro .slide .content {
		max-width: 300px;
	}
}
@media screen and (max-width: 360px) {
	.block-intro .slides-intro .slide .content {
		max-width: 250px;
	}
}
