@media screen and (max-width: @max-tablet-screen-size) {
	.bread-crumb ul {
		font-size: @font-size;
	}
	.tablet-fluid-width {
		width: 100%;
	}

	.block-terms-list {
    	line-height: normal;
		
		p {
			font-size: @mobile-normal-font-size;
		}

		h2 {
			font-size: @mobile-headline-font-size;
			text-align: center;
		}

		.terms-list {
			ul {
				font-size: @mobile-normal-font-size;
			}
		}
	}

	.block-article:extend(.block-terms-list all) {};

	.block-recommendations,
	.block-top-requests {
		h2 {
			font-size: @mobile-headline-font-size;
		}
		.slide-recommendations .slide .content {
			h3 {
				font-size: @mobile-slider-offer-name-font-size;
			}

			.sub {
				font-size: @mobile-slider-catergory-font-size;
				height: auto;
			    line-height: 14px;
			}
		}
 	}

 	.slick-dots li button {
 		font-size: @mobile-normal-font-size;
 	}

	.restaurant-detail {
		position: static;

		img {
			width: 156px;
		}
		.caption {
			padding: 5px 25px 5px 12px;
			font-size: 9px;	

			b {
				font-size: 7px;
			}

			h3 {
				font-size: 11px;
				margin-bottom: 5px;
			}

			.table-mg-2 {
				margin-bottom: 5px;
			}
		}
	}
}

@media screen and (max-width: @max-mobile-screen-size) {
	body.nav-open {
		.topbar {
			.nav-toggle {
				position: fixed;
			    top: 15px;
    			left: 15px;
			}
		}
	}
	
	.header .close-sidebar {
		zoom: 0.592;
	}


	.form-group.mb-25-xs,
	.mb-25-xs {
		margin-bottom: 25px!important;
	}

	.apr-form .btn-apr {
	    font-size: 12px;
	    padding: 10px 44px;
	}

	.page-profile .module-show-option:last-child .form-group {
	    margin-bottom: 10px;
	}
	
	.page-overlay {
		left: -@mobile-main-menu-width;
	}

	#main-nav {
	    position: fixed;
        max-width: 85.333%;
	    max-height: 100%;
	    white-space: nowrap;
    	font-size: 0;
    	background: transparent;
		
		> .container.relative {
			background: #fff;
			margin-left: 0;
			width: 100%;
			display: inline-block;
			-webkit-transition: linear margin-left 0.3s;
			   -moz-transition: linear margin-left 0.3s;
			    -ms-transition: linear margin-left 0.3s;
			     -o-transition: linear margin-left 0.3s;
			        transition: linear margin-left 0.3s;
		}
		
		> .box-location {
			background: #fff;
			display: inline-block;
			vertical-align: top;
			width: @mobile-main-menu-width;
		    max-width: 100%;
		    margin-left: 1px;
		}

		#location-toggle {
			&:checked {
				~ .container.relative {
					margin-left: -100%;
				}
				~ .box-location {
					margin-left: 0;
				}
			}
		}
		.name.brand-color {
			max-width: @mobile-main-menu-net-width - @header-user-avatar-width - @profile-bar-left-gap;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    display: inline-block;
		    line-height: 1.2em;
		}

		.logo-sidebar {
			position: relative;
			margin-top: -58px;
		    margin-bottom: 13px;
		}

		.dropdown-menu {
			width: @mobile-main-menu-width;
		    max-width: 100%;
		}
	}
	.main-menu {
		font-size: 14px;

		&.navbar-nav {
			> li{
				margin-left: 0;
			}
		}

		li {
			&:hover,
			&:focus,
			&.open {
				background: transparent!important;

				> a {
					color: @redFlashTheme;
					background: transparent!important;
    				font-weight: bold;
				}	
			}
		}

		> li{

			&:last-child {
		    	margin-bottom: 30px;
			}

			&:hover,
			&:focus,
			&.open {
	        	background-color: #eee!important;
			}

			.caret {
				float: right;
				position: relative;
		        top: 0.8em;
			    -webkit-transition: transform linear 0.3s;
			       -moz-transition: transform linear 0.3s;
			        -ms-transition: transform linear 0.3s;
			         -o-transition: transform linear 0.3s;
			            transition: transform linear 0.3s;
				-webkit-transform: rotate(180deg);
				   -moz-transform: rotate(180deg);
				    -ms-transform: rotate(180deg);
				     -o-transform: rotate(180deg);
				        transform: rotate(180deg);
			}

			&.open {
				.caret {
					-webkit-transform: rotate(0deg);
					   -moz-transform: rotate(0deg);
					    -ms-transform: rotate(0deg);
					     -o-transform: rotate(0deg);
					        transform: rotate(0deg);
				}
			}
		}

		.dropdown-menu.dropdown-center {
			max-height: 0;
			overflow-y: hidden;
			-webkit-transform: scale(0, 0);
		    -moz-transform: scale(0, 0);
		    -ms-transform: scale(0, 0);
		    transform: scale(0, 0);
		    opacity: 0;
		}

	 	.open > .dropdown-menu.dropdown-center {
			max-height: none;
			overflow-y: visible;
			-webkit-transform: scale(1, 1);
		    -moz-transform: scale(1, 1);
		    -ms-transform: scale(1, 1);
		    transform: scale(1, 1);
		    opacity: 1;
		    padding-top: 0;

			> ul {
				> li,
				> li:hover,
				> li:focus {
					ul {
						opacity: 1;
					    position: relative;
					    left: -10px;
					    width: -wekit-calc(100% + 10px);
					    width:   -moz-calc(100% + 10px);
					    width:     -o-calc(100% + 10px);
					    width:    -ms-calc(100% + 10px);
					    width:        calc(100% + 10px);
					    box-shadow: none;
					    border-radius: 0;
					    margin-top: 5px;
					    padding-left: 25px;
					     -wekit-transform: none;
					       -moz-transform: none;
					         -o-transform: none;
					        -ms-transform: none;
					            transform: none;

			            ~ .caret {
						     -wekit-transform: none;
						       -moz-transform: none;
						         -o-transform: none;
						        -ms-transform: none;
						            transform: none;
				            right: 25px;			            	
			            }
					}
				}
			}

			ul {
	        	background-color: #eee;
	        	-webkit-border-radius: 0;
	        	   -moz-border-radius: 0;
	        	    -ms-border-radius: 0;
	        	     -o-border-radius: 0;
	        	        border-radius: 0;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
				     -o-box-shadow: none;
						box-shadow: none;

				li {
				    font-size: 14px;
    				text-transform: uppercase;
					
					&.legend {
					    padding-left: 18px;
					}

    				a {
    					padding: 10px 25px;
    				}

    				ul {
    					width: 100%!important;
    				}
				}
			}
		}
	}

    .nav-open .nav-profile .dropdown-menu {
    	-webkit-transform: scale(1, 1);
	       -moz-transform: scale(1, 1);
	        -ms-transform: scale(1, 1);
	            transform: scale(1, 1);
	    opacity: 1;
	}

	#modal-signin .well {
		font-size: 12px;
	}

	.block-terms-list {
		.feedback-list .mobile-top-gap {
		    margin-top: 16px;
		}
	}
	
	.box-taxi {
		height: 80px;

		.box-taxi-content {
			width: auto;
			padding: 20px 24px;

			.btn-transparent {
				font-size: 10px;
				padding: 6px 14px;
			}
		}

		.font-20 {
			font-size: 12px;
	    	line-height: 10px;
		}
	}

	.block-thankyou {
		padding-bottom: 22px;
	}

	// .restaurant-detail {
	// 	img {
	// 		width: 156px;
	// 	}
	// 	.caption {
	// 		padding: 5px 25px 5px 12px;
	// 		font-size: 9px;	

	// 		b {
	// 			font-size: 7px;
	// 		}

	// 		h3 {
	// 			font-size: 11px;
	// 			margin-bottom: 5px;
	// 		}

	// 		.table-mg-2 {
	// 			margin-bottom: 5px;
	// 		}
	// 	}
	// }
	.term-block {
		text-align: center;
		font-size: 11px;

		ul {
			padding: 0;
			list-style: none;

			li {
				list-style: none;
				line-height: normal;
			}
		}
	}

	.booking-box {
		width: 100%;
		position: relative;
		font-size: 11px;
		margin-bottom: 17px;

		.font-20 {
			font-size: 1.4em;
		}

		// input[type=checkbox] {
		//  	+ label {
		// 		&:before {
		// 			width: 1.7em;
		// 			height: 1.7em;    
		// 			background-size: 425px;
		// 			background-position: -62px -139px;
		// 		}
		// 	}

		// 	&:checked {
		// 		+ label {
		// 			&:before {
	 //    				background-position: -81px -139px;
		// 			}
		// 		}
		// 	}
		// }

		> .text-center:first-child {
			float: left;
			width: 50%;
		}

		.big-font-price {
			font-size: 3.5em;
		    line-height: 1em;
		}

		.fr-booking {
			width: 50%;
			float: right;

			form {
				label {
					font-size: 1em;
				}

				.btn[type='submit'] {
				    position: absolute;
				    font-size: .9em;
				    width: auto;
				    top: 8.6em;
				    margin-top: 0;
				    left: ~"-webkit-calc(25% - 4.5em)";
				    left: ~"-moz-calc(25% - 4.5em)";
				    left: ~"-ms-calc(25% - 4.5em)";
				    left: ~"-o-calc(25% - 4.5em)";
				    left: ~"calc(25% - 4.5em)";
				    padding: 1em 3em;
				}
			}
		}
		.line-seperator {
			display: none;

			~ .line-seperator {
				display: block;
				clear: both;
				position: static;
			}
		}
	}

	body {
		&:not(.logged-in) {
			#main-nav {
				.nav-profile {
					> .dropdown-menu {// Not logged in yet
						margin-top: -@mobile-profile-link-horizontal-padding * 2 - 2px;

						> li {
							a {
								span {
									display: block;
									text-align: center;

									&.sprites {
										margin: 0 auto;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.block-recommendations .slide-recommendations {
		.slide .content {
			h3 {
				font-size: 4.8vw;
			}
			.sub {
				font-size: 3.2vw;
			}
		}
	}

	body.nav-open {
		.topbar {
			.nav-toggle {
				left: auto;
		        right: @mobile-main-menu-width + 15px;
			}
		}
	}
}

@media screen and (min-width: (@max-mobile-screen-size + 1)) and (max-width: @max-tablet-screen-size) {
	.booking-box {
		width: 214px;
		max-width: 100%;
	}

	.restaurant-detail {
		img {
			width: 223px;
		}
		.caption {
			font-size: 12px;

			b {
				font-size: 9px;
			}

			h3 {
				font-size: 15px;
			}
		}
	}
	.restaurant-share-social {
		span {
			margin-right: 0;
		}

	 	a {
	 		margin-left: 0;
 		    margin-right: -2.3px;
	 	}
	}

	.fr-booking {
	    font-size: 14px;
	}

	.list-check ul {
		padding-left: 0;
	}

	.term-block {
		font-size: 11px;

		ul {
			list-style: none;
			padding: 0;

			li {
				list-style: none;
			}
		}
	}
}
@media screen and (min-width: (@max-mobile-screen-size + 1)) and (max-width: 1024px) {
	.nav-profile .name.brand-color {
		max-width: 130px;
	}

	.main-menu .dropdown-menu {
		&[data-tablet-sub-position="left"] {
			ul li { 
				ul,
		 		&:focus ul,
		 		&:hover ul {
					left: -101%;
		 		}
		 	}

		 	.caret {
	 		    left: 5px;
			    -webkit-transform: rotate(90deg);
		           -moz-transform: rotate(90deg);
			        -ms-transform: rotate(90deg);
			         -o-transform: rotate(90deg);
			            transform: rotate(90deg);
		 	}
		}
	}
}

@media screen and (min-width: (@max-tablet-screen-size + 1)) and (max-width: 1199px) {
	.nav-profile .name.brand-color {
		max-width: 110px;
	}
	.nav-search{
    	.search-text{
	      	width: 199px;
	    }
  	}
}
