/* Landscape phone to portrait tablet */
@media screen and (max-width: 1024px) {
  .apr-nav{
    .dropdown-menu{
      width: 210px;
    }
  }
  .nav-search{
    .search-text{
      display: none;
    }
  }
  .main-menu{
    &.navbar-nav > li > a{
      padding: 15px 13px;
    }
  }

  .m-font-20{
    font-size: 20px;
  }
  .block-product .h2{
    margin-top: 5px;
  }
  .main-menu .dropdown-menu.dropdown-center{
    margin-left: -107px;
  }
  .topbar-right{
    margin-top: 25px;
  }
  .block-intro .slides-intro .slick-dots{
    margin-bottom: 10px;
  }
  .nav-search .search-text[type="text"]{
    background: #000!important;
    height: 83px;
    padding: 0 10px;
    position: absolute;
    right: 0;
    top: -22px;
    z-index: 1;
    border: none;
  }
  .nav-search .btn-search{
    top: 13px;
  }
  .nav-search.open .search-text{
    display: block;
  }
  .autocomplete-search{
    top: 157px!important;
    width: 266px!important;
  }
}
@media screen and (max-width: 992px) {
  .hide-sm-block{
    display: none;
  }

  .restaurant-detail{
    width: 100%;
    position: relative;
    img{
      float: left;
      display: block;
      width: 190px;
    }
    .caption{
      display: table;
      padding: 9px 15px;
      h3{
        font-size: 15px;
        margin: 0;
      }
      .table-mg-2{
        margin: 2px 0;
      }
    }
    &:after{
      content: '';
      display: table;
      clear: both;
    }
  }
  .booking-box{
    float: right;
  }
  section.restaurant-list{
    margin-bottom: 0;
    padding-bottom: 0;
    .retaurant-single:last-child{
      border-bottom: 0;
    }
  }
}
@media screen and (max-width: 767px) {
  .hi-text{
    display: block;
  }
  body {
    position: relative;
  }
  #modal-reminder {
    &.apr-modal {
      font-size: 10px;
      .modal-content {
        padding: 15px;
      }
      h2 {
        font-size: 32px;
        line-height: 40px;
      }
    }
  }
  .apr-nav{
    .dropdown-menu{
      width: 280px;
    }
  }
  .apr-modal .modal-dialog{
    max-width: initial;
  }
  .block-blog .article{
    margin-bottom: 8px;
  }
  .hide-sm-block{
    display: block;
  }
  .logo-sidebar{
    display: block;
  }
  .navbar{
    border: none;
  }
  .main-menu{
    @menu-icon-width: 60px;
    width: 100%;
    padding: 10px 0 @menu-icon-width;

    .menu-icon{
      display: inline-block;
      min-height: initial;
      width: @menu-icon-width;
    }
    
    @horizontal-padding: 18px;
    .menu-text{
      @margin-left: 15px; 
      @remain-gap: @menu-icon-width + @margin-left + @horizontal-padding * 2;
      margin-left: @margin-left;
      vertical-align: middle;
      max-width: ~'calc(100% - @{remain-gap})';
      overflow: hidden;
      display: inline-block;
      white-space: initial;
    }
    &.navbar-nav> li > a{
      padding: 10px @horizontal-padding;
    }
  }
  .topbar-right{
    display: none;
  }
  .nav-toggle {
    display: block;
    z-index:1039;
  }
  .navbar-header{
    text-align: center;
  }
  .apr-nav a{
    color: #333;
  }
  .nav-profile{
    position: relative;
  }

  #main-nav {
    background-color: #fff;
    margin: -1px 0 0;
    position: absolute;
    left: -@mobile-main-menu-width;
    top: 0;
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    visibility: hidden !important;
    width: @mobile-main-menu-width;
    z-index: 1000;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    .container{
      padding: 0px;
    }
  }
  .nav-open #main-nav {
    visibility: visible !important;
  }
  .nav-open #main-nav, .nav-open .nav-toggle, .nav-open .page-overlay {
    animation: 600ms cubic-bezier(0.47, 0.5, 0, 0.95) 0s normal none 1 running slideLeft;
    transform: translate(@mobile-main-menu-width, 0px);
    -webkit-transform: translate(@mobile-main-menu-width, 0px);
    -ms-transform: translate(@mobile-main-menu-width, 0px);
    -o-transform: translate(@mobile-main-menu-width, 0px);
  }
  .nav-close #main-nav, .nav-close .nav-toggle, .nav-close .page-overlay {
    animation: 600ms cubic-bezier(0.47, 0.5, 0, 0.95) 0s normal none 1 running closeLeft;
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
  }
  .page-overlay {
    background: #000 none repeat scroll 0 0;
    bottom: 0;
    left: -280px;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transition: opacity 0.6s cubic-bezier(0.47, 0.5, 0, 0.95) 0s, visibility 0.6s cubic-bezier(0.47, 0.5, 0, 0.95) 0s;
    visibility: hidden;
    z-index: 99;
  }

  .nav-open .page-overlay {
    opacity: 0.8;
    visibility: visible;
  }
  .nav-open{
    .nav-search{
      display: none;
    }
    .nav-profile{
      background: #f1f1f1;
      a.btn-link{
        padding: @mobile-profile-link-horizontal-padding;
        .icon-caret-down{
          display: none;
        }
        &:hover{
          color: #666;
        }
      }
      .dropdown-menu{
        display: block;
        box-shadow: none;
        border: none;
        float: none;
        position: relative;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        li{
          float: left;
          width: 50%;
          border: 1px solid #ececec;
          a{
            padding: 10px 0px;
            text-align: center;
          }
        }
        &:after{
          content: '';
          display: table;
          clear: both;
        }
      }
      .caret{
        display: none;
      }

    }
  }

  .sprites {
    vertical-align: middle;
    &.icon-disk, &.icon-dining {
      background-position: -146px -142px
    }
    &.icon-global, &.icon-travel {
      background-position: -146px -95px;
    }
    &.icon-bag, &.icon-entertainment {
      background-position: -146px -57px;
    }
    &.icon-mask{
      background-position: -345px -44px;
    }
    &.icon-service, &.icon-place-your-request {
      background-position: -146px -27px;
      margin-top: 0;
    }
    &.icon-baloon {
      background-position: -458px -206px;
    }
    &.icon-transportation{
      background-position: -370px -288px;
    }
  }
  .nav-open .patty {
    display: none;
  }
  .close-sidebar {
    position: relative;
    width: 32px;
    height: 32px;
    opacity: 1;
    display: none;
  }
  .close-sidebar:hover {
    opacity: 1;
  }
  .close-sidebar:before, .close-sidebar:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #fff;
  }
  .close-sidebar:before {
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
  }
  .close-sidebar:after {
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
  }
  .nav-open .close-sidebar{
    display: block;
  }
  .block-product .block-filter{
    float: none;
    width: 100%;
    label{
      display: none;
    }
  }
  .block-on-mobile{
    display: block;
  }
  .top-feature{
    text-align: center;
  }

  .block-product .h2{
    margin-top:0px;
  }
  .footer-menu{
    border: none;
  }
  .block-intro{
    .slides-intro{
      .slick-dots{
        margin-bottom: 8px;
      }
      .slide .content .title{
        font-size: 30px;
      }
    }
  }
  .hide-xs{
    /* display: none; */
  }
  .culinary-recommends-medal{
    top: 30px;
  }
  .restaurant-detail{
    float: left;
  }

  .big-font-price{
    line-height: 1.5;
  }
  .main-menu.navbar-nav > li.active a{
    background: none;
  }
  .culinary-recommends-medal{
    left: 50%;
    margin-left: -60px;
    &.icon-recommends-big{
      width: 85px;
      height: 72px;
      background-position: 0px 0px;
    }
  }
  .main-menu .dropdown-menu::after{
    display: none;
  }
  .main-menu .dropdown-menu.dropdown-center{
    position: relative;
    left: 0;
    margin-left: 0;
    width: 100%;
  }
  .main-menu.nav .open > a, .main-menu.nav .open > a:hover, .main-menu.nav .open > a:focus{
    background: #eee;
  }
  .main-menu.navbar-nav > li > a:hover, .main-menu.navbar-nav > li > a:focus{
    background: #eee;
  }
}
@media screen and (min-width: 768px) {
  .apr-nav{
    .dropdown-menu{
      border-radius: 0px;
      border: none;
      box-shadow: none;
      background: rgba(0,0,0,.8);
      li{
        a{
          color: #fff;
        }
      }
    }
  }

}
