.sprites {
	background-image: @sprites;
	background-repeat: no-repeat;
	overflow: hidden;
	&.icon-arrow-top {
		display: inline-block;
		width: 34px; height: 20px;
		background-position: -281px -291px;
	}
	&.icon-prev {
		display: inline-block;
		width: 28px; height: 50px;
		background-position: -200px 0px;
	}
	&.icon-next {
		display: inline-block;
		width: 28px; height: 50px;
		background-position: -230px 0px;
	}
	&.icon-sign-in-white, &.icon-sign-in {
		display: inline-block;
		width: 19px; height: 25px;
		background-position: 0 -340px;
	}
	&.icon-sign-in-black {
		display: inline-block;
		width: 17px; height: 22px;
		background-position: -60px -340px;
	}
	&.icon-sign-up-white, &.icon-sign-up {
		display: inline-block;
		width: 23px; height: 23px;
		background-position: -30px -340px;
	}
	&.icon-sign-up-black {
		display: inline-block;
		width: 21px; height: 21px;
		background-position: -80px -340px;
	}
	&.icon-printer-red {
		width: 26px;
		height: 32px;
		background-position: -478px 0;
	}
	&.icon-maps {
		width: 10px;
		height: 16px;
		background-position: -165px -240px;
		display: inline-block;
	}
	&.icon-time {
		width: 16px;
		height: 16px;
		background-position: -180px -240px;
		display: inline-block;
	}
	&.icon-city {
		width: 8px;
		height: 16px;
		background-position: -200px -240px;
		display: inline-block;
	}
	&.icon-flag {
		width: 11px;
		height: 16px;
		background-position: -215px -240px;
		display: inline-block;
	}
	&.icon-golf {
		width: 15px;
		height: 15px;
		background-position: -301px -263px;
		display: inline-block;
	}
	&.icon-globe {
		width: 13px;
		height: 16px;
		background-position: -230px -240px;
		display: inline-block;
	}
	&.icon-camera {
		width: 37px;
		height: 30px;
		background-position: -460px -40px;
		display: block;
	}
	&.icon-user {
		width: 16px;
		height: 16px;
		background-position: -15px -240px;
		display: inline-block;
	}
	&.icon-user-black {
		width: 23px;
		height: 23px;
		background-position: -29px -259px;
		display: inline-block;
	}
	&.icon-lock-black {
		width: 18px;
		height: 24px;
		background-position: 0 -259px;
		display: inline-block;
	}
	&.icon-calendar {
		width: 16px;
		height: 16px;
		background-position: -35px -240px;
		display: inline-block;
	}
	&.icon-global-xs {
		width: 16px;
		height: 16px;
		background-position: -55px -240px;
		display: inline-block;
	}
	&.icon-phone-xs {
		width: 17px;
		height: 16px;
		background-position: -75px -240px;
		display: inline-block;
	}
	&.icon-fork-knife {
		width: 9px;
		height: 16px;
		background-position: -95px -240px;
		display: inline-block;
	}
	&.icon-shopping {
		width: 14px;
		height: 16px;
		background-position: -110px -240px;
		display: inline-block;
	}
	&.icon-mobile {
		width: 9px;
		height: 16px;
		background-position: -130px -240px;
		display: inline-block;
	}
	&.icon-mail {
		width: 15px;
		height: 10px;
		background-position: -145px -240px;
		display: inline-block;
	}
	&.icon-close {
		width: 13px;
		height: 13px;
		background-position: -340px -81px;
	}
	&.icon-close-white {
		width: 13px;
		height: 13px;
		background-position: -340px -100px;
		display: inline-block;
	}
	&.icon-close-big-white {
		width: 26px;
		height: 27px;
		background-position: -200px -290px;
		display: inline-block;
	}
	&.icon-arrow-black {
		width: 27px;
		height: 24px;
		background-position: -30px -370px;
		display: inline-block;
	}
	&.icon-arrow {
		width: 14px;
		height: 8px;
		background-position: -130px -180px;
		display: inline-block;
	}
	&.icon-checkbox-off {
		width: 20px;
		height: 20px;
		background-position: -80px -180px;
		display: inline-block;
	}
	&.icon-checkbox-on {
		width: 20px;
		height: 20px;
		background-position: -105px -180px;
		display: inline-block;
	}
	&.icon-star {
		width: 34px;
		height: 32px;
		background-position: -445px 0px;
	}
	&.icon-cuisine {
		width: 46px;
		height: 39px;
		background-position: -258px 0px;
	}
	&.icon-cuisine-small {
		width: 24px;
		height: 20px;
		background-position: -150px -180px;
		display: inline-block;
	}
	&.icon-minus {
		width: 10px;
		height: 10px;
		background-position: -180px -180px;
		display: inline-block;
	}
	&.icon-plus {
		width: 10px;
		height: 10px;
		background-position: -180px -192px;
		display: inline-block;
	}
	&.icon-minus-dark {
		width: 10px;
		height: 10px;
		background-position: -325px -85px;
		display: inline-block;
	}
	&.icon-plus-dark {
		width: 10px;
		height: 10px;
		background-position: -325px -100px;
		display: inline-block;
	}
	&.icon-chat-us {
		width: 72px;
		height: 72px;
		background-position: -310px -130px;
		display: block;
	}
	&.icon-call-us {
		width: 72px;
		height: 72px;
		background-position: -385px -130px;
		display: block;
	}
	&.icon-recommends {
		width: 85px;
		height: 72px;
		background-position: 0px 0px;
	}
	&.icon-recommends-small {
		width: 80px;
		height: 63px;
		background-position: 0px -80px;
	}
	&.icon-recommends-smaller {
		width: 74px;
		height: 56px;
		background-position: -240px -60px;
	}
    &.icon-recommends-big {
		width: 120px;
		height: 87px;
		background-position: -190px -141px;
	}
	&.icon-flower {
		width: 48px;
		height: 56px;
		background-position: -190px -60px;
	}
	&.icon-flower-red {
		width: 29px;
		height: 31px;
		background-position: -303px 0px;
	}
	&.icon-flower-medium{
		width: 74px;
		height: 68px;
		background-position: -103px -264px;
	}
	&.icon-destinations {
		width: 34px;
		height: 39px;
		background-position: -333px 0px;
	}
	&.icon-hotels {
		width: 34px;
		height: 31px;
		background-position: -368px 0px;
	}
	&.icon-activities {
		width: 42px;
		height: 32px;
		background-position: -403px 0px;
	}
	&.icon-location{
		width: 10px;
		height: 16px;
		background-position: -134px 0px;
		display: inline-block;
		vertical-align: -3px;
		&:before{
			content: "" !important;
		}
	}
	&.icon-disk, &.icon-dining {
		width: 41px;
		height: 29px;
		background-position: -100px -142px;
		display: inline-block;
	}
	&.icon-global, &.icon-travel {
		width: 24px;
		height: 30px;
		background-position: -100px -95px;
		display: inline-block;
	}
	&.icon-bag, &.icon-entertainment {
		width: 23px;
		height: 30px;
		background-position: -100px -57px;
		display: inline-block;
	}
	&.icon-service, &.icon-place-your-request {
		width: 34px;
		height: 23px;
		background-position: -100px -27px;
		display: inline-block;
		margin-top: 7px;
	}
	&.icon-search{
		width: 16px;
		height: 16px;
		background-position: -153px 0px;
		display: inline-block;
	}
	&.icon-caret-down{
		width: 14px;
		height: 7px;
		background-position: -173px 0px;
		display: inline-block;
	}
	&.icon-fb{
		width: 26px;
		height: 26px;
		background-position: -53px -204px;
		display: inline-block;
	}
	&.icon-youtube{
		width: 26px;
		height: 26px;
		background-position: -27px -204px;
		display: inline-block;
	}
	&.icon-twitter{
		width: 26px;
		height: 26px;
		background-position: -79px -204px;
		display: inline-block;
	}
    &.icon-whatapp{
        width: 27px;
        height: 26px;
        background-position: -158px -204px;
        display: inline-block;
    }
	&.icon-tick{
		width: 20px;
		height: 20px;
		background-position: -135px -207px;
	}
	// &.icon-featured {
	// 	width: 85px;
	// 	height: 72px;
	// 	background-position: 0px 0px;
	// }
	&.icon-featured-small {
		width: 52px;
		height: 67px;
		background-position: -470px -80px;
	}
	// &.icon-featured-smaller {
	// 	width: 74px;
	// 	height: 56px;
	// 	background-position: -240px -60px;
	// }
 //    &.icon-featured-big {
	// 	width: 120px;
	// 	height: 87px;
	// 	background-position: -190px -141px;
	// }

	&.icon-cuisine-without-smoke-medium {
		width: 32px;
		height: 25px;
		background-position: -456px -179px;
	}

	&.icon-heart-medium {
		width: 28px;
		height: 24px;
		background-position: -98px 0px;
		display: inline-block;
	}

	&.icon-comment-box-medium {
		width: 84px;
		height: 63px;
		background-position: -310px -206px;
	}

	&.icon-baloon {
		width: 21px;
		height: 30px;
		background-position: -414px -206px;
	    display: inline-block;
	}

	&.icon-baloon-red {
		width: 21px;
		height: 30px;
		background-position: -458px -206px;
	    display: inline-block;
	}

	&.icon-close-circle-white {
		width: 18px;
		height: 19px;
		background-position: -250px -240px;
	    display: inline-block;
	}

	&.icon-close-circle-red {
		width: 17px;
		height: 17px;
		background-position: -281px -240px;
	    display: inline-block;
	}
	
	&.icon-search-thin-black {
		width: 26px;
		height: 25px;
		background-position: -72px -259px;
	    display: inline-block;	
	}
	&.icon-star-bg{
		width: 23px;
		height: 22px;
		background-position: -24px -288px;
		display: inline-block;
	}
	&.icon-star-rate{
		width: 23px;
		height: 22px;
		background-position: 0 -288px;
		display: inline-block;
	}
	&.icon-message{
		width: 27px;
		height: 26px;
		background-position: -49px -286px;
		display: inline-block;
	}
	&.icon-email{
		width: 27px;
		height: 26px;
		background-position: -78px -286px;
		display: inline-block;
	}
	&.icon-heart-red {
		width: 28px;
		height: 24px;
		background-position: 0 -314px;
		display: inline-block;
	}
	&.icon-cuisine-without-smoke-red{
		width: 32px;
		height: 25px;
		background-position: -30px -312px;
		display: inline-block;
	}
	&.icon-user-name{
		width: 20px;
		height: 16px;
		background-position: -184px -264px;
		display: inline-block;
	}
	&.icon-lock-small{
		width: 11px;
		height: 14px;
		background-position: -208px -266px;
		display: inline-block;
	}
	&.icon-credit-card{
		width: 16px;
		height: 10px;
		background-position: -224px -270px;
		display: inline-block;
	}
	&.icon-filter-top{
		width: 24px;
		height: 20px;
		background-position: 0 -368px;
		display: inline-block;
	}
	&.icon-arrow-right{
		width: 14px;
		height: 25px;
		background-position: -407px -74px;
		display: inline-block;
	}
	&.icon-category-red{
		width: 37px;
		height: 33px;
		background-position: 0 -396px;
		display: inline-block;
	}
	&.icon-price-red{
		width: 20px;
		height: 33px;
		background-position: -38px -396px;
		display: inline-block;
	}
	&.icon-party-red{
		width: 29px;
		height: 31px;
		background-position: -61px -397px;
		display: inline-block;
	}
	&.icon-activities-red{
		width: 22px;
		height: 33px;
		background-position: -97px -396px;
		display: inline-block;
	}
	&.icon-seasons-red{
		width: 33px;
		height: 31px;
		background-position: -123px -398px;
		display: inline-block;
	}
	&.icon-heart-black-lg{
		width: 49px;
		height: 45px;
		background-position: -110px -342px;
		display: inline-block;
	}
	&.icon-heart-red-lg{
		width: 49px;
		height: 45px;
		background-position: -214px -342px;
		display: inline-block;
	}
	&.icon-cuisine-black-lg{
		width: 52px;
		height: 43px;
		background-position: -160px -344px;
		display: inline-block;
	}
	&.icon-arrow-down-black{
		width: 13px;
		height: 7px;
		background-position: -248px -264px;
		display: inline-block;
	}
	&.icon-occasion-red{
		width: 28px;
		height: 33px;
		background-position: -166px -398px;
		display: inline-block;
	}
	&.icon-climate-red{
		width: 43px;
		height: 32px;
		background-position: -194px -398px;
		display: inline-block;
	}
	&.icon-big-climate{
		width: 51px;
		height: 38px;
		background-position: -375px -396px;
		display: inline-block;
	}
	&.icon-currency-red{
		width: 37px;
		height: 32px;
		background-position: -236px -398px;
		display: inline-block;
	}
	&.icon-language-red{
		width: 34px;
		height: 29px;
		background-position: -273px -398px;
		display: inline-block;
	}
	&.icon-time-zone-red{
		width: 31px;
		height: 31px;
		background-position: -306px -398px;
		display: inline-block;
	}
	&.icon-diamond-red{
		width: 36px;
		height: 31px;
		background-position: -338px -398px;
		display: inline-block;
	}
	&.icon-location-1{
		width: 20px;
		height: 27px;
		background-position: 0 -432px;
		display: inline-block;
	}
	&.icon-location-2{
		width: 20px;
		height: 27px;
		background-position: -21px -432px;
		display: inline-block;
	}
	&.icon-location-3{
		width: 20px;
		height: 27px;
		background-position: -42px -432px;
		display: inline-block;
	}
	&.icon-location-4{
		width: 20px;
		height: 27px;
		background-position: -63px -432px;
		display: inline-block;
	}
	&.icon-location-5{
		width: 20px;
		height: 27px;
		background-position: -84px -432px;
		display: inline-block;
	}
	&.icon-location-6{
		width: 20px;
		height: 27px;
		background-position: -105px -432px;
		display: inline-block;
	}
	&.icon-location-7{
		width: 20px;
		height: 27px;
		background-position: -126px -432px;
		display: inline-block;
	}
	&.icon-location-8{
		width: 20px;
		height: 27px;
		background-position: -147px -432px;
		display: inline-block;
	}
	&.icon-location-9{
		width: 20px;
		height: 27px;
		background-position: -168px -432px;
		display: inline-block;
	}
	&.icon-private{
		width: 51px;
		height: 67px;
		background-position: -281px -321px;
		display: inline-block;
	}
	&.icon-restaurant{
		width: 16px;
		height: 16px;
		background-position: -263px -263px;
		display: inline-block;
	}
	&.icon-folder-category{
		width: 18px;
		height: 16px;
		background-position: -281px -263px;
		display: inline-block;
	}
	&.icon-arrow-next{
		width: 6px;
		height: 10px;
		background-position: -515px -40px;
		display: inline-block;
	}
	&.icon-arrow-prev{
		width: 6px;
		height: 10px;
		background-position: -505px -40px;
		display: inline-block;
	}
	&.icon-date-red{
		width: 28px;
		height: 27px;
		background-position: -432px -398px;
		display: inline-block;
	}
	&.icon-type-red{
		width: 31px;
		height: 36px;
		background-position: -465px -398px;
		display: inline-block;
	}
	&.icon-star-category{
		width: 32px;
		height: 30px;
		background-position: -192px -432px;
		display: inline-block;
	}
	&.icon-vip-access{
		width: 49px;
		height: 26px;
		background-position: -230px -432px;
		display: inline-block;
	}
	&.icon-mask{
		width: 30px;
		height: 30px;
		background-position: -309px -44px;
		display: inline-block;
	}
	&.icon-car{
		width: 22px;
		height: 11px;
		background-position: -320px -270px;
		display: inline-block;
	}
	&.icon-bl-user{
		width: 16px;
		height: 16px;
		background-position: -41px -462px;
		display: inline-block;
	}
	&.icon-bl-mobile{
		width: 12px;
		height: 16px;
		background-position: -63px -463px;
		display: inline-block;
	}
	&.icon-bl-from-to{
		width: 16px;
		height: 16px;
		background-position: -79px -462px;
		display: inline-block;
	}
	&.icon-bl-hotel{
		width: 16px;
		height: 16px;
		background-position: -96px -462px;
		display: inline-block;
	}
	&.icon-bl-heart-gray{
		width: 18px;
		height: 16px;
		background-position: -167px -481px;
		display: inline-block;
	}
	&.icon-bl-location{
		width: 12px;
		height: 16px;
		background-position: -154px -480px;
		display: inline-block;
	}
	&.icon-bl-calendar{
		width: 18px;
		height: 19px;
		background-position: -204px -480px;
		display: inline-block;
	}
	&.icon-bl-time {
		width: 16px;
		height: 16px;
		background-position: -211px -463px;
		display: inline-block;
	}
	&.icon-bl-fork-knife{
		width: 16px;
		height: 19px;
		background-position: -186px -481px;
		display: inline-block;
	}
	&.icon-bl-hotel{
		width: 16px;
		height: 16px;
		background-position: -96px -462px;
		display: inline-block;
	}
	&.icon-bl-room-type{
		width: 19px;
		height: 13px;
		background-position: -132px -463px;
		display: inline-block;
	}
	&.icon-bl-flight{
		width: 16px;
		height: 15px;
		background-position: -152px -462px;
		display: inline-block;
	}
	&.icon-bl-flight-member {
		width: 20px;
		height: 16px;
		background-position: -112px -462px;
		display: inline-block;
	}
	&.icon-bl-limo {
		width: 19px;
		height: 16px;
		background-position: -59px -479px;
		display: inline-block;
	}
	&.icon-bl-event {
		width: 18px;
		height: 17px;
		background-position: -21px -479px;
		display: inline-block;
	}
	&.icon-bl-seating {
		width: 18px;
		height: 18px;
		background-position: -40px -479px;
		display: inline-block;
	}
	&.icon-bl-budget {
		width: 12px;
		height: 19px;
		background-position: -264px -463px;
		display: inline-block;
	}
	&.icon-bl-spa-wellness {
		width: 19px;
		height: 16px;
		background-position: -260px -482px;
		display: inline-block;
	}
	&.icon-bl-tour-type{
		width: 18px;
		height: 18px;
		background-position: -223px -480px;
		display: inline-block;
	}
	&.icon-bl-charter	{width: 16px; height: 16px; background-position: -22px -462px; display: inline-block; }
	&.icon-bl-handphone	{width: 16px; height: 16px; background-position: -60px -462px; display: inline-block; }
	&.icon-bl-handicap	{width: 16px; height: 16px; background-position: -171px -461px; display: inline-block;}
	&.icon-bl-flag		{width: 16px; height: 16px; background-position: -192px -464px; display: inline-block;}
	&.icon-bl-car		{width: 16px; height: 16px; background-position: -80px -479px; display: inline-block;}
	&.icon-bl-flower	{width: 16px; height: 16px; background-position: -98px -480px; display: inline-block;}
	&.icon-bl-heart		{width: 16px; height: 16px; background-position: -116px -480px; display: inline-block;}
	&.icon-bl-hashtag	{width: 16px; height: 16px; background-position: -135px -480px; display: inline-block;}
	&.icon-transportation{
		width: 38px;
		height: 30px;
		background-position: -327px -288px;
		display: inline-block;
	}
	&.icon-region{
		width: 34px;
		height: 34px;
		background-position: -503px -399px;
		display: inline-block;
	}
	&.icon-search-thin-gray{
		width: 28px;
		height: 27px;
		background-position: -435px -240px;
		display: inline-block;
	}
	&.icon-question-mark {
		width: 20px;
		height: 20px;
		background-position: -406px -239px;
		display: inline-block;
	}
	&.icon-concierge {
		display: inline-block;
		width: 22px; height: 20px;
		background-position: -281px -439px;
	}
}
.btn:focus {
	outline: none;
}
.btn-red {
	background-color: @redFlashTheme;
	padding-top: 7px;
	padding-bottom: 7px;
	width: 200px;
	margin: 0 auto;
	display: block;
	color: @white;
	font-size: 12px;
	text-transform: uppercase;
	transition: all 0.3s;
	&:focus {
		border: 1px solid @redFlashTheme;
		background-color: @white;
		color: @redFlashTheme;
	}
	&:hover, &:active {
		border: 1px solid @redFlashTheme;
		background-color: @white;
		color: @redFlashTheme;
	}
}
.txt-black {
	color: #333;
}
.txt-red {
	color: @redFlashTheme;
}
.txt-10 {
	font-size: 10px;
}
.page-home .img-responsive {
	width: 100%;
}
.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
.bg-grayLight {
	background-color: @grayLight;
}
.bg-whiteDark {
	background-color: @whiteDark;
}
.bg-light {
	background-color: #dfdfdf;
}
.mt-25 {
	margin-top:25px;
}
