input[type="file"] {
  display: none;
}
textarea {
  resize: none;
  min-height: 120px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="text"].form-control {
  position: relative;
  z-index: 9;
  background: transparent;
  cursor: text;
}
select::-ms-expand {
  border:1px solid #ccc;
}
.form-control {  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  .border-radius(0px);
}
select.form-control {
  color: #868582;
  font-family: @fontRalewayMedium;
  position: relative;
  background: transparent;
  z-index: 9;
  option {
    color: #868582;
    padding: 0px 34px;
    border-right: 1px solid #adaeb0;
  }
  &:focus {
    outline: none;
  }
}
.box-show-option {
  margin-top: 23px;
  font-size: 0;
}
.label-option {
  display: inline-block;
  margin-right: 3px;
  margin-top: 3px;
  padding: 10px 15px;
  font-size: 10px;    
  line-height: 1.42857;
  letter-spacing: 0.8px;
  color: @white;
  background-color: @grayLight;
  background-repeat: no-repeat;
  background-position: right center;
  text-transform: uppercase;
  cursor: pointer;
  i.mask-close {
    display: inline-block;
    margin-left: 10px;
    font-style: normal;
    transition: all 0.3s;
  }
  &:hover, &:focus {
    i.mask-close {
      color: @redFlashTheme;
    }
  }

}
.item-group {
  padding-top: 40px;
  padding-bottom: 30px;
  border-bottom: 1px solid @whiteDarker;
  position: relative;
  .title {
    font-size: 35px;
    line-height: 1.1;
    font-family: @fontGeorgia;
    color: @grayFlashTheme;
    margin-top: -8px;
    margin-bottom: 25px;
  }
  .row:last-child {
    .form-group {
      margin-bottom: 0;
    }
  }
}
.radio-group {
  position: relative;
  label.error {
    color: @redFlashTheme !important;
    background-image: none;
    top: 45px ; right: auto; left: 0;
    width: 100%;

  }
}
.box-group {
  position: relative;
  &.no-icon-left {
    .form-control {
      padding-left: 15px !important;
    }
  }
  .mask-listen-datepicker {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: 10;
    text-indent: -99999px;
    overflow: hidden;
  }
  .sprites {
    vertical-align: middle;
    margin-top: 9px;
  }
  .icon-arrow-black {
    margin-top: 7px;
  }
  label {
    margin-bottom: 0;
  }
  .input-group-before, .input-group-after {
    position: absolute;
    z-index: 8;
    top: 0;
    bottom: 0;
    width: 34px;
    text-align: center;
    cursor: pointer;
  }
  .input-group-before {
    left: 0;
  }
  .input-group-after {
    right: 0;
  }
  .lt-spinner-prev, .lt-spinner-next {
    width: 28px;
    top: 3px; bottom: 3px;
    border-radius: 4px;
    z-index: 10;
  }
  .lt-spinner-prev {
    left: 3px;
  }
  .lt-spinner-next {
    right: 3px;
  }
  .form-control {
    padding-left: 34px;
    padding-right: 34px;
  }
  select.form-control {
    cursor: pointer;
  }
}
.box-avatar {
  p {
    margin-bottom: 0;
  }
  .btn-red {
    margin-top: 20px !important; 
  }
  .figure {
    float:left;
    width: 140px;
    height: 140px;
    background-color: #2ab4db;
    margin-right: 20px;
    border-radius: 50%;
    overflow: hidden;
    img {
      max-height: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
}
.box-add-photo {
  .figure {
    float:left;
    width: 150px;
    height: 150px;
    line-height: 150px;
    overflow: hidden;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: @whiteDark;
    position: relative;
    text-align: center;
    .icon-close-white {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
    img {
      width: 100%;
      max-height: 100%;
      display: inline-block;
      vertical-align: middle;
    }
  }
  .btn-add-photo {
    width: 80px;
    height: 80px;
    padding: 10x 15px 5px;
    float: left;
    color: #fff;
    .icon-camera {
      margin: 0 auto 5px;
    }
  }
}
.ms-options-wrap { /* muti select */
  .title-muti-elect {
    background-color: transparent;
    text-align: left;
  }
  .ms-options {
    border: 1px solid #adaeb0;
    border-top:0px;
    padding: 5px 0;
    position: absolute;
    width: 100%;
    background-color: @white;
    z-index: 9;
    label {
      display: block;
      padding: 4px 34px 4px 15px;
    }
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
      }
    }
  }

}

/* lightbox google maps */
.lg-toolbar {
  .lg-close {
    display: none;
  }
  #lg-counter {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    color:#fff;
  }
}
#info-map {
  display: none;
}
.caption-img {
  display: none;
}
.lg-outer .caption-gallery {
  margin: 0 auto;
  white-space: normal;
  color: @white;
  text-align: left;
  h4, h5 {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  b {
    margin-top: 5px;
    display: block;
  }
}
.lg-actions {
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -25px;  
  .lg-prev, .lg-next {
    background-color: transparent;
    &:before, &:after {
      content: none;
    }
  }
}
.lg-outer.gallery {
  .lg-inner {
    .lg-item {
      &:before {
        /* height: 20%; */
      }
      .lg-img-wrap{
        position: relative;
        top: auto;bottom: auto;left: auto;right: auto;
        width: auto; height: auto;
        &:before {
          /*margin: 0;
          content: "";
          width: 26px;
          height: 27px;
          background-position: -200px -290px;
          display: inline-block;
          background-image: url('../images/sprites_new.png');
          background-repeat: no-repeat;
          position: absolute;
          top: -45px;
          right: 0px;
          cursor: pointer;*/
        }
        img {
        }
      }
      .lg-video-cont:before {
        /*margin: 0;
        content: "";
        width: 26px;
        height: 27px;
        background-position: -200px -290px;
        display: inline-block;
        background-image: url('../images/sprites_new.png');
        background-repeat: no-repeat;
        position: absolute;
        top: -45px;
        right: 0px;
        cursor: pointer;*/
      }
    }
  }
}
.gallery {
  .lightgallery {
    .clearfix;
    .item {
      float:left;
      cursor: pointer;
      display: block;
      position: relative;
      background-color: @whiteDark;
      overflow: hidden;
      &:first-child {
        margin-left: 0;
      }
      & {
        &:before {
          content: "";
          display: block;
          padding-top: 100%;
        }
        img {
          position: absolute;
          top: 0;left: 0; right: 0;
          width: 100%;
          height: auto;
        }
      }
    }
    .video {
      &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%; height: 100%;
        top: 0; left: 0;
        background: rgba(0,0,0,0.4) url('../images/icon-play.png') no-repeat center center;
        .transition(background-color 0.3s);
      }
      &:hover {
        &:after {
          background-color: rgba(0,0,0,0.7);
        }
      }
    }
  }
}
.google-maps-popup {
  .clearfix;
  .wrap-map {
    position: absolute;
    width: 75%;
    height: 100%;
    top: 0; left: 0;
  }
  #map_canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
  }
  .info-maps {
    width: 25%;
    float: right;
    padding: 20px 10px 20px 20px;
    .inner {
      overflow: auto;
      text-align: left;
      height: 410px;
      .item {
        border-bottom: 1px solid #e4e4e4;
        padding-bottom: 20px;
        opacity: 0.4;
        &.active {
          opacity: 1.0;
        }
      }
      h5 {
        padding: 10px 0 5px;
        margin: 0;
        color: @redFlashTheme;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
      }
      .branch {
        .branch-title {
          font-weight: bold;
          &:not(:first-child) {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .google-maps-popup {
    .wrap-map {
      position: relative;
      width: 100%;
      height: auto;
      &:before {
        content: "";
        display: block;
        padding-top: 55%;
      }
    }
    .info-maps {
      width: 100%;
      position: relative;
    }
  }
}
.modal.modal-maps {
  .modal-dialog {
    width: 90%;
    max-width: 1145px;
    .modal-content {
      position: relative;
      padding: 0;
    }
  }
}


@media (min-width: 1150px) {
  /* .info-map {
    opacity: 0;
    width: 290px;
    padding: 15px 20px;
    background-color: #FFF;
  }
  .info-maps {
    .lg-toolbar {
      display: none;
    }
    .lg {
      z-index: -1;
    }
    .lightbox-overlay {
      position: absolute;
      width: 100%; height: 100%;
      top: 0; left: 0;
      background-color: transparent;
      z-index: -1;
    }
    .lg-inner {
      z-index: -1;
      text-align: center;
      &:before {
        content: "";
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      .lg-item {
        width: auto; height: auto;
        vertical-align: middle;
        position: static;
        &:before {
          content: "";
          width: 26px;
          height: 27px;
          background-position: -200px -290px;
          display: inline-block;
          background-image: url('../images/sprites_new.png');
          background-repeat: no-repeat;
          position: absolute;
          top: -45px;
          right: 0px;
        }
        .lg-video-cont {
          float: left;
          width: 855px;
          padding: 0px;
        }
        .info-map {
          float: left;
        }
      }
    }
  } */
}
@media screen and (max-width: 1149px) {
  .lg-actions {
    display: none;
  }
  /* .info-maps {
    .lg-inner {
      .lg-item {
        .lg-video-cont {
          padding: 0px 15px;
        }
        .info-map {
          max-width: 855px;
          padding: 0px 15px;
          margin: auto;
          .inner {
            padding: 15px;
            background-color: #FFF;
            .item {
              .clearfix;
              h5 {
                padding: 10px 0px  15px;
              }
              .branch {
                float:left;
                width: 50%;
              }
            }
          }
        }
      }
    }
  } */
}
