//
// Variables
// --------------------------------------------------


// Global values
// --------------------------------------------------
@max-mobile-screen-size: 767px;
@max-tablet-screen-size: 991px;
@mobile-main-menu-width: 320px;
@mobile-profile-link-horizontal-padding: 18px;
@mobile-main-menu-net-width: @mobile-main-menu-width - @mobile-profile-link-horizontal-padding * 2;
@header-user-avatar-width: 50px;
@profile-bar-left-gap: 15px;

@font-size:16px;
@mobile-headline-font-size: 27px;
@mobile-normal-font-size: 14px;
@mobile-slider-catergory-font-size: 12px;
@mobile-slider-offer-name-font-size: 18px;
@copyright-font-size: 11px;

@bg-slide: 				#bbb;

// White
// -------------------------
@white:                 #fff;
@whiteDark:				#f1f1f1;
@whiteDarker:			#e4e4e4;

// Gray
// -------------------------
@grayExtraLight: 		#DADADA;		
@grayLight: 			#999;
@gray:                  #686666;
@mapInfoGray: 			#ccc;


// Red
// -------------------------
@red:                   #9d0329;
@redDarker: 			#b4393c;
@redLight:				#b5032f;

@text-red:    			#B30000;


// Blue
// ---------------------------

@lightBlue: rgba(66,125,155,0.8);
// @lightBlue: rgba(45, 74, 93, 0.8);
@blueFlashThemeOpacity: rgba(1,22,39,0.8);

// Green
// ---------------------------
@greenBlue: #1F7D7D;

//Orange
//----------------------------

// Black
// -------------------------
@black:              #000;
@blackOpacity: rgba(0, 0, 0, 0.8);

@sprites: url('../images/sprites_flashtheme-1.png');
// Font family
// --------------------------------------------------
@fontIcon:'icomoon' !important;
@fontRalewayMedium:'ralewaymedium', Arial, sans-serif;

// Flash-theme
@fontProximaNova:'ProximaNova_Regular', Arial, sans-serif;
@fontProximaNovaLight:'ProximaNova_Light', Arial, sans-serif;
@fontGeorgia:'Georgia';
@redFlashTheme: #9d0329; 
@grayFlashTheme: #99A1A8;
@blueFlashTheme: #011627;
@grayText: #757575;
