html[data-useragent*='MSIE 10.0'] {
	.block-blog {
		.article {
			>a {
				&:after {
					display: none;
				}
			}
		}
	}
	.block-recommendations {
		.slide-recommendations {
			.slide {
				> a {
					&:after {
						display: none;
					}
				}
			}
		}
	}
}