@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 1.0;
    }
}

.sol-container{
    .clearfix();
    position: relative;
}

.sol-container * {
    margin: 0;
    padding: 0;
}

.sol-inner-container {
    position: relative;
    float: left;
    width: 41.666666667%;
    height: 34px;
    line-height: 30px;
}
.sol-current-selection{
    position: relative;
    float: right;
    width: 58.333333333%;
    padding-left: 30px;
}
.sol-container.sol-active .sol-inner-container {
    z-index: 99;
    background: #fff;
}

.sol-input-container {
    position: relative;
    border: 1px solid @blueFlashTheme;
}

.sol-caret-container {
    position: absolute;
    display: inline-block;
    width: 25px;
    right: 9px;
    top: 0;
    bottom: 0;
}

.sol-caret-container .sol-caret {
    position: relative;
    display: inline-block;
    left: 10px;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px solid #000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.sol-input-container input[type="text"] {
    border: 0;
    background: transparent;
    box-shadow: none;
    color: #555;
    padding: 0 35px; // padding: 0 35px 6px 35px; - issue on Iphone 6,7
    outline: none;
    width: 100%;
    height: 100%;
}

.sol-input-container input[type="text"]:-ms-input-placeholder {
    color: #888;

}

.sol-input-container input[type="text"]::-ms-clear {
    display: none;
}

.sol-selection-container {
    display: none;
}

.sol-container.sol-active .sol-selection-container {
    display: block;
    position: absolute;
    left: 0 !important;
    top: 32px !important;
    z-index: 130;
    border: 1px solid @blueFlashTheme;
    background: #fff;
}

.sol-active.sol-selection-top .sol-selection-container {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}

.sol-active.sol-selection-top .sol-inner-container {
    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;

    -webkit-border-top-right-radius: 0;
    -moz-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

.sol-active.sol-selection-bottom .sol-selection-container {
    -webkit-border-top-left-radius: 0;
    -moz-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.sol-active.sol-selection-bottom .sol-inner-container {
    -webkit-border-bottom-left-radius: 0;
    -moz-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;

    -webkit-border-bottom-right-radius: 0;
    -moz-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.sol-action-buttons {
    color: #555;
    border-bottom: 1px solid @blueFlashTheme;
    background: #eee;
    padding: 7px 10px;

    -webkit-border-top-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}

.sol-action-buttons a {
    line-height: 1em;
    text-decoration: none;
    color: #0088cc;
    border-bottom: 1px solid transparent;
}

.sol-action-buttons a:hover {
    border-bottom: 1px solid #0088CC;
}

.sol-action-buttons .sol-select-all {
    float: left;
}

.sol-action-buttons .sol-deselect-all {
    float: right;
}

.sol-action-buttons .sol-clearfix {
    clear: both;
}

.sol-selection {
    overflow: auto;
    position: relative;
    min-height: 0px;
}

.sol-selection:empty {
    display: none;
}

.sol-option {
    padding: 0 10px;
    display: block;
}

.sol-label {
    display: block;
    position: relative;
    padding: 5px 0;
}

.sol-label-text {
    padding-left: 30px;
    padding-right: 10px;
    line-height: 1.4em;
}

.sol-selection:not(.sol-keyboard-navigation) .sol-option:hover, .sol-option.keyboard-selection {
    background: @blueFlashTheme;
    color: @white;
    .transition(all 0.3s);
    label {
        color: inherit;
    }
}

.sol-optiongroup {
    background: #f7f7f7;
    padding-bottom: 1px;
}

.sol-optiongroup-label {
    color: #555;
    background: #eee;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 3px 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.sol-optiongroup.disabled {
    color: #999;
}

.sol-selection div:first-child.sol-optiongroup > .sol-optiongroup-label {
    border-top: none;
}

.sol-checkbox, .sol-radio {
    position: absolute;
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    top: 4px;
}

.sol-selected-display-item,
.sol-results-count {
    position: relative;
    display: inline-table;
    vertical-align: top;
    font-size: 10px;
    text-transform: uppercase;
    margin-right: 3px;
    margin-bottom: 3px;
    border-collapse: separate;
    color: @white;
    background-color: @grayLight;
    padding: 6px 30px 6px 15px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.sol-selected-display-item-text {
    padding: 3px 5px;
    display: table-cell;
    vertical-align: top;
}

.sol-quick-delete {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 10px;
    font-size: 11px;
    text-align: right;
    padding: 10px 5px;
    vertical-align: top;
}

.sol-quick-delete:hover {
    color: @redFlashTheme;
    cursor: pointer;
}

.sol-quick-delete + .sol-selected-display-item-text {
    padding-left: 0;
}

.sol-filtered-search {
    display: none;
}

.sol-no-results, .sol-loading-data {
    padding: 5px 0 5px 0;
    color: #999;
    font-style: italic;
    text-align: center;
}

.sol-loading-data {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
input[type="checkbox"]{
    &.sol-checkbox{
        & + .sol-label-text{
            position: relative;
            &::before{
                content: "";
                background-image: url('../images/checkbox-flashtheme-1.png');
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                position: absolute;
                top: 0;
                left: 0;
                background-color: @white;
                .transition(all 0.3);
            }
        }
        &:checked{
            & + .sol-label-text {
                &::before {
                    background-image: url('../images/checkbox-active-flashtheme.png');
                }
            }
        }
    }
}
.module-searchable-option{
    .box-group{
        .input-group-before{
            z-index: 101;
        }
    }
}

// responsive tab, mobile
