extends layouts/default

block content
  - var pages = { index:'/index' }

  //- Desktop page
  section.page.home__page
    h1.page__title # Index page

    - var pages = { index:'/index.html', home:'/home.html' }
    ul(style="list-style: disc; padding-left: 4rem; margin: 4rem 0")
      each val, index in pages
        li
          a(href=val)= index